[2017-12-24 21:26] Lordbaane opened #1905 "Lumberjack having to rebuild"
### Minecolonies version

version 08.5085 or curse X.X.XX

### Expected behavior

- Once built , lumberjack hut stays active
### Actual behaviour

- due to some issue of trees being too close it causes the hut to become inactive and you have to reconstruct it. ONce updated to level two, it happens again and you have to start at level one again.

### Steps to reproduce the problem

1. XYZ
2. ZYX
3.

[2017-12-24 22:23] AdaraChristine commented on #1896
Got same error on upgrading MP server to minecolonies-universal-1.10.2-0.9.6206.

[2017-12-24 23:39] WalnutWhip opened #1906 "Level 5 builders hut not creating requests"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6204.jar

### Expected behavior

Builders in a builders hut create requests for things to be built for either player attention or deliveryman attention

### Actual behaviour

no requests are made and the builder stands there even if there is materials in the warehouse and deliveryman available. The builders will also not remove materials

[2017-12-25 00:03] yotthani commented on #1896
yeah seems to bee not fixed yet .. have done it my own für my server by buildung a my own version with a code fix

[2017-12-25 03:17] Raycoms commented on #1905
does this problem persist in newer versions?

2017-12-24 21:26 GMT+00:00 Lordbaane <notifications@github.com>:

[2017-12-25 03:18] Raycoms commented on #1906
a) does this problem persist in 6211?
b) is there a log?

2017-12-24 23:39 GMT+00:00 WalnutWhip <notifications@github.com>:

[2017-12-25 04:25] dubstephero commented on #1901
You have it?

[2017-12-25 07:29] BillyRedX opened #1907 "Crash at the entrance to the world."
minecolonies-universal-1.12.2-0.8.6215.jar

[10:16:50] [main/INFO]: Setting user: RedBilly
[10:16:54] [main/WARN]: Skipping bad option: lastServer:
[10:16:54] [main/INFO]: LWJGL Version: 2.9.4
[10:17:05] [main/INFO]: Reloading ResourceManager: Default, FMLFileResourcePack:Forge Mod Loader, FMLFileResourcePack:Minecraft Forge, FMLFileResourcePack:mercurius_updater, FMLFileResourcePack:Version Check

[2017-12-25 12:07] Raycoms commented on #1901
Okay, not happening for me, which minecolonies version are you using?

2017-12-25 4:25 GMT+00:00 dubstephero <notifications@github.com>:

[2017-12-25 13:02] dubstephero commented on #1901
1.12.2

[2017-12-25 13:05] Raycoms commented on #1901
Yeah that's the minecraft version, but the version of minecolonies?

2017-12-25 13:02 GMT+00:00 dubstephero <notifications@github.com>:

[2017-12-25 13:25] dubstephero commented on #1901
i don't know i download it form this site http://www.9minecraft.net/minecolonies-mod/ for 1.12.2

[2017-12-25 13:25] Raycoms commented on #1901
Please download the newest one on curse:
https://minecraft.curseforge.com/projects/minecolonies

2017-12-25 13:25 GMT+00:00 dubstephero <notifications@github.com>:

[2017-12-25 14:02] dubstephero commented on #1901
Thank you. That fixies  the problem.

[2017-12-25 14:05] Raycoms commented on #1901
Please don't download mods at 9minecraft.com, get them from curse and help the developers.

[2017-12-25 14:05] #1901 closed, assigned to nobody

[2017-12-25 15:55] marchermans commented on #1901
I would say that if People download them from other sources. We should close the issue with this as a Standard answer.

[2017-12-25 19:47] WalnutWhip commented on #1906
Sorry i dont think i have access to a log, but ive recommended the server owner to update it again and the behavior seems to be fixed in minecolonies-universal-1.12.2-0.8.6215.jar

[2017-12-25 20:05] #1906 closed, assigned to nobody

[2017-12-25 21:48] BillyRedX commented on #1907
What should i do? I don't understand. :(
I am writing here the first time.

[2017-12-25 22:13] Raycoms commented on #1907
Wait will push a fix

On Dec 25, 2017 7:48 PM, "BillyRedX" <notifications@github.com> wrote:

[2017-12-25 22:49] BillyRedX commented on #1907
Thank you very much.
I delete file's of Minecolonies in "saves", and my world loading.
Restoring the house again, now. BUT... I will wait a fix. :D

[2017-12-26 11:47] #1907 closed, assigned to nobody

[2017-12-26 11:48] #1873 closed, assigned to Raycoms, bob0bob

[2017-12-26 21:03] #1905 closed, assigned to nobody

[2017-12-26 21:04] Raycoms commented on #1841
Should be fixed now

[2017-12-26 21:04] #1841 closed, assigned to nobody

[2017-12-26 21:07] #932 closed, assigned to nobody

[2017-12-26 21:08] Raycoms commented on #1533
@OrionDevelopment is this still necessary?

[2017-12-26 21:09] Raycoms commented on #1587
Should be fixed

[2017-12-26 21:09] #1587 closed, assigned to nobody

[2017-12-26 21:28] Raycoms commented on #1770
Couldn't reproduce this. Is this still an issue?

[2017-12-26 21:28] #1770 closed, assigned to nobody

[2017-12-26 22:05] webcrafter-fr opened #1913 "Can't Build a builder huts"
### Minecolonies version

version 1.12.2-0.8.6291

### Expected behavior

- Get the builder hut

### Actual behaviour

- When I try to craft a builder hut I get nothing. Others craft are working.

[2017-12-26 22:08] Raycoms commented on #1913
door in the middle and build tool on top with planks around the rest?

2017-12-26 22:05 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-26 22:20] webcrafter-fr commented on #1913
Yep.

[2017-12-26 22:23] Raycoms commented on #1913
Working perfectly for me, are you using an oak door?

2017-12-26 22:20 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-26 22:52] webcrafter-fr commented on #1913
I tried oak, and acacia, it's the same :/ It must work for every type of doors ?

[2017-12-26 22:55] Raycoms commented on #1913
have you any mod installed which changes doors?

2017-12-26 22:52 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-26 22:56] webcrafter-fr commented on #1913
Hmm I don't think so. I got thoses mods :

- ClockHUD
- CraftSaddles
- HearthstoneMod
- InventoryTweaks
- Prefab
- Signpost
- WearablesBackpacks

[2017-12-26 23:06] Raycoms commented on #1913
That's strange, the recipe works perfectly for me, did you try
redownloading the jar already?

2017-12-26 22:56 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-26 23:14] webcrafter-fr commented on #1913
Ok, my bad. I haven't tried Oak Door, it was an Spruce Door. It works fine with an Oak Door.

I don't understand... Why it's working with an oak door only ? The wiki show the recipe with an Acacia Door btw.

Anyway, thanks for your help :)

[2017-12-26 23:15] Raycoms commented on #1913
I guess our dev which made the recipe in 1.12 did something wrong, will
contact him.

2017-12-26 23:14 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-26 23:15] webcrafter-fr commented on #1913
Thanks a lot !

[2017-12-27 00:31] KienanBlue opened #1915 "Construction tape block (the regular one) shows unlocalized name"
### Minecolonies version

version 0.8.6215

### Expected behavior

- Construction tape block has it's actual English, or translated, name.
(Corner blocks work properly.)

### Actual behaviour

- Construction tape block shows its unlocalized name, which should be capitalized in the code to match the key in the lang files.

### Steps to reproduce the problem

1. Launch the game with minecolonies ins

[2017-12-27 08:02] None1911 opened #1916 "[1.12.2] Can't open chests."
### Minecolonies version

0.8.6291 (1.12.2)

### Expected behavior

- My hand will open the chest and the inventory of the chest will show i think?

### Actual behaviour

- Right click, hand moves, doesn't open the chest. not inventory interface showing, nothing.

### Steps to reproduce the problem

1. place supply camp chest
2. go to camp
3. try open a chest.
4. replace the chests to see if that

[2017-12-27 11:31] #1503 closed, assigned to Raycoms

[2017-12-27 11:31] #1691 closed, assigned to Raycoms

[2017-12-27 11:31] #1915 closed, assigned to nobody

[2017-12-27 12:15] yotthani opened #1921 "[1.10] Several Issues Farmer, Cook, Baker"
### Minecolonies version

version minecolonies-universal-1.10.2-0.9.6297

### Expected behavior
Issues:
 1. Farmer: Fields automaticly assined to one farmer
 2. Cook: Restaurants get deleted after Deconstruction
 3. Baker: Consumes resources while producing

### Actual behaviour

1. Farmer:
 fields do not get assigned or assigned to multible Farmers at the same time
 if you assign manually not all

[2017-12-27 13:33] Raycoms commented on #1921
about the baker, are you sure he isn't consuming weed the dman is bringing
him? I just noticed that he isn't using the wheet in his chest, but still
needs a dman to bring it.

2017-12-27 12:15 GMT+00:00 yotthani <notifications@github.com>:

[2017-12-27 13:34] Raycoms commented on #1921
About the fields, I noticed this is only a clientside representation issue,
I fixed that in the latest build, you sure they are not working correctly
at them?

2017-12-27 13:33 GMT+00:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2017-12-27 14:17] yotthani commented on #1921
Baker: yes even if no dman is commin, the two stacks of weat stay there but bread is produced , checked that 3 days in a row and it stays the same

Fields: yes checked it with the latest build

[2017-12-27 15:29] Raycoms commented on #1921
Okay I fixed the dman, but I can't reproduce the cook problem.

[2017-12-27 16:01] yotthani commented on #1921
will try to make an video for that (but after applying "Port1.10/fix pathing (#1920)" game crashes on client side for me)

[2017-12-27 16:02] Raycoms commented on #1921
Doing some fixes on top of it, but can you send me the log?

2017-12-27 16:01 GMT+00:00 yotthani <notifications@github.com>:

[2017-12-27 16:04] yotthani commented on #1921
Log for Clientcrash "Port1.10/fix pathing (#1920)" standing near the baker while working:

I bet Cylons wouldn't have this problem.

Time: 12/27/17 3:37 PM
Description: Ticking entity

java.lang.NullPointerException: Ticking entity
	at com.minecolonies.coremod.entity.EntityCitizen.addExperience(EntityCitizen.java:1147)
	at com.minecolonies.coremod.entity.EntityCitizen.gatherXp(EntityCitizen.java:1

[2017-12-27 17:17] Raycoms commented on #1921
okay I fixed that one and the baker, will look into the fields now

[2017-12-27 18:40] #1921 closed, assigned to Raycoms

[2017-12-27 22:26] janagyjr opened #1925 "1.12.2 Minecolonies Pack"
### Minecolonies version

Minecolonies 4.7 for MC 1.12.2

### Expected behavior

- Server to launch

### Actual behaviour

- Server Crashes

### Steps to reproduce the problem

1. Download modpack
2. Copy mods and configs over to server (removing CustomMainMenu, ResourceLoader, and Betterfps, obvious client-side only mods)
3. ...
4. Crash

FML Server Latest:
https://gist.github.com/janagyjr/d325ad

[2017-12-27 22:29] Raycoms commented on #1925
Seems to be a problem with GuideBook and CraftTweaker:

at
gigaherz.guidebook.guidebook.client.BookRegistry.<clinit>(BookRegistry.java:178)
at
gigaherz.guidebook.guidebook.ItemGuidebook.func_150895_a(ItemGuidebook.java:71)
at crafttweaker.mc1120.item.MCItemUtils.createItemList(MCItemUtils.java:38)
at
crafttweaker.mc1120.brackets.BracketHandlerItem.rebuildItemRegistry(BracketHandlerItem.java:63)
at

[2017-12-27 22:31] janagyjr commented on #1925
I guess?

[2017-12-27 22:31] Raycoms commented on #1925
Did you try to start it without guidebook on the server side?

2017-12-27 22:26 GMT+00:00 TheCrappyGamer <notifications@github.com>:

[2017-12-27 22:32] janagyjr commented on #1925
No as it seems to be kind of one of those things that should be on the server. I guess it wouldn't hurt to try it w/o the guidebook.

[2017-12-27 22:34] janagyjr commented on #1925
That seemed to do it. Server prepared spawn w/o the guidebook. Is the Guidebook client-side only?

[2017-12-27 22:40] #1925 closed, assigned to nobody

[2017-12-27 23:32] Airisii opened #1926 "Npc and Building Issue"
### Minecolonies version

version 0.9.6314

### Expected behavior

- Npcs to run smoothly
- Restaurant to be built to level 5
- Have all the items asked for in request slot

### Actual behaviour

- Npcs stopping and not moving
- Restaurant build level 4/5 not wanting to build
- Npcs asking for item that are not shown in the request slot

### Steps to reproduce the problem

1. Npc fix
2. Restaurant

[2017-12-27 23:33] Raycoms commented on #1926
please try the newest version.

2017-12-27 23:32 GMT+00:00 LegendaryCrystalFox <notifications@github.com>:

[2017-12-27 23:33] Raycoms commented on #1926
Sorry it's still under review. It should have fixes for those issues.

[2017-12-27 23:34] Raycoms commented on #1926
4 hours now, twitch is really happy today.

[2017-12-27 23:42] Airisii commented on #1926
Im not sure if I understand. I have the newest version of minecolonies unless you're meaning for a later release?

[2017-12-27 23:43] Raycoms commented on #1926
![image](https://user-images.githubusercontent.com/6438347/34396191-b26ce850-eb5f-11e7-9398-63c8cd501610.png)

[2017-12-27 23:46] Airisii commented on #1926
How do I find where the Under Review is?

[2017-12-27 23:47] Raycoms commented on #1926
Or wait until twitch approves it, or directly here:
https://s3.eu-central-1.amazonaws.com/minecolonies/Minecolonies/Minecolonies_Alpha/6341/minecolonies-universal-1.12.2-0.8.6341.jar

[2017-12-27 23:49] Airisii commented on #1926
I need 1.10.2

[2017-12-28 00:05] forReason opened #1927 "game crashes when trying to build townhall"
### Minecolonies version

version 1.12.2-0.8.4191

### Expected behavior

- when using the building tool after the correct position is found the townhall chest is placed by clicking on the arrow sign

### Actual behaviour

- as soon as I press the green tickbox the map crashes and I receive the message "fatal error, internal server has been shut down"

### Steps to reproduce the problem

1. build

[2017-12-28 00:06] Airisii commented on #1926
Thank you so much for your help!

[2017-12-28 00:06] #1926 closed, assigned to nobody

[2017-12-28 00:06] Raycoms commented on #1927
That should be fixed in one of the 2000 last versions =) We'll release soon a new beta =)

[2017-12-28 00:06] #1927 closed, assigned to nobody

[2017-12-28 00:11] forReason commented on #1927
where can I get those versions?

[2017-12-28 00:12] Raycoms commented on #1927
https://minecraft.curseforge.com/projects/minecolonies

2017-12-28 0:11 GMT+00:00 Julian B. <notifications@github.com>:

[2017-12-28 00:14] forReason commented on #1927
so I should use the latest alpha? Problem occurs with the latest release

[2017-12-28 00:16] Raycoms commented on #1927
Yes, latest alpha should be decent. (But take care, after going alpha there
is no way back to release or beta)

2017-12-28 0:14 GMT+00:00 Julian B. <notifications@github.com>:

[2017-12-28 00:29] forReason commented on #1927
thank you, latest alpha works

[2017-12-28 03:54] None1911 commented on #1916
edited

[2017-12-28 17:03] Raycoms opened #1928 "Confirm message for destructive functions"
Create a confirm message for destructive things like colony deletions.

[2017-12-28 20:32] webcrafter-fr opened #1929 "Lumberjack fired when I disconnect"
### Minecolonies version

version 1.12.2-0.8.62.91

### Actual behaviour

Ok so, my lumberjack do his work properly but when I quit the game and I reconnect he's no more assigned to his hut. All his EXP is loosed and now I can build his hut again but my builder do nothing.

I tried to destroy and rebuild the hut but it's still not working, I don't know what to do.

### Steps to reproduce the probl

[2017-12-28 20:36] None1911 commented on #1916
updated to the new one released (0.8.6341 1.12.2), same problem.

[2017-12-28 20:47] Raycoms commented on #1916
Are you inside someone elses colony?

2017-12-28 20:37 GMT+00:00 None1911 <notifications@github.com>:

[2017-12-28 20:53] Raycoms commented on #1929
Can you send us the log? (Shutdown and restart log)

2017-12-28 20:32 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 20:58] webcrafter-fr commented on #1929
Yep.

[latest.log](https://github.com/Minecolonies/minecolonies/files/1592092/latest.log)

Edit : I tried with the last version btw (minecolonies-universal-1.12.2-0.8.6341) but it still not working
Edit : I also tried to repair the building

[2017-12-28 21:01] Raycoms commented on #1929
can you try the newest 1.12 version?

2017-12-28 20:58 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 21:02] webcrafter-fr commented on #1929
I have already tried the minecolonies-universal-1.12.2-0.8.6341 version :(

[2017-12-28 21:12] Raycoms commented on #1929
Oh ugly, found it. Will be fixed soon.

2017-12-28 21:02 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 21:13] Raycoms commented on #1929
Should be uploading soon.

2017-12-28 21:12 GMT+00:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2017-12-28 21:14] webcrafter-fr commented on #1929
Thank you ! :)

[2017-12-28 21:18] webcrafter-fr commented on #1929
Wow I have huge lags since I installed the 1.12.2-0.8.6341 version O_o

[2017-12-28 21:20] Raycoms commented on #1929
any exceptions running through the console?

2017-12-28 21:18 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 21:25] webcrafter-fr commented on #1929
If I open the console in game with "/" it show nothing but I have many problems in the logs :

[latest.log](https://github.com/Minecolonies/minecolonies/files/1592144/latest.log)

[2017-12-28 21:27] Raycoms commented on #1929
Hmm strange, doesn't say anything about minecolonies though =/ can you find
out  which worker causes it?

2017-12-28 21:25 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 21:28] webcrafter-fr commented on #1929
How ?

[2017-12-28 21:29] Raycoms commented on #1929
just fire all of a certain type and check if it still lags.

2017-12-28 21:28 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 21:36] webcrafter-fr commented on #1929
If I fire them they will loose their EXP ?

[2017-12-28 21:37] Raycoms commented on #1929
not if you rehire them to the exact same job

2017-12-28 21:36 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 21:38] None1911 commented on #1916
Nope, i'm playing singleplayer, it's my own colony.

[2017-12-28 21:45] webcrafter-fr commented on #1929
It seems to be the builder. I'm not sure. When I fired him I have no more lags, I hired him and still no lags. But when I give to him the items he needs to continue his building, the lags appears.

I have some errors in the logs :

[latest.log](https://github.com/Minecolonies/minecolonies/files/1592183/latest.log)

Edit : The builder has finished his job, no more lags.
Edit 2 : Nevermind, I still

[2017-12-28 21:59] Raycoms commented on #1929
Yeah but those are mostly not minecolonies related problems.
Will have to debug the builder then.

2017-12-28 21:45 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 22:20] webcrafter-fr commented on #1929
I tried the last version (1.12.2-0.8.6357). It works fine. The lumberjack problem is gone.

I returned on the 1.12.2-0.8.6291 version and the lags are still there. But the lumberjack problem is gone too... I don't understand :D I will restart my computer and test again the last version.

Thoses warnings are normal ? :

`[23:00:57] [main/WARN]: File minecolonies:sounds/mob/deliveryman/female/inhale

[2017-12-28 22:26] Justen-N commented on #1929
Yeah, there are still some sound issues, but those errors are not
performance related.

On Dec 28, 2017 3:20 PM, "Aurélien Leclerc" <notifications@github.com>
wrote:

[2017-12-28 23:11] Lordbaane opened #1930 "LJ gets fired when building upgrades"
### Minecolonies version

version1.11.2-0.8.6298 or curse X.X.XX

### Expected behavior

- When you upgrade LJ all is good

### Actual behaviour

- After you upgrade LJ the building resets to level 0

### Steps to reproduce the problem

1. Three different worlds, each time it is upgraded is goes back to level 0
2. Tried different systems, happened twice, checked to see if foreign blocks are affect

[2017-12-28 23:12] Lordbaane commented on #1930
I did post a previous issue about this, but with the latest update I figured it was fixed. I also see some similar issues with LJ as well, so maybe a bigger issue. It only happens with the LJ.

[2017-12-28 23:16] Raycoms commented on #1930
try 6357

2017-12-28 23:11 GMT+00:00 Lordbaane <notifications@github.com>:

[2017-12-28 23:19] Lordbaane commented on #1930
Okay, just a side note, the builder is now upgrading to lvl 3

[2017-12-28 23:20] #1930 closed, assigned to nobody

[2017-12-28 23:20] #1929 closed, assigned to Raycoms

[2017-12-28 23:20] #1913 closed, assigned to nobody

[2017-12-28 23:35] webcrafter-fr commented on #1929
Ok so I tried a lot of different things but my game is totally broken...

No matter wich version I'm using, the lumberjack is fixed but I got lags. I just can't play anymore...

If I uninstall the mod the lag disapear.

[2017-12-28 23:53] Raycoms commented on #1929
This is strange, can you send me your world?

2017-12-28 23:35 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-28 23:54] harleypig commented on #307
Have an option where he clears the groundcover. Possibly even a config option to allow for searching out and removing groundcover instead of just as he's randomly walking around.

[2017-12-28 23:57] harleypig commented on #571
If the builder breaks a full chest he won't be able to pick up all the items. Perhaps have all citizens notice items left on the ground and pick them up just before they despawn?

[2017-12-29 02:19] harleypig opened #1931 "[Enhancement] Add option to tell the miner to strip mine."
### Minecolonies version

any

### Expected behavior

An option (either config file or tab in the miner's chest) to strip mine or random (as it currently does).

### Actual behavior

No way currently to tell miner to strip mine.

### Steps to reproduce the problem

None

[2017-12-29 07:23] caiiiok107 opened #1932 "Don't appear new citizens"
### Minecolonies version

version 0.8.6257

### Expected behavior

- After building the house, new citizens had to start spawning, i think

### Actual behaviour

- When the townhall was built, four residents appeared, all of them women. New residents do not start showing up, at the 2 level townhall and 2 level home

[2017-12-29 10:59] Raycoms commented on #1932
You need at least 5 building levels of the citizen Hut for new citizens to appear

[2017-12-29 10:59] #1932 closed, assigned to nobody

[2017-12-29 11:00] webcrafter-fr commented on #1929
oh-my-god.

my world has gone from 38 MB to 631 MB. In my world there is a "minecolonies" folder 547 MB.

I think the problem is here. I got many files from 3ko to 46 MB. Maybe it's because I tried multiple times to rebuild my lumberjack ? I don't know. Should I delete thoses files ? I don't want to loose all my progress :(

[2017-12-29 11:02] Raycoms commented on #1929
Okay wow inside the minecolonies folder there is a colonies.dat, how big is
it?

On Dec 29, 2017 9:00 AM, "Aurélien Leclerc" <notifications@github.com>
wrote:

[2017-12-29 11:07] webcrafter-fr commented on #1929
46 MB

https://i.imgur.com/o8ISkHK.jpg

[2017-12-29 11:21] Raycoms commented on #1929
You can delete all the other. Data there, can you send me the 46 MB one?

On Dec 29, 2017 9:07 AM, "Aurélien Leclerc" <notifications@github.com>
wrote:

[2017-12-29 11:22] webcrafter-fr commented on #1929
Yep

[colonies.zip](https://github.com/Minecolonies/minecolonies/files/1593016/colonies.zip)

[2017-12-29 11:59] Raycoms commented on #1929
That was helpful, I found the issue =).
You have 100.000 saplings and ores registered with our system which the
workers have to search through.  I messed something up there, will have to
check before adding.
You can try to open the dat with an nbt editor and remove the saplings and
ores in the colonymanager.

2017-12-29 11:22 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-29 12:09] webcrafter-fr commented on #1929
Why I have so many saplings and ores ? My miner don't bring me so much stuff :p

I got many errors when I open the colonies.dat with notepad, I'm maybe wrong.

I don't know how to do this. Can you clean my colonies.dat and send me the file ?

If I install again minecolonies (latest version), will I have the same bug ? Or it's ok now ? Should I wait the next update ?

[2017-12-29 12:09] Raycoms commented on #1929
I think you should wait until the next update, I'm currently working on a
code which should clean up that mess.

2017-12-29 12:09 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-29 12:40] webcrafter-fr commented on #1929
Ok, I'm waiting the next version :) Thank you for your work, this mod is really cool 👍

[2017-12-29 13:21] #1896 closed, assigned to Raycoms

[2017-12-29 17:24] webcrafter-fr commented on #1929
Is the 1.12.2-0.8.6368.jar ok ?

How can I install this version properly ?

[2017-12-29 17:27] Raycoms commented on #1929
Like the others, it automatically fixes your issue.

[2017-12-29 17:27] webcrafter-fr commented on #1929
I'll try this ! Thanks !

[2017-12-29 19:58] TheErpuk opened #1934 "Mc closed when pleacing Town Hall"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.4932

### Expected behavior

- I exepted a table where you are able to start du creat your own colonie

### Actual behaviour

- The Map was closed and the alert "shutting down internal server / Connection Lost / A fatal error has occurred, this connection is terminated / Back to server list" appiert!

### Steps to reproduce the problem

1

[2017-12-29 20:03] Raycoms commented on #1934
Please use a newer version or an older forge version.

2017-12-29 19:58 GMT+00:00 TheErpuk <notifications@github.com>:

[2017-12-29 20:11] TheErpuk commented on #1934
It works!
Thanks alot

[2017-12-29 22:35] webcrafter-fr opened #1935 "[Suggestion] Access directly to the inventory"
The possibility to access to the inventory of an NPC or a hut directly with a clic.

Maybe with a "sneak" + right click ?

[2017-12-29 23:56] webcrafter-fr opened #1937 "My NPCs don't eat"
### Minecolonies version

Latest

### Expected behavior

- The NPC eat the food in his inventory

### Actual behaviour

The NPC is hungry but eat nothing. The builder is the only one who is eating (steak). I tried different foods but I got the same problem. Maybe I miss something ?

More questions :

- Is it normal to have only npcs with 1 point for each skill  ?
- I killed many pnj to try to have

[2017-12-30 01:00] webcrafter-fr opened #1938 "The lumberjack don't take enchanted axes"
### Minecolonies version

Latest

### Expected behavior

- The lumberjack take and use enchanted axes

### Actual behaviour

The lumberjack don't take enchanted axes

[2017-12-30 01:02] webcrafter-fr opened #1939 "Unknown NPC"
### Minecolonies version

Latest

### Expected behavior

- In the tchat : "<NPC NAME> Is in need of shovel ...

### Actual behaviour

- In the tchat : "<UNKNOWN> is in need of shovel ...

### Steps to reproduce the problem

I don't know... And "Unknown" doesn't even exist. I don't see him :/

[2017-12-30 01:17] Raycoms commented on #1938
What's his hut level?

[2017-12-30 01:19] webcrafter-fr commented on #1938
Hut lvl 2
Worker lvl 1

[2017-12-30 01:20] Raycoms commented on #1938
Yeah he starts using them only on level 4 upwards.

[2017-12-30 01:20] #1938 closed, assigned to nobody

[2017-12-30 01:21] Raycoms commented on #1937
Is the npcs hunger at 0? Doesn't eat anything when you put it in his inv? they always do it for me.
Yes, the skills depend on the happiness of the colony, and when you kill them it drops to 0.
And yes, the guard does try to detect mobs and not attacks.

[2017-12-30 01:21] #1937 closed, assigned to nobody

[2017-12-30 01:21] webcrafter-fr commented on #1938
Ok thanks :)

[2017-12-30 01:25] webcrafter-fr commented on #1937
Their hunger isn't at 0. And yes, they doesn't eat anything when I put food in their inventory. Only the builder ate the steak I gave him but he stopped doing it... Why closing the topic so fast ? Am I doing it wrong ?

[2017-12-30 01:30] Raycoms commented on #1937
I guessed, they only eat if hunger falls under 7 as well, that might be it.

2017-12-30 1:25 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2017-12-30 01:33] webcrafter-fr commented on #1937
Oh ok, good to know :) The wiki need a little rework :P Thanks.

[2017-12-30 12:57] #1872 closed, assigned to Raycoms

[2017-12-30 13:48] SmirkWithAMouth opened #1943 "[Suggestion] Increase durability of shingles"
Provide the shingles with enough durability that an accidental mouse click doesn't break them, or require a specific tool.

[2017-12-30 14:05] eastmaels opened #1944 "Refactor Townhall statistics for all workers"
This is from a conversation in slack for my first/entry task.

Just copied the conversation here so that I have ticket I can work on.

## Townhall Statistics Page:

![image](https://user-images.githubusercontent.com/29425738/34454909-adb930f0-edaf-11e7-951d-4a2d0df5b44a.png)

## Reference:

* to create the XML dynamically

![pasted image at 2017_12_30 12_32 am](https://user-images.githubuserconten

[2017-12-30 23:36] Araxidis commented on #1264
I know this is closed but this post helped me so I figure it's still relevant. My problem was the deliveryman would get stuck on a waypoint on the corner of the well. I didn't need the waypoints at the well so I deleted them. Each one just took a couple seconds to disappear and it fixed the problem.

[2017-12-31 01:24] Philos89 commented on #1888
I also have this problem. The builder will climb trees near the build site. I try cutting down the trees around the build site but he will look for trees to climb even further out then stand on top doing nothing.

[2017-12-31 03:35] Imrielle commented on #1916
Unsure if they fixed it on their end or not, but the issue isn't Minecolonies. Here is the relevant line:

"**Forge 14.23.1.2582 Optifine OptiFine_1.12.2_HD_U_C7**" - the issue is Forge and Optifine.

Update your Optifine to the preview version, **OptiFine 1.12.2 HD U C8 pre**, and the issue will be fixed.

[2017-12-31 06:25] None1911 commented on #1916
It was a Forge problem, switched to .2555 and problem was fixed.

[2017-12-31 06:25] #1916 closed, assigned to nobody

[2017-12-31 11:33] marchermans commented on #1888
Yeah I was looking into that. We might give him a scaffolding block which he can make (or creatively spawn) which allows him to build better. But for now that is just the way his pathing works.

[2017-12-31 14:17] Kira076 opened #1947 "Mis-spelled method, maybe?"
### Minecolonies version

version 1.11.2-0.8.6369

### Expected behavior

- The game loads and doesn't crash

### Actual behaviour

- The game crashes. Crash log: https://pastebin.com/TgTiGKvi

### Additionally:
This seems to have only started happening after I added Mantle, Tinkers' Construct, Embers, and Reliquary to the pack. Before I did that, it was loading in fine, but after that it crashed.

[2017-12-31 15:43] yotthani commented on #1896
this bug still exists in 1.10 version maybe somebody missed to include it into this branch

[2017-12-31 15:44] yotthani commented on #1921
number 2: still exists in the current version for 1.10

[2017-12-31 15:56] #1934 closed, assigned to nobody

[2017-12-31 16:24] Raycoms commented on #1947
Just pushed the fix

[2017-12-31 16:24] #1947 closed, assigned to nobody

[2018-01-01 00:01] CronoxXL commented on #558
my bug is that when I want to improve my town hall I get a bug and the fences are increased I remove them and then I ask for fences again and the town hall never improves I need help please
the minecraft version is 1.11.2 forge
![2017-12-31_20 52 18](https://user-images.githubusercontent.com/34991691/34464757-8d63e49e-ee6d-11e7-8a14-657f8bc4a750.png)

![2017-12-31_20 52 06](https://user-images.git

[2018-01-01 12:22] Raycoms commented on #558
Which Download and from which to which level?

On Dec 31, 2017 10:01 PM, "CronoxXL" <notifications@github.com> wrote:

[2018-01-01 12:23] Raycoms commented on #558
Which style?

On Jan 1, 2018 10:22 AM, "Ray Neiheiser" <ray.neiheiser@gmail.com> wrote:

[2018-01-01 14:24] MattBeard opened #1948 "[Enhancement] Guards use barracks chest for armour supply"
### Minecolonies version

version 1.12.2-0.8.6403

### Expected behavior

- Guards should protect themselves better

### Actual behaviour

- I have to hand out armour manually

### Suggestion

- Every now and then (perhaps every 10 to 30 seconds depending on what routine they are running) each guard compares items of armour in the barracks chest with corresponding armour they are wearing and if th

[2018-01-01 14:31] Justen-N commented on #1948
Yeah, this one is my fault.  Currently in progress.

On Jan 1, 2018 7:24 AM, "MattBeard" <notifications@github.com> wrote:

[2018-01-01 14:57] webcrafter-fr opened #1949 "Cooks ?"
In the Townhall GUI we can see in the jobs list "cooks" but he's not in the wiki. Is it implemented ?

Thanks :)

[2018-01-01 14:58] Raycoms commented on #1949
It is, wiki missing still @Wissi

On Jan 1, 2018 12:57, "Aurélien Leclerc" <notifications@github.com> wrote:

[2018-01-01 15:08] webcrafter-fr commented on #1949
How can I craft him ? :)

[2018-01-01 17:32] Raycoms commented on #1949
apple in the middle =D

2018-01-01 15:08 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2018-01-01 17:32] #1949 closed, assigned to nobody

[2018-01-01 18:14] webcrafter-fr commented on #1949
Thanks :)

[2018-01-01 23:50] Azuxul opened #1953 "Large fern impossible to get in survival (TownHall3, Birtch)"
### Minecolonies version

version 1.12.2-0.8.5081

### Steps to reproduce the problem

1. Upgrade TownHall to lvl 3
2. See requiments list

![2018-01-02_00 49 36](https://user-images.githubusercontent.com/11092555/34471985-d89ba804-ef56-11e7-8279-8dbacb59e751.png)

### More informations

In survival is impossible to get large fern as item so is imposible to give to the builder.

See #1275

[2018-01-01 23:51] Raycoms commented on #1953
There should be a recipe with two small ferns over each other.

2018-01-01 23:50 GMT+00:00 Lancelot H. <notifications@github.com>:

[2018-01-02 00:14] Azuxul commented on #1953
But there are no recipe, NBT do not show recipe too and when i try is not working.

See :

![2018-01-02_01 12 34](https://user-images.githubusercontent.com/11092555/34472109-44c56ea4-ef5a-11e7-8fdb-519d0f8b5636.png)

[2018-01-02 00:30] Raycoms commented on #1953
@MineShadow7 can you add that recipe please?

[2018-01-02 03:32] teagan75 opened #1954 "Builder Crash when given shovel"
### Minecolonies version

minecolonies-universal-1.10.2-0.9.6457.jar

### Expected behavior

Should be able to give a wooden shovel to builder.

### Actual behaviour

Crashes to desktop. Doesn't happen each time. Both female builders crashed and one male builder did not.

https://pastebin.com/ajGgZX8R

[2018-01-02 17:21] Jaimartuan opened #1955 "Cannot place the townhall"
### Minecolonies version

version 0.8.4932

### Expected behavior

- Place the town hall without closing the game

### Actual behaviour

- When the town hall is placed, minecraft closes

### Steps to reproduce the problem

1. I have looked at the files of the mod and on the internet some solutions but I can not find the reason why the game closes when I put the town hall. I can only place the supp

[2018-01-02 17:24] Raycoms commented on #1955
can you try a newer version of minecolonies, this is a forge bug.

2018-01-02 17:21 GMT+00:00 Jaimartuan <notifications@github.com>:

[2018-01-02 17:28] Jaimartuan commented on #1955
Okay, I'll try, thanks

[2018-01-02 18:03] Jaimartuan commented on #1955
Yeah, now it works!!!!! thanks

[2018-01-02 18:03] #1955 closed, assigned to nobody

[2018-01-02 18:04] ouroborus commented on #1903
@Raycoms I understand. That still leaves colonies losing track of their owners during a server update. This happens to all colonies with each colony needing its own `/mc colony refresh` to fix.

[2018-01-02 22:39] jonabrv1965 opened #1956 "No townhall block when place camp/ship and structures are phantom (I can pass them)"
### Minecolonies version : minecolonies-universal-1.12.2-0.8.6479

MC 1.12.2 - Forge version : forge-1.12.2-14.23.1.2582

### Expected behavior

- To obtain the townhall block.

### Actual behaviour

- The structures generated are phantom, I can pass thru them walking, cannot harvest them, theoneprobe does not detect any block, are ethereal, not solid... and I do not get the townhall block. It hap

[2018-01-02 22:48] jonabrv1965 commented on #1956
Uhm.. i found that you have to click again with the camp/ship item, and click in the ok button (the green one) and it materialize the camp/ship and within you get the townhall block. This mechanic should be better explained in the wiki IMHO...

[2018-01-02 22:48] Raycoms commented on #1956
Yes, will go to the wiki soon.

[2018-01-02 22:48] #1956 closed, assigned to nobody

[2018-01-03 20:09] webcrafter-fr opened #1957 "Farmer do nothing"
### Minecolonies version

1.12.2-0.8.6368

### Expected behavior

- The farmer plant and recolt wheat

### Actual behaviour

- The farmer go on his farm, hit some wheat, and stop. He stays on his farm, and do nothing. During the night he's not going to sleep.

### Steps to reproduce the problem

Simply construct a farm, a farm plot, put some seeds, watch him doing nothing :D

[2018-01-03 22:01] webcrafter-fr commented on #1939
Any idea ?

[2018-01-03 22:09] Raycoms commented on #1939
the clipboard has no information?

2018-01-03 22:01 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2018-01-03 22:14] webcrafter-fr commented on #1939
What's the clipboard ?

[2018-01-03 22:18] Raycoms commented on #1939
an item, crafted with leather in the middle sticks around and buildtool on
top

2018-01-03 22:14 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2018-01-03 23:13] webcrafter-fr commented on #1939
https://i.imgur.com/ixyi9ta.jpg

I canceled the request, we'll see what's next :) Thanks.

Why the wiki is not up to date ? :( This plugin is amazing, he deserves a better one ! ❤️

[2018-01-03 23:15] Raycoms commented on #1939
Oh we're working on it =)

2018-01-03 23:13 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2018-01-03 23:15] webcrafter-fr commented on #1939
Nice 😄

[2018-01-03 23:44] Raycoms commented on #1957
Hmm this is strange, I wasn't able to reproduce this, does fire/rehire help?

[2018-01-04 00:13] webcrafter-fr commented on #1957
No :( But if I "recall" him he'll works for a while, and stop again.

[2018-01-04 00:51] Raycoms commented on #1957
Is there water under the field?

2018-01-04 0:13 GMT+00:00 Aurélien Leclerc <notifications@github.com>:

[2018-01-04 03:44] SeriousCreeper commented on #1562
Just commenting that i'd also really love the mattock support! I have most vanilla items (and other hoes/axes) disabled and focus on the tinkers tools, so right now the farmer can't be used in my current pack.

[2018-01-04 04:39] FK187 commented on #1957
I am having the same issue and I have a level 3 that wont handle more than one plot even though they are assigned.

[2018-01-04 09:50] webcrafter-fr commented on #1957
![Good](https://media.giphy.com/media/RgfGmnVvt8Pfy/giphy.gif)

Yeah, there was water underneath. I filled it all up and now it looks like it's working. However, I don't know if it's normal, but the worker is really slow..... Sometimes he goes around his field over and over again, but does nothing in the next field when there is work to be done.

[2018-01-04 12:20] XxmatzelxX opened #1960 "i have a problem with a minecraftclonies plas kan say hoch ei fix it?"
### Minecolonies version

version X.X.XXXX or curse X.X.XX

### Expected behavior

- XXX

### Actual behaviour

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-01-04 15:34] Moobien commented on #1960
????

[2018-01-04 17:14] pmardle opened #1963 "Proposed Smelter Enhancement"
Proposed enhancement for the Smelter Worker :)

When deconstructing enchanted weapons/tools/armour - give him a chance to salvage the enchant as an enchanted book, based on his hut level.

Hut Level 0/1 = NO chance
Hut Level 2 = 10%
Hut Level 3 = 25%
Hut Level 4 = 40%
Hut Level 5 = 60%

[2018-01-04 17:17] MineShadow7 commented on #1963
Enchant books will be used by enchanter to enchant tools and items on exactly what enchantment book says.
Ancient tome will give random enchantment.

[2018-01-04 17:28] jonabrv1965 opened #1964 "My colonist disappear and cannot open any inventory (builder,"
### Minecolonies version

version minecolonies-universal-1.12.2-0.8.6523

### Expected behavior

- XXX

### Actual behaviour

- No colonist around...

### Steps to reproduce the problem

1. Colonist not shown (I had courier, builder and lumberjack)
2. Cannot open  the town hall chest nor any other chest in the town..
3. ...
4. Profit

[2018-01-04 17:39] Raycoms commented on #1964
Seems like your colony broke, try to rollback the colonies.dat in the
minecolonies folder in your world to a previous point and then recall all
your workers.

2018-01-04 17:28 GMT+00:00 jonabrv1965 <notifications@github.com>:

[2018-01-04 17:53] #1960 closed, assigned to nobody

[2018-01-04 19:05] jonabrv1965 commented on #1964
Hi Ray, yes, that did the trick. But I have to rollback four .dat files (almost a day)

Nonetheless I have to order the builder to "build" again several already existent structures. Fortunately do not ask for materials/items...

Hopefully this do not happen again...

[2018-01-04 22:08] #1964 closed, assigned to nobody

[2018-01-04 22:08] #1957 closed, assigned to nobody

[2018-01-04 22:16] #583 closed, assigned to nobody

[2018-01-04 22:19] #1510 closed, assigned to nobody

[2018-01-04 22:24] #1702 closed, assigned to marvin-bitterlich

[2018-01-04 22:24] Raycoms commented on #1702
Done in a lot of the most important classes already.

[2018-01-04 22:24] #1753 closed, assigned to nobody

[2018-01-04 22:25] Raycoms commented on #1870
Should be fixed now.

[2018-01-04 22:25] #1870 closed, assigned to Raycoms

[2018-01-04 22:25] Raycoms commented on #1931
Yeah we actually have it on purpose that he goes as deep as possible first, also considering that this is also as efficient as going sidewards.

[2018-01-04 22:25] #1931 closed, assigned to nobody

[2018-01-04 22:25] #1939 closed, assigned to nobody

[2018-01-05 05:03] harleypig commented on #1931
I'm sorry ... I wasn't referring to depth. There is already an option to stop mining down and start mining sideways.

I'm asking for an option to have the miner strip mine sideways instead of randomly. Basically, tunnels two blocks wide, with occasional two block wide cross tunnels.

[2018-01-05 05:08] TheGreatCow opened #1967 "Town hall placement crashes game"
## Minecolonies version
minecolonies-universal-1.12.2-0.8.4932.jar

  ### Expected behavior

- I should be able to place the town hall without crashing

### Actual behaviour

- Exits single player whilst saying "Shutting down internal server" and then once it has disconnected it says "A fatal error has occurred, this connection is terminated"

[2018-01-05 10:30] Raycoms commented on #1967
Please use a newer version of minecolonies or an older one of forge

On Jan 5, 2018 3:08 AM, "TheGreatCow" <notifications@github.com> wrote:

[2018-01-05 13:23] XxmatzelxX opened #1968 "Wenn zu viele Gebäude bei mir Spiel kollabiert und nach Neustart geht die Kolonie nicht mehr zum benutzen"
###

Neueste X.X.XXXX or curse X.X.XX

### Expected behavior

- XXX

### Actual behaviour

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-01-05 15:19] #1968 closed, assigned to nobody

[2018-01-05 15:19] #1967 closed, assigned to nobody

[2018-01-05 16:08] xorinzor opened #1969 "Client crash: Nullpointerexception - Updating screen events"
### Minecolonies version

version 1.12.2-0.8.6147 (as part of the All the Mods 3 modpack)

### Expected behavior

- Pressing the details button should open a screen with information

### Actual behaviour

- It crashes the client

### Steps to reproduce the problem

1. Login
2. Click the button (in the screenshot, the button underneath the shovel)
3. ...
4. Crash!
5. Profit?

![2018-01-05_17 05 38]

[2018-01-05 16:10] marchermans commented on #1969
This is fixed in a newer version. Please update.

[2018-01-05 16:10] #1969 closed, assigned to nobody

[2018-01-05 16:11] xorinzor commented on #1969
Thanks for the quick reply, I'll pass that on!

[2018-01-05 16:12] marchermans commented on #1963
If we do this, we should multiply the chance with the durability on item. Item low durability -> lower chance to get the enchant.

[2018-01-05 16:15] marchermans commented on #1969
I fixed at least the same crash myself. And the line it is stating is empty in the current version. So it should be fixed. If it persist in the newer versions open this ticket back up again with a newer crash log. That should make sure that i get notified and will take a look 👍

[2018-01-05 23:59] pmardle commented on #1963
Sure

On Fri, Jan 5, 2018 at 4:12 PM, Marc Hermans <notifications@github.com>
wrote:

[2018-01-06 08:45] AdaraChristine commented on #1896
forge-1.10.2-12.18.3.2185
minecolonies-universal-1.10.2-0.9.6589

AMDescription: Exception in server tick loop java.lang.NullPointerException: Exception in server tick loop
	at exterminatorjeff.undergroundbiomes.common.block.UBOreSedimentary.func_180642_a(UBOreSedimentary.java:42)
	at com.minecolonies.api.compatibility.CompatabilityManager.discoverOres(CompatabilityManager.java:194)
	at com.mineco

[2018-01-06 17:13] webcrafter-fr commented on #1963
Wait, there is a smelter worker ?

(omg the new wiki <3)

[2018-01-06 23:52] mvdhoning opened #1971 "[Feature] One blueprint items"
It would be nice to have a template item that via nbt or config files can be assigned a template.
And when used like the builders wand would place only the preselected template to be build by a builder.

The builderswand feels overpowered/overwhelming due to the lots of templates to choose from.

So a special house blueprint item could via other mod be assigned as dungeon loot or have a special cr

[2018-01-07 00:04] YutaTakano opened #1972 "Buggy Farmer"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6564.jar

### Expected behavior

- Walking around field, checking crops, harvesting as they mature

### Actual behaviour

- Stands around doing nothing. Most of the time, goes home at night, comes back at dawn. Not always.

### Steps to reproduce the problem

1. Assign worker to farm, assign field, etc (standard field steps)

### Addition

[2018-01-07 00:40] Raycoms commented on #1972
is there water under the farm?

2018-01-07 0:04 GMT+00:00 Yuta <notifications@github.com>:

[2018-01-07 00:41] Raycoms commented on #1896
will fix tomorrow

2018-01-06 8:45 GMT+00:00 Adaraa <notifications@github.com>:

[2018-01-07 01:07] YutaTakano commented on #1972
@Raycoms yes, it's built over a river.

[2018-01-07 01:09] Raycoms commented on #1972
Please build one more row of dirt, the pathfinding gets crazy if the block
under a field block is water. (We have an issue for that already, but it's
very complicated).

2018-01-07 1:07 GMT+00:00 Yuta <notifications@github.com>:

[2018-01-07 01:09] YutaTakano commented on #1972
Thank you!

[2018-01-07 04:42] #1972 closed, assigned to nobody

[2018-01-07 04:42] Asherslab commented on #1963
Yes webcrafter, there is, also 4 new herder workers =D

[2018-01-07 12:25] Raycoms commented on #1954
Sorry, for the delay, we're working on it.

[2018-01-07 12:41] #1944 closed, assigned to eastmaels

[2018-01-07 13:22] Mortenkein opened #1975 "[Game-Breaking Bug] The first builder vanished and can’t be fired"
### Minecolonies version

1.12.2-0.8.6623

### Expected behavior

The builder is in the colony and he’s building.

### Actual behaviour

The builder is nowhere to be found.

### Steps to reproduce the problem

1. Create a new world
2. Place the supply camp
3. Place the town hall, destroy it (one villager should appears)
4. Craft the builder’s hut, place it, choose the taiga style, and build it
5.

[2018-01-07 13:24] Raycoms commented on #1975
2 options: find out his id in /mc citizens list and do /mc citizen respawn
id, or do  recall all in the townhall.

2018-01-07 13:22 GMT+00:00 Mortenkein <notifications@github.com>:

[2018-01-07 13:28] Mortenkein commented on #1975
I can’t use commands, because I’m in survival mode.

[2018-01-07 13:29] Raycoms commented on #1975
minecolonies commands are still available.

2018-01-07 13:28 GMT+00:00 Mortenkein <notifications@github.com>:

[2018-01-07 13:29] Raycoms commented on #1975
Or at least should.

2018-01-07 13:29 GMT+00:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2018-01-07 13:29] Raycoms commented on #1975
Else, like I said, recall all in the townhall will restore him.

2018-01-07 13:29 GMT+00:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2018-01-07 13:35] Mortenkein commented on #1975
Yes ! It worked. I recalled all citizens, and the builder appeared ! However, I can’t use the commands (You do not have permission to use this command). Thanks Raycoms.

[2018-01-07 14:51] #1975 closed, assigned to nobody

[2018-01-07 18:16] #1953 closed, assigned to MineShadow7

[2018-01-07 19:49] #1928 closed, assigned to Raycoms

[2018-01-07 19:49] #1943 closed, assigned to Raycoms

[2018-01-07 19:49] #1954 closed, assigned to Raycoms

[2018-01-08 10:08] MattBeard commented on #1963
In 1.12.2-0.8.6705 the smelter hut is not being crafted when the wiki recipe is used.

[2018-01-08 10:23] marchermans commented on #1963
Yep recipe is coming in an update.

[2018-01-08 17:57] AlexandrePavy opened #1985 "[BUG] The cook get stuck with restaurant"
### Minecolonies version

1.12.2-0.8.6291 -  and i checked with 1.12.2-0.8.6623 too.

### Expected behavior

- The cook fed the citizens without paused (I am a bad boss!)

### Actual behaviour

- The cook stops work, the other citizens come to the restaurant and wait for food.
- Exception in console and cook take pause (100-200 seconds).

It seems that the rack is involved.

[Error-console-with-re

[2018-01-08 18:01] Raycoms commented on #1985
Looking at it now

[2018-01-08 18:12] AlexandrePavy opened #1986 "[BUG] FPS drop on client with clipboard"
### Minecolonies version

1.12.2-0.8.6731

### Expected behavior

- fluid game with clipboard

### Actual behaviour

- When i use clipboard my FPS decrease :

Without clipboard i run with 130 fps (I have max framerate to 130)
![drop-fps-1](https://user-images.githubusercontent.com/6603411/34684802-a0ed7784-f4a6-11e7-95a1-8f6eed9e975a.png)

When i open clipboard i got less 10 fps
![drop-fps-2](http

[2018-01-08 18:18] AlexandrePavy commented on #1986
I just tried without optifine, I have the same fall of fps.

[2018-01-08 18:52] AlexandrePavy opened #1987 "[Enhancement] Animal babies escape Herders hut"
Firstly thanks a lot, this mod is awesome, You add some cool features ! 👍

### Minecolonies version

1.12.2-0.8.6731

### Expected behavior

- The Herders do not lose animals, otherwise the wolves eat them!

### Actual behaviour

- There are some smart little animals that escape from the pen (look pictures)

They jump on the wheat block.

![farmer-hut-1](https://user-images.githubusercontent.com/6

[2018-01-08 19:50] marchermans commented on #1986
I will need to debug this. I coded this, and i did not have this.

[2018-01-09 06:34] Asherslab commented on #1987
Ahhh apologies, we'll definitely have a look at the schematics for the herder buildings at some point, sadly i'm a horrible builder so i had to get some others to build them for me, if you'd like you could help me get those fixed quick?
BTW, our discord: https://discord.gg/zjA75K8

[2018-01-09 13:43] Aynjul opened #1990 "[Suggestion] Show cause of unhappiness in the townhall"
### Minecolonies version
1.12.2-0.8.6705

I can't figure out what is causing my happiness not to rise in my colony. It would be nice if I could go to the town hall to find out why my colonists aren't happy. The colonists could report every day what they are not liking. Thank you.

[2018-01-10 04:01] attilavv opened #1992 "Chunks loading problem and other."
version
minecolonies-universal-1.12.2-0.8.5081
upgraded to
minecolonies-universal-1.11.2-0.8.6745

And other mods.

Forge version : 14.23.1.2565
1 - Chunks loading problem
![chunks](https://user-images.githubusercontent.com/35277791/34747449-98859386-f598-11e7-889e-1a1502bd80ab.jpg)
Some time many chunks is loaded from one to another city ( probably from a bad town hall to ?? )
In top right it is

[2018-01-10 07:32] CplPibald commented on #1850
I just got this exact same message today in version 1.12.2-0.8.6682

[2018-01-10 07:52] AlexandrePavy commented on #1992
Hi, are you using `minecolonies-universal-1.11.2-0.8.6745` with `1.12.2` server ? maybe try with `1.12.2-0.8.6731`

[2018-01-10 07:55] webcrafter-fr opened #1993 "Can't access to the Field inventory"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6731

### Expected behavior

- Open the fied inventory
- Put some seeds
- Profit

### Actual behaviour

- Can't open the field inventory

[2018-01-10 09:08] Asherslab commented on #1992
Sorry not sure what a PNJ is. for issue 1 we do not load any chunks what-so-ever in our code, anything that is happening is either another mod, your server, players, or forge itself

[2018-01-10 11:43] MattBeard opened #1994 "MAJOR crashing problem!"
### Minecolonies version

version 1.12.2.-0.8.6731

### Expected behavior

- If keeps running

### Actual behaviour

- After a while it dies and each time I re-load it dies again
- Reloading a backup and playing again eventually gets to the same problem!

### Steps to reproduce the problem

1. ?? I can send a zip of the whole world, but it's about 90MB

Here is the key section of the log that happ

[2018-01-10 11:45] Raycoms commented on #1994
Your colony dat, can you send that to us? (its in world - minecolonies -
colonies.dat)

2018-01-10 11:43 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-10 12:05] MattBeard commented on #1994
'ere 'tiz
[colonies.zip](https://github.com/Minecolonies/minecolonies/files/1618639/colonies.zip)

[2018-01-10 12:10] Raycoms commented on #1994
Try this one:
[colonies.dat.zip](https://github.com/Minecolonies/minecolonies/files/1618649/colonies.dat.zip)

[2018-01-10 12:19] MattBeard commented on #1994
OK... that works. But it's so much smaller - what have I lost?

[2018-01-10 12:34] Raycoms commented on #1994
There was an issue a few weeks ago which created 1000 requests, I removed
those from your colonies.dat

[2018-01-10 12:34] #1994 closed, assigned to nobody

[2018-01-10 12:34] MattBeard commented on #1994
Ahhh.... that might help.

[2018-01-10 18:06] MattBeard opened #1995 "Fix for #1994 has killed my colony!"
Raycoms helped me earlier with issue #1994 and edited my colonies.dat file.

Unfortunately, even though this did fix the crashing issue, and did not appear to have any side-effects, it has broken my colony.

The deliverymen now gather, but never deliver anything. I have tried firing/rehiring, fulfilling a few requests manually etc. but they just gather, gather, gather! Interestingly at least one g

[2018-01-10 18:07] Raycoms commented on #1995
Hey, guards gather mode has nothing to do with the dman gather mode,
(guards often gather randomly the drops).

The dman shouldn't be affected with this, it might've broken your warehouse
though, try to replace it please and tell us if that fixed it.

2018-01-10 18:06 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-11 04:25] lebanni opened #1997 "Can't place supply camp or supply ship (MC 1.10.2]"
### Minecolonies version

minecolonies-universal-1.10.2-0.9.6734.jar

### Expected behavior

- Place supply camp on cleared area.

### Actual behaviour

- Nothing happen, with no message. I got the usal message when I try to place the camp on an uncleared area.
However I got errors in the log files. I suspect an incompatibility with a mod, but can't identify which one is responsible.

https://gist

[2018-01-11 04:32] YutaTakano opened #1998 "Cook not asking for food"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6564.jar

### Expected behavior

- Cook requests uncooked food (fish, raw beef, etc)
- dman then delivers this food
- cook requests fuel and then starts cooking after receipt

### Actual behaviour

- cook stands around doing nothing, sometimes just hangs around in the town hall
- once I put raw food in the restaurant chest, he asked for f

[2018-01-11 06:58] Asherslab commented on #182
Done

[2018-01-11 06:58] #182 closed

[2018-01-11 06:58] Asherslab commented on #181
Done

[2018-01-11 06:58] #181 closed

[2018-01-11 06:58] Asherslab commented on #180
Done

[2018-01-11 06:58] #180 closed

[2018-01-11 06:59] Asherslab commented on #179
Done

[2018-01-11 06:59] #179 closed

[2018-01-11 08:13] MattBeard commented on #1995
Replace the warehouse!!!!! That took about a week to build and stock ;-(

Will make a copy and try in that.

[2018-01-11 08:17] Asherslab commented on #1995
Wait wait

[2018-01-11 08:18] Asherslab commented on #1995
You should try "Repair" your warehouse first, that'll check all the inventories within and such and re-register them if needed, try that first then try other =D

[2018-01-11 10:07] MattBeard commented on #1995
Ah I have just removed the warehouse chest and rebuilt back as level 1 (was level 3) and that has fixed it (but left me loads of my own double chests full of all the stuff I salvaged when the racks and frames were destroyed!)

Will try backing up this, then restoring the pre-demolish backup and use repair. Thanks for the tip Asherlab.

[2018-01-11 10:08] cleverca22 opened #2000 "ForgeHook not in sync with EfficientTool for Block{forestry:beehives}"
### Minecolonies version

version minecolonies-universal-1.12.2-0.8.6731.jar

[10:07:37] [Server thread/INFO] [minecolonies]: ForgeHook not in sync with EfficientTool for Block{forestry:beehives} and 2xtile.sapling@2
Please report to MineColonies with this text to add support!

[2018-01-11 11:02] MattBeard commented on #1995
... well, I wasted a couple of hours!

It looks like Asherlab was right that repair was all that was needed. Have a cookie!

[2018-01-11 12:19] #1995 closed, assigned to nobody

[2018-01-11 13:19] RyanToor commented on #1998
**Minecolonies Version**

minecolonies-universal-1.12.2-0.8.6731

**Comments**

I am having the same problem on this version but it also occurs with the Bakery not requesting all wheat.  Instead, the dman will deliver one at a time, only when the bakery is out of wheat.

I tried the same steps, even going as far as to kill/re-hire, no luck.

In addition I have noticed that re-logging sometimes see

[2018-01-11 13:21] Raycoms commented on #1998
Hit here, yeah we will need to implement that the dman leaves things at
those places.

2018-01-11 13:19 GMT+00:00 da2mole <notifications@github.com>:

[2018-01-11 14:55] RyanToor commented on #1998
Ah, OK, was worried it might be deliberate to keep you checking up on your colony, the way it is at the moment it's a little tedius.

Great work btw, it's been a long time since I've found a mod which both fits in with and changes the base game so completely with such great care in its implementation.

Thankyou :)

[2018-01-11 15:06] YutaTakano commented on #1998
Ah if implementation is forthcoming then that's all I need to know :) I was just worried something was broken.
Also ditto on smelter - my smelter constantly requests ore but never gets any delivered.

^and yea, amazing job!! And I so appreciate you being super on top of everything.

[2018-01-11 15:45] #1998 closed, assigned to nobody

[2018-01-11 16:55] Devostar opened #2001 "Miner requests single slabs and fences"
### Minecolonies version

Latest minecolonies alpha release

### Expected behavior

- Miner requests a stack of slabs/fences so he can build

### Actual behaviour

- Miner requests a single slab/fence, builds a single block and waits for dman again

### Steps to reproduce the problem

1. Build new mine
2. Wait for miner to start building
3. ...
4. Profit

[2018-01-11 17:08] Raycoms commented on #2001
We have an issue for that already.

thanks for reporting.

2018-01-11 16:55 GMT+00:00 Devostar <notifications@github.com>:

[2018-01-11 17:08] #2001 closed, assigned to nobody

[2018-01-11 18:47] attilavv commented on #1992
Hi,

For 1, all mob like cow, chicken and other can move and when it change chunk it is a loading process that start. It is for this raison you can see some loaded chunk it the path when you move and use command "/chunkloaders" from ChickenChunks. Problem is all time it is between two village and some time between a player position and a not loader zone.

At this time, without Obis or other test m

[2018-01-11 19:05] marchermans commented on #1992
We do not chunk load anything. This is not caused by minecolonies.

[2018-01-11 19:07] #1992 closed, assigned to nobody

[2018-01-11 21:49] Raycoms opened #2002 "Smelter Issues"
Several Issues:

- Smelter needs to implement things to stay with the ore and fuel and swords/armor.
- Cook needs this with fuel
- Smelter needs to double ores, doesn't seem to work well.
- Smelter isn't doubling ores it seems

[2018-01-12 02:31] YutaTakano opened #2003 "Miner Not Mining"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6564.jar

### Expected behavior

- after building a new mine, hiring miner, giving equipment and resources, miner starts mining

### Actual behaviour

- Miner initially requested a higher hut level to dig deeper.
- When i obliged, miner now walks over to a nearby natural cavern in a cliffside and walks allllllll the way down it and then m

[2018-01-12 08:02] AMartinie opened #2004 "Minecolonies takes up 4GB in my worldsave folder. I've never used the mod."
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6147

### Expected behavior

- Not to take up memory if it isn't being used...

### Actual behaviour

- Take up a massive ass amount of fuckin data..?

### Steps to reproduce the problem

1. Put mod in modpack
2. Don't use mod or even touch a single item in the mod
3. ...
4. crash your damn hard drive :+1:

[2018-01-12 11:49] Raycoms commented on #2004
Is it the colonies.dat which takes as much? you can remove those. We had a problem with a bug a while ago which caused that. You probably got it from then still.

[2018-01-12 12:01] AMartinie commented on #2004
I believe it recreated the same file repeatedly, while maintaining previous data in the clone AND leaving the old file there. I'd have to check later to find the exact cause.

[2018-01-12 12:03] Raycoms commented on #2004
Yes we have an issue for discarding after a while already. But making it as
big only happened because of the issue we had a while ago.

2018-01-12 12:01 GMT+00:00 Austin <notifications@github.com>:

[2018-01-12 15:53] ghost opened #2008 "Villagers still working after colony deletion"
### Minecolonies version

version X.X.XXXX or curse X.X.XX

### Expected behavior

- i had deleted the colony and expected the colonists to die or dissapper

### Actual behaviour

- kept working

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-01-12 15:54] Raycoms commented on #2008
Which version? Are you sure you deleted it correctly?

On Jan 12, 2018 1:53 PM, "LegendaryGeek" <notifications@github.com> wrote:

[2018-01-12 17:14] Wissi commented on #2008
Seems a bit strange, that has never happened.
What version of Minecolonies are you using? (f.e. 1.10, 1.11or 1.12 and file ver.)
Version of Forge and list of other mods?
As well as how did you delete the Colony, did you just "break/remove" the TH block or use the in-game command?

[2018-01-12 17:17] Wissi commented on #1990
I agree that would be a great enhancement as well.
Maybe show all of the factors involved in the happiness system and then show a "value" next to each one (maybe in green/orange/red colors) to let us see what needs more attention/improvement to reach the highest happiness level possible.

[2018-01-12 17:22] ghost commented on #2008
1.12.2 but i dont know ver number beacuse im currently at school.

[2018-01-12 17:24] ghost commented on #2008
Also it could be i pressed delete after using mcedit but i removed a block from another mod

[2018-01-12 17:26] ghost commented on #2008
Oh also i had some trouble with custom npc's and your mod not rendering textures while together

[2018-01-12 17:59] Wissi commented on #1692
Implementing it in the JAR does NOT mean that you are violating the EULA.
How the server will implement it is the issue in reality.  If a certain "feature' is ONLY made avail to "patreons" f.e. that would be a violation, but making it accessible to any player (at an extremely high cost of playtime/money earned/etc etc) as well complies w/EULA.
The code for implementing it and turning it on/off in

[2018-01-12 18:12] Wissi commented on #1644
I agree on the second idea.
Having a farmer "manage" up to 4 crops per field would be awesome due to the great varieties of mods like Pam's harvest.
Maybe 4 slots in scarecrow to divide the plot in 4 sections w/4 diff. crops.

[2018-01-12 18:21] Aynjul commented on #1990
That would be amazing!

[2018-01-12 18:28] VarezQ opened #2009 "Kick after placing structure"
### Minecolonies version

version 1.10.2, Forge 1.10.2 #2511

### Expected behavior

- Not kicking of the server

### Actual behaviour

- When placing supply ship for example everyone near that gets kicked out the server (Multilpayer)

### Steps to reproduce the problem

1.After placing any structure i and everyone near get kicked with "A fatal error has occured, this connection is terrminated". I

[2018-01-12 18:39] Wissi commented on #1678
Well the issue here are the modded blocks and how they are coded by their devs.
Minecolonies works with the block code designation from Minecraft.
Try using regular "vanilla" dirt or any other normal minecraft block instead of modded blocks.
If issue persists w/regular minecraft blocks then let us know, if not so that we can close this issue?

[2018-01-12 18:42] Wissi commented on #1725
I agree if we can have the "Y" level of the node being displayed next to the node would be very helpful.

[2018-01-12 19:00] Raycoms commented on #1644
The field size I agree on, multiple crops I don't agree on, the reason we have fields and not one big field is that there is exactly one crop per field. If the player wants different types he has to add more farmer levels and or fields, else this is just tooo easy =D

[2018-01-12 19:07] Raycoms commented on #2009
can you send us a client and server log?

2018-01-12 18:55 GMT+00:00 VarezQ <notifications@github.com>:

[2018-01-12 19:32] Wissi commented on #2009
Well the Version of Forge is not too stable, try using the recommended version 2185
http://files.minecraftforge.net/maven/net/minecraftforge/forge/index_1.10.2.html
As well as the latest version of Minecolonies for 1.10.2
https://minecraft.curseforge.com/projects/minecolonies/files?filter-game-version=1738749986%3A572
The latest version of Minecolonies (tho says Alpha) has the Smeltery and herders

[2018-01-12 19:41] VarezQ commented on #2009
Server log:

[m>[20:30:02] [Server thread/INFO]: Saved the world[m
[m>[20:30:11] [Server thread/INFO] [minecolonies]: Request: player VarezQ is requesting schematic schematics/SupplyCamp
[m>[20:30:11] [Server thread/INFO]: VarezQ lost connection: TextComponent{text='Disconnected', siblings=[], style=Style{hasParent=false, color=null, bold=null, italic=null, underlined=null, obfuscated=null, cl

[2018-01-12 19:58] #2002 closed, assigned to nobody

[2018-01-12 20:15] Wissi commented on #2008
Well "removing"  block will not remove the Town from the World.
There is a command you have to run to permanently delete the information of the Town from the world.
You must be OP to run the command: ` /mc colony delete <colonyID>`

[2018-01-12 20:17] Wissi commented on #2009
Can you please update the minecolonies file to latest and change Forge to recommended, on both client and server first.
Then if still having same issue, post the server and client logs?

[2018-01-12 22:41] AMartinie commented on #2004
Thanks for the quick support, I appreciate it. This can be closed

[2018-01-12 22:45] #2004 closed, assigned to nobody

[2018-01-12 22:50] ouroborus opened #2013 "Massive log file"
1.12.2-0.8.5989

I had a log file fml-junk-earlystartup.log that grew to 21GB(!) over a period of about 12 hours because of these kind of messages happening at a rate of about 600 lines per second. Server was also reporting ticks skipped in the 10,000s range (what is that? Half an hours worth?) Console was extremely lagged. Just responding to `stop` took a good minute. No idea what triggered this

[2018-01-12 22:52] Raycoms commented on #2013
Did you turn on the debug log of the request system in your config file?

[2018-01-12 22:59] ouroborus commented on #2013
Not intentionally.

[2018-01-12 23:00] ouroborus commented on #2013
Apparently I also can't log in. Client is throwing this exception:

    [14:56:53] [Netty Client IO #4/ERROR] [FML]: There was a critical exception handling a packet on channel MineColonies
    java.lang.RuntimeException: Tried to read NBT tag that was too big; tried to allocate: 2097186bytes where max allowed: 2097152
    	at net.minecraft.nbt.NBTSizeTracker.func_152450_a(NBTSizeTracker.java:25)

[2018-01-12 23:05] ouroborus commented on #2013
@Raycoms None of this happened in response to starting the server. It happened after the server had been running for about a day. My understanding is that, in order for the config to be updated, a server restart is necessary.

[2018-01-12 23:14] Monarch-of-Gold commented on #1987
I'd be willing to do some buildings for you. I've got schematica installed so turning them into schematics isn't a problem

[2018-01-12 23:15] ouroborus commented on #2013
And I can't delete the colony I'm near.

    [15:14:12] [Server thread/INFO] [minecolonies]: Removing citizens for 1
    [15:14:12] [Server thread/INFO] [minecolonies]: Kill Citizen Bella H. Baynton
    [15:14:12] [Server thread/INFO]: Bella H. Baynton died
    [15:14:12] [Server thread/INFO] [minecolonies]: Kill Citizen Alexandra E. Greene
    [15:14:12] [Server thread/INFO]: Alexandra E. Greene

[2018-01-12 23:22] ouroborus commented on #2013
This is what minecolonies' `world/minecolonies` folder looks like

    [...]
    -rw-rw-r--  1 ouroborus ouroborus   75519 Jan  7 00:24 colonies-2018-01-07_00.24.25.dat
    -rw-rw-r--  1 ouroborus ouroborus   76322 Jan  7 04:03 colonies-2018-01-07_04.03.10.dat
    -rw-rw-r--  1 ouroborus ouroborus   76322 Jan  7 13:55 colonies-2018-01-07_13.55.29.dat
    -rw-rw-r--  1 ouroborus ouroborus   76196 J

[2018-01-12 23:24] Raycoms commented on #2013
Yeah this is an old bug, can you edit the colonies.dat and remove some of
the requst system lists?

2018-01-12 23:22 GMT+00:00 ouroborus <notifications@github.com>:

[2018-01-12 23:27] ouroborus commented on #2013
Err... How would I go about editing it?

[2018-01-12 23:28] Raycoms commented on #2013
you'd have to get an nbt editor, we're currently working on a release which
fixes this automatically, but it will need a bit still.

2018-01-12 23:27 GMT+00:00 ouroborus <notifications@github.com>:

[2018-01-12 23:30] ouroborus commented on #2013
Any chance rolling back to an earlier `.dat` would accomplish the same thing?

[2018-01-12 23:34] Raycoms commented on #2013
Yes, you can rollback to a smaller .dat.

2018-01-12 23:30 GMT+00:00 ouroborus <notifications@github.com>:

[2018-01-12 23:49] ouroborus commented on #2013
Rolling back appears to have worked.

We haven't done anything with the colonies for a while so we probably didn't lose much this time. Having to reset each colony (every server update, about every two weeks) individually and then rebuilding the extra-dimensional ones (I know, not currently supported, but it is what it is) got annoying very quickly.

[2018-01-12 23:53] Raycoms commented on #2013
Colonies in other dimensions are not supported yet, that might have been a
part of the problem

On Jan 12, 2018 21:49, "ouroborus" <notifications@github.com> wrote:

[2018-01-12 23:55] ouroborus commented on #2013
Could be. Though the colony that appears to have had the issue was in the overworld.

[2018-01-13 01:33] PhoenixRiver commented on #1678
Hello :)

I understand that this is a problem with modded blocks but I might
also suggest that Biomes O' Plenty (which is where this particular
block comes from, never mind any of the other mods that add dirt
types) is a very popular mod that a lot of people like to use and that
it might be nice to work out what the problem is... though I'm willing
to file a bug report with them too I don't expect

[2018-01-13 13:28] MattBeard opened #2015 "Can an emerald block upgrade warehouse yet?"
I have seen that for ages that the warehouse chest had an option for using emerald blocks to upgrade, but this didn't work. I assumed this was not yet implemented. I am now on 1.12.2-0.8.6851 - has this feature been activated yet, or am I going to waste my time if I try collecting emeralds again?

[2018-01-13 13:32] Raycoms commented on #2015
It should work as soon as your warehouse is leve 5.

2018-01-13 13:28 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-13 17:20] Mortenkein opened #2016 "<UNKNOWN> is in need of Shovel at Dim: ..."
### Minecolonies version

1.12.2-0.8.6851

### Expected behavior

Only existing NPCs can request something.

### Actual behaviour

An unknown NPC is in need of a shovel. He can’t be found since he doesn’t exist.

### Steps to reproduce the problem

I do not know.

I crafted a clipboard to cancel this strange request.

[2018-01-13 17:26] Raycoms commented on #2016
We're currently fixing this with an all in one PR, should be out soonish =)

[2018-01-13 17:26] #2016 closed, assigned to nobody

[2018-01-13 18:22] warpdragon opened #2017 "Builder Birch wood/slabs mixed up."
### Minecolonies version

version 0.8.6705

### Expected behavior

- Builder asks for X Birch Wood so he should be holding Birch Wood

### Actual behaviour

- Builder is actually holding Birch Slabs. You have to give him Birch Slabs even though he's asking for Birch Wood.

### Steps to reproduce the problem

1. Request the Builder to build something out of Birch such as the Warehouse
2. Wait for h

[2018-01-14 01:18] kabotnik opened #2018 "Game crashes with a null reference"
### Minecolonies version

version 1.12.2-0.8.6403

### Expected behavior

- Game does not crash

### Actual behaviour

- Game crashes with the following stack trace
[code]

I assume it is related to some mechanic with the farmers and fields, but I am unsure. I have two farmers and four fields planted. I believe I may have had a scarecrow in my inventory as well, but I can't say for sure because th

[2018-01-14 01:26] Raycoms commented on #2018
This is weird I'll push a fix for this tomorrow

On Jan 13, 2018 11:18 PM, "Justin Kabonick" <notifications@github.com>
wrote:

[2018-01-14 01:40] kabotnik commented on #2018
:+1: Thanks! Looking forward to the fix. :)

[2018-01-14 12:41] MattBeard commented on #2015
Level 5... so I need to defeat the Ender Dragon to upgrade my warehouse!!!!!!

[2018-01-14 15:08] MattBeard opened #2019 "My colony is borked!!"
### Minecolonies version

version 1.12.2-0.8.6851

### Expected behavior

- Live in the colony progresses a normal

### Actual behaviour

- Major borkage!
- Many citizens are suddenly unemployed
- Many hut chests are not responding to right-click
- HELP!

### Steps to reproduce the problem

1. Erm...

I can upload a ~180Mb zip to Dropbox if it helps!

Log file attached:
[latest.log](https://github

[2018-01-14 16:10] freshnici opened #2020 "[Suggestion] Trade Station"
I thought it would be cool to have a trainstation or something else like a marketplace to trade with other colonies. Or just to share the inventory of the warehouse.

My idea looks like that:

1. You build a trainstation or marketplace
2. You hire a worker
3. You choose a other colony to trade with or share your inventory or maybe "trade" citizen (of course it needs the building too with worker)
4

[2018-01-14 16:11] Raycoms commented on #2020
Definitely! https://github.com/Minecolonies/minecolonies/issues/81

=D

[2018-01-14 16:11] #2020 closed, assigned to nobody

[2018-01-14 18:06] Raycoms commented on #2018
can you please update to our newest alpha? This should be fixed already

[2018-01-14 18:06] #2018 closed, assigned to nobody

[2018-01-14 18:07] Raycoms commented on #2015
=)

[2018-01-14 18:07] #2015 closed, assigned to nobody

[2018-01-14 18:18] Raycoms commented on #2019
Is the colony dat huge?

[2018-01-14 18:24] Raycoms commented on #2013
I just saw that your version is waaayy behind, I think at the current point our alpha is a better choice, we'll update the beta and release soon with it.

[2018-01-14 18:24] #2013 closed, assigned to nobody

[2018-01-14 18:28] MattBeard commented on #2019
Hmm... it looks like a recent update has split it into colonies.dat and colony1.dat. Maybe the issue is linked to that.

This is both of them:
[minecolonies.zip](https://github.com/Minecolonies/minecolonies/files/1629638/minecolonies.zip)

[2018-01-14 18:33] Raycoms commented on #2019
No, this is supposed to be like it, we have it on the server with 200
colonies where it split all colonies accordingly without any problems.

2018-01-14 18:28 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-14 19:01] ghost commented on #2008
I had pressed delete in the town hall.

On Jan 12, 2018 3:45 PM, "Wissi" <notifications@github.com> wrote:

Well "removing" block will not remove the Town from the World.
There is a command you have to run to permanently delete the information of
the Town from the world.
You must be OP to run the command: /mc colony delete <colonyID>

—
You are receiving this because you authored the thread.
Reply

[2018-01-14 19:01] Raycoms commented on #2008
in the townhall there is a delete button? =O

2018-01-14 19:01 GMT+00:00 LegendaryGeek <notifications@github.com>:

[2018-01-14 19:12] ghost commented on #2008
Yes in the version i have there is.

On Jan 14, 2018 2:01 PM, "Raycoms" <notifications@github.com> wrote:

[2018-01-14 19:13] ghost commented on #2008
I also ran the command too. Before removing the block

On Jan 14, 2018 2:12 PM, "Legendary Geek" <timothydaley4@gmail.com> wrote:

[2018-01-14 19:13] Raycoms commented on #2008
can you send me a screenshot?

2018-01-14 19:12 GMT+00:00 LegendaryGeek <notifications@github.com>:

[2018-01-14 19:18] ghost commented on #2008
I can try but it will have to be in a couple of days beacuse i have an FPS
issue right now. My game keeps dropping to 1 FPS

On Jan 14, 2018 2:13 PM, "Raycoms" <notifications@github.com> wrote:

[2018-01-14 19:18] Raycoms commented on #2008
np

2018-01-14 19:18 GMT+00:00 LegendaryGeek <notifications@github.com>:

[2018-01-15 06:13] warpdragon opened #2023 "[Feature] Indicator for what tool levels a worker can use"
### Suggestion: Tooltip/Indicators for Tool Unlocks

Tooltip or indicator needed on worker/chest UI that shows which tools have been unlocked, which have yet to be  unlocked, and at what level they will be unlocked.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/53783209-tooltip-indicators-for-tool-unlocks?utm_campaign=plugin&utm_c

[2018-01-15 06:18] warpdragon opened #2024 "Same-footprints for all upgrades of a given Building"
### Suggestion: Enforce same-footprints for all upgrades of a given building

To allow for precise site planning, upgrade(s) should not have a different footprint than the original building (# of blocks wide x # of blocks long). Players shouldn't have to redesign their whole layout simply because they need to upgrade a single building. The level 1 footprint should be used as the base. Schematics e

[2018-01-15 07:44] xonear opened #2025 "Villagers will not leave town hall"
minecolonies-universal-1.10.2-0.8.4063

### Expected Behavior

- Villagers leaving the town hall/working

### Actual behaviour

- Villagers reach the block outside of the front door of the town hall and run back inside saying help danger yet there are no hostile mobs in any direction.

Have respawned every villager. Have refreshed the colony.

### Steps to reproduce the problem

1. Recall villager

[2018-01-15 09:11] ryansherring opened #2026 "Supply ship/camp chests empty"
###4.10.1 Minecolonies version (twitch/curse)

###Expected behavior

- chests would appear full in supply chest or supply camp

###Actual behaviour

- supply chests appear empty

### Steps to reproduce the problem
Tried different games and different game modes. In all of them the supply chests consistently spawn empty.

[2018-01-15 09:12] ryansherring commented on #2026
Sorry about the formatting

[2018-01-15 09:14] Asherslab commented on #2026
sorry, that minecolonies version doesn't even exist?
what Minecraft version are you on?

[2018-01-15 09:17] ryansherring commented on #2026
I apologize im new to this. I just downloaded the official package from the twitch client ythat was updated last saturday and my minecraft version is 1.12

[2018-01-15 09:19] Asherslab commented on #2026
Ahh are you talking about the Mincolonies Official modpack?

[2018-01-15 10:17] Raycoms commented on #2024
Totally agree the only schematics not responding to this are old ones and will receive a rescan soon

[2018-01-15 10:17] #2024 closed, assigned to nobody

[2018-01-15 10:18] Raycoms commented on #2025
There is probably some type of mob out there you need to kill for them or hire a guard to do that

[2018-01-15 10:18] #2025 closed, assigned to nobody

[2018-01-15 12:38] MattBeard opened #2030 "Some recipes only work with oak"
### Minecolonies version

version 1.12.2-0.8.6851

### Expected behavior

- Should be able to build most minecolonies items with any wood

### Actual behaviour

- Several recipes require oak

### Steps to reproduce the problem

1. Try various minecolonies recipes with different wood items
2. Find a number fail

For example it seems that a colony ship requires oak boats and won't work with spruce o

[2018-01-15 13:27] xonear commented on #2025
I have journeymap installed and like I said above, there are no hostile mobs in any of the surrounding chunks

[2018-01-15 16:17] Merancau opened #2031 "the town hall, crashed the internal server"
### Minecolonies version

version 0.8.4932 or curse

### Expected behavior

- XXX

### Actual behaviour

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-01-15 16:18] Merancau commented on #2031
When i put the town hall the internal server get close. if you don't understand my english srry

[2018-01-15 16:19] Merancau commented on #2031
can you help me?

[2018-01-15 16:23] Raycoms commented on #2031
Which minecraft version do you use?

2018-01-15 16:18 GMT+00:00 Merancau <notifications@github.com>:

[2018-01-15 16:24] Merancau commented on #2031
version 1.12.2

[2018-01-15 16:25] Merancau commented on #2031
i am playing in mac

[2018-01-15 16:53] #574 closed, assigned to Raycoms

[2018-01-15 17:04] DrConnor opened #2033 "Possible conflict with Minecraft Comes Alive"
### Minecolonies version 1.12.2

Forge #2555

I believe that there is a conflict with MCA. I can place the ship, but when I try to place the town hall, the game crashes me out to my server screen, when I am in single player. I tried moving the colony out of range of the village, and checking my permissions to no success. Nothing in the log file stood out, so I'm going to have to assume that it has

[2018-01-15 17:11] Raycoms commented on #2033
Which minecolonies version are you using?

2018-01-15 17:05 GMT+00:00 DrConnor <notifications@github.com>:

[2018-01-15 18:19] Merancau commented on #2031
hello? some one there?

[2018-01-15 18:54] ryansherring commented on #2026
Yep thats right!

[2018-01-15 19:19] DrConnor commented on #2033
Okay I just noticed that you dropped an update. I'm not at my PC right now, but it was the version before this one. I'll try the new version and see if it fixes the problem.

[2018-01-15 19:20] Raycoms commented on #2033
Can you drop me a log if it doesn't resolve it?

2018-01-15 19:19 GMT+00:00 DrConnor <notifications@github.com>:

[2018-01-15 19:46] warpdragon opened #2034 "Better Barbarian Announcements"
### Suggestion: Better Barbarian Announcements

Implement multiple announcement strings for the barbarian attack system which reflects more accurately the intensity of the incoming attack.

Since early game attacks are often quite weak or non-existence, their announcement string should merely introduce the players to the possibility of needing protection:
- "Mysterious warriors have been spotted n

[2018-01-15 20:47] HashBrownOO7 commented on #1615
Where do you get that jar file @Raycoms

[2018-01-15 20:55] ghost commented on #2008
I have 2 pics. I couldn't get the picture of the button but i have a pic of
them still working and a pic of all my versions i have downloaded. I am
sending this through my email so let me know if you can see them or not.

On Jan 14, 2018 2:18 PM, "Raycoms" <notifications@github.com> wrote:

[2018-01-15 21:00] HashBrownOO7 opened #2035 "Minecolonies Crashes When Town Hall Is Placed"
Minecolonies Universal 1.12.2-0.8.419

forge-1.12.2-14.23.1.2555

MC ver. 1.12.2

Expected behaviour: get your build tool and town hall from the supply camp, use build tool to place town hall, game continues.

Actual behaviour: get your build tool and town hall from the supply camp, use build tool to place town hall, when town all is placed game crashes and sometimes corrupts my world.

Steps to r

[2018-01-15 21:05] Raycoms commented on #2035
Please use a newer minecolonies version.

[2018-01-15 23:46] Merancau commented on #2031
hello?!?!
I need some help! pls!

[2018-01-16 05:12] warpdragon opened #2038 "Rewrite entity.messageBuilderNecessary"
### Tooltip Fix: Rewrite entity.messageBuilderNecessary

String gives players the impression that the builder's level is what matters, when it's actually the level of the builder's hut that matters.

[2018-01-16 08:56] #2035 closed, assigned to nobody

[2018-01-16 14:52] MattBeard commented on #2034
Brilliant - I like these ideas!

[2018-01-16 18:36] Nukerxz commented on #1997
Exactly the same problem here. Can't do it in my server but i can do it in solo.

Minecolonies version : minecolonies-universal-1.10.2-0.9.6847.jar

Edit : I make it worked in multiplayer by doing it in Creative mode. So i think it's an command or permissions problem. Any ideas ?

[2018-01-17 00:16] robstouf3 opened #2041 "Player passes through supply ship. Can't interact with blocks"
Minecolonies version 0.8.6147
Minecraft version 1.12.2
Most recent Yogbox 2 Version

After placing the supply ship, I then attempt to climb the boarding ladder but phase through the ship, as if the blocks don't exist. I can see the ship, but can't interact with any of the blocks.

1. Place Supply ship with bottom layers submerged in water up to the bottom of the ladder
2. Swim to ship
3. Pass thro

[2018-01-17 00:21] #2041 closed, assigned to nobody

[2018-01-17 00:22] robstouf3 commented on #2041
This just in...I found the ACTUAL block you are meant to use. Was using a crafted building wand and trying to build a supply ship that way. Spoilers...it doesn't work.

[2018-01-17 00:25] Raycoms commented on #2041
haha great you figured

2018-01-17 0:22 GMT+00:00 robstouf3 <notifications@github.com>:

[2018-01-17 09:50] Tyffyfee opened #2042 "Problem with the builders wand"
### Minecolonies for minecraft version 1.12.2 (any)

version X.X.XXXX or curse X.X.XX

### Usually you set a supply ship or camp, get a builders wand and the town hall chest, right click a spot for the town hall, get a changeable schematic and when you like it push the check button and the chest ist set.

### In my version of the game after setting a supply ship or camp, the builders wand does´wor

[2018-01-17 12:38] #2038 closed, assigned to nobody

[2018-01-17 12:58] marchermans commented on #2042
Close the UI with esc once you placed the where you want it. Walk a couple of blogs and reopen the UI with a right click of the Building wand into the air.
Now keep pressing the checkmark.

It takes the server a couple of tries sometimes before it registers a click and is done validating,

[2018-01-17 13:21] Raycoms commented on #2030
Besides the boat recipe is there any else?
@MineShadow7 can you create 1 recipe each woodtype for the boats?

[2018-01-17 13:23] Raycoms commented on #2026
This happends when you're in gamemode1, in gamemode 0 it should work well.
I just tested it out.

[2018-01-17 13:23] #2026 closed, assigned to nobody

[2018-01-17 13:27] Raycoms commented on #2009
Please reopen if that didn't fix it.

[2018-01-17 13:27] #2009 closed, assigned to nobody

[2018-01-17 13:27] Raycoms commented on #2008
Tested it out several times, works perfectly for me.

[2018-01-17 13:27] #2008 closed, assigned to nobody

[2018-01-17 13:28] Raycoms commented on #2003
@YutaTakano two possibilities:

a) He found another ladder too close to his hut (will bork him)
b) His hut is too deep (y value) for his building level so you need to upgrade him.

Please reopen of neither fixes it.

[2018-01-17 13:28] #2003 closed, assigned to nobody

[2018-01-17 13:28] Raycoms commented on #2000
Not a problem, thanks =)

[2018-01-17 13:28] #2000 closed, assigned to nobody

[2018-01-17 13:29] Raycoms commented on #1985
Should be fixed now.

[2018-01-17 13:29] #1985 closed, assigned to nobody

[2018-01-17 13:30] Raycoms commented on #1971
Can you explain this a bit better?

[2018-01-17 13:30] Raycoms commented on #1993
Should be fixed by now.

[2018-01-17 13:30] #1993 closed, assigned to nobody

[2018-01-17 13:31] Raycoms commented on #1948
Yeah we have an issue for that already.

Thanks for the report =)

[2018-01-17 13:31] #1948 closed, assigned to nobody

[2018-01-17 13:32] Raycoms commented on #1903
@ouroborus Yeah, I hope the newest alpha resolves this.
We're trying to track this down, but it seems a minecraft error.

[2018-01-17 13:32] #1903 closed, assigned to nobody

[2018-01-17 13:32] #1888 closed, assigned to nobody

[2018-01-17 13:40] MattBeard commented on #2030
I have found a few others, but I can't remember them all. I have a feeling the builders hut may not work with a spruce door though.

[2018-01-17 13:41] MineShadow7 commented on #2030
@Raycoms I've already said that forgeoredict don't have boats in it. Or they've updated that already?

[2018-01-17 13:45] Raycoms commented on #2017
I was unable to reproduce this.

[2018-01-17 13:45] #2017 closed, assigned to nobody

[2018-01-17 14:02] Raycoms commented on #2030
I mean, 1 recipe each boat.
And the builder hut, are doors in it?

2018-01-17 13:41 GMT+00:00 MineShadow7 <notifications@github.com>:

[2018-01-17 14:43] #1846 closed, assigned to nobody

[2018-01-17 16:32] Imrielle opened #2044 "[Bug] Cook error spam"
### Minecolonies version
Alpha 1.12.2-0.8.6905

### Expected behavior
Cook does cook related things

### Actual behaviour
Cook errors and gets paused repeatedly

### Steps to reproduce the problem
1. Open Game
2. Recall workers to townhall because habit
3. Play Game
4. ...
5. Profit

Logfile located here: https://paste.ee/p/Vryyc

[2018-01-17 16:44] webcrafter-fr opened #2045 "Baker "issue""
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6731

### Expected behavior

- My farmer give wheat to my baker
- My baker make bread
- And now two options :
1. Breads are placed in the restaurant
2. Breads are placed in the warehouse

### Actual behaviour

- My farmer produce wheat
- The wheat is placed in the warehouse by the deleverymens
- My baker never get a huge amount of wheat
-

[2018-01-17 16:54] Raycoms commented on #2045
Your baker doesn't get any wheat at all, or only a bit?

[2018-01-17 18:07] Raycoms commented on #1855
Yeah atm the scarecrow is actually only 1 block high, we have to make 2 blocks out of it to make it clickable on the top as well.

[2018-01-17 18:33] #1776 closed, assigned to nobody

[2018-01-17 18:33] #1859 closed, assigned to Raycoms

[2018-01-17 18:33] #1863 closed, assigned to nobody

[2018-01-17 18:33] #1935 closed, assigned to Raycoms

[2018-01-17 18:33] #2034 closed, assigned to Raycoms

[2018-01-17 18:33] #2042 closed, assigned to Raycoms

[2018-01-17 18:33] #2044 closed, assigned to nobody

[2018-01-17 18:39] mvdhoning commented on #1971
With the 'building tool' you get to choose what you want the builder to build and where
e.g. you could choose: decorations birch birchwall or something else.

What i would like to have is a(nother) 'building tool' that may look like a 'blueprint' that does not allow you to choose what you want to build but instead has decoration birch birchwall embedded in for example nbt data (or via config file)

[2018-01-17 18:54] Raycoms commented on #820
I will close this here, it's something so far in the future. We shouldn't clutter this around here.

[2018-01-17 18:54] #820 closed, assigned to nobody

[2018-01-17 18:54] Raycoms commented on #593
Should be fixed.

[2018-01-17 18:54] #593 closed, assigned to nobody

[2018-01-17 18:59] Raycoms commented on #1670
Please reopen if reaccurring.

[2018-01-17 18:59] #1670 closed, assigned to nobody

[2018-01-17 20:37] connoisseur-demiurgo commented on #1871
![cactus_wood_1 13_preview_400___360](https://user-images.githubusercontent.com/17484186/35065798-76d11a26-fbb5-11e7-90da-d8108f9e9ccd.png)

[2018-01-18 08:30] Asherslab commented on #1971
Okay i see what you mean, basically:
A build tool item, except the item spawns with a specific preset (locked) schematic to use, thus allowing for "gifting" schematics (Maybe even synch over server to share with over players???) also the ability for "loot" schematics and etc

[2018-01-18 09:14] marchermans commented on #1971
Yes this would be something very cool. Especially if we would lift the builder level requirements for that building. Seeing it as a guide for the builder.
So say you get a barracks level 4 (extreme rare) but still have a builder level 1 he should be able to build this building exactly once (by using the schematic)

[2018-01-18 12:51] #638 closed, assigned to marchermans

[2018-01-18 14:42] copperwarrior opened #2048 "[Suggestion] Modifiable Raider Messages"
While the addition of different raider messages corresponding to the various difficulty level is nice, a config option to change the raider announcements would be even better. I'm playing a Minecolonies game with more of a "medieval" setting, and it's rather peculiar whenever we get the "western" style message from the raider announcement. (specifically the "Buckle up, cowboy," announcement.) Alte

[2018-01-18 14:51] marchermans commented on #2048
All lang files are editable by using minecrafts resource pack mechanics. Simply target minecolonies as a domain instead of Minecraft.

[2018-01-18 14:51] #2048 closed, assigned to nobody

[2018-01-18 18:31] mvdhoning commented on #1971
**Yes i want a build tool item that is locked to a specific preset schematic that looks like a blueprint.**

It would be nice to be able to set the preset locked schematic via nbt as that is configurable via craftweaker. Will be great for modpack makers.

With [craftweaker](https://minecraft.curseforge.com/projects/crafttweaker) one can 'make' those build tools with nbt and assign them to loot etc

[2018-01-18 18:49] figtito commented on #2013
I'm having the same problem. My fml-junk-earlystartup keeps growing until it crashes the server. It reaches over 12 gigabytes overnight. I'm running 6954 and it still does it. Is there any way to turn off the logging?

This is what it fills with and debug logging is set to false.

[12:42:35] [Server thread/DEBUG] [minecolonies]: Found matching Factory for Primary input type.
[12:42:35] [Server thr

[2018-01-18 18:51] Raycoms commented on #2013
can you show us your config file?

2018-01-18 18:49 GMT+00:00 figtito <notifications@github.com>:

[2018-01-18 19:10] figtito commented on #2013
# Configuration file

general {

    ##########################################################################################################
    # gameplay
    #--------------------------------------------------------------------------------------------------------#
    # All configuration related to gameplay
    ##################################################################################

[2018-01-18 19:16] Raycoms commented on #2013
Thanks, @OrionDevelopment , ideas?

[2018-01-18 20:38] marchermans commented on #2013
Yeah he set the Log4J logging Level to DEBUG.
Which prints all Kinds of crap including the debug Level of the SFC.

[2018-01-18 20:49] figtito commented on #2013
Any idea where I locate that? This is an Ubuntu 16 server running Apache and Java 8.

[2018-01-18 20:50] Raycoms commented on #2013
can you send us the script you use to start the server?

2018-01-18 20:49 GMT+00:00 figtito <notifications@github.com>:

[2018-01-19 01:16] figtito commented on #2013
I was using the Mark2 server wrapper. Just to rule it out I started the server with a simple script and the log file still continued to be spammed with the minecolonies entries. It grew to almost 2 gigs in 2 hours. This is the script I used to start the server.  java -Xmx6G -Xms1G -jar forge-1.12.2-14.23.1.2586-universal.jar nogui

[2018-01-19 05:31] mgwerner opened #2051 "Invisible Racks"
### Minecolonies version

minecolonies-universal-1.11.2-0.8.6843

### Expected behavior

- Racks should be visible

### Actual behaviour

- Warehouse level 3, after logging racks are invisible.  Can be accessed by right clicking, and can move items to and from.  Moving item into rack inventory and closing GUI makes the rack visible.  No materials are lost.

### Steps to reproduce the problem

1. L

[2018-01-19 05:33] mgwerner opened #2052 "Suggested Feature"
1. Craftable clipboard which will clone resources needed list from builder
2. carry clipboard so that you can craft things needed
3. ...prevents running back and forth to see what is needed, saving time with especially large build
4. Profit

[2018-01-19 06:54] marchermans commented on #2052
Sorry no. I have thought about this when i designed the clipboard. You can already see what the entire colony needs from you and directly fullfill its requests from it, regardless from where you are.

Giving the player the ability to craft would be very op.

We are however working on making the builder request all resources at once.

[2018-01-19 07:07] Asherslab commented on #2052
@OrionDevelopment i think he meant that it would show only the stuff of the specific worker you want to `which will clone resources needed list from builder` and then He can know what to craft, not that the thing itself crafts the items

[2018-01-19 07:14] mgwerner commented on #2052
Indeed, I am simply looking to be able to see what is needed without the back and forth, not to make supplying the materials easier.  I understand what you mean, I think, in that the clipboard would be op if able to fulfill requests from it, no matter the player location, and I agree completely.  Thanks

[2018-01-19 07:17] marchermans commented on #2052
I understood very clearly what he wanted. And even though i am having somewhat of a bad day. It does not change what i mean. Especially with the crafting update Coming out. The clipboard was designed as a last resort for the rs to drop requests. It even allows you to see them coming 3 minutes ahead of time.

I have planned to make it more sophisticated in the future. But I do not think restricting

[2018-01-19 07:23] mgwerner commented on #2052
I was not aware of that purpose of the clipboard, since, as it stands now, I am getting no requests through it.  What you have described fulfills my suggestion, and then some.  I can see your point that the clipboard passing all requests is even more useful to the player, and I had not thought about requests other than the Builder.
Thanks for the explanation, the quick responses, and above all, fo

[2018-01-19 07:25] marchermans commented on #2052
Try shift right clicking it on any building. It will show all requests that might eventually end up in your chat box or already have.

[2018-01-19 07:31] Asherslab commented on #2052
okay apologies, i was not sure if you understood :smile:

[2018-01-19 07:31] #2052 closed, assigned to nobody

[2018-01-19 07:48] mgwerner commented on #2052
I was having trouble getting the clipboard to register.  Kept sneak right clicking the book in the Town Hall to no effect.  Tried several other buildings, got it to work with a Citizen Hut.  First request is listed now.  Thanks again, this is part of what I was asking.

[2018-01-19 07:50] marchermans commented on #2052
No Problems. The UI will improve over time. But right now, there are so few requests made simultaniously that you can see them in one go anyway. We are working on the builder making say 5 requests at once. But that is still a bit in the future.

[2018-01-19 07:51] marchermans commented on #2013
Jog4j is not configured with a script but with a config file
Usually some were in the root.

Try searching for a jog4j.xml file.

[2018-01-19 13:07] #1987 closed, assigned to MineShadow7

[2018-01-19 14:48] figtito commented on #2013
I searched the entire server and there is no log4j.xml file. I think we're barking up the wrong tree though because I've been running the Minecolonies mod for almost a month now and this problem just started two days ago. Also it's only the Minecolonies mod that is filling up the log file. There no other entries in there besides a handful when the server starts.

[2018-01-19 14:59] Raycoms commented on #2013
We are logging this yes, but it is deactivated. For 99% of our users its
working great. Some type of config setting on your server causes this.

2018-01-19 14:48 GMT+00:00 figtito <notifications@github.com>:

[2018-01-19 19:32] johnnye152 opened #2055 "Newer Minecolonies versions crashing on launch (again)"
Hello again,

Previously I raised an issue with minecolonies crashing on forge loadup (See: Newer Minecolonies Versions not working (Forge crash during minecraft startup) #1845)

This issue was closed when version 6037 worked. Unfortunately the same issue arrises with using newer than v6037 of minecolonies. I've tried updating to latest forge and also the latest minecolonies (v6990). I've tried th

[2018-01-19 19:36] Raycoms commented on #2055
This occurs with which forge version? Did you try several?

2018-01-19 19:32 GMT+00:00 johnnye152 <notifications@github.com>:

[2018-01-19 19:50] mgwerner opened #2056 "Nether with No Fortress"
### Minecolonies version

minecolonies-universal-1.11.2-0.8.6843

### Expected behavior

-Normal nether with large open areas, fortresses, etc.

### Actual behaviour

- Portal opens at height 6 in a small cavern.  Digging up gets me to an open almost like normal nether, but no structures, and a low ceiling.  Digging up through this finds the ceiling at about height 150, flat with recesses with str

[2018-01-19 19:52] Raycoms commented on #2056
We don't mess at all with the nether, must be another mod.

[2018-01-19 19:52] #2056 closed, assigned to nobody

[2018-01-19 19:53] mgwerner commented on #2056
OK, thanks

[2018-01-19 20:34] johnnye152 commented on #2055
I did try several:
Versions: 2555
               2562
               2584

I'll try the latest now.

[2018-01-19 20:37] johnnye152 commented on #2055
Just tried 2599 and same problem occurred.

[2018-01-19 20:42] Raycoms commented on #2055
Where did you download it? On curse?

2018-01-19 20:37 GMT+00:00 johnnye152 <notifications@github.com>:

[2018-01-19 21:10] marchermans commented on #2055
You are using the deobf jar. It is for development only.

[2018-01-19 21:10] #2055 closed, assigned to nobody

[2018-01-19 22:53] AlexandrePavy commented on #1985
Hello, i update to 1.12.2-0.8.6990 and my cook crash again (it doesn't freeze anymore)

[cook-crash-console.txt](https://github.com/Minecolonies/minecolonies/files/1648110/cook-crash-console.txt)

i have also my Delivery man crash

[delivery-man-crash-console.txt](https://github.com/Minecolonies/minecolonies/files/1648114/delivery-man-crash-console.txt)

Thanks !

[2018-01-19 23:08] Raycoms commented on #1985
The dman will be fixed soon, the cook I'll fix =)

2018-01-19 22:53 GMT+00:00 Alexandre PAVY <notifications@github.com>:

[2018-01-20 00:31] Raycoms commented on #2051
Is there a way to reproduce this? I'm trying for a while already, but I can't seem to find a way =/

[2018-01-20 00:32] figtito commented on #2013
Just for troubleshooting purposes, I moved the Minecraft server over to a Windows machine as this is a completely different server than the ubuntu 16 that it normally runs on. The same thing happened there. Within 5 hours the log file was over 2 gigs in size. I'm going to remove Minecolonies next to see what happens.

[2018-01-20 00:33] Raycoms commented on #2013
The output is definitely from minecolonies, the thing is, the output is not
supposed to happen if you didn't configure it this way. It doesn't happen
on our official and test server as well.

2018-01-20 0:32 GMT+00:00 figtito <notifications@github.com>:

[2018-01-20 02:27] shxlbyt opened #2057 "TOWNHALL ISSUES"
The townhall disconnected from the game right when I placed it and I used the universal one. I spent so much time in that world and now I can't open and play it cause it doesn't work because of the town hall.

[2018-01-20 04:41] mgwerner commented on #2051
It happens every time I go far away or to the nether and come back.  In those cases, I can interact with the racks and they become visible.  If I die, I have to log out and back in in order to interact with them.

I have the iron chest mod, which also has an invisible chest issue.  I took the mod out, in case it was related to that.  Same problem, racks in the warehouse are invisible.

[2018-01-20 06:51] marchermans commented on #2057
Log and version numbers please.

[2018-01-20 06:52] marchermans commented on #2013
Zip up your entire server and upload somewhere please.

[2018-01-20 07:10] ProsperCraft opened #2058 "Server crash on load com.minecolonies.api.compatibility.CompatabilityManager.readFromNBT"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6990

### Actual behaviour

- https://gist.github.com/ProsperCraft/9de565ac153ed5265e2b5d116a75a398

[2018-01-20 07:21] ProsperCraft commented on #2058
I quit trying to load the server, then loaded it again, and now my colony is deleted.

[2018-01-20 07:32] marchermans commented on #2058
Did you remove a mod or something?

[2018-01-20 11:39] #2030 closed, assigned to MineShadow7

[2018-01-20 12:29] Deathcofi opened #2060 "Guards attacking Owner"
### Minecolonies version

version 0.8.4908

### Expected behavior

- Guards ignore Owners

### Actual behaviour

- Guards follow and attack Owners without losing focus

### Steps to reproduce the problem

1. Hire a Guard, any type (fresh or old colony, doesn't matter)
2. Attack Guard in any way (Punch, Arrow, THORNS enchantment - reason I have created this thread)

The Guard will proceed to attack

[2018-01-20 12:30] Raycoms commented on #2060
Running away for a minute should fix that as well.

[2018-01-20 12:30] #2060 closed, assigned to nobody

[2018-01-20 13:59] figtito commented on #2013
Do you want just the Minecraft directory? Since it does the same thing on two different servers on two different operating systems it would reason that its something within the Minecraft folder.

[2018-01-20 14:07] Raycoms commented on #2013
Yes

2018-01-20 13:59 GMT+00:00 figtito <notifications@github.com>:

[2018-01-20 15:49] ProsperCraft commented on #2058
No

[2018-01-20 17:12] Raycoms commented on #2058
It seems it has been fixed by the mod owners.

[2018-01-20 17:12] #2058 closed, assigned to nobody

[2018-01-20 18:20] #2045 closed, assigned to Raycoms

[2018-01-20 18:33] Raycoms commented on #1800
The issue is else we would have to scan too big of an area. it assumes it is as it was before and only the builder worked around it. Else only a bit stays behind you can easily remove by clicking on it =)

[2018-01-20 18:33] #1800 closed, assigned to nobody

[2018-01-20 18:33] Raycoms commented on #1808
Does this still happen? If yes please reopen

[2018-01-20 18:33] #1808 closed, assigned to nobody

[2018-01-20 19:33] Raycoms opened #2064 "Schematic to NBT transformer"
Would be nice to have some sort of tool to transform .schematics to .nbt easily.
Would be handy to have since there are a lot of .schematics out there.

[2018-01-20 22:51] shxlbyt commented on #2057
minecolonies-universal-1.12.2-0.8.4932.jar
and I don't know what log is

[2018-01-20 22:53] Raycoms commented on #2057
Please update to the latest version

[2018-01-20 22:53] #2057 closed, assigned to nobody

[2018-01-21 00:42] RetsnomKcor opened #2065 "Builder not acknowledging build requests"
### Minecolonies version

Happens in at least Minecolonies versions 0.8.6471 and up for 1.12, as well as 0.8.6960 for 1.11.2 ( I didn't check earlier versions than those, so more versions might be affected as well).

### Expected behavior

- Builder builds buildings

### Actual behaviour

- After finishing the builders' hut and the town hall, the builder just stands around and ignores any further

[2018-01-21 00:50] Raycoms commented on #2065
Can you give us a mod and plugin list?

2018-01-21 0:42 GMT+00:00 RetsnomKcor <notifications@github.com>:

[2018-01-21 01:11] RetsnomKcor commented on #2065
Only mods installed aside from Minecolonies are
- Journeymap 5.5.2
- JEI 4.8.5.138
- The One Probe 1.4.19

Using Forge version 14.23.1.2583.

[2018-01-21 01:14] Raycoms commented on #2065
can you send us the world?

2018-01-21 1:11 GMT+00:00 RetsnomKcor <notifications@github.com>:

[2018-01-21 01:30] RetsnomKcor commented on #2065
[This](https://github.com/Minecolonies/minecolonies/files/1649444/Test.53.zip) is the first world I encountered it in.

[2018-01-21 01:33] Raycoms commented on #2065
Will check it out tomorrow morning =) thanks

2018-01-21 1:30 GMT+00:00 RetsnomKcor <notifications@github.com>:

[2018-01-21 06:08] Landstryder commented on #2019
We had the same issue after server I playing on updated to the latest version. Many of of the hut blocks became inoperable. Everyone was unemployed and apon replacing them by the OP many of the former guards took up new profession and still had there armor on. Also the miner will not get back to work even after having his hut replaced by the OP and after that still not working after replacing the

[2018-01-21 07:19] blacksythe commented on #1692
Simplest solution is expand the current config file option into something that intergrates into shop and server management plugins. Leaving the config option in place where patreons can be added/removed manually and/or automatically and updated when the mod updates. (short term) Later you would want a system that has patreon intergration that automatically requests that information keeping the con

[2018-01-21 07:54] Landstryder opened #2066 "Miner confused after update"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6934
in the Colonial Engineers pack on the public server

### Expected behavior

- Get back to mining after version Upgrade
- Keep node data if hut block is broken and replace to exact same spot

### Actual behaviour

- Block becomes non interactable and miner is now unemployed (this was the case with nearly every hut block in my city but

[2018-01-21 14:21] Raycoms commented on #2066
Is it possible that you use techreborn? That caused an issue which made colonies not load, just update to their newest version.
About th eminer, yes that's perfectly normal, if you remove the block it will lose its levels and its shaft you have to place th eminer building at a new location. We can't store all past building data if we can't say wether a player destroyed a building by accident or no

[2018-01-21 14:21] #2066 closed, assigned to nobody

[2018-01-21 19:05] lebanni opened #2069 "server crash on client connection"
### Minecolonies version

updating from 0.8.6996 to 0.8.7011 (MC 1.12.2)

[https://gist.github.com/lebanni/2196710bc60516a9ba33ef300caa4540](url)

[https://gist.github.com/lebanni/9f04e02c3985a5f02df04a84258d06e5](url)

[2018-01-21 19:10] Raycoms commented on #2069
Added a hotfix in my current PR

[2018-01-21 20:58] Frosted-Buns opened #2070 "Builder Generating infinite slabs trying to upgrade to builder hut 2"
### Minecolonies version

version 0.8.4908 or curse X.X.XX

### Expected behavior

- Builder upgrading hut to tier 2

### Actual behaviour

- Builder standing still with slab in hand even when it's no longer need and quickly generating infinite slabs https://i.imgur.com/3eqKfwU.gif

### Steps to reproduce the problem

1. Assign anyone to builder
2. set builder hut to upgrade to tier 2
3. builder g

[2018-01-21 20:59] Frosted-Buns commented on #2070
I'd also like to note that I've tried switching builders, turning upgrade on and off again, and even killing the builder and making a new one

[2018-01-21 21:04] Raycoms commented on #2070
Please update to the newest alpha or beta.

[2018-01-21 23:48] Frosted-Buns commented on #2070
Ah, that worked, thanks.

[2018-01-21 23:48] #2070 closed, assigned to nobody

[2018-01-22 06:00] wilsondgonzales opened #2071 "Can't interact with buildings"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7011.jar

### Expected behavior

access to building chests

### Actual behaviour

can't rclick townhall, farmer, delivery hut. Builder works. Haven't played in a while so i'm seeking advice on how to proceed. /mc colonies list still shows my colony. and i still see workers working etc.

[2018-01-22 10:35] Raycoms commented on #2071
Do /mc colony refresh

On Jan 22, 2018 04:00, "Wilson Gonzales" <notifications@github.com> wrote:

[2018-01-22 11:10] #480 closed, assigned to Raycoms

[2018-01-22 11:10] #2069 closed, assigned to nobody

[2018-01-22 12:32] ProsperCraft opened #2072 "Client Crash - When using scroll bar."
### Minecolonies version

- minecolonies-universal-1.12.2-0.8.6996

### Actual behaviour

- https://gist.github.com/ProsperCraft/f129b7c4c282c06ba42002eaa3dfbbe3

### Steps to reproduce the problem

1. I was scrolling down to see what the builder needed.

[2018-01-22 12:48] Raycoms commented on #2072
Pushed a hotfix

[2018-01-22 12:48] #2072 closed, assigned to nobody

[2018-01-22 14:53] ProsperCraft opened #2073 "Server crash - minecolonies.coremod.colony.buildings.AbstractBuilding"
### Minecolonies version

- minecolonies-universal-1.12.2-0.8.6996
- forge-1.12.2-14.23.1.2598-universal

### Actual behaviour

- https://paste.fedoraproject.org/paste/SH0JvezU0HAmVF5gZl5Lxg

### Steps to reproduce the problem

The crash was just in my crash-reports folder when I woke up.

[2018-01-22 14:55] ProsperCraft opened #2074 "Server Crash - com.minecolonies.coremod.colony.buildings.BuildingFarmer.serializeToView"
### Minecolonies version

- minecolonies-universal-1.12.2-0.8.6996
- forge-1.12.2-14.23.1.2598-universal

### Actual behaviour

- Server crash on login.
- https://paste.fedoraproject.org/paste/LXHnbwBehFuKahs7R6ZhSA

### Steps to reproduce the problem

Log in.

[2018-01-22 16:07] Ragnarok96 opened #2075 "Server Crashed and Crashes on start up due to mod"
### Minecolonies version

version was on beta from 17/01 now using latest alpha on 22/01 hasn't fixed problem.

### Expected behavior

Server wont crash

### Actual behaviour

Server was crashed and the crashes as soon as its done loading always with the same minecolonies error

### Steps to reproduce the problem

1. ???
2. Crash.

See all the attached crash logs.

[crash-2018-01-22_15.37.15-serve

[2018-01-22 16:33] pyscho974 opened #2076 "pickaxe"
### Minecolonies version  minecolonies-universal-1.12.2-0.8.6934

version X.X.XXXX or curse X.X.XX

### Expected behavior miner would continue mining

- XXX

### Actual behaviour miner stuck requesting diamond pickaxe

acts like does not recognize diamond pickaxe in inventory
- YYY

### Steps to reproduce the problem build mine and hire employee

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-01-22 16:46] Raycoms commented on #2076
The worker only recognizes it if the building level is high enough.

[2018-01-22 16:46] #2076 closed, assigned to nobody

[2018-01-22 16:46] #2071 closed, assigned to nobody

[2018-01-22 16:55] #2073 closed, assigned to Raycoms

[2018-01-22 16:55] #2074 closed, assigned to Raycoms

[2018-01-22 16:55] #2075 closed, assigned to Raycoms

[2018-01-22 17:31] Raycoms commented on #2066
Fix will come soon with the crafting update for that issue =)

2018-01-22 17:16 GMT+00:00 pyscho974 <notifications@github.com>:

[2018-01-22 21:20] IamAlathe commented on #1871
So, will the lumberjack ( or perhaps someone else) plant/harvest cacti?

[2018-01-22 21:39] MineShadow7 commented on #1871
Maybe farmer can do this job.

[2018-01-23 07:56] ProfIPFreely opened #2079 "Builder in loop asking for diamond level pick"
### Minecolonies version

version 1.12.2-0.8.6983

### Expected behavior

- building the town hall

### Actual behaviour

1. asking for diamond level pick
2. going to work space for town hall
3. returning to builders hut
4. goto1
There is nothing that should require a diamond level pick to break, which makes it more annoying.
### Steps to reproduce the problem

1. Assigned new builder
2. Fired bot

[2018-01-23 08:39] ProfIPFreely commented on #2079
problem persists in 1.12.2-0.8.7080, same pattern and bug

[2018-01-23 09:25] Asherslab commented on #2079
and there are no obsidian or etc blocks in the area (do remember that it may be under the ground or not visible) that require a diamond pick to mine? also does it work if you do give him a diamond pick? does he work without a diamond pick? (iron or etc)

[2018-01-23 17:51] IamAlathe commented on #1871
That also makes sense.  My first thought was lumberjack because plank/wood.  But can farmers work outside of fields?  I've never tried, and with some of the vanilla cactus mechanics (on sand, nothing next to it, causes damage) that might not work well.

[2018-01-23 18:27] ProfIPFreely commented on #2079
There is nothing that should require a diamond pick. I cleared out the area to check. Cleared out ground level, and the one below. APperently is was thinking rutile ore was diamond level? It's iron, but they're working now.

[2018-01-23 18:35] Raycoms commented on #2079
It is possible that rutile ore has implemented it somehow wrongly and that's why we detect it as diamond level.

[2018-01-23 18:55] #2079 closed, assigned to nobody

[2018-01-24 13:04] MattBeard opened #2084 "Oh come ON!!! Yet again my DMan is broken!!!"
### Minecolonies version

version 1.12.2-0.8.7133

### Expected behaviour

- The game is playable!

### Actual behaviour

- Yet again my deliveryman has stopped working.

### Steps to reproduce the problem

1. Install Minecolonies
2. Regularly contribute on Patreon
3. Get fed up with all my colonies getting fatally broken
4. I may stop playing ;-(

Yes, OK, I am upset and not necessarily being rat

[2018-01-24 13:10] Raycoms commented on #2084
Does he throw something in the log?

2018-01-24 13:04 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-24 13:53] MattBeard commented on #2084
Here is the latest log...
[latest.log](https://github.com/Minecolonies/minecolonies/files/1660049/latest.log)

[2018-01-24 13:57] MattBeard commented on #2084
The previous log is more interesting... all the "warehouse full" messages are caused by the replacement warehouse being built while the delivery man is wanting to try and use it.
[2018-01-24-4.log](https://github.com/Minecolonies/minecolonies/files/1660062/2018-01-24-4.log)

[2018-01-24 13:59] Raycoms commented on #2084
can you check if /mc colony rs reset yourcolonyId fixed it?

2018-01-24 13:57 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-24 14:02] MattBeard commented on #2084
I guess I execute this inside the game (in a chat window) - just need to figure out my colony id - where is the best place to find that?

[2018-01-24 14:03] Raycoms commented on #2084
do /mc colonies list

2018-01-24 14:02 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-24 14:08] MattBeard commented on #2084
"You do not have permission to use this command"

/me weeps!!!

[2018-01-24 14:12] Raycoms commented on #2084
open the world to be a lan world and allow commands, this will allow you
temporarily to execute this.

2018-01-24 14:08 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-24 14:27] MattBeard commented on #2084
Half worked...

Opening the world to the LAN allowed me to execute the commands (nice trick, thanks)

However... still stuck dumping ;-(

[2018-01-24 14:33] MattBeard commented on #2084
***STOP PRESS***
It is now working!

[2018-01-24 14:36] MattBeard commented on #2084
Initially I did the reset and my builders restarted their jobs, and the dman was gathering only (not delivering as far as I could tell)

I then went to a miner who was stuck waiting for a pickaxe and cancelled his request to try and get it re-added to the queue. This cause a Java Crash.

I then restarted and watched and saw the dman stuck in "dumping"

This may have been re-triggered by the miner

[2018-01-24 14:39] MattBeard commented on #2084
Here is the log with the crash - in case that helps
[2018-01-24-6.log](https://github.com/Minecolonies/minecolonies/files/1660169/2018-01-24-6.log)

[2018-01-24 14:45] Raycoms commented on #2084
We have constructed a fix for the corruption of a few requests which we'll
push with some other fixes in the next days.

2018-01-24 14:39 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-24 18:37] yotthani opened #2085 "[1.10.2] Server crash on Tick"
### Minecolonies version

version 1.10.2-0.9.7104.jar

**1.**

PM
Description: Exception in server tick loop

java.lang.NullPointerException: Exception in server tick loop
	at com.minecolonies.coremod.colony.CitizenData.setWorkBuilding(CitizenData.java:610)
	at com.minecolonies.coremod.colony.CitizenData.onRemoveBuilding(CitizenData.java:534)
	at com.minecolonies.coremod.colony.managers.BuildingMa

[2018-01-24 18:39] Raycoms commented on #2085
Can you report this please to exterminatorjeff.undergroundbiomes.common.
block.UBOreSedimentary. since their blockState implementation has a bug
like the one of techreborn had.
https://github.com/TechReborn/TechReborn

2018-01-24 18:38 GMT+00:00 yotthani <notifications@github.com>:

[2018-01-24 18:49] yotthani commented on #2085
ok just did .. so skip number 2 👍

[2018-01-24 19:28] Lordbaane opened #2086 "Babysitting the Builder"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7133

### Expected behavior

- Builder checks chest and finds items for build

### Actual behaviour

- Have to pull from chest and give it to him directly

### Steps to reproduce the problem

1. Recalled him
2. exited and restarted world
3. picked up items and put them back, didn't take them and came back, only filling request works.
4. P

[2018-01-24 19:28] Lordbaane commented on #2086
Also, he seems to have a problem with level 2 barracks. He just sits there.

[2018-01-24 20:38] Lordbaane commented on #2086
I did a reset you recommended from another thread. It looks like it might have worked.

[2018-01-24 23:36] Lordbaane commented on #2086
It worked for a while, now I'm back to babysitting.

[2018-01-24 23:48] copperwarrior commented on #2086
Orion, this seems like the same issue I had while testing, with the builder ignoring his chest.

[2018-01-25 02:10] ninjadcb opened #2087 "Builder Breaking"
1.11.2-0.8.4904

Upgrading my Builder's Hut

Saying "I'm waiting for the rain to stop" when there was no rain.
1. Have some rain appear
2. do /weather clear to clear the weather
3. sometimes the builder will forever say "I'm waiting for the rain to stop
4. Killing them spawns a new person, but they will forever be looking for a job.

[2018-01-25 03:09] Imrielle commented on #2086
Yep, same issue I mentioned in Discord, I'm digging a pit for lava to roast the builder in now >.>

[2018-01-25 03:11] Justen-N commented on #2087
attempt to fire/rehire, or do /mc colony refresh. The request system still
isn't 100%

On Wed, Jan 24, 2018 at 7:10 PM, ninjadcb <notifications@github.com> wrote:

[2018-01-25 07:45] marchermans commented on #2087
This has nothing to do with the RS. There is only one state the RS is active for and that is waiting for X Item.
I have not seen it doing this.

He can try to run: /mc colony rs reset <ColonyId>

[2018-01-25 07:46] marchermans commented on #2086
Hmm.
I tested that twice.
Broken again blah.

[2018-01-25 08:58] marchermans commented on #2086
@Imrielle @copperwarrior @Lordbaane I have been debugging this this morning, turns out this is because of an item duplication bug.
Let me explain:
Right now a player or a building can overrule a request with an matching itemstack regardless of size. (This is so that you can get the Builder going with only a partial result, say 32 Items when he requests 64). However when this is a crafting request.

[2018-01-25 12:55] MattBeard commented on #2084
OK - I am now getting a lot of citizens with open requests and the "resolver" is marked as "Player"

This does not go away when I to an "rs reset" - sometimes after I fulfil a few for a worker they start using the warehouse again, then they go back to expecting me to resolve. Is this something the new fixes solve?

[2018-01-25 13:47] MattBeard commented on #2084
Ah... note to self:
Do not open the game to LAN (to get commands working) then after a while press escape to pause, then go off and have lunch. You will come back to a "you died" screen as LAN games don't pause!!

[2018-01-25 14:14] marchermans commented on #2084
Player resolving means that it requires something from you

[2018-01-25 14:15] marchermans commented on #2084
Check the clipboard.

[2018-01-25 14:22] Lordbaane commented on #2086
Does that resetting thing help at all then? Or is there another command that will work to start him up?

[2018-01-25 14:23] Raycoms commented on #2086
We are currently working on a solution.

2018-01-25 14:22 GMT+00:00 Lordbaane <notifications@github.com>:

[2018-01-25 16:17] MattBeard commented on #2084
After being seriously killed (see above) my colony seems to be behaving itself better. I will post details about the clipboard if/when it gets confused again.

Re: "Player resolving means that it requires something from you" - yes, I understand that, but why is a builder (or miner etc.) asking me for things that are in the warehouse and the deliveryman should resolve?

[2018-01-25 16:35] marchermans commented on #2084
Because right now, the priority based resolved resolvers are broken.
So it is a bit of a gamble what gets the job. You will need to cancel it until your luck is better, or do it yourself. A fix for it is already on the way to the testers.

[2018-01-25 16:36] MattBeard commented on #2084
It got confused again...

My builder wants me to supply a block of coal, however there are two blocks in the warehouse. The clipboard does not show this request.
<img width="966" alt="screen shot 2018-01-25 at 16 33 02" src="https://user-images.githubusercontent.com/835593/35400004-965a1346-01ed-11e8-8fa4-497e002d77e0.png">
<img width="966" alt="screen shot 2018-01-25 at 16 30 22" src="https://use

[2018-01-25 16:44] marchermans commented on #2084
Hmm
Wait what.....

[2018-01-25 16:44] marchermans commented on #2084
Show me a screenshot from his request ui

[2018-01-25 16:45] MattBeard commented on #2084
This?
<img width="966" alt="screen shot 2018-01-25 at 16 31 17" src="https://user-images.githubusercontent.com/835593/35400593-1a0be682-01ef-11e8-807b-bc9282ec1532.png">

[2018-01-25 16:48] Raycoms commented on #2084
You can check this jar:

https://s3.eu-central-1.amazonaws.com/minecolonies/Minecolonies/Minecolonies_Branches/7176/minecolonies-universal-1.12.2-0.8.7176.jar

if it improves things.

2018-01-25 16:45 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-25 16:48] marchermans commented on #2084
Okey yeah you ran into the bug that is on the way to be fixed

[2018-01-25 16:48] marchermans commented on #2084
Give me some time to run it by our testers

[2018-01-25 16:49] marchermans commented on #2086
So I fixed this

[2018-01-25 16:49] marchermans commented on #2086
Build is on the way to the testers

[2018-01-25 16:57] MattBeard commented on #2084
7176 installed and it did not immediately fix, but I assumed the duff data was stuck, so I cancelled the request and after going to the building being upgraded and staring for ages, she returned to her hut and asked the warehouse for the block of coal. I will keep running this version and let you know if it happens again.

Thanks!

[2018-01-25 17:36] MattBeard commented on #2084
Update on 7176 performance... still getting requests allocated to the player (and NOT appearing on the clipboard) but cancelling them seems to get them reallocated and the warehouse tends to pick them up. Hmmm.....

Oh... and the clipboard is forever causing Java crashes!!

[2018-01-25 17:42] Raycoms commented on #2084
Logs for the java crashes please

2018-01-25 17:36 GMT+00:00 MattBeard <notifications@github.com>:

[2018-01-25 18:00] MattBeard opened #2088 "Aquatic Barbarians!!"
### Minecolonies version

version: anything recent, in this case 7176

### Expected behaviour

- Barbarians spawn somewhere sensible

### Actual behaviour

- Barbarians seem to love spawning well out to sea!!

### Steps to reproduce the problem

1. Build a colony on an island, peninsular, or in fact anywhere near the ocean
2. Wait for barbarians to spawn
3. Wonder why they almost always seem to sp

[2018-01-25 18:01] Raycoms commented on #2088
Yeah we plan on making them pirates in this case =)
For now that's okay if they spawn there.

[2018-01-25 18:01] #2088 closed, assigned to nobody

[2018-01-25 18:04] MattBeard commented on #2088
Just for context... here is the border (they had been swimming for quite a while when I spotted them, so they may have started even further out)
<img width="966" alt="screen shot 2018-01-25 at 18 01 39" src="https://user-images.githubusercontent.com/835593/35404177-f3e84440-01f9-11e8-9883-dc811ba1f34d.png">

Oh... and the big problem is that they tend to arrive well after all the workers are back

[2018-01-25 18:09] Raycoms commented on #2088
Yeah we try to spawn them as far out as possible atm to give the player time to react =)

[2018-01-25 21:00] Raycoms commented on #2084
I will close this here in favor of the pull request. If the dman problem and the crashes continue to occur please open a new issue with a log.

Please also do /mc colonies rsResetAll after upgrading to the next version.

[2018-01-25 21:00] #2084 closed, assigned to nobody

[2018-01-25 21:00] Raycoms commented on #2084
https://github.com/Minecolonies/minecolonies/pull/2089

[2018-01-25 21:00] #2065 closed, assigned to nobody

[2018-01-25 21:00] #2085 closed, assigned to nobody

[2018-01-25 21:00] #2086 closed, assigned to nobody

[2018-01-25 21:00] #2087 closed, assigned to nobody

[2018-01-26 04:05] mgwerner opened #2090 "Miner Duplication"
### Minecolonies version

minecolonies-universal-1.11.2-0.8.6843 (and several versions prior)
industrialcraft-2-2.7.81-ex111

### Expected behavior

- Clicking Fulfill transfer one pick from player inventory to Miner inventory

### Actual behaviour

- Clicking Fulfill transfers IC2 drill to Miner inventory, doubling (or increasing by 1, not sure) the number of IC2 drills.
Ex. if player inventory h

[2018-01-26 06:31] ProsperCraft opened #2091 "Client crash - teaching crafting recipe."
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7200

### Actual behaviour

- https://gist.github.com/ProsperCraft/b8f1246a4a4900f516e94c723f0b9c29

### Steps to reproduce the problem

1. Open the gui to teach citizens recipies.
2. Shift click a stack of sticks in.
3. Lock up
4. Crash.

[2018-01-26 12:22] MattBeard opened #2092 "Sheep pine for neighbours in AlternativeWood pens"
### Minecolonies version

version 1.12.2-0.8.7200 (and earlier)

### Expected behaviour

- Shepherd should breed animals is a sensible way

### Actual behaviour

- In the AlternativeWood shepherd's hut (may happen with others) at level 2 upwards there are two pens
- The shepherd will often give wheat to one sheep in each pen, and they cannot reach each other to breed
- Lost wheat, and sad sheet

#

[2018-01-26 17:13] #2091 closed, assigned to Raycoms

[2018-01-26 23:11] attilavv opened #2094 "Massive log file."
### Minecolonies version

First detection :
forge-1.12.2-14.23.1.2665-universal + minecolonies-universal-1.12.2-0.8.6905 ( and other version )
Lastest test :
forge-1.12.2-14.23.1.2604-universal + minecolonies-universal-1.12.2-0.8.7200

### Expected behavior

No log, reduct log to minimum, place a option in config file for stop log, place this log in separated file.

-------------------
run /mc col

[2018-01-26 23:12] Raycoms commented on #2094
2 questions:

a) do you have some log4j setting somewhere which trigger this?
b) Do you have the debug log of the request system turned on in the file?

2018-01-26 23:11 GMT+00:00 attilavv <notifications@github.com>:

[2018-01-26 23:24] attilavv commented on #2094
Not for me. I don't have found or set a option for this.
And no debug file found for me.

Edit : log4j  is a software dev. Possible other mod use it and have activated it. but not me.

Edit : Memory usage + disk usage from Verygames in picture.
Same problem for fml-junk-earlystartup.log Now very very very big and before just big.

![rammemory](https://user-images.githubusercontent.com/35277791/354

[2018-01-27 05:44] Lordbaane opened #2095 "Baker ain't baking"
### Minecolonies version

-1.12.2-0.8.7210.jar
### Expected behavior

- Baker requests wheat, or even just shows up for work

### Actual behaviour

- Stands around

### Steps to reproduce the problem

1. Reset the game
2. recalled the town
3. nothing happens, has been around for the last several updates.
4. Profit

[2018-01-27 07:29] attilavv opened #2096 "Stone Restaurant lev4 to lev5"
### Minecolonies version

constated : minecolonies-universal-1.12.2-0.8.6905
Actual : minecolonies-universal-1.12.2-0.8.7200

### Expected behavior

Build to the end.

### Actual behaviour

Stone Restaurant level 4  to level 5 bug.

Builder need 3 music disc. Tested with 3 types of disc and same as picture : Green disc : C418 - cat but stop building. It move with a chest in hand. Go to building wa

[2018-01-27 08:17] attilavv opened #2097 "Wooden smeltery need a "spawn""
### Minecolonies version

constated : minecolonies-universal-1.12.2-0.8.6905
Actual : minecolonies-universal-1.12.2-0.8.7200

### Expected behavior

Build to the end.

### Actual behaviour

Wooden smeltery level 3 to level 4 need a Spawn.
In design with the building tool you can see a cow on a fence.
The builder stop build.

Tested with creative spawn egg ( cow and other passive mob but same probl

[2018-01-27 12:41] XLokmanX opened #2098 "[BUG] town hall"
Minecolonies version: minecolonies-universal-1.12.2-0.8.4932

when I put city hall, the minecraft world closes

[2018-01-27 13:09] Raycoms commented on #2098
Please upgrade to the newest beta of the mod our downgrade your forge version to fix this =)

[2018-01-27 13:09] #2098 closed, assigned to nobody

[2018-01-27 15:19] DjTylerD opened #2099 "cook does not cook"
**Minecolonies Version**

minecolonies-universal-1.12.2-0.8.7210
Forge1.12.2-14.23.1.2555
no other mod

**Info**

maptest: creative flat solo (3; minecraft: rock mother, 20 * minecraft: earth, minecraft: grass; 1; village)
/ mc colonies rsResetAll after new version alfa

**Expected behaviour**

cooked raw food, distributed cooked food.

**Real behavior**

level 1: directly charge the four, do not

[2018-01-27 17:22] Lordbaane commented on #2095
He goes to the bakery, but just stands around. He should request wheat but nothing is on his list.
It did work before, just something got lost lately.

[2018-01-27 23:50] Vealikaso opened #2100 "Deliveryman"
### 0.8.7210 Minecraft 1.12.2
![2018-01-28_00 48 27](https://user-images.githubusercontent.com/35880693/35477525-194d1978-03c5-11e8-8575-11750aa46891.png)
![2018-01-28_00 48 53](https://user-images.githubusercontent.com/35880693/35477526-1d49a56e-03c5-11e8-8112-c060fceb3e63.png)

version 0.8.7210

### Expected behavior

- Deliveryman brings slabs to Miner

### Actual behaviour

- Deliveryman only

[2018-01-27 23:55] Vealikaso opened #2101 "Builder"
### Minecolonies version

version 0.8.7210

### Expected behavior

- Builder picks up cobblestone and goes buildind

### Actual behaviour

- Still asking for materials, even if they are at Builder's chest

### Steps to reproduce the problem

1. Build Builder's Hut
2. Ask to build something.
3. Wait untill builder ask for materials
4. Deposit material in their chest
![2018-01-28_00 51 52](https://u

[2018-01-28 05:42] vagner1000 opened #2102 "Crash on open TownHall Statistics"
[crash-2018-01-28_02.01.52-client.txt](https://github.com/Minecolonies/minecolonies/files/1670799/crash-2018-01-28_02.01.52-client.txt)
### Minecolonies version

version minecolonies-universal-1.10.2-0.9.7220

[2018-01-28 07:42] Howman opened #2103 "Builders copying them selves"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7210

### Expected behavior

- One Builder

### Actual behaviour

- Copys of the same builder

### Steps to reproduce the problem

1. Not really sure it been happening a lot but not this this extent.

[Minecraft 1.12.2 1_28_2018 1_25_51 AM.M2TS.mp4.zip](https://github.com/Minecolonies/minecolonies/files/1670846/Minecraft.1.12.2.1_28_2018.

[2018-01-28 10:38] marchermans commented on #2101
Yes it is a known bug of the RS. It does not respect priority right now. And just picks a resolver at random.
We are running an internal test build that should fix this.

[2018-01-28 10:42] marchermans commented on #2100
This is a known bug. The DMan is not actually ordered to perform the delivery.
As stated in your other Issue the RS takes a random Resolver right now, which means that it just happened to assign it directly to you. If it would assign it to the DMan it would show you a delivery right there.

This issue was extremely hard to track down due to the random nature of it (even though for some of us it se

[2018-01-28 10:44] marchermans commented on #2095
The RS is currently broken. We are working hard to fix this. But it is proving a very hard issue to fix.
Please bare with us.

[2018-01-28 17:06] SanAndreaP commented on #2102
same issue: https://gist.github.com/SanAndreasP/cc0669b1c02855ef2514b70fb7f83e13

For me it happens when I try to build my first town hall, it shows me the material costs and after clicking "build", it crashes

[2018-01-28 17:09] Lordbaane commented on #2095
Hey, no problem guys, I just want to help test it out to make it better! I wouldn't be a backer otherwise. ;-)

[2018-01-28 17:40] aylacullen commented on #1560
On 1.12 as well, tried making it out of dark oak, no go.  Tried again with regular oak, worked fine.

[2018-01-28 17:45] Raycoms commented on #2103
Yeah this happens occasionally unfortunately, it seems to be minecraft which causes this. Please restart to fix it.

[2018-01-28 17:45] #2103 closed, assigned to nobody

[2018-01-28 17:48] Raycoms commented on #2102
Added a fix to the next pr for it

[2018-01-28 18:27] ProsperCraft opened #2104 "Client crash - com.minecolonies.coremod.colony.buildings.views.AbstractBuildingView.getOpenRequests"
### Minecolonies version

- minecolonies-universal-1.12.2-0.8.7210

### Actual behaviour

- https://gist.github.com/ProsperCraft/cd55139ba1eb9501571b4cf2b39e24c0

[2018-01-28 18:53] Raycoms commented on #2104
Fortunately, I was able to fix this in the last build. Will go live
tomorrow or Tuesday. =)

2018-01-28 18:27 GMT+00:00 ProsperCraft <notifications@github.com>:

[2018-01-28 18:54] ProsperCraft opened #2105 "1.12.2 - Builder will not pull things from his buidlers hut chest."
### Minecolonies version

- minecolonies-universal-1.12.2-0.8.7210

### Expected behavior

- Builder takes the items he needs from the builders hut.

### Actual behaviour

I have to take things out of his hut and hand it to him.
The following stacktrace is in the server console -
- https://gist.github.com/ProsperCraft/d9ddc48d8084907654440aaadb7cc8a2

[2018-01-28 18:55] Raycoms commented on #2105
Also already fixed in the debug branch, will also go live at max tuesday =)

2018-01-28 18:54 GMT+00:00 ProsperCraft <notifications@github.com>:

[2018-01-28 18:57] ProsperCraft opened #2106 "Villagers speaking - same thing twice in a row."
### Minecolonies version

- minecolonies-universal-1.12.2-0.8.7210

### Expected behavior

- Villagers cycle through a long list of babble

### Actual behaviour

- Villagers only say a couple things, and often they say the same thing twice in a row withing seconds of eachother.

[2018-01-28 20:07] vagner1000 commented on #2102
Thanks

[2018-01-29 06:50] ProsperCraft opened #2107 "1.12.2 - Upgrade to stone lumbar hut from wood, and you get half a wood building."
### Minecolonies version

- minecolonies-universal-1.12.2-0.8.7210

### Expected behavior

- They tear down the entire old building.

### Actual behaviour

![2018-01-28_23 47 43](https://user-images.githubusercontent.com/4427684/35497058-ca33b07e-0485-11e8-8382-aba7d169df1d.png)

### Steps to reproduce the problem

1. Build a taiga lumbar hut,
2. upgrade it to level 3
3. upgrade To lumbarjack 4 st

[2018-01-29 08:57] marchermans commented on #2107
@Raycoms we need to take a look at structure downgrading.

[2018-01-29 10:53] Raycoms commented on #2107
For now switching is like that, else we would have to create a lot if additional tasks to let the builder deconstruct first. But currently at the moment of building we only have the info of the current level and not of the last one to compare them

[2018-01-29 10:53] #2107 closed, assigned to nobody

[2018-01-29 12:29] MattBeard opened #2108 "Building wood barracks lower than ground blocks exits (inside)"
### Minecolonies version

version 1.12.2-0.8.7237

### Expected behavior

- Building the barracks slightly below ground level will clear the paths to the exit gates (inside the build area)

### Actual behaviour

- One block is left just inside each gate!

### Steps to reproduce the problem

1. Build the wooden barracks a few blocks lower than the ground
2. Wait until it is done
3. See that there i

[2018-01-29 12:53] marchermans commented on #2107
We could technically once the RS is stable switch the builder from the workmanager to the RS.
It would allow us to combine build requests together. Just a note for the future.

[2018-01-29 12:59] Raycoms commented on #2107
I think that's not that big of a problem atm. the bigger problem is that we have to code the "deconstruct" task extra. Shouldn't be that hard, we can include that with the "chest relocation" feature.

[2018-01-29 14:40] attilavv commented on #2094
Hi,
Some news.
After removed all other mod, one by one.
It is only minecolonies.

For reproduct

Use MultiMC5
Create news instance.
Install forge ( recommanded for this test but same problem with beta version of forge )
Install minecolonies-universal-1.12.2-0.8.7200

run and create news world in creative, flat world.
( i have set difficulty in passive )

Place a supply camp, place a town hall, pla

[2018-01-29 16:20] marchermans commented on #2094
I did this. And I can not reproduce this.

[2018-01-29 16:22] marchermans commented on #2094
I am sorry. But I have tested this over 10 times now in different configurations. I even asked in IRC what could do this. And everybody keeps telling me that you either are using a version that is not intended for public use, which is highly unlikely. Or you have something in your configuration that makes it so.

[2018-01-29 16:30] marchermans commented on #2107
Hmm okey

[2018-01-29 18:11] attilavv commented on #2094
[fml-junk-earlystartup.log](https://github.com/Minecolonies/minecolonies/files/1674746/fml-junk-earlystartup.log)
[latest.log](https://github.com/Minecolonies/minecolonies/files/1674749/latest.log)
[fml-junk-earlystartup.log](https://github.com/Minecolonies/minecolonies/files/1674751/fml-junk-earlystartup.log)

Yes it is possible that my computer have some trace of dev.

Don't close this issues, i

[2018-01-29 21:21] Xogue opened #2109 "Misbehaving Builder"
### Minecolonies version

Minecolonies: 0.8.6934
MC: 1.12.2
forge: 2601

### Expected behavior

The Builder should find most direct path to destination, and should choose a single block as destination, in order to build the current project

### Actual behaviour

The Builder wanders around aimlessly, or gets close to current project, but wanders in the area, sometimes path finding through the area

[2018-01-29 21:22] marchermans commented on #2094
@attilavv This is not a Minecolonies error.
From the Log you can clearly see that you are also getting Trace and debug log messages from other thinks. For example FML and Forge.

It is just that Minecolonies Factory system does extensive debug logging to keep track of objects in case we need the data.

But under normal Forge operations this does not end up in the .log file since Log4J is configure

[2018-01-29 21:22] #2094 closed, assigned to nobody

[2018-01-29 21:51] #2100 closed, assigned to marchermans

[2018-01-29 21:51] #2101 closed, assigned to marchermans

[2018-01-29 21:51] #2104 closed, assigned to marchermans

[2018-01-29 21:51] #2105 closed, assigned to marchermans

[2018-01-29 21:51] #2109 closed, assigned to marchermans

[2018-01-29 23:38] vagner1000 commented on #2102
Hi, the same problem on version: minecolonies-universal-1.10.2-0.9.7232.jar
I removed all mods to test. Thanks.

[crash-2018-01-29_20.36.23-client.txt](https://github.com/Minecolonies/minecolonies/files/1675672/crash-2018-01-29_20.36.23-client.txt)

[2018-01-30 16:34] Lordbaane opened #2114 "Guards ignore monsters"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7264

### Expected behavior

- guards attack monsters within range

### Actual behaviour

- They say howdy and just keep going on their way

### Steps to reproduce the problem

1. Reset the town
2. walked the monsters right next to them
3. Used harsh language, no effect
4. Profit

[2018-01-30 17:25] Lordbaane commented on #2114
sometimes when I log out then in they seem to attack, but then ignore once more.

[2018-01-30 17:28] Raycoms commented on #2094
The newest version should resolve this now.

[2018-01-30 17:28] Raycoms commented on #2102
The newest version should resolve this now.

[2018-01-30 17:28] #2102 closed, assigned to nobody

[2018-01-30 17:28] Raycoms commented on #2099
The newest version should resolve this now.

[2018-01-30 17:28] #2099 closed, assigned to nobody

[2018-01-30 17:48] attilavv commented on #2094
Or not "closeman team" !

[18:38:55] [Server thread/DEBUG] [minecolonies]: Attempting to find a Factory with Primary: com.minecolonies.api.colony.requestsystem.factory.FactoryVoidInput -> com.minecolonies.api.colony.requestsystem.token.IToken
[18:38:55] [Server thread/DEBUG] [minecolonies]: Found matching Factory for Primary input type.
[18:38:55] [Server thread/DEBUG] [minecolonies]: Found input

[2018-01-30 17:50] Raycoms commented on #2094
![image](https://user-images.githubusercontent.com/6438347/35582199-044a2c0a-05e6-11e8-9c9c-35ab19227872.png)

[2018-01-30 18:00] attilavv commented on #2094
![mineco](https://user-images.githubusercontent.com/35277791/35582562-75794506-05ef-11e8-9ce7-2969b2e46bf0.jpg)

Possible that you ignore another thinks on how works github.com but you are admin and not me.
Have you direct link ?

[2018-01-30 18:12] Raycoms commented on #2094
I meant to say, it's still under review.

2018-01-30 18:00 GMT+00:00 attilavv <notifications@github.com>:

[2018-01-30 18:30] 1skandar opened #2115 "Cooks not working"
**Minecolonies version**

minecolonies-universal-1.12.2-0.8.7264.

**Expected behavior**

Cooks, to, well, actually cook and serve food

**Actual behavior**

Stand around and demand food and nothing else

**Steps to reproduce the problem**
This only happens when you don't have a full stack of food to give them. Partial stacks are ignored. Which can be a problem if you're just starting out and don'

[2018-01-30 18:31] attilavv commented on #2094
Ok .. no problem .. why not reopen this issue ?

And for duplication, it is comic When you say ;

See #2103 closed too.
My team have found same bug #1992

What is a bug for you ?
Only for the same computer, same windows that your ?

And YES my team, i works for the biggest team in FR and probably in EU.

Now Wait and see "closeman" !

[2018-01-30 18:36] Raycoms commented on #2094
Like we said, the workers occasionally copy themselves, it is minecraft who
seems to do it with entities, simply restarting fixes this.
And we fixed the log issue and we leave it closed because the fix is on the
way to curse already.

How you use github:

a) You discuss objectively (Something you're not doing).
b) You close an issue as soon as the fix got merged (What we're doing).
c) When you bel

[2018-01-30 20:09] DjTylerD commented on #2099
**starting:**
- update minecolonies-universal-1.12.2-0.8.7273
- / time set night
- emptying: inventory cook, chest and furnace restaurant
- / mc colonies rsResetAll
- / time set day

**observation cook level 1:**
- it loads the furnace to the 2nd stack received by the deliveryman
- he does not request fuel
- if you give him 64 planks in his inventory he does nothing, except if you unload the raw f

[2018-01-30 20:13] Raycoms commented on #2099
Will take a look at this later.

2018-01-30 20:09 GMT+00:00 DjTylerD <notifications@github.com>:

[2018-01-30 20:20] attilavv commented on #2094
That good ! Good Jobs for this issues !

a) Read my first issue, only report for 3 probable bugs. Probably resolved the nomber 3, massive lag, massive CPU usage. What you want more ? Read what you have say for 3 issues ! ! !

We do not chunk load anything. This is not caused by minecolonies.
--

Result ; at this time you have one problem ONLY but "(Something you're not doing)" ! ! !

b) Yes that g

[2018-01-30 20:27] Raycoms commented on #2094
If you look at our issues, we have around 120 open issues and around 2000 issues we closed already.
Around 10 of the issues we said it's not our fault.
Of those 10 issues probably, 8 the fault was of another mod and 2 we said the fault is with minecraft itself.
We never said its with forge.

and again a) I read it and I'm still being respectful and reasonable.
If you do so much for free I invite y

[2018-01-30 22:10] AlexandrePavy opened #2119 "[BUG] The food disappears with the restaurant on a citizen with full inventory"
### Minecolonies version

version 1.12.2-0.8.6996

### Expected behavior
The food should not go in void when the cook feed a villager with full inventory.

But what is the good behavior ?
- Cook is waiting for an empty slot? But the citizen will also wait for food and wait forever

### Actual behaviour

When citizen are fully inventory (like deliveryman) and he go to the restaurant, he consume all

[2018-01-30 22:48] gaminggirl opened #2120 "Tomb many graves bugging out"
### Minecolonies version

version 14.23.1.2587

### Expected behavior

- When I die I get a grave, when I sneak over it it opens and I get my stuff

### Actual behaviour

- When I die I get a grave, when I sneak over it nothing happens

### Steps to reproduce the problem

1. Die
2. Return to grave
3. Sneak over it
4. Profit

[2018-01-30 22:53] Raycoms commented on #2120
Sorry, this github is only for minecolonies related issue, for tomb issues you have to go to their github, or search support on our discord if its on the official server.

[2018-01-30 22:53] #2120 closed, assigned to nobody

[2018-01-31 03:21] mkienenb commented on #1294
@Asherslab
I also had this problem in my single-player game.   The newly-placed colony ended up being offset by a few blocks in both x and z, and after trying to deal with it, I finally decided it was easier to just destroy it and start over.

Deleting the colony killed the citizens and blew up the area where the mod thought the colony was (leaving a couple rows and columns on the edge where it wa

[2018-01-31 03:36] mkienenb commented on #1294
Deleting the stats json file got  me past that problem,and I was able to create a new colony.

[2018-01-31 06:05] Imrielle opened #2121 "[Discord Suggestion] Stash"
A new block: Stash
Put in your personal home. Delivery man will come pick up things in it.
Advantages: allows players to interact with the colony's inventory without leaving the house

From: Warpdragon#9105

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/54441709-discord-suggestion-stash?utm_campaign=plugin&utm_content=tracker%2F431

[2018-01-31 06:05] Imrielle opened #2122 "[Discord Suggestion] Guards Carry Torches"
Hey, would it be possible to have that guards walk around at night holding torches that light up the path as they walk? IE Optifine's Dynamic Lights and it be compatible with shaders? would look nice

From: Cain Seldon#4999

[2018-01-31 06:06] Imrielle opened #2123 "[Discord Suggestion] Additional Employment"
What if....at Lvl 5 some buildings could employ additional citizens? Like say at Lvl 5 the restuarant has the Cook and a Bartender

From: LadyShatana#8683

[2018-01-31 06:07] Imrielle opened #2124 "[Discord Suggestion] Bed Coloring/Choice"
Can it be made that the builder will use any bed instead of just the white ones? When I picked up my citizen's huts the beds were red and couldn't be used again.

From: Zippi#4573

[2018-01-31 06:08] Imrielle opened #2125 "[Discord Suggestion] Cold Biomes Heating Logic/Happiness"
Hey maybe if the colony is in a cold biome they would use a furnace in the citizen huts and consume a log per night for warmth and if they cant do that it would lower the happiness a small bit

From: TheSwedishPilot#2690

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/54441777-discord-suggestion-cold-biomes-heating-logic-happiness?u

[2018-01-31 06:09] Imrielle opened #2126 "[Discord Suggestion] Townhall Allies GUI Fix/Enhancement"
Suggestion: On the TH allies page, if the TH is too low a level to enable the teleport button, render a disabled button with the text "TH too low" or something similar

It explains why the buttons are missing for people who are expecting them, and tells people who don't know about the feature that it exists

From: Zyx#6333

[2018-01-31 06:55] Theamericanpilot commented on #2125
👍

[2018-01-31 10:52] #2126 closed, assigned to nobody

[2018-01-31 10:53] Raycoms commented on #2126
Done already

On Jan 31, 2018 04:09, "Imrielle" <notifications@github.com> wrote:

Suggestion: On the TH allies page, if the TH is too low a level to enable
the teleport button, render a disabled button with the text "TH too low" or
something similar

It explains why the buttons are missing for people who are expecting them,
and tells people who don't know about the feature that it exists

From: Z

[2018-01-31 12:36] DjTylerD commented on #1294
I know the page is closed, but a suggestion against the accident
- indestructible block townhall
- tab destroy colony in the menu
- confirmation delete in the chat as when you type the command: / mc colony delete 1

[2018-01-31 12:38] Raycoms commented on #1294
@DjTylerD currently working on a port from 1.11 and 1.12 to 1.10 which has the last of those.
Will also take a look into colony destruction in 1.10, might only be messed up there.

[2018-01-31 12:51] DjTylerD commented on #1294
ok thanks for the answer Raycoms

[2018-01-31 13:33] mkienenb commented on #1294
I was running on 1.12 using yesterday's source build when I had the problem, so it was in the 1.12 branch.  Yes, there is a confirm delete in the chat.

My colony got hosed when I moved the supply camp trying to figure out how the builders wand worked after the town hall block was placed.

If I have time later today, I will try to reproduce both the "supply camp shouldn't move" problem and the "de

[2018-01-31 13:36] Raycoms commented on #1294
The supplycamp can't be moved after it has been placed already. The colony
won't clean up everything if the chunk isn't loaded.

2018-01-31 13:33 GMT+00:00 Mike Kienenberger <notifications@github.com>:

[2018-01-31 13:44] mkienenb commented on #1294
It moved for me :-)   I never used minecolonies before yesterday, and the wiki tutorial appears to be a little dated ["Use your Building Tool to place the Town Hall block,"], so I am sure I wasn't using the UI the way a veteran would. (Planning to clean that up the tutorial a bit from the perspective a new player once I understand how it's supposed to work)

And I was standing right next to the in

[2018-01-31 18:38] DuskFalls opened #2127 "Miner's constantly request diamonds picks, even if they have them already"
### Minecolonies version

version 0.0.6983

### Expected behavior

- Go and mine stuff with the diamond pickaxes theyre already holding

### Actual behaviour

- Stand around asking for another one

### Steps to reproduce the problem

1. Have a miner who's dug the first two layers
2. Miner asks for diamond pickaxe
3. Give him one, but then he asks for a second one
4. Give him a second one but then

[2018-01-31 18:47] Raycoms commented on #2127
What is your miners building level, at the moment the miner will request a diamond pick if he found a resource he can't mine, but if his hut level is not high enough he won't recognize that.

[2018-01-31 18:57] DuskFalls commented on #2127
It's 3 at the moment
I'll upgrade it just in case, and I did check if there was anything he couldnt mine down in the shaft but there wasnt anything

[2018-01-31 18:58] Raycoms commented on #2127
Some random modded block seem to have a certain hardness implemented which
get displayed for our miner as "diamond level".

2018-01-31 18:57 GMT+00:00 Jamie Horncastle <notifications@github.com>:

[2018-01-31 19:03] DuskFalls commented on #2127
Is the highest tier the miners can request diamond picks then?

I just checked all the blocks that he'd look at, theyre all either stone variants of slate (from rustic), which he's already mined with lower tier pickaxes

[2018-01-31 19:05] Raycoms commented on #2127
level 4 they should work, level 5 if enchanted.

2018-01-31 19:03 GMT+00:00 Jamie Horncastle <notifications@github.com>:

[2018-01-31 19:06] DuskFalls commented on #2127
I'll get the miner to that and then see if it's fine, thanks for the advice

[2018-01-31 19:41] mkienenb commented on #1294
I was not able to reproduce whatever I did to make the town hall block useless.  Maybe this has to do with the Eclipse project adding in JEI, tinker's construct, and other mods, while my first game was running solely with Minecolonies in MultiMC.

However, I did reproduce the rest of it running the latest source from eclipse.
I placed the supplycamp then placed the townhall block in the middle of

[2018-01-31 19:46] DuskFalls commented on #2127
I got the miner to level 4, fired and rehired and then finally he started working again

I had previously fired and rehired him so i'm guessing theres a problem with miners under level 3 OR its not clear that the building needs to be 4 or 5 before they'll continue

[2018-01-31 21:38] mkienenb commented on #1294
1) The partial delete of colony blocks is due to the unconstructed town hall being destroyed.  There's nothing in the code that removes the supplycamp blocks (but you probably know this).

2) Deleting a colony at this point throws an NPE [1] in ProviderHandler.removeProviderInternal()
        final Collection<IToken<?>> assignedResolvers = getRegisteredResolvers(manager, token);
returns null for a

[2018-01-31 21:48] Raycoms commented on #1294
Found the bug, working on fixing it =)

2018-01-31 21:38 GMT+00:00 Mike Kienenberger <notifications@github.com>:

[2018-01-31 23:54] Raycoms commented on #2122
I'd say we can close this because of three things:

a) We would need other mods to make that make sense
b) It then creates quite some lag (at least for my laptop)
c) We want them to wear shields.

[2018-01-31 23:54] #2122 closed, assigned to nobody

[2018-02-01 05:52] nick-johnson opened #2129 "Workers should not eat requested items"
When a worker requests a food item for a job (builder requests fish to build fisherman's hut, swineherder requests carrots) and are also hungry, they will eat it instead. This can be very painful if the worker eats something rare like a clown fish. Workers should not eat anything that they are currently requesting/using for a job.

[2018-02-01 07:09] marchermans commented on #2129
I am sorry but that is sadly not possible. To save on memory the system deletes the request data after it has arrived at the citizen and the stack turns back into a normal stack like everything else.

Keeping track of that is simply impossible. I wish it was different too. But there is not much i can do.

[2018-02-01 10:36] Raycoms commented on #2129
We can check in the builder if the food item is in the required items

On Feb 1, 2018 5:09 AM, "Marc Hermans" <notifications@github.com> wrote:

[2018-02-01 10:37] marchermans commented on #2129
We could do that.
But that would probably fix it only for the builder. Altough i guess it would solve the issue more or less.

[2018-02-01 16:31] #2115 closed, assigned to Raycoms

[2018-02-01 16:31] #2119 closed, assigned to Raycoms

[2018-02-01 16:35] MattBeard commented on #2121
Nice, it also means that you can get stuff to the warehouse without needing to figure out where best to put it. Should work like a normal worker chest, but with nothing left behind (it seems that worker chests are allowed to accumulate certain items the worker needs)

It would also be great here, or in another chest-like item, to be able to program in a set of "deliver to me" buttons. These would

[2018-02-01 17:47] AlexandrePavy commented on #2119
Good job, what is behavior now ? cook don't give food to citizen ? Citizen gonna wait food ?

Best regards.

[2018-02-01 17:48] Raycoms commented on #2119
Cook will complain to the player that he is unable to feed him.

[2018-02-01 18:54] DjTylerD commented on #2099
thank you excellent work minecolonies-universal-1.12.2-0.8.7307
ok all works level 1 and 5.
remains to learn from the cook so that he becomes like Gordon Ramsey XD

[2018-02-01 22:19] Lordbaane opened #2132 "Colonists die in the morning"
minecolonies-universal-1.12.2-0.8.7312

### Expected behavior

- Go to sleep, wake up and find the colonists are okay

### Actual behaviour

- Lost 4 after the first morning saying they fell out of the world!

### Steps to reproduce the problem

1. Relogged in, lost the colonists
2. Keeps happening each night
3. ...
4. There dead Jim....

[2018-02-02 00:31] Rovinion opened #2133 "No chest full of important stuff with camp or supply ship"
### Minecolonies version

1.12.2-0.8.7312

### Expected behavior

- I place a SupplyCamp chest or SupplyShip chest, and get a chest containing a town hall and build tool where I placed the chest

### Actual behaviour

- The camp/ship spawn, but there is no chest containing the town hall or build tool-only chests that spawn are empty

### Steps to reproduce the problem

1. Find nice clear area/larg

[2018-02-02 00:32] Raycoms commented on #2133
Did you spawn it in creative mode?

2018-02-02 0:31 GMT+00:00 Rovinion <notifications@github.com>:

[2018-02-02 00:44] Rovinion commented on #2133
Yes, and now that you mention it, the supply ship does work in survival mode. Is it supposed to not spawn anything in creative?

[2018-02-02 00:46] Raycoms commented on #2133
Exactly.

2018-02-02 0:44 GMT+00:00 Rovinion <notifications@github.com>:

[2018-02-02 00:46] Raycoms commented on #2133
In creative you can place an infinite amount but they don't give you the items since you can get them in creative anyway =P

[2018-02-02 00:46] #2133 closed, assigned to nobody

[2018-02-02 00:46] Rovinion commented on #2133
OK thanks

[2018-02-02 01:04] NorAnnie commented on #1615
Hey, i have the same problem, but i don't know what version is 14.23.0.2493. I tried opening minecraft and going to launch options, and change there, but it only shows version 1.0 above 14.23.0.2493... what do i do?   the link above didn't work :(

[2018-02-02 02:16] DjTylerD opened #2135 "[suggestion] miner builds bridges"
the minor is one of the first citizen, can you bridge the gaps and the big caverns
right now here is what he builds (not very pretty)
![2018-02-02_00 59 44](https://user-images.githubusercontent.com/35812264/35713243-9cf0b5f0-07c6-11e8-879e-7b3b7f3b5755.png)

here is an example in fault:
![2018-02-02_01 19 03](https://user-images.githubusercontent.com/35812264/35713270-bca9826e-07c6-11e8-9b81-f0cb

[2018-02-02 04:15] figtito commented on #2132
Experiencing the same issue with 7312. Console says the fell out of the world.

[2018-02-02 04:54] Araxidis commented on #2132
I have had exactly this same issue. Using the same version. Did not have that problem with .7281.

[2018-02-02 05:58] Lordbaane commented on #2114
Looks like it is mainly the Knights that are having the issue, the rangers seem to act okay. The Knights, when on patrol, seem to make the patrol more important and will even disengage from the fight, one time a zombie chased a guard down to finish the fight!

[2018-02-02 07:25] attilavv opened #2136 "Duplication of villager"
### Minecolonies version

Forge 2604 ( in modpack )
version ; minecolonies-universal-1.12.2-0.8.7273
- Barbarian is disabled in config file

### Expected behavior

- No duplication

### Actual behaviour

- Trace of duplication.

1 - In fml-junk-earlystartup.log ( extract )
[fml-junk-earlystartup.log](https://github.com/Minecolonies/minecolonies/files/1688417/fml-junk-earlystartup.log)

2 - In play

[2018-02-02 08:58] marchermans commented on #2136
We really need to work on entity deduplication. I will take a look today to start using WeakReferences and Optionals.
@Raycoms Ping me in Slack.

[2018-02-02 08:59] marchermans commented on #2132
Yeah my fault. I added the sleep spawn logic and it falls back to 0,0,0 which is ofcourse under the bedrock.
Will push a fix today.

[2018-02-02 09:00] marchermans commented on #2135
@Raycoms who worked on the original miner Building logic?

[2018-02-02 14:11] Largeboy31 opened #2137 "Birch Town Center Bug Bed"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7312

### Expected behavior

It continues to work normally.

### Actual behaviour

The moment he gets up, he's stuck on a wall and he's dead.

Note:because of bug, men are dying and everything is reset.

[2018-02-02 14:13] marchermans commented on #2137
Well damn that fix does not work then......

[2018-02-02 14:14] marchermans commented on #2137
There is another bugfix round for that incoming as soon as @Raycoms is back.
We will need to see if that fixes is. Else i have to find a different solution.

[2018-02-02 14:14] Largeboy31 commented on #2137
I wonder because of my modsim may be Quark

[2018-02-02 14:24] attilavv commented on #2136
Hi,

Server upgraded : minecolonies-universal-1.12.2-0.8.7312

Now : I have 2 deliveryman from same house. And one group of 4 of soldiers have duplication for 3 soldiers.

For me it is "always" (99%) on upgrade and "some time" in "start up" (1%).
YES i make many and many upgrade for found some bug. Like a big memory leak ( 2GB to 6GB in 2/3 hours ). Removing some mods again and again.
And YES for

[2018-02-02 14:25] marchermans commented on #2136
So is the mem leak fixed or not?

[2018-02-02 14:26] marchermans commented on #2137
No ideaI actually explicitely search for Air or a flower with a two high gap. So I have no idea why it is broken.
Now if they spawned under the bedrock and fell into the void (which some are doing), now that i know :D

[2018-02-02 14:27] Largeboy31 commented on #2137
:D

[2018-02-02 16:06] ProsperCraft commented on #2132
Mine suffocate.

[2018-02-02 16:13] Araxidis commented on #2132
Different issue. I believe this is caused because the colonists are now sleeping in the beds when they weren't before. So, if the house design doesn't take this into account, the stand up in the morning and get stuck in the walls. I fixed this problem by just removing the beds from the houses :P

[2018-02-02 16:59] attilavv opened #2138 "Chunk loading come back ..."
### Minecolonies version

version ;
Forge 2604
minecolonies-universal-1.12.2-0.8.7312
For take fonction /chunkloader
ChickenChunks-1.12.2-2.4.1.71-universal
CodeChickenLib-1.12.2-3.1.5.331-universal

### Expected behavior

Unload chunk is no body is present.
On server ;  after deconnect of player unloading chunks.

### Actual behaviour

Chunks is loading and never released.

### Steps to reproduce

[2018-02-02 17:41] attilavv commented on #2136
Not sure for me ...
Before the big washing of debug i can say memory used = disk space.

Are you open a windows console in start up ?
A console Java not in the cycle of Forge. Only a little debug console and when you add a message it is output on Forge fml-junk-earlystartup.log. A console in a separated tread ? But i have a high CPU usage. And CPU usage change when i change version of Minecolonies

[2018-02-02 18:24] Justen-N commented on #2132
Arax, Marc pushed a fix for the suffocating issue that caused the current
issue. Are you using the most recent build?

On Fri, Feb 2, 2018 at 10:39 AM, Araxidis <notifications@github.com> wrote:

[2018-02-03 00:32] attilavv commented on #2136
![2018-02-03_01 11 53](https://user-images.githubusercontent.com/35277791/35760269-7e293f2a-087f-11e8-94e7-915ba8bc7d5a.png)

Server is .. OK ( 2x 60% ) ..
Client is very out.1 FPM = Frame Per Minute !
I don't know how many villager is present but it is many and many.
Server is "open" from 8 hours without reboot ( 40/60% it is acceptable for Verygames )
Memory 3250MB to 3850MB ( for 8 Hours withou

[2018-02-03 00:41] attilavv commented on #2136
After thsi a decide to launch it in local without reboot my client.
And it is not possible, i have wait more 5 mins.

For me some data are not clear after disconned.
No entry found in fml-junk-earlystartup.log
No entry in fml-client-3.log ( i have rerun it, now it is 3 )

[2018-02-03 02:19] Araxidis commented on #2132
I know this post isn't about the suffocating but I do have the .7323 and my delivery guy died when he got out of bed. It was a level 3 alternative wood house. He was in the bed next to the house chest. The falling out of the world does, indeed, seem to be fixed though.

[2018-02-03 02:42] CoporalKritz opened #2140 "Constant Crashes"
4.14 Minecolonies version

Minecraft Version 1.12.2

Forge-14.23.1.2604

Expected behavior
To open and work as normal

- XXX

Actual behaviour
The game crashes before even opening the game

Currently I have no idea whats happening, as I have 8 gigs of memory, 4 gigs of video, and over a terrabyte of storage. If anyone knows how to fix this, it would be much appreciated. The same thing happened wit

[2018-02-03 03:25] Araxidis commented on #2132
Using 7323 and was dismayed to find this in the morning:
![image](https://user-images.githubusercontent.com/34173687/35762630-9be24dc4-085f-11e8-9085-b810bcc14adb.png)
They're all dead, Jim!

[2018-02-03 03:44] nick-johnson commented on #2132
On 0.8.7323, still suffocate in walls.

[2018-02-03 04:00] Lordbaane commented on #2140
I found some of the latest Forge releases have a variety of issues, did you try back tracking to 2555?

[2018-02-03 04:05] CoporalKritz commented on #2140
@Lordbaane Which Minecolonies version is that?

[2018-02-03 04:26] CoporalKritz commented on #2140
@Lordbaane I tracked back to forge version 14.23.1.2555 and once again had a crash, the error log listing a fatal error this time

[2018-02-03 04:52] Frosted-Buns opened #2141 "Builder not completing build"
### Minecolonies version

version 0.9.6974 or curse X.X.XX

### Expected behavior

- Builder finish building Taiga barracks level 2

### Actual behaviour

- builder says "building" above head but is actually doing nothing

### Steps to reproduce the problem

1. Have builder start building the barracks lvl 2 upgrade
2. half way through builder needs more parts
3. builder gets parts and goes to fini

[2018-02-03 04:57] Frosted-Buns commented on #2141
Problem seems to have solved itself somehow

[2018-02-03 04:57] #2141 closed, assigned to nobody

[2018-02-03 05:16] Asherslab commented on #2138
Hi mate, our mod literally doesn't load any chunks, we have NO chunk loading code at all, one of the reasons for that is because It causes lots of lag. We Do Not Chunk Load. If what you are saying is correct, then this is Vanilla behaviour with our entities, nothing we can do.

[2018-02-03 05:51] Justen-N commented on #2138
This mod inherits entity behaviour from Forge.  None of the code deals in
any way with chunkloading. If the mod is chunkloading, then it stands to
reason that this behavior is inherited from Forge or from Minecraft itself.
Maybe, if we crawled through the Forge api, we might find a method to
change this behaviour. I don't  know.

On Feb 2, 2018 10:16 PM, "Asherslab" <notifications@github.com> wrot

[2018-02-03 06:30] Lordbaane commented on #2140
Currently I'm using 8.7281 as I'm waiting for some updates regarding some other issues. I have over 50 other mods running and it is stable.

[2018-02-03 06:31] Lordbaane commented on #2140
_"Alright, I think I've got it.

Try disabling the forge loading screen.

In some folder somewhere there should be something called splash.properties with an options that says enabled=true or something similar. Change it to enabled=false.

If that doesn't work it could be some of the weird JVM arguments you have for whatever reason, but try the config thing first._"

I think I ran into the same pr

[2018-02-03 07:30] marchermans commented on #2140
@CoporalKritz are you running a Mac or Unix variant?

[2018-02-03 07:31] marchermans commented on #2138
I checked. We do not chunk load period.

[2018-02-03 07:39] #2114 closed, assigned to nobody

[2018-02-03 10:44] attilavv commented on #2138
Move method from Forge or Minecraft ?
A method for found a path ?
Declaration by default as some chunks distance and can be set to another value ?

Add a visitor spawnable by a stick without many code. Only for test. A stick that can't craft, only by give for admin. Usable for many test for all new version.

Yes it is probably a Vanilla / Minecraft or Forge component. Problem is many mod add mob p

[2018-02-03 11:07] Raycoms commented on #2138
Sorry it is very difficult to understand your description, minecolonies
doesn't load any chunks bit as all passive mods if their chunk is loaded
and they go to 1 neighboring chunk the pathfinding will load it and there
is nothing we can do, we already restricted that they at max path into that
1 chunk and not load a couple for pathfinding

On Feb 3, 2018 8:44 AM, "attilavv" <notifications@github.c

[2018-02-03 11:26] thephoenixlodge opened #2143 "[1.10.2]Crash when updating a world to a version newer than 0.8.5086 with TC6 installed"
### Relevant mod versions

Minecolonies: 1.10.2 version 0.9.XXXX (any newer than 0.8.5086)
Forge 12.18.3.2511
Thaumcraft 6.0 Beta3

### Expected behavior

World to load

### Actual behaviour

Trying to open a world that was made previously on any version newer than 0.8.5086 while also having TC6 installed results in a soft crash (hanging with server state set to ERRORED but not actually closing ou

[2018-02-03 11:42] marchermans commented on #2143
@Raycoms Another one.
@thephoenixlodge This is a problem of Thaumcraft / FoamFix. They do not behave properly when their blockstate gets written and read from NBT. Properly better to report it to them

[2018-02-03 11:45] marchermans commented on #2138
Yep. There is not much we can do here. Since this is simple vanilla behaviour.
I am going to close this issue unless the problem gets better described in at least readable English. If you do not speak English natively that is no problem. But keep your problem description then to a minimum, so we can figure out what is your problem for you.

State what is wrong in 1 or 2 lines aka:
_"Minecolonies i

[2018-02-03 11:45] #2138 closed, assigned to nobody

[2018-02-03 13:32] DjTylerD opened #2144 "smelter does not melt ore"
**Minecolonies version**
minecolonies-universal-1.12.2-0.8.7323
forge1.12.2-14.23.1.2555
no other mod

**info**
maptest: solo creative flat (3; minecraft: bedrock, 20 * minecraft: dirt, minecraft: grass; 1; village)
/ mc colonies rsResetAll after new version alfa

**Expected behavior**
     transforms ore.

**Actual behavior**
     level 1: load the furnace directly, do not ask for fuel, but charg

[2018-02-03 16:42] waynestir opened #2145 "Save size increasing every load/save"
minecolonies-universal-1.12.2-0.8.6147

version 0.8.6147 or curse 14.23.1.2568  (client only.. no server used)

### Expected behavior
sit and wait for me to initiate
not grow into a life of your own unexpectedly

### Actual behaviour
unknown.  never actually used mod yet
file size became too large to process in client
i.e. wouldn't load after only few hours a day few days a week of creative world

[2018-02-03 16:43] Raycoms commented on #2145
Please update minecolonies to the newest version to fix this issue.

2018-02-03 16:42 GMT+00:00 waynestir <notifications@github.com>:

[2018-02-03 16:44] #2145 closed, assigned to nobody

[2018-02-03 18:50] CoporalKritz commented on #2140
@OrionDevelopment I run windows 10 with a dell HP

[2018-02-03 19:20] CoporalKritz commented on #2140
@Lordbaane I found the folder, set it to false, saved it, and it's still the same

[2018-02-03 19:55] Lordbaane commented on #2140
What version of Java are you using? Also, are there any driver updates for your system? It sounds to me it is more of a Forge/Driver issue than the file.
Another thought is how many mods are your running? Was there a stable startup? If so, what was running? Lastly if you have some setup that runs fine, add one mod at a time to see what happens.

[2018-02-03 19:57] Lordbaane commented on #2140
I still have an issue with the gravestones extended mod where is causes it not to start. I'm waiting for an update to see if that helps.

[2018-02-03 19:59] Lordbaane commented on #2132
I see the latest version after is out, I'm going to wait for the update that also addresses some of the other issues regarding the Baker. Though I don't seem to have the same issue regarding the smelter that was just posted.

[2018-02-03 20:51] marchermans commented on #2140
@CoporalKritz Send me the entire log in a gist or pastebin.

[2018-02-03 21:19] CoporalKritz commented on #2140
@OrionDevelopment [11:18:55] [main/INFO]: Loading tweak class name net.minecraftforge.fml.common.launcher.FMLTweaker
[11:18:55] [main/INFO]: Using primary tweak class name net.minecraftforge.fml.common.launcher.FMLTweaker
[11:18:55] [main/INFO]: Calling tweak class net.minecraftforge.fml.common.launcher.FMLTweaker
[11:18:55] [main/INFO]: Forge Mod Loader version 14.23.1.2604 for Minecraft 1.12.2 l

[2018-02-03 21:21] CoporalKritz commented on #2140
@Lordbaane I'm using the mod in the standard modpack with no extra mods other than what it came with, and there are no driver updates nor am I experiencing any issues with my computer starting up

[2018-02-03 22:17] Lordbaane commented on #2140
Have you allocated more memory to MC?

[2018-02-03 22:18] Lordbaane commented on #2140
I have 16gb for my comp, but I allocate 12g to the game as I sometime lan with my kids.

[2018-02-03 22:21] copperwarrior commented on #2140
It may seem an obvious fix, but have you attempted to reinstall the modpack? Crash log reports that the vanilla game is corrupt.

[2018-02-03 22:42] CoporalKritz commented on #2140
@copperwarrior I have transferred new updates to new folders, but I have not tried actually deleting it entirely and reinstalling it.

[2018-02-03 22:42] CoporalKritz commented on #2140
@Lordbaane I have not as I have no real clue as how too

[2018-02-03 22:43] copperwarrior commented on #2140
@CoporalKritz It's not an out of memory error, those are almost always explicitly stated in the crash report. Attempt to reinstall the modpack, backup your saves ofc, and try and run it then.

[2018-02-03 22:44] CoporalKritz commented on #2140
@copperwarrior alright then, I'm reinstalling it right now to see if it works

[2018-02-03 23:45] CoporalKritz commented on #2140
@copperwarrior still doesn't work, I tried making a new profile to see if it was a forge issue, and by starting said new profile it is indeed a forge issue as stated by the crash report

07:43:48 | game |   | error | 2018-02-03 15:43:47,935 main WARN Unable to instantiate org.fusesource.jansi.WindowsAnsiOutputStream   <log4j:Event logger="LaunchWrapper" timestamp="1517701428029" level="INFO" threa

[2018-02-03 23:46] copperwarrior commented on #2140
@CoporalKritz can you send the log? this crash report doesn't tell much

[2018-02-03 23:47] CoporalKritz commented on #2140
@copperwarrior it'll be long so be prepared

[15:43:48] [main/INFO]: Loading tweak class name net.minecraftforge.fml.common.launcher.FMLTweaker
[15:43:48] [main/INFO]: Using primary tweak class name net.minecraftforge.fml.common.launcher.FMLTweaker
[15:43:48] [main/INFO]: Calling tweak class net.minecraftforge.fml.common.launcher.FMLTweaker
[15:43:48] [main/INFO]: Forge Mod Loader version 14.23.2.

[2018-02-03 23:48] CoporalKritz commented on #2140
@copperwarrior mainly it keeps talking about "class tweaks" and forge, which I get nothing about as I barely know anything about coding, much less modding

[2018-02-03 23:49] copperwarrior commented on #2140
@CoporalKritz That's the same issue as before, try installing forge 2555, the recommended version

[2018-02-03 23:51] CoporalKritz commented on #2140
@copperwarrior just did, I even tried launching without the minecolonies mod itself, and still I get crash reports upon crash reports

[2018-02-03 23:54] copperwarrior commented on #2140
@CoporalKritz How are you launching the modpack? Upon closer inspection, it may be a memory issue, but it still seems unlikely.

[2018-02-03 23:56] CoporalKritz commented on #2140
@copperwarrior I do nothing special when I launch it, as I don't mess with the code or technical stuff out of fear of screwing it up even more, but mostly I just press "play", open the launcher, and press the button that would open the minecolonies modpack, but i just crash after that without the game even opening

[2018-02-03 23:57] copperwarrior commented on #2140
@CoporalKritz What I mean is do you use the twitch, technic, or normal minecraft launcher?

[2018-02-03 23:58] CoporalKritz commented on #2140
@copperwarrior mainly twitch for the easy curse use

[2018-02-04 00:00] copperwarrior commented on #2140
@CoporalKritz View the minecolonies profile. Click on the three dots in the corner to get to the profile options. Change the memory settings to use something in the recommended range that your system can handle. I recommend about 4gb, or 4096 mb. Then save and attempt to run the game.

[2018-02-04 00:04] CoporalKritz commented on #2140
@copperwarrior I still keep getting crashes, once again even without the minecolonies mod.

[2018-02-04 00:05] copperwarrior commented on #2140
@CoporalKritz I am unsure as to what is causing your crashes at this point. In the same menu where you found the profile options, can you attempt to repair minecraft?

[2018-02-04 00:06] CoporalKritz commented on #2140
@copperwarrior I just pressed the button to do so, so I hope to god this works

[2018-02-04 00:14] CoporalKritz commented on #2140
@copperwarrior still crashing, did you tweak anything in the files before starting up your game? Or are you on an earlier version other than 1.12.2?

[2018-02-04 00:16] copperwarrior commented on #2140
@CoporalKritz I've been following along with your reports under the assumption that you are using our official modpack in the 1.12.2 version. In the same place where you find the logs, there should be a folder labelled crash-reports. Can you send the most recent one of those? They tend to provide useful information on their own.

[2018-02-04 00:21] CoporalKritz commented on #2140
@copperwarrior Is there a way to enable crash reports? I can't find any file labeled as such when I look through the log file. Either that or I'm doing it incorrectly, as I just press the three dots in the corner, press open file, and look in the folder labeled "logs"

[2018-02-04 00:23] copperwarrior commented on #2140
@CoporalKritz Actually, I just realized you wouldn't find crash reports due to the error reported in the log. Essentially the fatal error which triggers the crash is saying that it cannot find the piece of code in the Minecraft jar which reports errors, so we really don't have any good way to figure out what's actually happening. I'll try and figure out some solution to this.

[2018-02-04 00:24] CoporalKritz commented on #2140
@copperwarrior thank you for helping me this far, I hope there's a solution to this as I've been following the mod since 1.7.10 and I don't wanna stop playing this anytime soon.

[2018-02-04 00:27] copperwarrior commented on #2140
@CoporalKritz I doubt it will help but can you double check to make sure you are on the latest modpack version? I'm trying to recreate the issue and I just want to make sure everything is the same on both ends.

[2018-02-04 00:29] CoporalKritz commented on #2140
@copperwarrior I am on the most recent version that's listed which is 4.15 , although the same thing happened with previous versions as well

[2018-02-04 00:31] copperwarrior commented on #2140
@CoporalKritz Does any other version of minecraft run?

[2018-02-04 00:32] CoporalKritz commented on #2140
@copperwarrior I haven't tried previous versions yet, but I'll try that now

[2018-02-04 00:32] copperwarrior commented on #2140
@CoporalKritz I mean other modpacks, or vanilla minecraft

[2018-02-04 00:33] CoporalKritz commented on #2140
@copperwarrior I'll try that as well, and vanilla works fine from my experience as it doesn't crash

[2018-02-04 00:35] CoporalKritz commented on #2140
@copperwarrior other modpacks work, as I just started up a FTD modpack, and it starts up very nicely

[2018-02-04 00:35] copperwarrior commented on #2140
@CoporalKritz Try this. In the twitch launcher, in the very top left corner, there is a menu. Click on that menu, go to File>Settings>Minecraft and then find and click the "Jar Launcher" option.

[2018-02-04 00:37] CoporalKritz commented on #2140
@copperwarrior just did, I hope this works

[2018-02-04 00:39] CoporalKritz commented on #2140
@copperwarrior Hallelujah it works

[2018-02-04 00:40] CoporalKritz commented on #2140
@copperwarrior well, the launcher, I still have to open the modpack using it

[2018-02-04 00:40] copperwarrior commented on #2140
@CoporalKritz Make sure you can actually run the game, of course.

[2018-02-04 00:41] CoporalKritz commented on #2140
@copperwarrior It's actually loading so it's a good sign, I'm just waiting for it to lead me to the menu

[2018-02-04 00:42] CoporalKritz commented on #2140
@copperwarrior It works, thank you so much for helping me

[2018-02-04 00:43] copperwarrior commented on #2140
@CoporalKritz No problem

[2018-02-04 00:45] #2140 closed, assigned to nobody

[2018-02-04 02:06] mgwerner commented on #2051
Have gone through several updates since reporting this, issue has not returned.  Warehouse was upgraded to L4, not sure what fixed issue, so closing.

[2018-02-04 03:33] mkienenb opened #2152 "Disable manually placing Town Hall, Builder's Hut, etc, and require Builder's Tool?"
As I played through my first Minecolonies game, I made the mistake of placing my Town Hall block and my Builder's Hut block manually without using the Building Tool, which caused me some confusion, such as thinking the Town Hall should be placed in the center of my supply camp.

Is there a valid reason to allow these blocks to be manually placed?   Or would we be better off disabling the manual pl

[2018-02-04 03:48] mkienenb opened #2153 "WindowRequestDetail request.getLongDisplayString() doesn't wrap: "Tool of class: shovel......etc""
"Tool of class: shovel with minimal level: Wood or Gold and with maximal level: Wood or Gold [etc]" needs to wrap on the request detail screen.

WindowRequestDetail.onOpened()
        final String[] labels = new String[] {request.getLongDisplayString().getFormattedText()};

[2018-02-04 04:49] CoporalKritz opened #2154 "Town Hall Bug"
4.15 Minecolonies version

version 14.23.2.2611

Expected behavior
For the town hall to function

Actual behavior
As soon as I place a town hall block, it immediately shuts down the server and every time I
try to re-log into the server, it shuts down again.

The only way to reproduce the problem is simply place the town hall block, but I don't think that
would be helpful as it seems to work for mo

[2018-02-04 06:07] malkuth216 commented on #2132
found that the same event is happening at start of day even if you don't sleep

[2018-02-04 09:05] marchermans commented on #2153
@mkienenb Take a look at the `label` class. It is what actually does the rendering. You might need to introduce logic that autowraps using its `FontRenderer`. In `FontRenderer` there is a method that allows you to split a string given a width.

[2018-02-04 09:06] marchermans commented on #2152
No there is no valid reason.
Take a look at the `BlockTorch` class from vanilla MC. It allows placement only on solid sides of blocks. If you adapt that logic to not place at all. You should be good to go.

[2018-02-04 10:39] Raycoms commented on #2152
I think we should make them manually place able since there are a few
players which can't use the build tool since their computer is too bad.

On Feb 4, 2018 7:06 AM, "Marc Hermans" <notifications@github.com> wrote:

[2018-02-04 15:58] Boyownik commented on #2132
.7356 still colonists dying in the morning :/

[2018-02-04 16:10] #2132 closed, assigned to marchermans

[2018-02-04 16:10] #2137 closed, assigned to marchermans

[2018-02-04 18:34] mkienenb commented on #2153
@OrionDevelopment Yes, i've taken a look at this.  However, if I fix the wrapping in the label itself, it appears that I will break the y-positioning as WindowRequestDetail assumes that every label is 10 pixels high (Y_OFFSET_EACH_TEXTFIELD).  As you say, the right fix would be to fix the label and fix the y-positioning anywhere a label is used.  With my current lack of in-editor PMD and checkstyl

[2018-02-04 19:27] mkienenb commented on #2154
I can't promise if I'll get a chance to look at it, but if you make a copy of your world available somewhere, I'll try to take a look today.

[2018-02-04 19:31] Raycoms commented on #2154
Might be related to this being 1.11.

We pushed a fix for 1.12, maybe forge changed this for 1.10 and 1.11 as well and we need to port the fix over.

[2018-02-04 19:42] MineShadow7 opened #2156 "Placeholder suggestion: Save morning citizens"
Make citizens teleport to their huts chest to prevent dying. Put that version on the server temporarily until find final fix to citizens dying.

[2018-02-04 19:52] Midge57 opened #2157 "Colonists keep dying in walls or 'out of world'."
### Minecolonies version

MineColonies Official 1.12-ver 4.17

### Expected behavior

- Colonists should not die from wall suffocation or falling out of the world, considering there is nowhere for them to actually do this in my colony.

### Actual behaviour

- Every single morning at least one colonist will die from being in a wall or falling out of the world. As a result, my happiness is forever

[2018-02-04 20:13] Boyownik opened #2158 "Delivery man not delivering things and empty clipboard."
### Minecolonies version
minecolonies-universal-1.12.2-0.8.7363

### Expected behavior

- Delivery man deliver materials to builder/miner.
- Clipboard shows requests.

### Actual behaviour

- Deliver man is running around the village with empty inventory, i've placed materials in Warehouse and he act like there is no of them.
- Clipboard is empty, i think that's the reason delivery man isn't deliv

[2018-02-04 20:52] mkienenb commented on #2152
From Zyx on discord yesterday

But I think it may be suitable to add a note suggesting to place teh TH block to get colony position, then break it and use the wand
For the other blocks - that might not be a bad idea
The last time I checked, there was a comment somewhere that it was possible to break the TH block and replace it - but I'm not sure whether that was in the getting started tutorial

[2018-02-04 21:00] mkienenb commented on #2152
players which can't use the build tool since their computer is too bad.

I will do some investigation on older computers.  All of my computers are old, and my one son's computer has a graphics chip with 8Mb of memory (it'll run vanilla MC and Attack of the B-Team but not much else)

But even if it has problems on older equipment, we should look at what can be done to make the build tool perform be

[2018-02-04 21:09] Raycoms commented on #2152
When you're good with rendering there is something we can do else we have
to wait for orion to do it, we would need to adapt our build tool rendering
to work like the real world rendering.

2018-02-04 21:00 GMT+00:00 Mike Kienenberger <notifications@github.com>:

[2018-02-04 23:35] #2153 closed, assigned to mkienenb

[2018-02-05 02:05] figtito commented on #2132
Colonists are still dying in the morning. I just updated to 7373 and the problem is still here.

[2018-02-05 02:06] figtito commented on #2157
I'm still having this issue as well. I reported this in 2132 as well as some other people but for some reason that issue was closed even though it's still happening. I tried 7373 and the problem is still here.

[2018-02-05 04:42] Lordbaane commented on #2157
Maybe this part should be removed for the time being, suspended, until is can be sorted out.

[2018-02-05 06:01] chriskeena commented on #2157
It seems to be tied to teh new mechanic of colonists using beds. My character was pushed into a wall one morning after sharing a bed for the night with a colonist. And yes most mornings a colonist is sufocated.
The short term solution seems to be only assigning one colonist per house. I did also see death by falling out of the world and crushed to death by crowding.

[2018-02-05 06:07] Justen-N commented on #2157
We close issues when a commit should have fixed them if the commit did not
fix the error, please resubmit the issue. @oriondevelopment is endeavoring
to fix what is going on here. This should only be on the alpha/beta builds,
so the only options we can give you is keep being our awesome test
community or downgrade to the latest release build.

On Feb 4, 2018 9:42 PM, "Kevin" <notifications@github.

[2018-02-05 06:18] chriskeena commented on #2135
I'd like to see the miner only fill the floors unless preventing flooding.

[2018-02-05 06:23] chriskeena commented on #2123
Perhaps the ranking worker could take on an apprentice? Automaticlly getting promoted on worker death.

[2018-02-05 10:48] Raycoms commented on #2135
That was me

On Feb 5, 2018 04:18, "DrFraud" <notifications@github.com> wrote:

[2018-02-05 11:01] Eufranio opened #2163 "NPE in the fill bucket event"
Sometimes I get this NPE on my server, happened twice today:

[code]

[2018-02-05 11:41] #1299 closed, assigned to Raycoms

[2018-02-05 12:03] DjTylerD commented on #2135
this is the first time I have a colony next to a fail
the nineur starts at a height according to his level, instead of the bridge it was a bend in dirt (as in the picture deeper)
![2018-02-05_12 42 35](https://user-images.githubusercontent.com/35812264/35803635-c802f298-0a74-11e8-8b96-8e4d77fe4d01.png)

for its that I thought about building a bridge for empty space.
@chriskeena the miner works rem

[2018-02-05 14:46] mkienenb commented on #2163
Well, the NPE is durring an attempt to fill a bucket.
[code]
It's ambiguous whether the error was due to a missing player for that event or due to a missing target for that event.   Probably it just needs a check to make sure that the target and player isn't null before attempting to cancel the event (filling a bucket is restricted inside of a colony)

Checking the event setup reveals that player

[2018-02-05 18:05] #2163 closed, assigned to mkienenb

[2018-02-05 19:22] mkienenb commented on #2152
I think the way to address both the older computers and more-precise-placement issues is to have a simple mode on the building tool which only shows the placed schematic block (town hall, builder's hut) plus some simple indicators (outline of area or tinted shading for existing blocks rather than rendering the schematic) and uses the activation location as the location of the placed schematic bloc

[2018-02-05 19:26] Eufranio opened #2168 "StackOverflow crash about crafting requests"
I just got this StackOverflow error:

[code]
Complete crash report: https://hastebin.com/odemufugey.sql

[2018-02-05 20:40] AlexandrePavy commented on #2157
Bug still with 0.8.7415, should add config to temporary disable this.

Best regards.

[2018-02-06 02:58] mkienenb opened #2169 "Builder needs to indicate why work stopped if build-hut chest is full and builder wants to put something in it."
### Minecolonies version

snapshot from 2018-02-05: version/1.12 6118e4f2da3088f3cff52982237bc2d6525e2b08

### Expected behavior

- Some indication of why builder is standing next to hut chest

### Actual behaviour

- Builder stands with "Clearing" message displayed.

[2018-02-06 03:23] mkienenb commented on #2051
This is happened to me just now.   I have a level 2 warehouse.   I've never left the overworld.  The racks were populated by the deliveryman, not by me.  A single rack shows the "stuff on them" visual indicator.  The rest of the rack show as empty even though they contain many items.   I have not logged out of the game nor left the overworld since creating my warehouse and deliveryman, so the chun

[2018-02-06 06:25] AdaraChristine opened #2170 "Undergroundbiomes ore error"
### Minecolonies version
minecolonies-universal-1.10.2-0.9.6974
UndergroundBiomesConstructs-1.10-1.0.v.19
forge-1.10.2-12.18.3.2511

### Expected behavior
Server start

### Actual behavior
Server crash

Description: Exception in server tick loop
java.lang.NullPointerException: Exception in server tick loop
	at exterminatorjeff.undergroundbiomes.common.block.UBOreSedimentary.func_180642_a(UBOreSedi

[2018-02-06 06:33] marchermans commented on #2170
Update both Minecolonies as well as Underground biomes. There ore blocks are broken, but should have been fixed by now. @Raycoms.

[2018-02-06 06:37] marchermans commented on #2051
Yep I it is a known issue
We need to trigger a chunk update when we do that.

[2018-02-06 06:38] marchermans commented on #2152
It is a known that the Schematic rendering takes a lot of time.
I have been working on this. But sadly it will take a Huge amount of time.

It has to wait until BlockOut is complete before we can make this work.

[2018-02-06 12:40] ProsperCraft commented on #2168
We are getting exception in server tick loop-
minecolonies-universal-1.12.2-0.8.7415

https://paste.fedoraproject.org/paste/pRJSBVpXsYR40pAiwGMGVw