[2017-05-05 09:56] wilsondgonzales commented on #915
@xavierh that fixed it. the schematic was a scan of some 'refined storage' parts from prior to the mod doing a slight overhaul. everything works. Thanks for taking time to resolve this

[2017-05-05 10:02] xavierh commented on #915
no problem
Could you post you schematic ? I need to make some changes so that minecraft does not crash in those situations

[2017-05-05 10:23] wilsondgonzales commented on #915
here you go @xavierh

[Processing plant.zip](https://github.com/Minecolonies/minecolonies/files/978721/Processing.plant.zip)

[2017-05-05 11:21] ghost opened #939 "Language X translation missing"
![123](https://cloud.githubusercontent.com/assets/24831406/25743655/15431246-319e-11e7-803d-8fa7cc74a0ce.PNG)
using forge 2294, minecolonies-universal-1.11.2-0.7.811

[2017-05-05 11:21] marvin-bitterlich commented on #939
What language are you using?

[2017-05-05 11:28] ghost commented on #939
![232](https://cloud.githubusercontent.com/assets/24831406/25743835/1e599dd6-319f-11e7-8670-1ab97917cd84.PNG)
didn't touch anything in options, i just updated minecolonies mod.

[2017-05-05 11:41] ghost commented on #939
i'm using an argument which is this:
![23](https://cloud.githubusercontent.com/assets/24831406/25744130/e739a894-31a0-11e7-82f3-0194b73f4775.PNG)
can it effect it?
btw, if i don't use this, most of the mods or apps that runs with java won't work.

[2017-05-05 12:16] marchermans commented on #939
It seems that because I cleared gradles Caches, it does not add the Standard en_US.lang file to the jar
And i have no idea why :(

[2017-05-05 12:16] marchermans commented on #939
Ones a build is ran it will add it again though.

[2017-05-05 12:17] ghost commented on #939
then what should i do? i tried reinstalling my modpack 5 times, and tried deleting configs, even restarting my pc, etc.

[2017-05-05 12:24] ghost commented on #939
oh, let me try the latest build.

[2017-05-05 12:29] ghost commented on #939
okay, build 832 works fine.

[2017-05-05 12:35] ghost commented on #939
uhm, but now; another bug: no citizen spawn

[2017-05-05 12:35] ghost commented on #939
waiting for 5 mins but still no citizens, i think it's more than 5 mins

[2017-05-05 12:40] ghost commented on #939
omg, they just spawned after about 15 mins

[2017-05-05 12:42] marchermans commented on #939
:P Yeah it is funny with that file. It does not delete it when clean was not run ......

[2017-05-05 12:42] ghost commented on #939
aaaaand just another bug, my builder wanted an axe from me, (wood or gold) and i gave him a wooden axe but he still wants.

[2017-05-05 12:43] marchermans commented on #939
Yeah there are some Problems with inventories, right now. We are on it to fix them. But that one is new. Where did you gave it to him?

[2017-05-05 12:44] ghost commented on #939
what u mean with where ?i gave it in my townhall

[2017-05-05 12:46] marchermans commented on #939
Townhall will not work.
You will need to either give it to him directly, by opening up his UI and clicking the inventory button.
Or put it in his Building chest. The townhall is not being checked on purpose.

[2017-05-05 12:47] ghost commented on #939
what? i already placed the wooden axe in his inventory, but i did it in townhall. so i must do it out of townhall? please fix this :( it's not sensible

[2017-05-05 12:49] ghost commented on #939
oh, sorry. i gave the axe to the wrong citizen. it works. but i did it in builder's hut.

[2017-05-05 12:51] ghost commented on #939
and i want to ask a question, why the builder is far away from the build? he looks like a crazy :D he's just hitting the air but something is happening in build area. why doesn't he come to the build area?

[2017-05-05 13:10] xavierh commented on #939
It is to prevent him to suffocate when building

[2017-05-05 13:10] #939 closed, assigned to nobody

[2017-05-05 16:39] Spleenczar opened #942 "Unable to access builder's inventory"
### Minecolonies version

version X.X.XXXX or curse X.X.XX

### Expected behavior

- Opening the builder's inventory

### Actual behaviour

- Nothing happens when clicking the "Inventory" button

### Steps to reproduce the problem

1. Make a new colony
2. Make a builder's hut
3. Hire a builder
4. Try and access their inventory

I have not tried this with other colonists because I have just started

[2017-05-05 16:59] #914 closed, assigned to nobody

[2017-05-05 17:11] Raycoms commented on #942
Can you deliver us more information?
Multi or single-player?
Are you using other mods?
Can you send us your log files?

[2017-05-05 18:27] P3rf3ctXZer0 commented on #930
@Kostronor mind responding?

[2017-05-05 18:32] Raycoms commented on #930
Does this happen repeatedly?
Or only happened once?
Did you change anything else, are you using any other mods?

[2017-05-05 21:30] Raycoms commented on #937
Oh that is really long ago, I guess this isn't working anymore because of minecraft itself.
@OrionDevelopment you know anything about textures?

[2017-05-05 21:31] Raycoms commented on #924
@pmardle

[2017-05-05 21:32] Raycoms commented on #838
Please reopen this as soon as able to reproduce.
Seems like the scarecrow lost its tile entity.

[2017-05-05 21:32] #838 closed, assigned to nobody

[2017-05-05 21:32] Raycoms commented on #836
Please reopen if able to reproduce

[2017-05-05 21:32] #836 closed, assigned to nobody

[2017-05-05 21:33] Raycoms opened #943 "Smarter build site calculation"
Builder should calculate the place to build smarter and closer to the building to build.

[2017-05-05 21:33] Raycoms commented on #830
closed in favor of #943

[2017-05-05 21:34] Raycoms commented on #829
Still happening with the newest version?

[2017-05-05 21:34] #825 closed, assigned to nobody

[2017-05-05 21:35] Raycoms commented on #807
We are working on this, but it seems some kind of dataloss we can't explain yet.

[2017-05-05 21:35] #807 closed, assigned to nobody

[2017-05-05 23:41] BinarySavage opened #944 "Fisherman blocks Lure when trying to fish."
### Minecolonies version

Minecolonies version 1.10.2-0.7.776
Modpack verion 0.8.3

### Expected behavior

- Lure to ignore fisherman collision when casting

### Actual behaviour

- Lure collides with fisherman and is cast into fisherman's body.

### Steps to reproduce the problem

1. Build Fisherman Hut
2. Assign Villager
3. Provide with fishing rod
4. Wait for Fisherman to approach water and att

[2017-05-05 23:54] Raycoms commented on #944
Found bug, removed. Will be fixed in next version.

[2017-05-06 09:09] xavierh commented on #915
Does not crash on my computer. @Raycoms @OrionDevelopment Could you try this schematic ?

[2017-05-06 10:06] rexrapter1234 opened #946 "Warehouses griefed by staff member/s on Server"
I joined the server to today just to founded out that 3 out of 6 of my Warehouses have been griefed by staff member/s. They are complaining about lag on the server and have decided to fix the lag by destroying players hard work. It took me over 2 weeks to build my Warehouses which took me a long time to build. As a Player I like helping will the bugs, when I find them, but it's going to make it ve

[2017-05-06 10:50] wilsondgonzales commented on #915
@xavierh try loading a save, don't have any huts etc on inventory. i find it only crashes on first click without a hut in inventory coz i think it'll automatically default to the hut selection versus not having one and it defaults to 'my schematics'. it stops crashing on me if i first carry a hut, goto say a wall deco to build. on the next time i click, it opens up with the previous selection.

[2017-05-06 10:51] xavierh commented on #915
Will try that. Thanks

On 6 May 2017 11:50, "Wilson Gonzales" <notifications@github.com> wrote:

[2017-05-06 10:54] xavierh commented on #915
Btw I can see the preview of your schematic. So I don't think I will crash for me :(

[2017-05-06 13:25] Raycoms commented on #946
Hey there rexrapter,

Luckily I didn't see all 6 or I would've destroyed 5 of them.
On our wiki it says there is supposed to be 1 Warehouse each player.

6 warehouses need the resources of the whole server.
So basically 90% of the cpu and memory just go to your colony.

Please be considerade and see that its kinda selfish to require 6 warehouses for your little colony.
That's way more than 1 playe

[2017-05-06 14:00] rexrapter1234 commented on #946
1. No I haven't read the wiki, as I've played this mod back in 1.7.7 Minecraft beta. I'll change it to one.

2. These not posted to use 90% of cpu of the server, there only buildings. why would they be set to use high cpu ? That is very weird.

3. Well I not trying to use 90% of the server's resources. I think one warehouse is to small that is why I made more of them.

4. Okay will do. Can I add c

[2017-05-06 14:13] Raycoms commented on #946
Because the warehouse has to do the calculation which items the deliveryman
can deliver.
So 6 warehouses calculating if they can deliver food to the citizen

2017-05-06 11:00 GMT-03:00 rexrapter1234 <notifications@github.com>:

[2017-05-06 14:33] rexrapter1234 commented on #946
Ok that makes sense.

If I add more chests (chests and trap chests) in the warehouse and by digging down and making the building taller, would the delivery man use the new chests ?

[2017-05-06 14:42] marchermans commented on #946
No, only chests placed by builders are regocnized.

[2017-05-06 14:51] rexrapter1234 commented on #946
oh ok

[2017-05-06 16:39] Sejoslaw commented on #829
It still crash in the same way - [Crash Report](https://pastebin.com/Aq7XDc68) - `java.lang.NoClassDefFoundError: com/minecolonies/coremod/colony/ColonyManager
	at com.minecolonies.coremod.event.FMLEventHandler.onClientTick(FMLEventHandler.java:39) ~[FMLEventHandler.class:?]`
I'm using Forge 2259. Could that be a problem ?

[2017-05-06 19:30] P3rf3ctXZer0 commented on #930
Repeatedly

[2017-05-07 09:06] nekatu opened #947 "Collection of issues - 0.7.777"
Hey guys-

Looking forward to the Bakery & Food system, but having a few issues with the 0.7.777 build. I've gathered that there are hotfixes for the issues; at least all bar the warehouse one. Just wondering when the next version is due that will have these as we're losing resources left right and centre, which is bad enough normally but I've recently moved my server to the "Colonial Expansion" m

[2017-05-07 10:01] marvin-bitterlich commented on #947
I think they are already fixed and released.

Check the issues for these problems and see if they are closed. If that happens, curse has a builkd containing a fix.

(And please, one Issue per Problem 😋 )

[2017-05-07 10:23] nekatu commented on #947
Thanks- for some reason I didn't think to check curse...

Testing the 0.7.832 build now.

[2017-05-07 10:57] nekatu commented on #947
From an initial look it seems the issues are still present; do I need to repair the buildings to have the chests replaced?

Also, attempting to place the supply camp results in all minecolonies citizens and workers moving in slow motion. The building tape goes up and the builder stars to clear the ground but doesn't seem to get any further than that.

Will test in a new world this evening though j

[2017-05-07 12:20] Raycoms commented on #947
Can you send us the log?

[2017-05-07 15:26] nekatu commented on #947
Will do tomorrow night when I’m back home.

From: Raycoms
Sent: 07 May 2017 13:21
To: Minecolonies/minecolonies
Cc: nekatu; Author
Subject: Re: [Minecolonies/minecolonies] Collection of issues - 0.7.777 (#947)

Can you send us the log?
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-07 15:28] Terpo commented on #935
Open the minecolonies.jar with 7zip, extract en_US.lang. Rename the file to en_us.lang. Drag and drop it back in. After a restart / F3+T the localization should be fine.

[2017-05-07 15:44] nekatu commented on #947
actually- as this is a server game, it should be fine sending you logs from there, right?

Attached are the most recent logs; let me know if there's anything else you need.

[Logs.zip](https://github.com/Minecolonies/minecolonies/files/981695/Logs.zip)

[2017-05-07 16:01] marchermans commented on #935
Oh is it just named wrong....
Weird. Why would the buildsystem name it wrong when i clean its caches but not when i rerun the same build again after the cache cleanup....

[2017-05-07 16:47] nekatu commented on #947
Fresh logs from a quick test from my laptop-

[Server.zip](https://github.com/Minecolonies/minecolonies/files/981751/Server.zip)
[Client.zip](https://github.com/Minecolonies/minecolonies/files/981752/Client.zip)

[2017-05-07 20:10] Raycoms commented on #947
Is this 1.10 or 1.11?

[2017-05-07 20:40] nekatu commented on #947
1.11.2

[2017-05-07 20:50] Raycoms commented on #947
Ahh could you try the alpha version we uploaded to curse if that worked out?

2017-05-07 17:40 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-07 20:57] nekatu commented on #947
Testing now- thanks!

[2017-05-07 21:03] nekatu commented on #947
[client-alpha-crash.zip](https://github.com/Minecolonies/minecolonies/files/981932/client-alpha-crash.zip)
[server-alpha.zip](https://github.com/Minecolonies/minecolonies/files/981933/server-alpha.zip)
[client-alpha.zip](https://github.com/Minecolonies/minecolonies/files/981931/client-alpha.zip)

Loaded in to a tonne a messages about starving villagers, and then a crash the second I clicked on a w

[2017-05-07 21:10] nekatu commented on #947
Same again; interestingly it only crashes the client not the server.

[client-alpha-2.zip](https://github.com/Minecolonies/minecolonies/files/981936/client-alpha-2.zip)
[server-alpha-2.zip](https://github.com/Minecolonies/minecolonies/files/981937/server-alpha-2.zip)

[2017-05-07 21:25] nekatu commented on #947
Server restarted when I started building the supply camp-

[server-alpha-3.zip](https://github.com/Minecolonies/minecolonies/files/981945/server-alpha-3.zip)
[client-alpha-3.zip](https://github.com/Minecolonies/minecolonies/files/981946/client-alpha-3.zip)

[2017-05-07 21:31] Kocytos opened #949 "Crash when i will right klick on Peoples or the town hall"
### Minecolonies version

minecraft version 1.11.2
minecolony version on curserforge: 0.7.862
forge version: 13.20.0.2284 or 13.20.0.2296

### Expected behavior

- open the Gui

### Actual behaviour

- Crash when i will right klick on Peoples or the town hall

### Steps to reproduce the problem

1. Make a new colony
2. right klick on Peoples or the town hall
3. Crash!

Single and Multiplayer World

[2017-05-07 21:35] nekatu commented on #947
hmm- server stuck in a reboot loop whenever I log in now; may need to try restore a copy of my world.

any commands to freeze all workers or something like that so I can cancel the build request on that supply camp?

[2017-05-07 21:44] nekatu commented on #947
Changed builderBuildBlockDelay to 1000 in config file which allowed the server to run for long enough for me to get to the Town Hall, but like the workers, which I right click on it the client crashes.

[client-alpha-4.zip](https://github.com/Minecolonies/minecolonies/files/981959/client-alpha-4.zip)
[server-alpha-4.zip](https://github.com/Minecolonies/minecolonies/files/981960/server-alpha-4.zip)

[2017-05-07 21:58] nekatu commented on #949
Having the same issue following update to this build (#947)

[2017-05-07 22:08] Raycoms commented on #947
No, never =)

Currently working on some background systems. As soon as I finished the
part I'll take a look at this.

2017-05-07 18:44 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-07 22:12] nekatu commented on #947
Thanks! :-)

really appreciate all the hours you guys put into this; one of the best mods ever.

[2017-05-07 22:48] JavaVampire opened #950 "Loosing Items"
### Minecolonies version

1.11.2 - 0.7.811 (Same thing happens with 1.11.2 - 0.7.830 & 1.11.2 - 0.7.832)

### Expected behavior

a) Lumberjack deposits wood into building (chest) and wood is available for collection.
b) Deliveryman collects items and places them in the warehouse.

### Actual behaviour

a) Lumberjack deposits wood into building (chest) and wood disappears.
b) Deliveryman collects i

[2017-05-07 22:58] Raycoms commented on #947
Okay I have a fix for the clientside crash. Stupid thingy =D

Okay what's missing is the thingy with the camp

[2017-05-07 23:30] Raycoms commented on #947
Okay fixed all of it. I'll post a link to it here

[2017-05-08 00:00] Raycoms commented on #947
http://teamcity.smithsmodding.com/repository/download/Minecolonies_PullRequests/878:id/minecolonies-universal-1.11.2-0.7.878.jar

Try out that one

[2017-05-08 01:54] Raycoms commented on #950
Will be fixed in the next version.

[2017-05-08 02:29] nekatu commented on #947
testing now; thanks!

[2017-05-08 02:47] Raycoms commented on #947
http://teamcity.smithsmodding.com/repository/download/Minecolonies_PullRequests/881:id/minecolonies-universal-1.11.2-0.7.881.jar
should resolve the dumping problems as well

2017-05-07 23:29 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-08 02:54] nekatu commented on #947
Thanks- supply camp worked great in 0.7.878 but was about to say that the dumping issue was still a problem. It looked like items were being shifted by the Warehouse block but again they're just disappearing into the ether; and my server restarted again randomly.

Will try 0.7.881 and then share logs if it happens again.

[2017-05-08 03:05] nekatu commented on #947
Server still stuck in a reboot loop as it was when I started the supply camp previously, though there's no building going on now, that I'm aware of.
[server-5.zip](https://github.com/Minecolonies/minecolonies/files/982261/server-5.zip)

[2017-05-08 03:11] nekatu commented on #947
Server reboots seem to have stopped after 5 or 6 instances.

Will continue testing.

[2017-05-08 03:18] Raycoms commented on #947
Can't find anything related to minecolonies in the logs

2017-05-08 0:11 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-08 03:25] nekatu commented on #947
Game seems stable, so that may have been a fluke.

Dumping still seems to be an issue; tried rebuilding my warehouse as a test and even at level 1 all I'm getting is "Warehouse full" messages even though the chests are all empty.

[client-6.zip](https://github.com/Minecolonies/minecolonies/files/982284/client-6.zip)
[server-6.zip](https://github.com/Minecolonies/minecolonies/files/982285/server-6.

[2017-05-08 03:49] nekatu commented on #947
Back to reboot cycle every few minutes-

[server-7.zip](https://github.com/Minecolonies/minecolonies/files/982321/server-7.zip)
[server-8.zip](https://github.com/Minecolonies/minecolonies/files/982320/server-8.zip)

Client seems fine though

[2017-05-08 04:01] nekatu commented on #947
Stuff is definitely being picked up from the Warehouse chest itself, I've dumped a load of bread in there and the deliveryman is taking it out to the various workers. Will test if the same is true of manually placing items in chests in the warehouse, but it definitely isn't taken stuff from the main warehouse chest and placing it in the other chests in the building as it's convinced the warehouse

[2017-05-08 04:22] nekatu commented on #947
Workers are definitely unloading to their chests again, so that's a good sign.

[2017-05-08 04:33] nekatu commented on #947
Server reboots definitely seem timed to builder work on the warehouse; restarted again when I tried to upgrade the warehouse.

[server-9.zip](https://github.com/Minecolonies/minecolonies/files/982375/server-9.zip)
[server-10.zip](https://github.com/Minecolonies/minecolonies/files/982377/server-10.zip)

The upgrades do go through but seem to trigger a reboot as soon as they start and the reboot loo

[2017-05-08 04:33] marchermans commented on #950
I could have sworn that this worked in my PR.....
Am i that blind......

[2017-05-08 08:49] marvin-bitterlich commented on #950
@OrionDevelopment remember that the 811 build is not the newest. Have you tracked what build contains your patch?

[2017-05-08 17:18] #943 closed, assigned to Raycoms

[2017-05-08 19:29] Wissi commented on #835
I guess it was an isolated permissions config "Server Issue". No response since 14 days ago. Issue should be closed?

[2017-05-08 19:44] #835 closed, assigned to nobody

[2017-05-08 20:23] #913 closed, assigned to nobody

[2017-05-08 20:23] #915 closed, assigned to xavierh

[2017-05-08 20:24] #875 closed, assigned to nobody

[2017-05-08 20:52] nekatu commented on #947
Still having the server boot look on 0.7.887; logs to follow.

[2017-05-08 20:55] Raycoms commented on #947
Can you send us the part of the log where it restarts, didn't find any
"minecolonies" related exception in the previous loegs.

2017-05-08 17:52 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-08 21:58] nekatu commented on #947
Digging through the logs myself now though but server reboot definitely happens as soon as builder starts work.

I deleted the config file to let it recreate and all was fine as long as it was night time, but the second the sun came up and the builder started work the server restarted.

[Client-11.zip](https://github.com/Minecolonies/minecolonies/files/984955/Client-11.zip)
[Server-11.zip](https:/

[2017-05-08 22:37] wilsondgonzales opened #953 "[1.11.2- 0.7.887"
no idea what's causing the crash

https://paste.ee/p/40Et9

[2017-05-08 22:40] Raycoms commented on #953
Its the newest alpha on curse?

2017-05-08 19:37 GMT-03:00 Wilson Gonzales <notifications@github.com>:

[2017-05-08 23:11] wilsondgonzales commented on #953
@Raycoms yes. the colony loads, then everyone complains about being hungry, then crash

[2017-05-08 23:26] wilsondgonzales commented on #953
Also started a new map and dropped a townhall. i noticed that the colonists have weird names like

*Shannon I. White P. Williams* lol

[2017-05-08 23:32] Raycoms commented on #953
Haha nice catch, fixed that together with that crash.
Will paste a working version here in a moment.

[2017-05-08 23:41] Raycoms commented on #953
http://teamcity.smithsmodding.com/guestAuth/repository/download/Minecolonies_Branches/909:id/minecolonies-universal-1.11.2-0.7.909.jar

[2017-05-09 01:13] Arthebas opened #955 "Ressources diseappears"
### Minecolonies version

version 1.11.2-0.7.832

### Expected behavior

- Each NPC who gather ressources deposit in his storage (farmer, miner, builder, sawmill, etc ... )

### Actual behaviour

- When a NPC deposit ressources, they disappears

### Steps to reproduce the problem

1. Minecraft 1.11.2
2. Forge 1.11.2-13.20.0.2282
3. Server host by Verygames
4. Some mods like Tinkers Construct
 I've

[2017-05-09 01:15] Raycoms commented on #955
Have you tried the alpha versions on curse?

2017-05-08 22:13 GMT-03:00 Arthebas <notifications@github.com>:

[2017-05-09 01:18] Arthebas commented on #955
Hello Raycoms, yes I've tried the minecolonies-universal-1.11.2-0.7.887.jar
Don't know if problem was solved cause I can't access NPC inventory.

I try again

[2017-05-09 01:33] Arthebas commented on #955
Omg, it works \o/
This time no inventory bug or text bug and NPC stock items.
So much thanks for your help \o/

[2017-05-09 01:33] #955 closed, assigned to nobody

[2017-05-09 02:35] wilsondgonzales commented on #953
fast fix! i'll try in a bit

[2017-05-09 03:28] wilsondgonzales commented on #953
now i have the same error as #949 but here's the log https://paste.ee/p/IpZj7
i guess it's also safe to close or should i be closing the issue?

[2017-05-09 05:12] Fito1978 opened #956 "Crash Report"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  RebornCoreASM (RebornCore-1.11.2-2.14.1.92-universal.jar)
  IvToolkit (IvToolkit-1.3.3.jar)
  RBLoadingPlugin (RealBench-1.11.2-1.3.2.jar)
  DynamicSurroundingsCore (DynamicSurroundings-1.11.2-3.4.1.0.jar)
  LoadingPlugin (Quark-r1.2-91.jar)
Contact their authors BEFORE contacting forge

// Daisy, daisy...

Time: 5/9/17 2:02 AM
Des

[2017-05-09 11:20] marvin-bitterlich commented on #946
@rexrapter1234 I am closing this for now. Please open up separate issues for other problems.

We had initially planned and said that only one warehouse per colony was allowed (because of heavy CPU usage) and will now enforce this n the mod.

We are sorry you lost some work but we had to deactivate your warehouses as they used up too much server resources. With a game as complex as minecraft this i

[2017-05-09 11:20] #946 closed, assigned to nobody

[2017-05-09 11:22] marvin-bitterlich commented on #937
I'm posting a bounty on this one. @AndrewTru can you rework the issue to clearly state what needs to be done to improve the current situation?

[2017-05-09 11:27] #511 closed, assigned to xavierh

[2017-05-09 11:49] Arthebas opened #957 "Crash when upgrading or repairing buildings"
### Minecolonies version

minecolonies-universal-1.11.2-0.7.887.jar

### Expected behavior

- Upgrading a building to level 2 or repair it

### Actual behaviour

- Builder take ressources, go to build spot to upgrade and doesn't do anything (problem occurs for my friend and me, not the same city or building but can't go to level 2 building like Citizen's Hut or Sawmill. Here is the console log:

[

[2017-05-09 12:01] Raycoms commented on #957
Thanks for the report, fixing it right now.

2017-05-09 8:49 GMT-03:00 Arthebas <notifications@github.com>:

[2017-05-09 12:01] Raycoms commented on #956
Fixed that already. Version will come out soon.

2017-05-09 2:12 GMT-03:00 Fito1978 <notifications@github.com>:

[2017-05-09 12:03] AndrewTru commented on #937
for anyone who takes this bounty, I am currently looking at the chance for a skin system rework.
At the top of the issue thread you will find a link, that is the effect of customizing a skin with the current system, I will allow the collection of the bounty and end this issue if we can find a way to fix this effect.
I will be online as often as I can to reply to any questions you may have.
in othe

[2017-05-09 12:08] Raycoms commented on #937
Please note that some of our citizens use custom models.
That means that "general minecraft skins" won't work, especially not for
the female citizens.

2017-05-09 9:03 GMT-03:00 AndrewTru <notifications@github.com>:

[2017-05-09 12:10] AndrewTru commented on #937
@Raycoms I get that, the idea here is an in mod way to use that custom model to fix what was seen in the photo I gave at the start of this request, the one you marked as odd.

[2017-05-09 12:13] AndrewTru commented on #937
converter system or some like based code work, I know that you may not like to release the models themself but if the mod can 'lightly' do some of the work so the general minecraft skins can at least help paint a saved 'custom' model or two the core file stays but is painted to look like a skin you provide.
the overlay part is going to be a small issue in that regard but play the code just right a

[2017-05-09 12:16] Raycoms commented on #937
The problem is with our custom models, there is no way we can detect if a
skin fits our custom model or not.
For the human I that's easy, but for the computer that's another story.
(Not my area of expertise as well).

What we can do:
- Config option to default all models to vanilla models.
- Then offer a way to load custom skins like a stylepack.

2017-05-09 9:13 GMT-03:00 AndrewTru <notifications

[2017-05-09 12:20] AndrewTru commented on #937
Let's do that, will you be providing the new packs or giving the player a pack maker?

[2017-05-09 12:31] Raycoms commented on #937
I'd suggest doing it like with the schematics.
Making a dedicated folder where the player can drop the styles of (named
accordingly).

2017-05-09 9:20 GMT-03:00 AndrewTru <notifications@github.com>:

[2017-05-09 12:36] AndrewTru commented on #937
That will work.
This folder will take any file or just a set type ( .jpg, .png,. style)?

[2017-05-09 12:48] Raycoms commented on #957
Should fix this:
http://teamcity.smithsmodding.com/guestAuth/repository/download/Minecolonies_Branches/917:id/minecolonies-universal-1.11.2-0.7.917.jar

[2017-05-09 12:48] Raycoms commented on #956
Should fix this:
http://teamcity.smithsmodding.com/guestAuth/repository/download/Minecolonies_Branches/917:id/minecolonies-universal-1.11.2-0.7.917.jar

[2017-05-09 12:48] Raycoms commented on #953
http://teamcity.smithsmodding.com/guestAuth/repository/download/Minecolonies_Branches/917:id/minecolonies-universal-1.11.2-0.7.917.jar

Should fix this

[2017-05-09 13:04] Arthebas commented on #957
Perfect work, we tried many buildings and all can upgrade level 2 without crash or problem.
Many thanks from us :+1:  :)

[2017-05-09 13:05] #957 closed, assigned to nobody

[2017-05-09 13:50] marchermans commented on #937
Our textures are part of resourcepacks.
As long as the resource packs overloads minecolonies domain textures will be updated.

[2017-05-09 14:05] Akkaross opened #958 "Delivery Warehouse"
### Minecolonies version

version 1.11.2-0.7.917 and before with .887 on a Verygames multiplayer server .

### Expected behavior

- Delivery-man collects all items from the gatherers (miner, sawmill ...) and stock them to the warehouse.

### Actual behaviour

- Delivery-man collects all items as intended, and going to the warehouse. Then items disapear from his inventory but don't go to the chests

[2017-05-09 14:36] AndrewTru commented on #937
cool, Just checking. The style packs will be stored where?
in other words how will the player get the style packs into the folder
(downloaded as a resource pack, saved as a new file type, sent as part of the mod install as a .zip)

[2017-05-09 14:53] marchermans commented on #937
The textures are stored just like the vanilla textures. If you make a resource pack just like the way you make one for Minecraft but instead target minecolonies you will override its textures, langfiles, sounds etc

[2017-05-09 14:58] AndrewTru commented on #937
ah, got it.
I was just asking what the user will have to do to get the pack and point the minecraft install to it.
the back office I get, I am talking more the foregrounds.
asking as a user and not a coder.

[2017-05-09 17:04] wilsondgonzales commented on #953
@Raycoms this fixed it. however the problem persists on 0.7.920 which was released on curse

[2017-05-09 17:05] Raycoms commented on #953
920 was released when on curse?

2017-05-09 14:04 GMT-03:00 Wilson Gonzales <notifications@github.com>:

[2017-05-09 17:18] wilsondgonzales commented on #953
@Raycoms  https://minecraft.curseforge.com/projects/minecolonies/files/2417809
i might be confused about what 'curse' is

[2017-05-09 17:20] wilsondgonzales commented on #949
@Durothan this is fixed with the file on #953

[2017-05-09 17:21] Raycoms commented on #953
@Kostronor why might it work in my demo build and not in the curse version?

2017-05-09 14:18 GMT-03:00 Wilson Gonzales <notifications@github.com>:

[2017-05-09 17:21] Raycoms commented on #949
Should be fixed with the newest alpha on curse as well

2017-05-09 14:20 GMT-03:00 Wilson Gonzales <notifications@github.com>:

[2017-05-09 17:34] marchermans commented on #937
Ah like any vanilla texturepack, you download it, put it in your texturepacks Folder, and selct it in the texturepacks Option in Minecraft. It will load the textures for you,

[2017-05-09 17:42] Anakardian opened #959 "Spawnable spots in warehouse"
### Minecolonies version

version 0.8.4  or curse 0.7.4.2.1

### Expected behavior

When upgrading warehouse there should be no spawnable areas after the builder is finished.

### Actual behaviour

The top floor has several spawnable spots in the area away from the ladder
As a minimum this occurs on the final upgrade and maybe earlier levels as well.

### Steps to reproduce the problem

1. Build w

[2017-05-09 17:42] Anakardian commented on #959
Raycoms asked me to tag it with @pmardle

[2017-05-09 17:53] Fito1978 commented on #956
Thank you very much men!

[2017-05-09 18:10] AndrewTru commented on #937
I take it the team will have a page on the Minecolonies site for the packs themselves?

[2017-05-09 18:12] nekatu commented on #947
Testing 0.7.920 to see if it resolves the issue now...

[2017-05-09 18:26] nekatu commented on #947
[client-12.zip](https://github.com/Minecolonies/minecolonies/files/987645/client-12.zip)

Crash within minutes of loading; trying again now.

[2017-05-09 18:34] nekatu commented on #947
So far so good after that initial crash; building upgrade is happening as it should.

Testing chests now though.

[2017-05-09 18:35] Raycoms commented on #947
Can't explain that client window crash for now. Its so strange. Citizen
windows always cause that crash?

2017-05-09 15:34 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-09 18:53] nekatu commented on #947
Just tested it again, and yes it does seem to be as soon as I select a citizen.
Haven't had a chance to test the warehouse yet.

[client-13.zip](https://github.com/Minecolonies/minecolonies/files/987717/client-13.zip)

Thinking I may start a new world just to test in case something in one of the previous alphas, or the original warehouse bug I had has broken something.

[2017-05-09 19:12] nekatu commented on #947
yep, no sign of any change at my warehouse. Will generate a new world in a bit and test on that.

[2017-05-09 19:44] fallenhunter1 opened #962 "Button confusion."
### Minecolonies version 1.8.9

### Expected behavior
Full name of button(stone), or Button(wood)

### Actual behavior
Just asks for Button. Confusing at least, not game breaking, but a hassle.

### Steps to reproduce the problem
Any building requiring buttons, just ask to build/upgrade one.

[2017-05-09 20:14] wilsondgonzales commented on #953
@Raycoms the latest .930 works. Note (something i'll start a new thread for) that colonists spawn with all attributes at 1. I've killed a bunch to get colonists with the right attributes for a job but now have a bunch of em with 1s across all attributes. if it was intended that they level up as they go, great

[2017-05-09 20:15] wilsondgonzales commented on #958
@Akkaross this problem has been fixed. update to at least 7.930

[2017-05-09 20:21] wilsondgonzales opened #963 "[1.11.2 MC 0.7.930] Colonists spawn with all 1 for attributes"
I've killed a bunch to get colonists with the right attributes for a job but now have a bunch of em with 1s across all attributes. if it was intended that they level up as they go, great. I also can't provide a log as it's not really an error that shows up on the log

also is there anywhere to read up on mc commands? if a colonist did die, i would look to respawn them but if the colony reaches max

[2017-05-09 20:40] #958 closed, assigned to nobody

[2017-05-09 20:40] #953 closed, assigned to Raycoms

[2017-05-09 21:08] ghost opened #964 "Deliveryman Bug"
### Minecolonies version

minecolonies-universal-1.10.2-0.7.848

### Expected behavior

- Delivery person to deliver things from the warehouse to workers chests and the other way around

### Actual behaviour

- Delivery person fills chests with 0 amounts of items. For example, a cracked stone brick with a red zero has been placed in many of my chests and even when the chest has room the delivery p

[2017-05-09 21:20] wilsondgonzales commented on #964
@xDemonChip this has been fixed. update to at least ~0.7.930~ 0.8.930 (typo)

[2017-05-09 21:24] wilsondgonzales commented on #950
@JavaVampire update to at least 0.7.930

[2017-05-09 21:30] Raycoms commented on #963
What is your colony happiness?

2017-05-09 17:21 GMT-03:00 Wilson Gonzales <notifications@github.com>:

[2017-05-09 21:31] Raycoms commented on #962
I'd say in this case Minecraft is a dick because they named both exactly
the same, we would have to create an extra logging case only for this.
@Kostronor

2017-05-09 16:44 GMT-03:00 fallenhunter1 <notifications@github.com>:

[2017-05-09 21:33] ghost commented on #964
@wilsondgonzales I dont see it updated on curse or the repository, is it a beta release? Is there one for 1.10.2?

[2017-05-09 21:42] Raycoms commented on #964
Its an alpha release

2017-05-09 18:33 GMT-03:00 xDemonChip <notifications@github.com>:

[2017-05-09 21:46] #950 closed, assigned to nobody

[2017-05-09 23:02] nekatu commented on #947
Loading up 0.8.930 in a test world to see if this solves my issues, and will then test it in my server world.

(Shouldn't it be 0.7.930?)

[2017-05-09 23:21] nekatu commented on #947
Selecting a citizen seems OK so far; just waiting on my colony to finish building to test the warehouse.

[2017-05-09 23:29] nekatu commented on #947
Items in deliveryman inventory still disappearing at handoff to the Warehouse.

[2017-05-09 23:31] nekatu commented on #964
Unfortunately Issue still present in 1.11.2 0.8.930 as per #947

[2017-05-09 23:32] nekatu commented on #949
Issue has come and gone and come again across the various alphas over the last few days, but 0.8.930 seems to have it sorted though.

[2017-05-09 23:48] Raycoms commented on #947
Only in handoff to the warehouse or also if lumberjack drops of or miner?

2017-05-09 20:29 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-10 00:00] nekatu commented on #947
Drop off from all workers to hut chests seems to be working fine.
Pickup from worker hut chests to Deliveryman inventory seems fine.
Drop off from Deliveryman to Warehouse not working.

Interestingly, pickup from items manually placed in the Warehouse hut chest by the Deliveryman seems fine, and drop off from Deliveryman;s inventory to worker hut chests works fine too.

So it's specifically the dr

[2017-05-10 00:01] Raycoms commented on #947
Is this 1.10 and 1.11 related or only one of them? do you know?

2017-05-09 21:00 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-10 00:01] nekatu commented on #947
Only aware of it in 1.11

[2017-05-10 02:29] wilsondgonzales commented on #964
@nekatu @Raycoms I've verified that

• deliverymen does deliver items from the warehouse
• deliverymen does take items from workers chests to the warehouse
• Workers do put items they've harvested to their worker chests

In short, any inventory related bugs seem to be eliminated. I'll have to verify the farmer as i previously had an instance where he was asking for seeds but the request was ignore

[2017-05-10 02:30] wilsondgonzales commented on #963
@Raycoms happiness is 5

[2017-05-10 08:49] marvin-bitterlich commented on #80
Closing this in favor of other systems

[2017-05-10 08:49] #80 closed

[2017-05-10 08:51] marvin-bitterlich commented on #147
@Raycoms are we already doing this?

[2017-05-10 08:53] marvin-bitterlich commented on #207
@Oggal @Raycoms is this still relevant?

[2017-05-10 08:54] marvin-bitterlich commented on #234
closing es inactive for now

[2017-05-10 08:54] #234 closed

[2017-05-10 08:55] marvin-bitterlich commented on #245
closing as inactive

[2017-05-10 08:55] #245 closed

[2017-05-10 08:56] marvin-bitterlich commented on #298
@wesselOC what is the status of this?

[2017-05-10 08:57] xavierh commented on #962
We should add the item icon on the resources needed tab

[2017-05-10 09:01] marvin-bitterlich commented on #400
Closing this as too broad…
@nekatu please open one issue per problem

[2017-05-10 09:01] #400 closed, assigned to nobody

[2017-05-10 09:03] marvin-bitterlich commented on #479
@xavierh did your latest patch fix this?

[2017-05-10 09:08] marvin-bitterlich commented on #505
Closing this for now

[2017-05-10 09:08] #505 closed, assigned to nobody

[2017-05-10 09:10] marvin-bitterlich commented on #538
Closing for now, we accept sounds now

[2017-05-10 09:10] #538 closed, assigned to nobody

[2017-05-10 09:13] marvin-bitterlich commented on #557
Closing as server related

[2017-05-10 09:13] #557 closed, assigned to nobody

[2017-05-10 09:18] marvin-bitterlich commented on #569
closing as solves

[2017-05-10 09:18] #569 closed, assigned to nobody

[2017-05-10 09:21] marvin-bitterlich commented on #593
@Raycoms can we not just replace anything there is with cobble and ladder?

[2017-05-10 09:23] marvin-bitterlich commented on #609
Closing this for now

[2017-05-10 09:23] #609 closed, assigned to nobody

[2017-05-10 09:38] marvin-bitterlich commented on #620
closing tor now

[2017-05-10 09:38] #620 closed, assigned to nobody

[2017-05-10 09:38] marvin-bitterlich commented on #623
@pmardle remind xD

[2017-05-10 09:40] marvin-bitterlich commented on #630
Closing as not enough info

[2017-05-10 09:40] #630 closed, assigned to nobody

[2017-05-10 09:41] marvin-bitterlich commented on #722
@Raycoms any news?

[2017-05-10 09:42] marvin-bitterlich commented on #631
Closing in favor of #301

[2017-05-10 09:42] #631 closed, assigned to nobody

[2017-05-10 09:43] marvin-bitterlich commented on #632
Closing, waiting on dev of vanilla magic

[2017-05-10 09:43] #632 closed, assigned to nobody

[2017-05-10 09:45] marvin-bitterlich commented on #633
@OrionDevelopment can we improve our system there?

[2017-05-10 09:46] marvin-bitterlich commented on #669
closing, mc locomotion

[2017-05-10 09:46] #669 closed, assigned to nobody

[2017-05-10 09:59] xavierh commented on #479
@Kostronor No I took it out because I am not satisfied with it.
- Could not test when the worker chest is full and the d-man try to deliver
- Worker speeches is too verbose, I am thinking to remove the colony name when it is a worker from the player's own colony.

[2017-05-10 10:10] marvin-bitterlich commented on #708
@Raycoms is this fixed?

[2017-05-10 10:12] marvin-bitterlich commented on #719
@Raycoms wasn't there a pr for this?

[2017-05-10 10:24] #830 closed, assigned to nobody

[2017-05-10 10:42] marvin-bitterlich commented on #768
closing for now

[2017-05-10 10:42] #768 closed, assigned to nobody

[2017-05-10 10:44] marvin-bitterlich commented on #770
closing in favor of request system

[2017-05-10 10:44] #770 closed, assigned to nobody

[2017-05-10 10:48] marvin-bitterlich commented on #782
closing as mc locomotion

[2017-05-10 10:48] #782 closed, assigned to nobody

[2017-05-10 10:48] Kostronor commented on #782
closing as mc locomotion

[2017-05-10 10:52] marvin-bitterlich commented on #789
@xavierh can you check if this still needs restriction?

[2017-05-10 10:54] marvin-bitterlich commented on #791
closing this for now

[2017-05-10 10:54] #791 closed, assigned to nobody

[2017-05-10 10:57] marvin-bitterlich commented on #806
We fixed some warehouse issues, this should be fixed

[2017-05-10 10:57] #806 closed, assigned to nobody

[2017-05-10 10:57] xavierh commented on #789
Will do it later today or tomorrow

[2017-05-10 10:57] marvin-bitterlich commented on #808
closing this for now

[2017-05-10 10:57] #808 closed, assigned to nobody

[2017-05-10 10:59] marvin-bitterlich commented on #829
@OrionDevelopment any issues with the build system?

[2017-05-10 11:00] marvin-bitterlich commented on #831
@nojo121

[2017-05-10 11:01] marvin-bitterlich commented on #833
closing for now

[2017-05-10 11:01] #833 closed, assigned to nobody

[2017-05-10 11:03] marvin-bitterlich commented on #889
@Raycoms any news?

[2017-05-10 11:06] marvin-bitterlich commented on #900
closing for now

[2017-05-10 11:06] #900 closed, assigned to nobody

[2017-05-10 11:08] marvin-bitterlich commented on #924
@pmardle any news? @Anakardian still an issue?

[2017-05-10 11:10] marvin-bitterlich commented on #925
fixed

[2017-05-10 11:10] #925 closed, assigned to nobody

[2017-05-10 11:10] marvin-bitterlich commented on #927
closing this

[2017-05-10 11:10] #927 closed, assigned to marvin-bitterlich, marchermans

[2017-05-10 11:13] marvin-bitterlich commented on #933
closing as fixed

[2017-05-10 11:13] #933 closed, assigned to Raycoms

[2017-05-10 11:14] xavierh opened #966 "[Feature] Waypoints for players"
This is **not** about the way-points use by the citizen for pathfinding!

Add a way point system a bit like journeyMap but for minecolonies.

Way-points could be pointing to Huts, Colony centre, citizens and will be created automatically.

We should be able to see a way-point when:
- Outside the colony to indicate the colony centre;
- Citizen when requesting something (only when player is inside t

[2017-05-10 11:15] marvin-bitterlich commented on #935
@Raycoms had that problem.

[2017-05-10 11:18] marvin-bitterlich commented on #938
closing, fixed

[2017-05-10 11:18] #938 closed, assigned to Raycoms

[2017-05-10 11:28] marchermans commented on #935
It seems that sombody renamed the file wrong in git. And it is tracking it wrongly on windows systems.

[2017-05-10 11:35] marvin-bitterlich commented on #942
closing for now as missing infos

[2017-05-10 11:35] #942 closed, assigned to nobody

[2017-05-10 11:35] marvin-bitterlich commented on #944
fixed

[2017-05-10 11:35] #944 closed, assigned to nobody

[2017-05-10 11:36] Akkaross opened #967 "Deliveryman/Warehouse bug v0.8.930"
### Minecolonies version

version 1.11.2-0.8.930 on a Verygames multiplayer server .

### Expected behavior

   - Delivery-man collects all items from the gatherers (miner, sawmill ...) and stock them to the warehouse.

### Actual behaviour

   - Delivery-man collects all items as intended, and going to the warehouse. Then items disapear from his inventory but don't go to the chests nor in the inv

[2017-05-10 11:37] marvin-bitterlich commented on #935
then we need to delete it in one comit and add in a second one

[2017-05-10 11:37] marvin-bitterlich commented on #949
fixed

[2017-05-10 11:37] #949 closed, assigned to Raycoms

[2017-05-10 11:38] marvin-bitterlich commented on #956
fixed

[2017-05-10 11:38] #956 closed, assigned to nobody

[2017-05-10 11:40] marvin-bitterlich commented on #964
fixed

[2017-05-10 11:40] #964 closed, assigned to nobody

[2017-05-10 11:41] marvin-bitterlich commented on #967
@OrionDevelopment does that version contain your fixes?

[2017-05-10 11:46] Raycoms commented on #889
No idea whats the problem with this.

2017-05-10 8:03 GMT-03:00 Marvin Hofmann <notifications@github.com>:

[2017-05-10 11:47] Raycoms commented on #708
No idea, no one complained for a while

2017-05-10 7:10 GMT-03:00 Marvin Hofmann <notifications@github.com>:

[2017-05-10 11:49] #719 closed, assigned to nobody

[2017-05-10 11:49] Raycoms commented on #722
fixed

[2017-05-10 11:49] #722 closed, assigned to nobody

[2017-05-10 11:50] Raycoms commented on #593
It should

[2017-05-10 12:18] Raycoms commented on #207
Yes, Waiting for @Oggal still

[2017-05-10 12:18] Raycoms commented on #147
No

[2017-05-10 12:51] Akkaross commented on #967
Normally yes, but the bug is still there.

[2017-05-10 15:03] Eviiable opened #968 "After updating minecolonies builder not upgrading anymore"
### Minecolonies version

version minecolonies-universal-1.10.2-0.4.1870 to minecolonies-universal-1.10.2-0.8.929

Minecraft version 1.10.2

### Expected behavior

Clicking on a building, pushing upgrade button -> builder will upgrade building from for example lvl 1 to 2

### Actual behaviour

Pushing the upgrade button somehow won't work. no response at all. Before it worked fine. Now there is no

[2017-05-10 15:36] marvin-bitterlich commented on #968
Does the building show up as a build request in the town hall?

[2017-05-10 15:47] Eviiable commented on #968
Nope.

[2017-05-10 16:00] AndrewTru commented on #888
the thing I think this may work is if you copy the outline from the building code and reword it to town limit, yes this change will help other players with remembering the limits, if a block that is a lot like the keep out tape that you use with the building code, just recode it to say city limits.
The only issue I see with it is how it will have to dynamically redo itself every time the limit cha

[2017-05-10 16:04] kedamono opened #969 "Construction Tape in Alternate Stone Citizens hut #2"
### Minecolonies version

version 1.10.2-0.6.98

### Fixed Files
[StoneCitizenHut2.nbt.zip](https://github.com/Minecolonies/minecolonies/files/990432/StoneCitizenHut2.nbt.zip)

[2017-05-10 16:08] AndrewTru commented on #404
@xavierh , I am with you there, if you do that the code is less as well.
I think if you make a 'timeframe' so like if the world starts a day 0 every 7 days they go to the church and 'study' something in order for them to be happy.
The graves will have all the items that a dearly departed had on them at the time, but what if we have a limiter in place so something like [Grave][Grass][Grave]. that's

[2017-05-10 16:12] AndrewTru commented on #820
@Isfirs , the thing here is that this seems to be more a 'pull request' for another mods API
I get the idea but at the same time the if('Mod name' == true) block will help it know when to start the API that is if one is made for it. I am thinking about how to lower its impact on the memory and CPU of the computer, why fire up and API if we don't need it for that pack/install.

[2017-05-10 16:15] AndrewTru commented on #659
the thing here is that the more file paths the mod makes the more the computer has to think in order to run them. I get your idea but this seems more a '[request] move some settings to world dependent', @Kostronor What is your take on the matter?

[2017-05-10 16:16] xavierh commented on #404
I was thinking about it the other day. Each level could have a certain amount of grave (empty).
When a colonist die, the player could choose or not to bury him:

- An empty grave would be use, where the name of the colonist would be written
- The level of a **buried** citizen would be preserved and use for the next citizen.

In other words, this would allow to save the citizen level instead of loo

[2017-05-10 16:22] AndrewTru commented on #404
it's a start, @Kostronor what's your take on all of this?

[2017-05-10 16:22] xavierh commented on #659
What we are doing for schematic now is MUCH worst.

Did not look to much into it but I suspect the config is loaded only once anyway.

The purpose of this idea is to be able to test specific part of the mod without to have modify the config all the time

[2017-05-10 16:28] AndrewTru commented on #659
I am backing you on the idea, this may help out the mod in a good way.
@Kostronor What do you think?

[2017-05-10 16:32] AndrewTru commented on #763
I think this will help, the minecraft trees are not an issue but the modded ones seems to be a issue.
The thing here is that this sounds like an API pull request, and a lot of the mods add trees may not have a Trees API yet. I am backing the idea, just have to play the cards in just the right way.

[2017-05-10 17:02] Raycoms commented on #968
Can you send us the log?

2017-05-10 12:47 GMT-03:00 Eviiable <notifications@github.com>:

[2017-05-10 17:14] marvin-bitterlich commented on #708
then closing for now

[2017-05-10 17:14] #708 closed, assigned to nobody

[2017-05-10 17:15] marvin-bitterlich commented on #593
@ProsperCraft is this still relevant?

[2017-05-10 17:16] marvin-bitterlich commented on #967
@Akkaross have you tested the latest alpha builds?

[2017-05-10 17:16] xavierh commented on #659
@AndrewTru feel free to implement any of the issue you like and submit a pr.
I doubt this particular one is going to be controversial. ;-)

[2017-05-10 17:21] marvin-bitterlich commented on #888
@AndrewTru I am against placing blocks to visualize borders, rendering it clientside would be easier imo

[2017-05-10 17:22] AndrewTru commented on #659
I will keep that in mind, right now the mods skin system is my current request.

[2017-05-10 17:23] pmardle commented on #924
Will sort it this weekend if still an issue

On Wed, May 10, 2017 at 12:08 PM, Marvin Hofmann <notifications@github.com>
wrote:

[2017-05-10 17:24] AndrewTru commented on #888
good point.

[2017-05-10 17:24] xavierh commented on #659
It's not the easiest on to start with

On 10 May 2017 18:22, "AndrewTru" <notifications@github.com> wrote:

[2017-05-10 17:25] marvin-bitterlich commented on #820
@AndrewTru this is a worker we are planning that will enable when AE2 is detected

If you want to help the team, please consider applying: http://www.minecolonies.com/recruitment

[2017-05-10 17:30] marvin-bitterlich commented on #659
@AndrewTru Extra config file is a nice thing to have and the overhead is not noticeable

[2017-05-10 17:33] marvin-bitterlich commented on #763
With @OrionDevelopment request and api systems we schould be able to get that list

[2017-05-10 17:49] ProsperCraft commented on #593
I have not tried with a pack with BoP lately, but what I think could be done on it would be if it sees those blocks remove them.

[2017-05-10 18:26] Eviiable commented on #968
I actually would... if I could :) If u meant the latest log file  in the logs folder... I can't send it to you because it says the file is too big. its 32 mb :) ... How can I send it to you? (thx for the help btw...) :'-)

[2017-05-10 18:27] xavierh commented on #968
Delete it your log file. And try to do the upgrade again. Your log will be much smaller

[2017-05-10 18:41] Eviiable commented on #968
[latest_log.txt](https://github.com/Minecolonies/minecolonies/files/990873/latest_log.txt)

[2017-05-10 19:03] xavierh commented on #968
@raycoms I suspected it was my fault. Spot on!
Trying to upgrade to schematics/default/Citizen5 which does not exist. I did not know that default was a style. Should I do a patch to change default to wooden?

[2017-05-10 19:09] AndrewTru commented on #763
let's just hope they are cool with it, this may work well with a system to select the type of wood that can be used for building the buildings, This is more for the rubber trees and other wood that may not be as pleasing to the eyes and depends on the user and the APIs we can get access to as well.

[2017-05-10 19:20] Raycoms commented on #968
Didn't have the time to take a look at that.

Yes the first style we had was "default" but that has been a while, we
changed it to "wooden" since.

[2017-05-10 20:32] xavierh commented on #968
@Eviiable Extract this file into minecolonies\schematics in your minecraft folder or world's folder.
[default.zip](https://github.com/Minecolonies/minecolonies/files/991122/default.zip)

more info: https://wiki.minecolonies.com/wiki/22/schematics#schematicfolder

[2017-05-10 21:20] nekatu commented on #947
Still finding the same bug in 1.11.2-0.7.946 with items from deliveryman's inventory disappearing at Warehouse hut.

Doesn't feel related to other mods, especially as I've not updated or added any other mods, but I may see if there are updated versions available. My mod list is as follows, if that helps any-

- AdChimneys-1.11.2-2.0.9.1-build.0040.jar
- animania-1.11.2-1.0.4.7.jar
- AppleTrees-1.1

[2017-05-10 21:32] Eviiable commented on #968
It worked! Thank you so much :-))) I'm actually the happiest person on earth atm *haha* Thank you thank you thank you :))

[2017-05-10 21:32] #968 closed, assigned to nobody

[2017-05-10 22:11] Akkaross commented on #967
v0.7.946 tested. Always the same problem.

[2017-05-10 22:14] marchermans commented on #967
This seems to be a particular issue with 1.11
I gotta dig into this, i will have time for this in the Weekend.

[2017-05-10 22:22] Akkaross commented on #967
Thanks. I'm here for more feedback if you need.

[2017-05-11 06:34] wilsondgonzales commented on #967
It's weird how I've verified that there are **no problems** with

- Deliveryman handling items requested from the warehouse to the worker
- Deliveryman taking items from worker chests and bringing it to the warehouse
- Deliveryman delivering food
- Workers dropping their items to their respective worker chests

these were working for me on 8.930 and now even with .946

[2017-05-11 06:40] wilsondgonzales commented on #963
i noticed that my colony happiness went down to 1. Could me slaughtering the colonists be the cause?

[2017-05-11 12:08] Raycoms commented on #963
Yes definitively. Killing citizen sets happiness to 1

2017-05-11 3:40 GMT-03:00 Wilson Gonzales <notifications@github.com>:

[2017-05-11 12:12] marchermans commented on #967
Their is a Problem with the dropoff method when he Drops Overflow into the warehouse.....
That is at least what we could verify.

[2017-05-11 12:24] xavierh commented on #967
Tested on a fresh  SP world, the d-man workd fine.
Tested on my server, my 2 d-man are stuck next to the main warehouse chest.
I think they wre in the PREPARE_DELIVERY state. Could not debug yesterday as I could not build :(

[2017-05-11 12:26] #967 closed, assigned to marchermans

[2017-05-11 12:26] marvin-bitterlich commented on #967
merged the fix

[2017-05-11 12:28] Akkaross commented on #967
Hello here, sorry for not giving any news sooner. It was a long time to do some tests on my side. I completely destroyed the Dman and the warehouse and recrafting their placement blocks. I also had to destroy a small mountain in order to be able to warehouse further, thinking that this could be what triggered the bug. Alas no change.
There are some others mods on this server, maybe there is a prob

[2017-05-11 12:30] xavierh commented on #967
A fix have been merge, please test the latest version (when available)

[2017-05-11 12:31] Akkaross commented on #967
Thanks, I would keep you informed as soon as our admin will have updated the server.

[2017-05-11 13:43] Akkaross commented on #967
It's working as intented ! Many thanks !! :D

[2017-05-11 14:31] #489 closed, assigned to nobody

[2017-05-11 14:31] Raycoms commented on #489
Done =D

[2017-05-11 17:44] #789 closed, assigned to xavierh

[2017-05-11 18:30] Anakardian commented on #924
Just tried the update again. monster stone bricks are still listed as a requirement.

This is being tested on the official server.

[2017-05-11 18:42] Raycoms commented on #963
They spawned all on all stats 1 even with happiness 5?
I'll have to take a look at that one =D

[2017-05-11 19:41] #963 closed, assigned to Raycoms

[2017-05-11 23:24] nekatu commented on #947
At the risk of jinxing it, as of 1.11.2-0.7.985 this issue seems to be resolved.

Nice work, guys!

:-)

[2017-05-11 23:45] #947 closed, assigned to Raycoms

[2017-05-12 03:44] Amadeus99 opened #978 "Question: Effect of housing on happiness according to the code"
### Minecolonies version

Curse 0.7.984

### Expected behavior

Housing has an effect on overall happiness regardless of number of citizens.

### Actual behaviour

First understand that my understanding of the code is a bit basic.  I was looking to try and figure out what affected happiness since my happiness has been stuck at 1 for a long time.

It looks like to me that in https://github.com/Mine

[2017-05-12 07:27] WORMSS commented on #978
Yeah, I would expect
[code]
should have been
[code]

[2017-05-12 08:19] WORMSS commented on #706
I was caught out by this, I tried upgrading this hut, I tried giving him better tools, I tried mining some stuff for him, (incase there was some weird ores behind the wall), I tried resetting him, firing him, rehiring him.

[2017-05-12 08:29] wilsondgonzales opened #979 "Colonist stats still all 1s"
@Raycoms

using 7.985
colony happiness is at 1
colonists still spawn with all 1s for attributes

[2017-05-12 08:40] Amadeus99 commented on #978
I don't think that would work since a house can have multiple citizens living in it which means that houses would get counted multiple times.

Edit: If I'm right, then you would have to keep track of which houses had already been counted, or use a separate loop on buildings to only count the houses once.

[2017-05-12 09:28] WORMSS commented on #978
but **both** citizens would **both** be happy they have a level 5 house would they not?
So since they are both happy, it should count twice. It get's divided by people at the end. So `2 people having house 5 = 10`; Then that `happy 10 / 2 citizens = 5`;

Otherwise as you have pointed out, it's `(last citizen) = house happy 5`. Then that happy `5 / 2 citizens = 2.5`;

[2017-05-12 09:32] xavierh commented on #978
@WORMSS I think you are correct, could you do a pr ?

[2017-05-12 09:45] xavierh commented on #978
Actually I don't think this is a correct fix.
We should look on Citizen Hut, doing the sum of level then average it but the number of citizen.

[2017-05-12 09:46] WORMSS commented on #978
@xavierh I thought I already had.. Seems I went through the process of making the changes, and writing up the pull request.. but never pressed the submit button.. (D'oh).. done it again now.

EDIT: yep Double D'oh, I just found the tab on another Chrome Window... Oh well.. Done now.

[2017-05-12 09:48] xavierh commented on #978
@WORMSS See  my comment on pr and you will need to sign the CLA

[2017-05-12 15:21] pieeep123 opened #982 "Modded Server Crash Minecolonies / by zero"
### Minecolonies version

version ?.?.???? or curse 0.8.974 (1.11.2)

### Expected behavior

- Tried building a new colony on my new server everything fine.

### Actual behaviour

- Server crash. Sometimes immediately after giving a build order for the town hall, sometimes later at seemingly random points in time.
- I'm actually really unexperienced in programming, but I think it is trying to divi

[2017-05-12 15:24] Raycoms commented on #982
Uhh, I actually forgot to add that to 1.11.2. I fixed that in 1.10.2
already.

2017-05-12 12:21 GMT-03:00 pieeep123 <notifications@github.com>:

[2017-05-12 15:27] Raycoms commented on #982
Yeah we're dividing through 0.
That crash happens when it gets night and there are 0 citizen in a colony.

2017-05-12 12:24 GMT-03:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2017-05-12 15:33] #978 closed, assigned to nobody

[2017-05-12 15:44] pieeep123 commented on #982
Ahh thank you that response was quick :D
So I assume I merely have to watch out for an empty colony at night and then upgrade the mod version as soon as a new update is released

[2017-05-12 15:52] Raycoms commented on #982
Exactly =D

2017-05-12 12:44 GMT-03:00 pieeep123 <notifications@github.com>:

[2017-05-12 21:49] #982 closed, assigned to nobody

[2017-05-13 19:29] nekatu commented on #979
Finding the same thing; seems to be fine for the initial 4 citizens, but any after that appear to be all 1s on their stats

[2017-05-13 23:09] nekatu commented on #979
Just updated to 1.11.2-0.8.1010- still getting new colonists with all 1s for stats

[2017-05-14 00:10] Raycoms commented on #979
Yeah that's probably because your happyness is at 1 already?

2017-05-13 20:09 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-14 00:41] nekatu commented on #979
It is- so old colonists have to be happy for new colonists to have good stats?

[2017-05-14 00:59] Raycoms commented on #979
exactly

2017-05-13 21:41 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-14 01:00] Raycoms commented on #979
Let's say it that way "Happy citizen which feel secure and are well
saturated" have "intelligent childs"

2017-05-13 21:59 GMT-03:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2017-05-14 01:15] nekatu commented on #979
cool, makes sense- so aside from food, what else do we need to do to make them happy?

I have a level 5 townhall, level 5 houses, 2 level 5 guard houses, 1 level 5 warehouse, 1 level 5 deliveryman, all level 5 worker huts. desert biome so no rain and limited mobs.

[2017-05-14 01:19] Raycoms commented on #979
You need as many guard huts as worker huts at the same levels

2017-05-13 22:15 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-14 01:23] nekatu commented on #979
Do the guard huts need workers too for that to work?

[2017-05-14 01:24] Raycoms commented on #979
Yes

2017-05-13 22:23 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-14 01:26] nekatu commented on #979
hmm... that's going to take some rethinking on city planning then, just for the sheer amount of space that all those towers are going to take up, never mind the resources to build them. I'll see how it goes though- if nothing else the guards will ensure that there are NO mobs in the area... ;-)

[2017-05-14 01:29] Raycoms commented on #979
With the latest update the happiness should be quite okay even with 1/2 or
3/4 if at least saturation and housing is well

2017-05-13 22:27 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-14 06:56] Amadeus99 opened #985 "Request: Reduce the number of guard towers required for Happiness"
### Minecolonies version

Curse 0.8.1009

### Expected behavior

Not to need almost half your population as Guards.

### Actual behaviour

With this update, housing has some affect on happiness.  I believe at most, averageHousing would be equal to 5 which is only as valuable as one level 5 Guard Tower.  Saturation looks like it would max out to be as valuable as one level 5 Guard Tower, as well.

[2017-05-14 10:00] nekatu commented on #985
I have to agree with this, as per #979; this requirement for 1 guard tower per worker hut seems excessive.

A better system might be 1 guard tower per citizen house instead, that way you have a 1 tower to 5 citizen ratio, which seems fair to me. Especially given that all citizens are in the houses (or the hall) at night, which is generally the time they would by most scared and in need of protecti

[2017-05-14 12:21] Raycoms commented on #985
The thing is you won't need all guard towers for full happiness.
I will have breakfast and explain it here

2017-05-14 7:00 GMT-03:00 nekatu <notifications@github.com>:

[2017-05-14 12:33] Raycoms commented on #985
Okay let's say all your citizen live in level 5 houses.
That means your overall happiness +1 per night.
If they're all well saturated + 0.5 - +1 per night.

Let's say you have 10 workers and 5 guards.
That's -1 per night.

And 5 guards for 10 workers is nothing, even more considering if we add in
the future a system where pirates and babarians attack depending on your
development of the city.

201

[2017-05-14 14:31] Akkaross commented on #979
Hmmm ... So, when a colonist dies, happiness falls to 1. A new colon arrives moments later. With happiness at 1, also his stats. I misunderstood something? We must stop the respawn of colonists the time that happiness goes back up? If yes, how ? ^_^ ' (using 0.8.1010 btw)

[2017-05-14 19:39] Amadeus99 commented on #985
So, based on your example, 15 citizens.  3 level 5 houses would make averageHousing = 5.  Happiness increases by 5 * HAPPINESS_FACTOR which is 0.1 which means happiness increases by 0.5.

I am assuming saturation maxes out at 10.  Maximum averageSaturation would be 10.  WELL_SATURATED_LIMIT = 5.  That means maximum increase to happiness would be (averageSaturation - WELL_SATURATED_LIMIT) * HAPPINE

[2017-05-14 20:00] Raycoms commented on #979
If a colonist dies it decreases by 1 (to 9 for example)
If you kill a citizen it goes to 1.

2017-05-14 11:31 GMT-03:00 Akkaross <notifications@github.com>:

[2017-05-14 20:02] Akkaross commented on #979
Ow nice ! That changes everything ! *grab some gravel*

[2017-05-14 20:03] Raycoms commented on #985
Ah I thought the happiness factor was 0.2 for the others. Read wrongly in
my own code =P.

Hmm I will see about that and make the security thingy an average as well
so it won't influence that hard.

2017-05-14 16:39 GMT-03:00 Amadeus99 <notifications@github.com>:

[2017-05-14 20:49] wilsondgonzales commented on #979
if guard towers = worker huts with happiness at 1 then
does it automatically go back up?

[2017-05-14 20:52] Raycoms commented on #979
Yes

2017-05-14 17:49 GMT-03:00 Wilson Gonzales <notifications@github.com>:

[2017-05-14 21:00] #979 closed, assigned to nobody

[2017-05-14 23:17] CronosWolfbane opened #989 "Weird Display error"
### Minecolonies version

minecolonies-universal-1.11.2-0.7.811

### Expected behavior

Nice tidy Gui interface

### Actual behaviour

Long string of words instead.

### Steps to reproduce the problem

1. Launch The New frontier Modpack via twitch
2. Add Minecolonies back in manually
3. Start Modpack
4 Create creative world
5 use wand or building gui
![2017-05-14_17 02 58](https://cloud.githubuser

[2017-05-14 23:20] CronosWolfbane commented on #989
NVm found issue elsewhere

[2017-05-14 23:31] #989 closed, assigned to nobody

[2017-05-15 03:53] ghost opened #991 "Citizens not working in unloaded chunks"
### Minecolonies version

version 0.7.848 (minecraft 1.10.2)

### Expected behavior

- Wherever you are in the world, your citizens will still be loaded so that they can accomplish their tasks.

### Actual behaviour

- Chunks, where citizens are, are not loaded. This causes work to be delayed until you get inside their range of work.

[2017-05-15 07:47] Wissi commented on #991
Well it's not actually an Issue. If it's meant to be a "feature request" then please add it to the title.

[2017-05-15 08:07] marchermans commented on #991
This is actually not possible.
Towns can get very large. Which would mean that we would need to load very high amount of chunks and if the Citizen wanders off into a unloaded chunk he would just stop.

This is just how MC works. Nothing we can do about it.

[2017-05-15 08:07] #991 closed, assigned to nobody

[2017-05-15 11:51] HalRiveria opened #993 "Warehouse Ticking Block Entity Crash"
### Minecolonies version

minecolonies-universal-1.11.2-0.8.1010

---- Minecraft Crash Report ----

WARNING: coremods are present:
  NWRTweak (redstonepaste-mc1.11.2-1.7.4.jar)
  CCLCorePlugin (CodeChickenLib-1.11.2-2.6.0.254-universal.jar)
  DynamicSurroundingsCore (DynamicSurroundings-1.11.2-3.4.2.0.jar)
  ShetiPhian-ASM (shetiphiancore-1.11.0-3.4.4.jar)
  ForgelinPlugin (Forgelin-1.4.2.jar)
  A

[2017-05-15 15:05] Zygus42 opened #996 "[feature request] new config options for villagers"
v1.10.2

We would love to see options in the config to allow minecolonist villagers to:
(a) work in the rain
(b) work in the snow
(c) work during the night

This came to a head on our server as we were using Harvest Festival which adds seasons, and so we had long periods of rain + snow.  Personally I though it was very reasonable and even realistic, but had so many complaints, that I thought I'd a

[2017-05-15 15:16] ghost commented on #991
That's why you add config options. Besides, I have a mod installed that loads chunks in a selected radius. The mod itself is buggy, but it loads over 100 chunks and doesn't lag my minecraft. Meanwhile, if I set my render distance to 8, I get very laggy. If each citizen loaded the one chunk they were in, this would not create much lag (and make my minecraft a bit smoother in my case). Your computer

[2017-05-15 15:17] Zygus42 commented on #996
A friend suggested that this could be an upgrade option, to give them a building that allows them to work in rain, or else give them some kind of item, like a raincoat or old-timey oilskins.

[2017-05-15 15:18] Raycoms commented on #996
currently all workers with level 5 huts work during the rain

2017-05-15 12:17 GMT-03:00 Zygus42 <notifications@github.com>:

[2017-05-15 15:19] ghost commented on #991
@OrionDevelopment @Kostronor

[2017-05-15 15:27] Zygus42 commented on #996
Didn't know that, and that's cool, but in our current situation if the Builder doesn't work during rain + snow, would take a heck of a long time to get to lvl 5 huts.

[2017-05-15 15:41] Raycoms commented on #991
Just increase the amount of chunks loaded around you so while you're in the
colony citizens will stay loaded.

2017-05-15 12:19 GMT-03:00 ert67dy7 <notifications@github.com>:

[2017-05-15 15:45] ghost commented on #991
"...it loads over 100 chunks and doesn't lag my minecraft. Meanwhile, if I set my render distance to 8, I get very laggy". Rendering chunk data is different than rendering chunk graphics (and much laggier). @Raycoms

[2017-05-15 15:46] ghost commented on #991
And by the way the other (buggy) mod I'm using the load the chunks is called chickenchunks. It is meant for servers but still works on single player.

[2017-05-15 15:48] Raycoms commented on #991
just set world spawn to your colony, it should stay automatically loaded

2017-05-15 12:46 GMT-03:00 ert67dy7 <notifications@github.com>:

[2017-05-15 15:51] ghost commented on #991
Do you know how large that loading radius is? @Raycoms

[2017-05-15 15:54] Raycoms commented on #991
https://www.google.com.br/search?q=minecraft+spawn+chunk+size&oq=minecraft+spawn+chun+sie&aqs=chrome.1.69i57j0j69i64.13656j0j7&sourceid=chrome&ie=UTF-8

2017-05-15 12:51 GMT-03:00 ert67dy7 <notifications@github.com>:

[2017-05-15 20:55] Galindorf opened #1003 "Missing Textures. All the textures!"
### Minecolonies version
minecolonies-universal-1.11.2-1.4.9.4
Mods:
Forge 1.11.2-13.20.0.2228
Texture Pack: Chroma Hills 128x1.10-v1
![screen shot 2017-05-15 at 3 47 52 pm](https://cloud.githubusercontent.com/assets/17105217/26078763/2e645cb8-3986-11e7-8d23-443d9e669026.png)

### Expected behavior
Open world, be able to view world

### Actual behaviour
Missing Textures, but only when Minecolony i

[2017-05-15 21:40] Raycoms commented on #1003
Please post your startup log.

It seems like you're using a texturePack.

[2017-05-15 21:48] Galindorf commented on #1003
Wow, thanks for the fast response!

Actually, upon further investigation, and testing, it appears to be incompatible with OptiFine. I am using a texture pack, "Chroma Hills 128x1.10-v1."

It works just fine with all the other things I have installed; it's just really choppy without the Optifine.

[2017-05-15 21:50] Raycoms commented on #1003
Yeah minecolonies is not compatible with optfine because of the rendering
our build-tool does.

2017-05-15 18:48 GMT-03:00 TheeLadyG <notifications@github.com>:

[2017-05-15 22:18] #935 closed, assigned to nobody

[2017-05-15 22:19] Raycoms commented on #935
Should be fixed

[2017-05-15 22:19] Raycoms commented on #930
Should be fixed with the newest alpha on curse.

[2017-05-15 23:22] Galindorf commented on #1003
Do you have any other suggestions? A couple of my mods really function 100x better with OptiFine on. (particularly Better Foliage)

[2017-05-15 23:31] Raycoms commented on #1003
I think there are some other mods like better fps etc which should also
improve things but without the optifine problems.

2017-05-15 20:22 GMT-03:00 TheeLadyG <notifications@github.com>:

[2017-05-16 05:35] marvin-bitterlich commented on #1003
@Galindorf you can try asking on the discord, some players use optifine like mods with success.

It is just that we can't support it properly for all the changes it does

[2017-05-16 09:16] DarkStone269 opened #1005 "Missing coremod.gui"
Minecolonies version

version 1.11.2-0.7.811

### Expected behavior

- XXX

### Actual behaviour

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

This is what i'm seeing when i click on any of the podiums
![image](https://cloud.githubusercontent.com/assets/28727490/26098677/20582740-39ee-11e7-8a98-7e6432e4a44d.png)

[2017-05-16 11:33] SulpherStaer commented on #985
How many workers do you all add in your colony? You don't need that many. One or two is more than enough! Unless you feel they are building WAY to slow?...

[2017-05-16 11:39] SulpherStaer commented on #1003
I successfully use optifine - and am on the 1.10.2 version that's given with the curse launcher. (I've added several other mods myself)

So, with the actual package offered, optifine works. So it must be a conflict between something you have yourself.

Try optifine and minecolonies on its own, and then slowly add in other mods.

[2017-05-16 11:40] SulpherStaer commented on #1005
That's a localisation issue. Update to the latest version, as things have changed.

[2017-05-16 12:01] Amadeus99 commented on #985
I'm guessing you mean specifically builders which we have 2.  Overall for workers, we have 2 builders, 2 delivermen, 2 miners, 1 farmer, and 1 lumberjack.

[2017-05-16 12:03] #1005 closed, assigned to nobody

[2017-05-16 12:27] Amadeus99 commented on #985
I just looked at the changes to how happiness is modified based on guard tower levels.  Please correct me if I'm wrong, but:

1. Now you lose happiness if you have more guard tower levels than worker building levels if you have at least twice as many guard tower levels as worker building levels.
2. You can have no guard towers and you will have no loss in happiness.
3. You can no longer gain happi

[2017-05-16 12:31] Raycoms commented on #985
Wow good catch, I think something went wrong there when I merged the
branchs it should be workers/guards and not the other way around...

2017-05-16 9:27 GMT-03:00 Amadeus99 <notifications@github.com>:

[2017-05-16 13:37] kreezxil opened #1006 "upgrading from 1.11.2-0.7.777 to 1.11.2-0.7.1091 causes multiple problems"
### Minecolonies version

version 1.11.2-0.7.1091

### Expected behavior

- upgrade without issue

### Actual behaviour

- A user of my modpack Colonial Expansion reported the following
`Just updated from 2.2.0 to 2.3.0

I lost ownership of my colony

My wife and I both logged in with only a single hamhock where as we had full hunger before the upgrade

We cannot eat

Vanilla Bread recipe is missi

[2017-05-16 13:39] Raycoms commented on #1006
That does seem to happen occasionally when relogging upgrading etc.

Tell your users to try to: Restart the world
type /mc colony refresh 1

(or /mc colonies list to get the id and then /mc colony refresh id)

They lost ownership of the colony that's why they are not able to eat.

2017-05-16 10:37 GMT-03:00 kreezxil <notifications@github.com>:

[2017-05-16 15:16] Raycoms commented on #932
Is this still a problem?

[2017-05-16 17:47] Galindorf commented on #1003
Oh that's good to know! I actually did try Minecolony  on its own with
OptiFine and got the error. I'm using Forge and 1.11.2... but this gives me
hope that it may get worked out at some point. Thanks, mate!

On May 16, 2017 6:39:03 AM Silvester <notifications@github.com> wrote:

[2017-05-16 17:52] Raycoms commented on #1003
Did you try it without a texturepack?

2017-05-16 14:47 GMT-03:00 TheeLadyG <notifications@github.com>:

[2017-05-16 19:25] Raycoms commented on #646
@kedamono you're up for some testing?

[2017-05-16 20:12] kedamono commented on #646
Sure thing. I can set up a test profile and see if I can break things. :-)

[2017-05-16 20:22] Raycoms commented on #646
Please contact me on discord so i can send you the link for it =)

2017-05-16 17:12 GMT-03:00 kedamono <notifications@github.com>:

[2017-05-16 20:23] kedamono commented on #646
Will do.

[2017-05-16 23:22] Rory-Lambert opened #1009 "Miner cannot handle vanilla ore variants from Underground Biomes Constructs"
### Minecolonies version

version 1.10.2-0.6.112

### Expected behavior

- Mine worker mines the UBC skinned ore block

### Actual behaviour

-Mine worker stands staring at the block until a player removes it for them. He will not move on to any other blocks. If recalled, he will not leave the mine chest until the ore block is removed.

### Steps to reproduce the problem

1. Have minecolonies and

[2017-05-16 23:25] Raycoms commented on #1009
Can you show us the console log?

2017-05-16 20:23 GMT-03:00 Lookbehindyoo <notifications@github.com>:

[2017-05-16 23:25] Raycoms commented on #1009
It's usually because the UBC mod did not implement the "pickaxe" to be an
efficient tool. Or at least not correctly.

2017-05-16 20:25 GMT-03:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2017-05-16 23:55] SulpherStaer opened #1010 "Deliveryguy visual glitch"
### Minecolonies version

version 1.10.2-0.7.1219

### Expected behavior

- When the deliveryguy turns their head, their hair turns with them.

### Actual behaviour

- The head turns, but the hair remains front facing.

### Steps to reproduce the problem

1a. Observe a deliveryguy when he is turning, or is looking at a different direction than forward.
1b. Look at the screenshot included, to see t

[2017-05-17 00:22] TheQuadShot opened #1011 "Builder fails to identify Item Frames"
When upgrading Fishing Hut to lvl 4 the builder requests 4 item frames, but will not "see" them in my inventory via the UI, or if I put them directly into the inventory.

Minecraft 1.10.2
minecolonies-universal-1.10.1-0.7.848
Forge-12.18.3.228

ModList
https://pastebin.com/QpQ9ff3x

latest log file
https://pastebin.com/X6gQg3g2

[2017-05-17 00:27] Raycoms commented on #1011
You mean the builder does not accept them?
Or you mean you put them in his inventory and they vanish right away?

2017-05-16 21:22 GMT-03:00 James <notifications@github.com>:

[2017-05-17 00:48] TheQuadShot commented on #1011
He does not accept them and continues to ask for them, I tried via the UI, putting them in the builders "block" inventory and directly into his inventory.

[2017-05-17 00:49] Raycoms commented on #1011
Are you sure you're giving him 100% vanilla item frames and not the modded
ones like tinkers ones?

2017-05-16 21:48 GMT-03:00 James <notifications@github.com>:

[2017-05-17 00:51] TheQuadShot commented on #1011
Yes, (sticks around a cow hide) crafted or creative ones

[2017-05-17 00:53] TheQuadShot commented on #1011
oops, forgot to mention that this only happens on the fishing hut, I've got a lvl 4 warehouse and other build requests that asked for them and they worked just fine.

[2017-05-17 01:00] Galindorf commented on #1003
By Jove, it DOES work if I take off the Chroma Hills texture pack. I wonder why that is?

So basically it's only the addition of the Chroma Hills texture pack with OptiFine that causes the error. hmmm...

Edit: I tried updating to a newer version of the TexturePack designed for 1.11, but I had the same result. Do you think it may be because the texturepack is at 128?

[2017-05-17 01:12] Raycoms commented on #1011
Okay that's very strange. Thanks we will test it.

2017-05-16 21:53 GMT-03:00 James <notifications@github.com>:

[2017-05-17 01:39] TheQuadShot commented on #1011
His AI appears to be "stuck/hung" now. I cancel the upgrade and create build order to repair a bldg and he does nothing until I bounce the game/server, when game relaunches he picks up the build order and starts his repair.

[2017-05-17 01:41] Raycoms commented on #1011
Okay it seems like something in general with the fisherman 4 fails him,
I'll have to test that tomorrow.

2017-05-16 22:39 GMT-03:00 James <notifications@github.com>:

[2017-05-17 11:15] Rory-Lambert commented on #1009
Here are the most recent logs.

[2017-05-16-1.txt](https://github.com/Minecolonies/minecolonies/files/1007465/2017-05-16-1.txt)
[2017-05-15-2.txt](https://github.com/Minecolonies/minecolonies/files/1007464/2017-05-15-2.txt)

I see that I am a few version behind on UBC, so let me update it and get back to you. Perhaps this is already fixed on their end.

[2017-05-17 11:50] Raycoms commented on #1009
Couldn't find anything minecolonies related in there, but I bet the problem
is that the block doesn't implement the right methods.

2017-05-17 8:15 GMT-03:00 Lookbehindyoo <notifications@github.com>:

[2017-05-17 22:19] TheQuadShot commented on #993
Same issue, sorry it just crashed... I was upgrading a guard tower at the time, not sure if that helps. I also have a Delivery person as well.

Minecraft 1.10.2
minecolonies-universal-1.10.1-0.7.848
Forge-12.18.3.228

ModList
https://pastebin.com/QpQ9ff3x

CrashLog
https://pastebin.com/XR1N2Hbz

[2017-05-17 23:16] Rory-Lambert commented on #1009
I updated UBC and added UBCoreregistrar. The problem persisted. I had the idea to try with a vanilla pickaxe instead of tinkers tools, and this appears to be a suitable workaround. I guess you can consider this closed!

[2017-05-17 23:26] jasonsaffle13 opened #1014 "colony member hungry now world crashes."
### Minecolonies version

minecolonies-universal-1.10.2-0.8.1257

### Expected behavior

trying to log in

### Actual behavior

crashes every time
http://paste.ubuntu.com/24595737/

I updated to newest versions of galacticraft, planets, microdoodle and hatchery and was able to ge into game now console is getting spammed with this.
http://paste.ubuntu.com/24596266/

[2017-05-18 01:13] jasonsaffle13 commented on #1014
I updated to newest versions of galacticraft, planets, microdoodle and hatchery and was able to ge into game now console is getting spammed with this.
http://paste.ubuntu.com/24596266/

[2017-05-18 01:46] #1009 closed, assigned to nobody

[2017-05-18 01:46] Raycoms commented on #1009
If vanilla works but itnkers not the problem must be on their side =)

2017-05-17 20:16 GMT-03:00 Lookbehindyoo <notifications@github.com>:

[2017-05-18 01:47] Raycoms commented on #1014
@xavier might that be yours?

2017-05-17 22:13 GMT-03:00 jasonsaffle13 <notifications@github.com>:

[2017-05-18 01:48] jasonsaffle13 commented on #1014
Yes

On May 17, 2017 21:47, "Raycoms" <notifications@github.com> wrote:

@xavier might that be yours?

2017-05-17 22:13 GMT-03:00 jasonsaffle13 <notifications@github.com>:

302273281>,

AGI9yy5eV3zrsPTSxASv6Lm70ay16lK5ks5r65s6gaJpZM4NejvJ>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Minecolonies/minecolonies/issues/

[2017-05-18 08:18] xavierh commented on #1014
@jasonsaffle13 Could you try this  build https://teamcity.smithsmodding.com/repository/download/Minecolonies_PullRequests/1296:id/minecolonies-universal-1.10.2-0.8.1296.jar ?
Could you also send me the log once you tested it ?

[2017-05-18 10:29] jasonsaffle13 commented on #1014
[2017-05-18-1.log.gz](https://github.com/Minecolonies/minecolonies/files/1010524/2017-05-18-1.log.gz)
 may not be related but noticed 2 other things. Everyone stops working if it rains I understand the farmer doing it but the miner? Every so often we are unable to interact with inventories no error message just no chest or npc will open to gui, doors work fine as do our own chest chest colony item

[2017-05-18 10:31] jasonsaffle13 commented on #1014
a short log file now i can get back into server though maybe his chunk is
unloaded. will send a larger one in 8-12 hours once he has been playing but
with new build i can get into the world.

On Thu, May 18, 2017 at 4:19 AM, xavierh <notifications@github.com> wrote:

[2017-05-18 10:46] xavierh commented on #1014
this log does not show enough.

No worker works when raining (AFAIK)

For the other issue, it seems to happen from time to time.
I think you can do something like:
/mc colony refresh &lt;colonyid&gt;

[2017-05-18 10:58] jasonsaffle13 commented on #1014
is the a wildcard or how do i find the colon id? /mc colony refresh all would be great!!

[2017-05-18 10:59] xavierh commented on #1014
/mc colonies list

[2017-05-18 12:26] Akkaross opened #1018 "Please report to MineColonies with this text to add support!"
### Minecolonies version

version 0.8.1258

### Expected behavior

- No spam in the console.

### Actual behaviour

- Spamming this messages many time by second

[13:51:12] [Server thread/INFO] [minecolonies]: ForgeHook not in sync with EfficientTool for Block{minecraft:potatoes} and 64xitem.potato@0
Please report to MineColonies with this text to add support!
[13:51:31] [Server thread/INFO] [mine

[2017-05-18 12:27] Raycoms commented on #1018
No worries, that happens from time to time =)

[2017-05-18 12:27] #1018 closed, assigned to nobody

[2017-05-18 12:43] xavierh commented on #1018
why do we have "Please report to MineColonies with this text to add support!" if we are suppose to ignore that ?

[2017-05-18 12:46] Raycoms commented on #1018
Yeah I didn't put that there.
In some cases it prints and a worker stops working, in this case it would be relevant to report it.

[2017-05-18 13:53] jasonsaffle13 commented on #1014
My buddy tried to play but it just crashes him out. This is with the newest
alpha build on curse.

On Thu, May 18, 2017 at 6:59 AM, xavierh <notifications@github.com> wrote:

[2017-05-18 13:54] Raycoms commented on #1014
Yeah we're fixing it.

2017-05-18 10:53 GMT-03:00 jasonsaffle13 <notifications@github.com>:

[2017-05-18 13:54] xavierh commented on #1014
The fix is not release on curse yet

[2017-05-18 13:55] xavierh commented on #1014
did you get minecolonies-universal-1.10.2-0.8.1257 from curse ?

[2017-05-18 13:56] jasonsaffle13 commented on #1014
we are trying to use version 1299 from curse.

On Thu, May 18, 2017 at 9:55 AM, xavierh <notifications@github.com> wrote:

[2017-05-18 13:57] xavierh commented on #1014
1299 is the build number it does not mean that it has the fix from 1296

[2017-05-18 14:05] jasonsaffle13 commented on #1014
Our group has decided that we would restart/reset the server remove biomes
o plenty, vampirism, galacticraft, extra planets etc. and drop down to
aprox 40 or less mods since we are enjoying mine colonies so much. Unless
you are getting useful information from our crash reports in which case we
can gladly march onward to help bug hunt. We would also like to make a
small $5-$10 donation or is ptareo

[2017-05-18 14:07] Raycoms commented on #1014
Hey there, glad to hear that.

http://www.minecolonies.com/

You could pay a month of the forums which would be around $9 which is a
"onetime payment".

2017-05-18 11:05 GMT-03:00 jasonsaffle13 <notifications@github.com>:

[2017-05-18 14:12] jasonsaffle13 commented on #1014
Point me to where I can make payment please!!! So would you like us to go
on with this mod pack and send logs of crashes, or would a fresh cleaner
server give better info?

On Thu, May 18, 2017 at 10:07 AM, Raycoms <notifications@github.com> wrote:

[2017-05-18 14:14] Raycoms commented on #1014
On the left hand side, scroll down to "Donate here to help pay for this
website".
And click "Donate days".

I think it doesn't make much of a difference, its as helpful with the old
pack as with a fresh one =) Its up to you.

2017-05-18 11:12 GMT-03:00 jasonsaffle13 <notifications@github.com>:

[2017-05-18 14:22] jasonsaffle13 commented on #1014
Sorry for so much back and forth. I looked on curse, github, and not sure
which wiki page to look on for the link!! Please provide a link so i can
give you my money!!

On Thu, May 18, 2017 at 10:14 AM, Raycoms <notifications@github.com> wrote:

[2017-05-18 14:33] AndrewTru commented on #77
@forReason @DanNetwalker
I see where the two of you are going with this, But what if you did some off both.
Just here me out, the game will 'give' you the basic ones (Wood tools, farming wheat, some basic food items, and so on) When you first get started the librarian is spawned the max size of the colony is moved to 5 from 4 that way you get the same 4 workers to start with.
the rest of it the kn

[2017-05-18 14:34] Raycoms commented on #1014
http://www.minecolonies.com/

Here ont he forums, on the left side, scroll down a bit =D

2017-05-18 11:22 GMT-03:00 jasonsaffle13 <notifications@github.com>:

[2017-05-18 14:41] AndrewTru commented on #235
if we do add this in we will need to make a new farm pathing class to account for it.
Pumpkins and Melons will need to have [dirt][grass] combo so as to account for the fact the crop itself is not on the dirt block but any block around said block.
the nertherwart however will need to have a farm area that is soul sand plus is light level 6 or lower
a building to block off the light but still allow

[2017-05-18 15:36] #479 closed, assigned to xavierh

[2017-05-18 16:23] marvin-bitterlich commented on #1018
I think I did that to ensure that players see stuff in the console when their favorite tools are not working with the citizens.

It means that tool is making weird things that we didn't thought about. And we may want to think about it.

[2017-05-18 19:29] xavierh opened #1019 "IA fail to recognised additional chest"
### Minecolonies version

Version/1.11

### Expected behavior

- IA should use the chest part of the building

### Actual behaviour

- they don't know they are there

### Steps to reproduce the problem

1. Build a warehouse
2. Remove the main chest
3. put the chest back at the exact position and let the builder do his job
4. The delivery man will not use the chests

Probably because the chest are

[2017-05-18 19:33] Raycoms commented on #1019
we could fix that by looking in the "isSchematicEqualWorldBlock" if its a
chest and then check if it has been added already.

2017-05-18 16:29 GMT-03:00 xavierh <notifications@github.com>:

[2017-05-18 20:38] kedamono opened #1020 "[Feature] [$5] Miner should break blocks that he cannot mine [$5]"
### Minecolonies version

version 1.10.2-0.7.984

### Expected behavior

- When the miner encounters a block that he cannot mine, he should try to break the block and continue on.

### Actual behaviour

- Miner stops working, and requests a Pickaxe of Diamond or better grade.

### Steps to reproduce the problem

1. Install Minecraft version 1.10.2-0.7.984
2. Start a colony and builder. Set to manu

[2017-05-18 20:43] marvin-bitterlich commented on #1019
We are currently not scanning for extra chests and that is somewhat intentional (cpu cycles and such)

[2017-05-18 20:45] marvin-bitterlich commented on #1020
This is currently intended, because the request system will fetch these automatically and needs explicit requests.

[2017-05-18 20:46] xavierh commented on #1020
Ok, the problem is more that the miner should not be able to use the diamond pickaxe at all

[2017-05-18 21:14] Raycoms commented on #1020
The thing is we can't simply let him continue because we don't know if this
block might block him on the way or block the building of a certain block
etc.

2017-05-18 17:46 GMT-03:00 xavierh <notifications@github.com>:

[2017-05-18 21:14] Raycoms commented on #1019
Yeah but we don't need to scan if we simply make the scan during the
execution of a repair.

2017-05-18 17:43 GMT-03:00 Marvin Hofmann <notifications@github.com>:

[2017-05-18 22:20] kedamono commented on #1020
Well, unless I'm in cheat mode, there's no way for me to break the block. And I used diamond, because it's a vanilla block. If you're using Tinker's Alloys, you get things like Vibranium, which are end game level blocks. The thing is, if he's running into blocks neither he nor I can break, he's stuck and I'm stuck. I'll end up being the miner and he gets to sit around doing nothing.

If he can't m

[2017-05-18 22:24] Raycoms commented on #1020
Those blocks spawn that "early" in game?
We could make a button with "destroy block if can't mine" in the gui of the
miner.
So he would actually destroy it but you wouldn't get the resource.
(Like a player could with a too low pickaxe)

2017-05-18 19:20 GMT-03:00 kedamono <notifications@github.com>:

[2017-05-18 22:36] kedamono commented on #1020
I don't know if you can beat a Vibranium block to death or not. I'll have to try it first to see if it can be done and let you know. But if it's an option, I'm all for it.

[2017-05-18 22:40] Raycoms commented on #1020
Its not necessary to know if its possible for a player xD It will be
possible in code xD

2017-05-18 19:36 GMT-03:00 kedamono <notifications@github.com>:

[2017-05-18 22:40] Raycoms commented on #1020
Could you rename and reformulate this issue for this?

2017-05-18 19:40 GMT-03:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2017-05-18 23:45] kedamono commented on #1020
Yes I can. I also found out that only Vanilla tools will break blocks. Tinker tools won't break them.

[2017-05-18 23:47] kedamono commented on #1020
Updated and reworded.

[2017-05-19 02:02] Raycoms commented on #1020
That's funny, which ones of them?

2017-05-18 20:45 GMT-03:00 kedamono <notifications@github.com>:

[2017-05-19 02:57] kedamono commented on #1020
Vibranium, which kind of makes sense. I think it's true of all ores for the most part with Tinker's Construct.

[2017-05-19 07:18] jasonsaffle13 commented on #1014
Newest beta build on curse is working fine for us!! Do you want any log files or just go ahead and close this issue? P.S. 30 days added to web site!! Thanks for all you hard work and attention!!!

[2017-05-19 08:10] xavierh commented on #1014
Glad it is working for you now.

Thank you for the donation, greatly appreciated.

[2017-05-19 08:10] #1014 closed, assigned to xavierh

[2017-05-19 09:43] xavierh commented on #1020
I don't think it should destroy the block, if the miner find diamond  and destroy it I would be really annoyed.
- The miner should send a human readable message instead of the current cryptic one.
- Adding the option in the gui to destroy when it can not mined sound like a good idea

[2017-05-19 10:09] xavierh opened #1021 "Destroying the WH hut chest should be acknowledge by the dman"
### Minecolonies version

version/1.11

### Expected behavior

- destroying the warehouse chest, the dman should stop using the chests

### Actual behaviour

- the dman keep working as normal

### Steps to reproduce the problem

1. destroy the warehouse hut chest
2. The dman carry on as usual

[2017-05-19 10:37] mistresskahlan commented on #442
I have this issue too, he just stops after a while, as if he gets bored!

![2017-05-19_11 35 47](https://cloud.githubusercontent.com/assets/2369033/26244429/86a72bae-3c87-11e7-8a2a-cbd61b383bd4.png)
![2017-05-19_11 35 51](https://cloud.githubusercontent.com/assets/2369033/26244431/86a9bb9e-3c87-11e7-96e5-6d38a6e4203c.png)
![2017-05-19_11 35 59](https://cloud.githubusercontent.com/assets/2369033/26

[2017-05-19 10:49] mistresskahlan commented on #442
I also can't fire and re-hire a builder, he just sits there all the time doing nothing. I've cancelled all the jobs and tried placing again, and even cancelled those and tried upgrades but nothing. I've emptied his and the bench's inventory.... still nothing :(

[2017-05-19 10:52] mistresskahlan commented on #442
killed everyone... no new people arrived.

[2017-05-19 10:56] xavierh commented on #1019
We will have to pay attention to this when doing issue #788

[2017-05-19 14:08] Raycoms commented on #1021
He just continues working for a while?
Its possible that he just finishes his last task because he has the
reference to the last chest. then he should stop working.

2017-05-19 7:09 GMT-03:00 xavierh <notifications@github.com>:

[2017-05-19 15:22] xavierh commented on #1021
No. it did at least to gathering after that

[2017-05-19 15:47] Rhodizzle commented on #35
One way to fix this might be to regulate block placement speed and number of blocks related to the build per worker level. Example: A level 1 builder can only grab 15 items and place them one per second. Each level doubles the items and halves the speed of block placing.

[2017-05-19 15:51] Rhodizzle opened #1022 "Improvement: Enhanced Builder Inventory Management"
Hey guys,

Great mod you have here. I have a suggestion for builder inventory that may help keep some of the messiness and inventory management for them more cleanly.

In short: Add a second chest to the builder hut for a dumping ground. Have the builder scan their inventory on each pass back to the hut and dump all materials not related to the current building's materials in that secondary chest

[2017-05-19 15:53] xavierh commented on #1022
The delivery man is already picking up item not used by the builder.

Also you get additional chest when you upgrade the Builder's hut (level 3 or 4).

[2017-05-19 15:54] Rhodizzle commented on #1022
Ah ok, I'll close this then.

[2017-05-19 15:54] #1022 closed, assigned to nobody

[2017-05-19 15:54] Rhodizzle commented on #1022
I suppose I should fully progress my buildings before getting all uppity and submitting change requests, lol.

[2017-05-19 15:57] xavierh commented on #1022
no problem :)

[2017-05-19 16:13] mistresskahlan opened #1023 "Builder just stops!"
### Minecolonies version
curse 1.10.2-0.8.1331

### Expected behavior
- builds all the buildings I tell him to!

### Actual behaviour
- stops working after a while with no reason, no text info.

### Steps to reproduce the problem
1. Build builders hut,
2. build other buildings
3. keep going until he gives up.

I can't fire him, re-hire him, the button does nothing. I can recall him, but he just st

[2017-05-19 16:19] Raycoms commented on #1023
Do you have the logs as well?

2017-05-19 13:13 GMT-03:00 Larkin <notifications@github.com>:

[2017-05-19 16:22] xavierh commented on #1023
For Hire/Fire, you need to set the hiring mode to manual in the Town Hall first

[2017-05-19 17:11] mistresskahlan commented on #1023
[2017-05-19-2.log.gz](https://github.com/Minecolonies/minecolonies/files/1015007/2017-05-19-2.log.gz)
Heres the log

[2017-05-19 19:28] TheQuadShot opened #1024 "NPC's halt on spot on/in fishing hut"
The Builder and the Deliveryman will stop on that spot and just stand there. If I recall them and they path next to that spot they will repeat. If they path to the other side of the building they don't

ScreenShot
http://imgur.com/bMkOPdq

Minecraft 1.10.2
minecolonies-universal-1.10.1-0.7.848
Forge-12.18.3.228

ModList
https://pastebin.com/QpQ9ff3x

[2017-05-19 19:41] Raycoms commented on #1024
Yeah, unfortunately, minecraft locomotion doesn't know what to do there, we're planning to make it work later on, there must be an issue for that already somewhere.

[2017-05-19 19:41] #1024 closed, assigned to nobody

[2017-05-19 20:26] mistresskahlan commented on #1023
While I'm here, why don't they builders take more than just a handful of materials?

[2017-05-19 20:29] Raycoms commented on #1023
Because they can't, its a future feature =)

2017-05-19 17:26 GMT-03:00 Larkin <notifications@github.com>:

[2017-05-19 20:29] mistresskahlan commented on #1023
that's a shame, things would be so much faster if they did.

[2017-05-19 20:34] Raycoms commented on #1023
We would have to slow him down then, would be a bit too op if the builder
builds that much faster than any player, don't you think?

2017-05-19 17:29 GMT-03:00 Larkin <notifications@github.com>:

[2017-05-20 14:13] WheresMyMtnDew commented on #1023
I am also having this issue. So is a friend of mine who is playing on a lan with me. Our builders just stopped and now have no inventory and are completely unresponsive. (inventory is still there and can access it but they are empty). Also the builder's hut is not reading that there is a build request because it is not asking for any items. (our towns are in other areas of the world and are no whe

[2017-05-20 19:38] jennyl commented on #932
@Raycoms Hi. I have this problem too. The delivery man was not bringing food to the citizens. I had steak sitting in the warehouse. Using the universal jar version (0.7.848).

[2017-05-20 19:55] Raycoms commented on #932
Can you use the newest beta and check if it still happens?

Am Samstag, 20. Mai 2017 schrieb Jen :

[2017-05-20 20:04] jennyl commented on #932
Hi, lol. I deleted my message because I realized I make my character sleep immediately at night so this is probably preventing the citizens from requesting food from the delivery man. I wanted to try again before commenting on this again.

On a side note, is there a list of food that the citizens accept? They didn't like my blackberry juice from Pam's Harvestcraft but I know they like steak and po

[2017-05-20 20:10] Raycoms commented on #932
On curse we publish the change logs of each version, the moment we tested
them.
They accept everything which is ItemFood.

Am Samstag, 20. Mai 2017 schrieb Jen :

[2017-05-20 23:36] Konclan opened #1026 "Crash on death of npc"
### Minecolonies version

- Curse 1.11.2-0.8.1312

### Expected behavior

- Death Achievement?

### Actual behaviour

- Crash: https://pastebin.com/0jjJ8CXd

### Steps to reproduce the problem

1. Burned an npc in lava

[2017-05-21 07:51] SkullCrusher548 commented on #1023
I am having the same issue..The biuld just stands in his hut .No messages,has everything he needs to build.Ive tried firing him,rehiring him and another citizen,cleaning his inventory and chest and still does nothing but stand there

[2017-05-21 09:37] Gunscrusader opened #1027 "crash after giving farmer cotton seeds from a different mod"
### Minecolonies version

version 1.10.2-0.8.1342

### Expected behavior
I was just minding my own business setting up a new farm. When the farmer started to request more cotton seeds after he planted those that i gave him, the game crashed.

here is a crash log:

---- Minecraft Crash Report ----

WARNING: coremods are present:
  LoadingPlugin (Bloodmoon-MC1.10.2-1.5.1.jar)
  EnderCorePlugin (Ende

[2017-05-21 11:19] SkullCrusher548 opened #1028 "Builders have stop working!!!!!"
### Minecolonies version

version minecolonies-universal-1.11.2-0.8.1258

I have tried everything from ,firing,rehiring him and other citizen,clearing inventory and chest and still all both do is stand at the chest Please help
![screenshot 101](https://cloud.githubusercontent.com/assets/25522161/26283397/c0f96758-3df5-11e7-8bb1-3db85365f017.png)

[2017-05-21 11:58] xavierh commented on #1028
You can set the development option on in the config file. It will give you
more information.
I suspect they either need food or a particular tool

On 21 May 2017 12:19, "SkullCrusher548" <notifications@github.com> wrote:

[2017-05-21 12:46] Raycoms commented on #1028
with /mc citizens citizenInfo name

You can get even more info on them.

2017-05-21 8:58 GMT-03:00 xavierh <notifications@github.com>:

[2017-05-21 14:56] cltnschlosser commented on #1027
Duplicated by #758 Fix in progress

[2017-05-21 15:05] cltnschlosser commented on #993
Duplicate of #758 Fix in progress

[2017-05-21 15:24] #758 closed, assigned to cltnschlosser

[2017-05-21 15:24] #993 closed, assigned to cltnschlosser

[2017-05-21 15:24] #1027 closed, assigned to cltnschlosser

[2017-05-21 15:28] cltnschlosser commented on #829
Either the build you have is bad, or this is a forge issue. Assuming forge has a custom classloader that is acting strangely.

[2017-05-21 15:36] cltnschlosser commented on #829
@Sejoslaw Looks like we are building for forge version 13.20.0.2228, which is the latest recommended build. Maybe try using that?

[2017-05-21 16:51] cltnschlosser opened #1030 "GL Error in Build tool window"
### Minecolonies version

version 1.11.2

### Steps to reproduce the problem

1. Open build tool window
2. Click on one of the buttons to open the "drop down" menu. (See attached screenshot)
3. Log is spammed with:
[code]

![2017-05-21_11 33 44](https://cloud.githubusercontent.com/assets/1498529/26285781/d951b776-3e1b-11e7-9c0a-f6546b57fd72.png)

[2017-05-21 16:58] xavierh commented on #1030
Yes I need to look into that

On 21 May 2017 17:51, "Colton Schlosser" <notifications@github.com> wrote:

[2017-05-21 17:38] cltnschlosser opened #1031 "ForgeHook not in sync with EfficientTool - non-tool (seeds)"
### Minecolonies version

version 1.11

### Actual behaviour
[12:36:34] [Server thread/INFO] [minecolonies]: ForgeHook not in sync with EfficientTool for Block{minecraft:tallgrass} and 11xitem.seeds@0
Please report to MineColonies with this text to add support!

[2017-05-21 17:43] Raycoms commented on #1031
Yeah this happens when a block does not implement "efficient tool". We
should have a nicer way to detect when it is really a problem and then
request that tool.

2017-05-21 14:38 GMT-03:00 Colton Schlosser <notifications@github.com>:

[2017-05-21 19:18] #676 closed, assigned to cltnschlosser

[2017-05-21 19:21] #962 closed, assigned to cltnschlosser

[2017-05-21 21:25] #1026 closed, assigned to cltnschlosser

[2017-05-22 00:21] jasonsaffle13 opened #1039 "minecolonies-universal-1.10.2-0.8.1342 lumber jack ignores saplings"
### Minecolonies version

minecolonies-universal-1.10.2-0.8.1342

### Expected behavior

lumber jack to replant saplings

### Actual behaviour

lumber jack ignores saplings most times worse with oak.

### Steps to reproduce the problem

build saw mill and upgrade to level2 or higher

[2017-05-22 00:23] Raycoms commented on #1039
How does he ignore them?
Where does he ignore them?

2017-05-21 21:21 GMT-03:00 jasonsaffle13 <notifications@github.com>:

[2017-05-22 00:39] jasonsaffle13 commented on #1039
He leaves them on the ground around his saw mill, though he will most times replant spruce. If we put them into his inventory he will then replant them instead of ignoring them till the despawn.
[2017-05-21-4.log.gz](https://github.com/Minecolonies/minecolonies/files/1017486/2017-05-21-4.log.gz)

[fml-server-latest.txt](https://github.com/Minecolonies/minecolonies/files/1017489/fml-server-latest.t

[2017-05-22 03:39] cltnschlosser commented on #930
@P3rf3ctXZer0 Are you still having this issue with the newest alpha that @Raycoms is talking about?

[2017-05-22 03:39] cltnschlosser commented on #1011
@Raycoms Update on this?

[2017-05-22 03:55] cltnschlosser commented on #889
Subscribers (who get packets):
[code]

Range needed to place a townhall:
[code]

So with default values, you need to be within 116 blocks to learn about a colony (need to stay within 200 to get updated information), and to place a colony, you need to be more than 220 blocks away. So there is the discrepancy.

Not sure if we should just remove remain subscriber range, and move to `2 * working range

[2017-05-22 05:10] marchermans commented on #889
Why are the preliminary positions of all Colonies not synced over on dimension entering?

[2017-05-22 06:37] #1030 closed, assigned to cltnschlosser

[2017-05-22 07:14] cltnschlosser commented on #1030
Generally you shouldn't close issues until after they are merged. If you use the right Closes #... phrases they will be auto closed on merge.

[2017-05-22 08:18] #1019 closed, assigned to xavierh

[2017-05-22 08:19] #924 closed, assigned to pmardle

[2017-05-22 09:24] Amadeus99 commented on #1039
I was using v1.10.2-0.8.1009 then updated to v1.10.2-0.8.1386 and now I'm having the same issue with the Lumberjack not picking up oak or spruce saplings.  The Lumberjack doesn't appear to pick up anything at all.  I only have oak and spruce trees planted, though.  Then I destroyed the Sawmill and tried a level 1 Sawmill, just in case, and still had the same problem.  I play on SMP.  I reverted to

[2017-05-22 09:35] jasonsaffle13 commented on #1039
![2017-05-22_05 30 33](https://cloud.githubusercontent.com/assets/4934838/26301877/7d73feb0-3eb0-11e7-9223-78e9c1db6ec6.png)
![2017-05-22_05 30 51](https://cloud.githubusercontent.com/assets/4934838/26301880/7fcc8e3e-3eb0-11e7-961d-2300c2d6cac9.png)
![2017-05-22_05 31 07](https://cloud.githubusercontent.com/assets/4934838/26301885/83208fd6-3eb0-11e7-942e-6137b69acac2.png)

 We are using minecoloni

[2017-05-22 10:47] jasonsaffle13 commented on #922
I just had this exact thing happen to me with minecolonies-universal-1.10.2-0.8.1429 this morning.

[2017-05-22 12:06] Raycoms commented on #889
I think we should make players subscribers which are within the 2* working
range + 1 * padding.

2017-05-22 2:10 GMT-03:00 Marc Hermans <notifications@github.com>:

[2017-05-22 12:08] Raycoms commented on #1011
Didn't get to test this yet.

2017-05-22 0:39 GMT-03:00 Colton Schlosser <notifications@github.com>:

[2017-05-22 12:20] #1010 closed, assigned to cltnschlosser

[2017-05-22 12:24] Raycoms commented on #985
That should be fixed already.

[2017-05-22 12:24] #985 closed, assigned to Raycoms

[2017-05-22 12:31] #888 closed, assigned to Raycoms

[2017-05-22 12:32] #646 closed, assigned to Raycoms

[2017-05-22 12:38] AndrewTru commented on #1003
@Galindorf from what I can tell looking it over when you use OptiFine and that pack the Minecolonies mod adds stuff that the pack can't account for so Minecraft sees them as missing and most item systems do this or the broken texture as a byproduct. @Raycoms do you think this can be fix with the API? Once you get that working that is.

[2017-05-22 12:39] Raycoms commented on #1003
In this case I assume there is nothing we can do, I suppose if someone
makes a stylepack compatible with minecolonies things should work.

2017-05-22 9:38 GMT-03:00 AndrewTru <notifications@github.com>:

[2017-05-22 12:41] AndrewTru commented on #1003
@Raycoms good point, I am still getting use to the back office side of minecraft mods.

[2017-05-22 13:04] Sejoslaw commented on #829
Using:
Forge - 13.20.0.2228
Minecolonies - minecolonies-universal-1.11.2-0.8.1450   (latest)
[Crash](https://pastebin.com/3e1F0cG9)
It is still crashing in `java.lang.NoClassDefFoundError: com/minecolonies/coremod/colony/ColonyManager`
With last on stacktrace `at com.minecolonies.coremod.event.FMLEventHandler.onClientTick(FMLEventHandler.java:39) ~[FMLEventHandler.class:?]`
What's more is that it

[2017-05-22 14:37] xavierh opened #1048 "Delivery man does not check for the tool level he will deliver"
### Minecolonies version

version/1.11

### Expected behavior

- dman should not deliver tool that the worker can use

### Actual behaviour

- except for the pickaxe, the dman deliver any level tool

[2017-05-22 15:16] Raycoms opened #1049 "Citizens should lay down in their beds at night [$5]"
Just let them search for an empty bed within their citizenHut and render them in and out at the right moment.

<bountysource-plugin>

---
Did you help close this issue? Go claim the **[$5 bounty](https://www.bountysource.com/issues/45450281-citizens-should-lay-down-in-their-beds-at-night?utm_campaign=plugin&utm_content=tracker%2F43175463&utm_medium=issues&utm_source=github)** on [Bountysource](htt

[2017-05-22 15:33] cltnschlosser commented on #889
I'm leaning to agree with Ray. Currently unless we made a new packet, we would need to send all the following information:
[code]

Also we would need to do it on more than just login/entering a dimension,  we also would need to send packets on colony creation.

[2017-05-22 15:37] Raycoms commented on #889
and if we only request those packages in that certain range, if f3 is
opened?

2017-05-22 12:33 GMT-03:00 Colton Schlosser <notifications@github.com>:

[2017-05-22 15:42] cltnschlosser commented on #889
The simple packet could be requested on login and sent on creation. It wouldn't be that much data, and the info can't change (location of colony center).

[2017-05-22 17:16] cltnschlosser commented on #754
Okay, so I played around with this, and found that because our heuristic is valued so highly, the extra weight that we put on swimming doesn't have enough affect. I doubled the value, and I'm seeing much more reasonable pathing.

Here are some screenshots from before my change:
![2017-05-22_11 35 31](https://cloud.githubusercontent.com/assets/1498529/26320306/0bf952e8-3ee8-11e7-90fd-9ba9222f4daa.p

[2017-05-22 17:22] cltnschlosser commented on #754
Also, you can see here that if there was more water, they would path around it, these values may need to be tweaked still:
![2017-05-22_12 21 37](https://cloud.githubusercontent.com/assets/1498529/26320692/5cbb24da-3ee9-11e7-989f-d230b0625bb6.png)

[2017-05-22 17:24] Raycoms commented on #754
Nice, additionally (we already have an issue for that) we should avoid
citizens wandering into water when they are on their wander tasks.
Which often throws them into the water.

2017-05-22 14:16 GMT-03:00 Colton Schlosser <notifications@github.com>:

[2017-05-22 17:26] Raycoms commented on #754
I think there are a lot of tweaks we can do with our pathfinding with the
different values (also increasing the priority on using the paths
(stonebrick and gravel).
Unfortunately my laptop says goodbye when I let the pathfinding render.

2017-05-22 14:24 GMT-03:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2017-05-22 18:07] Galindorf commented on #1003
Thanks guys, I've been doing a revamp of our usual game with updates and
interesting new mods, and found yours is not the only one I have this issue
with. It is also an issue with Animania and Chisels & Bits. Interestingly,
I got Chisels & Bits to work with Chroma Hills + OptiFine on my Surface
Book Pro laptop. This leads me to suspect it may be a graphics card problem
with my desktop, which is a

[2017-05-22 18:24] cltnschlosser commented on #829
Sound thing is unrelated, there is a PR to fix that now.

[2017-05-22 18:26] Galindorf commented on #1003
I've got both computers open and can confirm: Minecolonies + Optifine + Chroma Hills works just fine on the Surface Book. I think what I'll do is leave Optifine off of my desktop for now.

Also, I can highly recommend the Chroma Hills texture pack. I've played with a lot of them and this is what I always come back to. ;)

[2017-05-22 18:31] Raycoms commented on #1003
I think I can close this here then.

[2017-05-22 18:31] #1003 closed, assigned to nobody

[2017-05-22 19:07] cltnschlosser commented on #829
I'm unable to reproduce this, I've even ran it inside the VanillaMagic dev environment as it looks like thats what you're doing. This is really strange, it looks like its unable to find the Colony or ColonyManager classes. I'd try updating to latest java version. Mine is newer than yours, so its possible there was a ClassLoader issue in the version you have.

[2017-05-22 19:20] cltnschlosser commented on #754
I did increase the priority of paths, but I didn't test it. I can fix that AI task

[2017-05-22 19:22] Raycoms commented on #754
But that's actually even a separate issue:
https://github.com/Minecolonies/minecolonies/issues/781

2017-05-22 16:20 GMT-03:00 Colton Schlosser <notifications@github.com>:

[2017-05-22 19:24] cltnschlosser commented on #623
@pmardle Just going to throw another poke here.

[2017-05-22 19:54] #1011 closed, assigned to Raycoms

[2017-05-22 21:26] cltnschlosser commented on #781
We can use `EntityCreature#setHomePosAndDistance(BlockPos pos, int distance)` to set the center point and distance from it. And the current wandering AI will respect that.

[2017-05-22 21:30] Amadeus99 opened #1053 "Request: Make workers ignore buildings as waypoints except as a final destination"
It is a little disconcerting to see workers, for example, go through a line of 4 citizen huts before stopping at the last one which is apparently their home.  I have decorations->waypoints->waypoint 6 blocks in front of each door to each hut, but they usually, not always, ignore those waypoints.  I also see workers go in and out of my deliveryman huts on their way to wherever they need to go.  Tho

[2017-05-22 21:42] Raycoms commented on #1053
They actually don't prioritize anything, they use the waypoint with the
best heuristic to the goal, it seems like your player placed waypoints have
a worse heuristic.
Have you read our waypoint guide on the wiki?

2017-05-22 18:30 GMT-03:00 Amadeus99 <notifications@github.com>:

[2017-05-22 22:12] cltnschlosser commented on #1053
Our heuristic is a bit strong. Which is good for saving CPU cycles, but bad for finding the best path. Walking through a building (with walls) is unlikely to be an optimal path, because we will just have to walk back out.

I haven't looked into the waypoint system at all, but I think having huts as waypoints isn't the best idea.

[2017-05-22 22:14] Amadeus99 commented on #1053
I just read the wiki.  I still can't see how to get the workers to follow a neatly laid out road system.  I have 4 citizen huts going N to S.  Each Citizen's Hut block is 18 blocks from each other.  My road is on the west side of the huts, the center of which is 9 blocks from the hut block.  Once a guard that is on automatic patrol goes into one hut, he will then hug the wall to go to the next hut

[2017-05-22 22:27] cltnschlosser opened #1054 "Citizens should walk faster on paths, and locomotion should stick to the path"
Current behavior:
![gravel_pathing](https://cloud.githubusercontent.com/assets/1498529/26330914/e0373612-3f13-11e7-8479-f931fdf81a81.gif)

[2017-05-22 22:28] Raycoms commented on #1053
You just change the block the custom waypoint is in. After 5 seconds it
will get removed.

2017-05-22 19:14 GMT-03:00 Amadeus99 <notifications@github.com>:

[2017-05-22 22:32] Raycoms commented on #1053
Hmm hugging the wall is not intended, they should recognize a better path
since they can't walk this way.
I added some optimizations so that the worker should recognize that he is
close enough to the goal to not pursuit the way into the building, but it
seems like the check isn't made often enough so he actually runs often
inside the buildings, there is still some room for optimizations.

2017-05-

[2017-05-22 22:58] cltnschlosser commented on #1053
Also they weren't prioritizing roads before, that will be fixed, and should help some. See #1054 which has new code to prioritize roads (as you can see, some work is needed still).

[2017-05-22 23:43] jasonsaffle13 commented on #1039
![2017-05-22_19 42 17](https://cloud.githubusercontent.com/assets/4934838/26332748/ea645f6c-3f26-11e7-869a-a456525d2cbb.png)

minecolonies-universal-1.10.2-0.8.1470 behavior unchanged.

[2017-05-23 03:23] cltnschlosser commented on #191
Seems like you could cheap out by building using styles with lower max levels.

[2017-05-23 03:40] DarVillous commented on #191
Not to play devils advocate from beyond, but...
Doesn't "cheaping out" fall into a play style choice?  By allowing custom
styles, haven't we already opened that possibility?  And requiring a fixed
number of levels for a building will cause issues if the style only has 3
levels instead 5...or 6..or x

I recall having discussions with Ray about setting the max benefit of
certain buildings and scalin

[2017-05-23 10:00] P3rf3ctXZer0 commented on #930
I left the minecraft scene sorry to disappoint.

[2017-05-23 13:00] xavierh commented on #1049
We should also fix the number of beds per huts/level

[2017-05-23 15:28] kedamono commented on #1049
In my citizen huts that I build, I make sure to have 1 bed per level.

[2017-05-23 21:27] SulpherStaer commented on #1054
As long as grass path, cobblestone, gravel, and stone bricks are amongst the type of walking surface, I am okay with this.

[2017-05-24 01:30] jasonsaffle13 commented on #1039
minecolonies-universal-1.10.2-0.8.1536
![2017-05-23_20 13 02](https://cloud.githubusercontent.com/assets/4934838/26383070/b0431124-3ffe-11e7-826d-2ae701aeb7e6.png)
 He's back to work!! Though some times he is invisible. Happens when he is hungry but working, You hit recall and seems like nothing happens then you  hear some one walking the door opens and closes I walked outside and a oak tree was b

[2017-05-24 01:41] jasonsaffle13 commented on #1039
On my phone and it will not let me edit last comment. I am using optifine and a large 256 texture pack. I am so used to visual glitches from that combo it may just be that. Not going to take time to look i to it unless it helps you amd your team.

[2017-05-24 01:42] MokahTGS opened #1061 "[1.10.2] Crash loading savegame"
### 1.10.2.0.8.1536

https://pastebin.com/ummXYtqT

Getting this crash when loading a savegame with a previous version.

[2017-05-24 05:03] cltnschlosser commented on #1054
@sylcai I think we should make it a config option, currently its hardcoded to gravel, stonebrick, and grass path

[2017-05-24 05:36] #930 closed, assigned to nobody

[2017-05-24 12:07] AndrewTru commented on #1054
I was thinking about this as well, I use the grass paths a lot and this will help on a void world due to the lack of ground from point A to point B.

[2017-05-24 15:33] xavierh opened #1072 "Quarks & Opening door permission"
### Minecolonies version

version/1.11

### Expected behavior

- Should not be able to open door if the permission is not granted

### Actual behaviour

- Warn that I do not have the permission but the door open anyway

Quarks allow to open double door automatically when you open one which probably mess the permission.

Additionnaly the only one door is open when colonist open a double door

[2017-05-24 16:22] SulpherStaer opened #1074 "Latest Alpha results in crash"
### Minecolonies version

minecolonies-universal-1.11.2-0.8.1590

### Expected behavior

- Able to play minecraft

### Actual behaviour

- Crashes before even main menu shows up

[crash-2017-05-24_18.21.00-client.txt](https://github.com/Minecolonies/minecolonies/files/1026258/crash-2017-05-24_18.21.00-client.txt)

[2017-05-24 17:55] marchermans commented on #1074
Noted working on it

[2017-05-24 18:01] H3roDude opened #1075 "Builder should break entities when upgrading."
Hey, my Builder dont want to break Item Frames when upgrading a Hut
Hes done with lvl 5 and now there are 2 item frames on the wall who arent in the schematic from the lvl 5 hut

[2017-05-24 18:03] Raycoms commented on #1075
Yeah we need to fix this.
We only clean up blocks and not entities after a build.

2017-05-24 15:01 GMT-03:00 H3roDude <notifications@github.com>:

[2017-05-24 18:06] H3roDude commented on #1075
also he should get the items in his inventory, like when hes breaking item frames or armor stand's

[2017-05-24 18:37] MokahTGS commented on #1061
I've had to completely remove MCol from my modpack as it won't let the savegame load.  I'd like some advice as to what went wrong.

[2017-05-24 18:40] Raycoms commented on #1061
Will be able to take a look at it tomorrow morning and try to push a fix.
It seems to be related to the farmer hut.

2017-05-24 15:37 GMT-03:00 MokahTGS <notifications@github.com>:

[2017-05-24 18:44] MokahTGS commented on #1061
When you do, can you post and let me know what happened?  I'm building a modpack for future public use and I'm curious as to what causes these issues...especially in big packs.

[2017-05-24 18:54] SulpherStaer commented on #1074
[crash-2017-05-24_20.53.15-client.txt](https://github.com/Minecolonies/minecolonies/files/1026734/crash-2017-05-24_20.53.15-client.txt)
Issue still present in minecolonies-universal-1.11.2-0.8.1633

[2017-05-24 19:01] marchermans commented on #1074
Yeah as you can see the PR is still open. Which means that the fix is not pulled in yet.
Give us a couple of hours to Review the Changes that i made properly.
This issues is automatically closed when the build that fixes the issue is kicked of.

[2017-05-24 19:53] SulpherStaer commented on #1074
Sorry - I wasn't sure. So seeing as there was a new alpha, I thought to report it.

I didn't mean to appear impatient.

[2017-05-24 20:02] SDUBZ opened #1077 "java.lang.NoClassDefFoundError: com/minecolonies/api/colony/permissions/Rank (1.11.2)"
### Minecolonies version

version X.X.XXXX or curse X.X.XX
minecolonies-universal-1.11.2-0.8.1633
Forge:1.11.2-2304
### Expected behavior
to load up fine after updating

### Actual behaviour
crashed

### Steps to reproduce the problem

1. update to minecolonies-universal-1.11.2-0.8.1633
2. load up and get crash

3. ...
4. Profit

crash:
[crash-2017-05-25_05.57.03-client.txt](https://github.com/Min

[2017-05-24 20:03] Raycoms commented on #1077
copy of #1074.

[2017-05-24 20:03] #1077 closed, assigned to nobody

[2017-05-24 20:06] kreezxil commented on #1074
Confirming that build 1633 is borked for server on startup:

1.11.2-0.8.1633 crashes dedicated server Forge 1.11.2 build 2304

Notes:
     on startup

crash report:
https://gist.github.com/25b2fbdac4a486af449fd8d45b4fb39d

fml server latest:
https://gist.github.com/86d20aa1094a9abd39ddd542e1f0501d

[2017-05-24 20:21] marchermans commented on #1074
Yeah it is missing the Framework of the new api. We moved it to a new module, and I forgot to tell the build System to add it to the jar.

Sorry for the screw up. It is on ist way though.

[2017-05-24 22:16] nekatu opened #1078 "Miner doesn't ask for cobblestone/stops mining out of nothing"
### Minecolonies version

version 0.8.1540 (but seems to have been there for the last few weeks over versions)

### Expected behavior

Miner asks for cobblestone like all other resources

### Actual behaviour

Mine stands around waiting for something but never asks for cobblestone

### Steps to reproduce the problem

1. Leave miner to do his thang
2. Notice he's not doing a lot of, you know, minin

[2017-05-24 23:43] #1074 closed, assigned to marchermans

[2017-05-25 02:14] cltnschlosser opened #1079 "Improve internal datatype that miner uses for node comparison"
Make a `Vec2i` and move the miner to using that instead of `Point2D.Double`.

[2017-05-25 02:16] cltnschlosser commented on #1054
@AndrewTru They shouldn't run off the edge into the void, is that happening now?

[2017-05-25 03:42] cltnschlosser commented on #1061
@MokahTGS Well this specifically happened because a field associated with a farmer was deleted (or atleast the TileEntity for the scarecrow was), and the Farmer hut was deleted(broken), close enough together that they happened in the same game tick.

The crash is because the error checking code for this isn't very good.

I'm guessing you loaded this world without minecolonies (so the TileEntities

[2017-05-25 07:56] #754 closed, assigned to cltnschlosser

[2017-05-25 11:16] Wissi commented on #404
I thik it's a great idea. It should have levels as well as the other buildings and at level 5 should have enough gravesites for at least 50 Citizens as well. maybe even in a tiered/layered graves (by floors or subfloors) so as not to create a large footprint just for that.

[2017-05-25 13:22] Ioandar opened #1086 "Refined Storage Constructor and Destructor does not work anymore when minecolonies is installed"
Block place and Block remove with Refined Storage is not possible when minecolonies is installed

### Minecolonies version

tested versions: 1.10.2-0.8.1429 or 1.11.2-0.8.1440

here:
- Minecraft: 1.10.2
- Forge: 1.10.2 - 12.18.3.2185 (recommended version)
- Refined Storage: 1.2.25 (latest version for 1.10.2, no change if using others down to 1.2.5)
- minecolonies 1.10.2-0.8.1429 from curseforge.co

[2017-05-25 13:24] Raycoms commented on #1086
It seems like refinedStorage uses fakePlayers.

There are two chances:

1) Disable colony protection in the config.
2) As we spoke with the forge team, fakePlayers should inherit the players UUID, I guess refinedStorage does that wrong

[2017-05-25 13:24] #1086 closed, assigned to nobody

[2017-05-25 15:56] cltnschlosser commented on #1078
I believe this should be fixed in the next version. But I also think that build is probably broken right now, so I'm going to leave this open until my next debugging session with the deliveryman.

[2017-05-25 17:57] MokahTGS commented on #1061
Odd because that crash happened before i removed anything.  So something got messed up first.

[2017-05-25 19:10] Raycoms commented on #1072
Should be fixed with newer quark versions:
https://github.com/Vazkii/Quark/issues/386

[2017-05-25 19:10] #1072 closed, assigned to nobody

[2017-05-25 19:12] Raycoms commented on #147
I think we're doing that with @cltnschlosser latest pr now as well.

[2017-05-25 19:12] #147 closed

[2017-05-25 19:14] Raycoms commented on #262
This is not our fault, but seems like they fixed it already:
https://github.com/SlimeKnights/TinkersConstruct/issues/2859

[2017-05-25 19:14] #262 closed

[2017-05-25 19:35] Raycoms commented on #711
Done already. Should be in the game.

[2017-05-25 19:35] #711 closed, assigned to nobody

[2017-05-25 23:15] Amadeus99 commented on #1053
From what I've read before, citizens will go to 5 blocks from a way point and then move on to a different way point.  Could we have a config option to change that?  I would like to set it down to 1 block but that is a personal preference and thus a config option would be nice.  Although, if you make changes that cause citizens to always stay on paths until pretty much the last moment, then this pr

[2017-05-25 23:37] TheRealM18 opened #1090 "Recipes need fixing"
0.8.1784

### Expected behavior
recipe for town hall

lang needs to say the recipe for multiple structures

### Actual behaviour

recipe for town hall does not excissed

lang for town hall teir 3 says 1 item frame needed

lang for fishery does not except the 4 item frames

### Steps to reproduce the problem

do creative mode with single player from the start aka check an exciting jar
those two bui

[2017-05-25 23:43] Raycoms commented on #1090
Should be fixed in the newest versions.

[2017-05-26 05:11] cltnschlosser commented on #1061
Could you do me a favor and see if this fixes your issue? https://s3.eu-central-1.amazonaws.com/minecolonies/Minecolonies/Minecolonies_PullRequests/1847/minecolonies-universal-1.10.2-0.8.1847.jar

[2017-05-26 05:16] cltnschlosser opened #1093 "Farmer and Field interaction could use an overhaul"
Things I noticed:
- Fields use the citizens names, instead of UUID's
- Field update packets are sent way too often
- Farmer/Field serialization could be improved
- Farmer error checking is seriously lacking, which is why we need to call "sync" methods to detect missing fields.

[2017-05-26 10:26] mistresskahlan opened #1094 "Bakery not a building?"
### Minecolonies version
curse 1.10.2-0.8.1331

### Expected behavior
building shows me boundaries

### Actual behaviour
building point goes down and nothing shows up to show me where it will be. Also, doesn't show up on builders tool.

### Steps to reproduce the problem
1. build a barkery
2. put it down (or use builders tool)
![2017-05-26_11 20 21](https://cloud.githubusercontent.com/assets/23690

[2017-05-26 10:27] marvin-bitterlich commented on #1094
look at #1073 not merged so not implemented yet

[2017-05-26 10:27] #1094 closed, assigned to nobody

[2017-05-26 10:30] marvin-bitterlich commented on #1094
@mistresselara If you click on the pr and on watch there you get an email when it is done

[2017-05-26 14:15] AndrewTru commented on #1093
Seems to me that the clock speed of the Farmers and the fields are not keeping sync, what if the two systems use the same clock and you link it by the Unit ID?

[2017-05-26 14:31] marvin-bitterlich commented on #1061
fixed in alpha

[2017-05-26 14:31] #1061 closed, assigned to cltnschlosser

[2017-05-26 14:38] cltnschlosser commented on #1093
@AndrewTru I'm guessing you have an electronics background?

[2017-05-26 14:40] AndrewTru commented on #1093
Computer A+, RAM/CPU have the same idea.

[2017-05-26 15:42] AnthonyRousset opened #1095 "Build error java"
### Minecolonies version

version 0.8

### Expected behavior

./gradlew build
...

### Actual behaviour

i have error on **"./gradlew build"** and
When start server minecraft , mod isnt launch

### Steps to reproduce the problem

**1/** ./gradlew build
[code]

_PS : you need to update your README.md_

[2017-05-26 15:44] marvin-bitterlich commented on #1095
PS: We accept pull requests 😉

[2017-05-26 15:44] marvin-bitterlich commented on #1095
The warnings are rawtypes, we just have do suppress them

[2017-05-26 15:46] AnthonyRousset commented on #1095
ok , i need to update  build.properties ?
`
#
#Sun Jan 24 19:17:22 CST 2016
minecraft_version=1.11.2
forge_version=13.20.0.2228
minecolonies_major=0
minecolonies_minor=8
#deprecated, travis versioning instead
minecolonies_build=25

minecolonies_mappings=snapshot_20161209
`

[2017-05-26 15:49] marvin-bitterlich commented on #1095
@kaloutch why would you need that?

Can you tell me what you want to do? And maybe the team can help you with that. (hint: http://www.minecolonies.com/recruitment )

[2017-05-26 15:52] AnthonyRousset commented on #1095
just the mod in my server isn't launched, and i not understand why

[2017-05-26 15:59] marvin-bitterlich commented on #1095
why build it then? we build all commits automatically

[2017-05-26 15:59] marvin-bitterlich commented on #1095
maybe post a new issue with the crash log

[2017-05-26 16:00] cltnschlosser commented on #1095
Are you trying to change the mod? or you just want to install it? If you just want to install it, you can grab one of the builds from https://mods.curse.com/mc-mods/minecraft/245506-minecolonies#t1:other-downloads

[2017-05-26 16:02] cltnschlosser opened #1096 "Miner requests 1 item at a time"
It takes a long time to build a level if you request every slab 1  at a time, and have to wait for the deliveryman.

This also hurts the verbal request, because he is repeating the same things often, so it gets filtered by the chat spam filter.

[2017-05-26 16:06] AnthonyRousset commented on #1095
its ok thx for help

[2017-05-26 16:10] cltnschlosser opened #1098 "Deliveryman should deliver food preemptively"
The issue isn't necessarily with the deliveryman himself, but in the way food is requested. Currently he delivers the food a day late, and not enough at a time.

[code]

Really only this line is important:
[code]
We use the deliveryman's saturation to detect if we need extra food, but we should check all the residents of that `BuildingHome`

[2017-05-26 16:14] xavierh commented on #1098
Wow. Good find

On 26 May 2017 17:10, "Colton Schlosser" <notifications@github.com> wrote:

[2017-05-26 17:25] Raycoms commented on #1098
Actually, we use the deliveryman saturation to detect if we need extra food.
(Because if the dman is low on saturation he will eat the food he should
deliver)

2017-05-26 13:14 GMT-03:00 xavierh <notifications@github.com>:

[2017-05-26 17:51] xavierh commented on #1098
Make sense now

On 26 May 2017 18:25, "Raycoms" <notifications@github.com> wrote:

[2017-05-26 18:44] cltnschlosser commented on #1098
Lol

[2017-05-26 20:08] #1095 closed, assigned to marvin-bitterlich

[2017-05-26 20:25] #1079 closed, assigned to cltnschlosser

[2017-05-26 21:33] WORMSS commented on #1011
I am experiencing the same thing (Fisher hut upgrade to level 4). This is the first building that is requesting item frames.

The strange thing is, the builder is holding a stair case. Usually the builder holds what they are requesting.. but this time it's stairs.. Looks like oak.

I tried given the builder stairs of all types + item frames (crafted and cheated in).
Also tried putting them into bl

[2017-05-27 12:48] Boyownik opened #1100 "World freeze and crash when looking up/down on ladder in miner's shaft."
### Minecolonies version

version 0.8.1715

### Actual behaviour

- Minecraft freeze for a moment and then fatal error with button "back to the server list" when i look up/down standing on ladder in Miner's shaft. No crash logs.
Latest logs: https://pastebin.com/seWg1zca

[2017-05-27 13:41] cltnschlosser commented on #1100
I don't know if this is even related to minecolonies.

[2017-05-27 15:27] AndrewTru commented on #1100
I just looked at the log, it has over 1k lines and I can't find when in the log the program crashed.

[2017-05-27 15:49] xavierh commented on #1098
Still with the latest release, I had to deliver the food myself

[2017-05-27 20:51] SulpherStaer commented on #1100
I had a similar problem, when I had an older version of Fancy Block Particles.

This is not a problem with Minecolonies. Do a test, by turning the half of your mods off / on, and find the one that causes the crash.

It is NOT minecolonies.

[2017-05-27 22:34] Boyownik commented on #1039
I have the same problem, Lumberjack just afk near saplings and wait until they disappear (like he have order to pick them up, but he can't) and then he can cointinue his work.

[2017-05-28 09:49] royalcw opened #1102 "Crash when viewing Builder's Hut block"
### Minecolonies version

version 1.11.2-08.1878

### Expected behavior

- View the contents of the builder hut block

### Actual behaviour

- crash to desktop

### Steps to reproduce the problem

1. view the builders hut

Note:  Crashed multiple times.  Below is Log report.
----------------------------------------------------------------------------------------

18:44:27	STDOUT	[net.minecraft.ini

[2017-05-28 10:18] WORMSS commented on #77
You could make the 2x2 as a basic, and 3x3 as you go up the levels?? I am not sure if that would be for the crafter to do or the researcher? Or are you making it so Crafter makes items, Forger/Blacksmith makes tools?

[2017-05-28 10:27] WORMSS commented on #307
Like the Saplings/Item Types(eg, string flint, sticks)/Food/Dungeon

But should he "find" blocks of cobble, gravel and dirt? Is that not miner? And wood being LumberJack?

I mostly agree with this because it taken me and my wife 20 odd hours (spread over 5-6 days) to fine acacia trees.. The seed for my world must have been particularly bad.

[2017-05-28 10:31] marvin-bitterlich commented on #307
@WORMSS I'd say he finds stuff. And it doesn't have to be blocks. Maybe the Ex Nihilio things like dust etc. or small stones where 9 form a cobble

[2017-05-28 10:36] WORMSS commented on #308
With regards to the Leveling system.. You could make it, so if his skill level is really low, he makes weapons with very little durability left.
So if you have a level 5 blacksmith hut, but a 0 skill level blacksmith, the dimond weapon would have like 5 hits left.. (EG, basically wasting the item).. But restrict him to only making wooden/stone so his skill level increases and then allow him iron a

[2017-05-28 10:39] WORMSS commented on #307
Oh, nuggets of things could be good.. Seeds of potatoes/carrots/ etc 👍

[2017-05-28 11:03] WORMSS commented on #657
@kedamono What happens on Founders day if the original 4 colonists are dead?
Maybe it should be all colonists?

[2017-05-28 11:07] WORMSS commented on #680
+1

[2017-05-28 11:11] WORMSS commented on #699
I like the idea of town hall being the Cap in population.
So it being placed spawns the original 4, but until the building itself is finished, you cannot get a 5th (or higher).
I don't know what would be sane numbers for each level though.

[2017-05-28 11:21] WORMSS commented on #788
I would expect there to be holes in the ground if a builder moves the building.
At the moment, if ask the builder to build something, he digs holes in the ground and fills will cobble (Foundations).
If I ask him to move the house..
I would expect him to remove the current house blocks (from top to bottom),, Place them in his inventory/builders hut inventory and then what would be left is the holes

[2017-05-28 11:28] AndrewTru commented on #77
@WORMSS
If we do it that way it limits the auto crafting support the colony can provide till you get to that point.
If we make it so everyone has the same 2x2 crafting when out and about but a 3x3 when at the building in question. The builder is the odd one out due to a 'better crafting' research that promotes the 2x2 with the idea of taking a crafting table to and from the job site but I see your

[2017-05-28 11:34] AndrewTru commented on #1102
From what I can tell one of two events happened:
1) A segment of code in the mod is not working or
2) the computer you're playing on is not up to par for it.
Let me explain, looks like some code will need to be cleaned up or the computer your using has a memory limit or setting that is not high for the mod. Program needs 4 but your giving 3 type of a thing, but only when you view the builders hut

[2017-05-28 12:10] marvin-bitterlich commented on #1102
@AndrewTru

[code]

That's a nullpointer, normal bug

@royalcw can you try the newest alpha?

[2017-05-28 12:12] AndrewTru commented on #1102
@Kostronor
Thanks for the info.

[2017-05-28 14:39] kedamono commented on #657
Well, if they are dead, yeah, cake for everyone!

[2017-05-28 17:16] Drakoflame opened #1105 "Crash on Startup"
I got a crash on Minecolonies version: 1.11.2-0.8.1784 Forge 13.20.0.2282

Crash log: https://pastebin.com/pa5iRs4t

it says something to do with the block render? 9/10 whenever I use a mod it always says it has issues with block renders/finding a specific file. Its gotten to the point that if I get this error I dump the mod and walk away and come back a few versions later, but this time I felt li

[2017-05-28 17:34] marvin-bitterlich commented on #1105
[ooks like a crash of BetterGrass to me

[2017-05-28 17:36] Drakoflame commented on #1105
I was just coming to say that even after removing Minecolonies, I got the crash... Don't know why its happening, BetterGrass is a modual of Quark... going to test one thing, just updated Tinkers to the newest versions, and I"m wondering if thats causing the issue?

[2017-05-28 17:46] marvin-bitterlich commented on #1105
Alright, thanks fer the update!

If you have any problems with minecolonies, we fix them quickly :)

[2017-05-28 17:46] #1105 closed, assigned to nobody

[2017-05-28 17:48] Drakoflame commented on #1105
Looks like I found the issue... maybe? Anyway... you know how when you update a mod, they tell you to delete the old versions because it'll read as two of the same mod and Forge doesn't like that... well... when you have two versions of a mod, it can cause quite a few issues... I updated my minimap/worldmap mod, and forgot to delete the old ones... deleted the old files and everything works now XD

[2017-05-28 23:41] royalcw commented on #1102
Gents,  Thank you so much for the quick response.  I installed the Alpha and so far haven't had any crashes.  I know it wasn't the computer "not up to par" bit.  It is a one month old top of the line MSI gaming machine.  GeForce GTX 1060, 16 GB RAM, 4 GB allotted to Minecraft.  For some modpacks I'll bump allotted memory to 6GB.

Anyways, the issue appears fixed for now.  thank you again for all t

[2017-05-28 23:41] #1102 closed, assigned to nobody

[2017-05-29 01:50] Okimo commented on #359
Welp at least drop that Info Somewhere ... I was searching many hours until I found this post (hidden under Closed) that GameRule - doDaylightCycle breaks this mod...

[2017-05-29 02:00] Raycoms commented on #359
Thanks for the info. Will add it to the wiki.

2017-05-28 22:50 GMT-03:00 Okimo <notifications@github.com>:

[2017-05-29 16:39] xavierh commented on #1096
He get delivered 1 stack of slabs, does he not?

[2017-05-29 18:21] Raycoms commented on #1096
Actually we can have them request a stack as well, The request system is
designed that even if he only receives a subvalue he should return to work.

2017-05-29 13:39 GMT-03:00 xavierh <notifications@github.com>:

[2017-05-30 07:16] wilsondgonzales opened #1109 "Schematic issue with guard 5"
When you're previewing a guard tower lv5 and joining it to a wall, the builder will destroy a block section of the wall the tower is to be connected to. there should be placeholder blocks since the initial lv to be built is lv1

[2017-05-30 07:18] marvin-bitterlich commented on #1109
What Style did this happen with?

[2017-05-30 07:29] omega025 opened #1110 "Colonists not spawning?"
### Minecolonies version

version 0.8.1917

### Expected behavior

- A limited number of colonists spawn automatically after the placement of the Town Hall block (podium with book).

### Actual behaviour

- After Town Hall block is placed, the "Found a colony" achievement is triggered and the construction tape cordon appears, but no colonists spawn.  Right-clicking on Town Hall shows menu with the

[2017-05-30 07:30] marvin-bitterlich commented on #1110
please wait a Minute, they will appear. Place the builders hut while you wait

[2017-05-30 07:32] omega025 commented on #1110
In previous builds the first colonist would appear almost immediately - has a delay been added?  If so, about how long should I be waiting?

[2017-05-30 07:32] marvin-bitterlich commented on #1110
The config determines the spawn time. I think 1-3 minutes per colonist

[2017-05-30 07:39] omega025 commented on #1110
If it's the CitizenRespawnInterval config setting, that appears to be set to the default 30 seconds (I haven't adjusted my configs at all), though after waiting 15 minutes still no colonists have appeared.

Should I be deleting a config file after updating minecolonies versions?

[2017-05-30 07:50] omega025 commented on #1110
False alarm - after making a new save several times it seems to be working again. How bizarre.

[2017-05-30 07:50] #1110 closed, assigned to nobody

[2017-05-30 13:16] cltnschlosser commented on #1100
Closing unless @Boyownik returns with more information proving this is minecolonies.

[2017-05-30 13:16] #1100 closed, assigned to nobody

[2017-05-30 15:05] wilsondgonzales commented on #1109
it should be from lv1. basically the preview of a lv5 tower looks perfectly connected to a wall section. after you click the checkmark and build, the builder will cut of a 1 block full section of the wall the tower is being connected to

[2017-05-30 15:21] marvin-bitterlich commented on #1109
wood, stone or sandstone?

[2017-05-30 15:23] marvin-bitterlich commented on #1109
style ≠ level

[2017-05-30 18:48] wilsondgonzales commented on #1109
my bad. wood

[2017-05-30 19:00] xavierh commented on #1109
@marvin I have rescanned the guard tower to take this into account. I have
4 version, with or without water and straight or corner. Any interests?

On 30 May 2017 19:48, "Wilson Gonzales" <notifications@github.com> wrote:

[2017-05-30 19:01] Raycoms commented on #1109
I thought you had added them to the game already =D

2017-05-30 16:00 GMT-03:00 xavierh <notifications@github.com>:

[2017-05-30 19:03] xavierh commented on #1109
No. I have been selfish and been using them for my own pleasure :D

On 30 May 2017 20:01, "Raycoms" <notifications@github.com> wrote:

[2017-05-30 22:08] wyattzastrow opened #1111 "Only owner can build warehouse"
### Minecolonies version

version 1.10.2-0.8.1917 or curse 0.7.4.2.1

### Expected behavior

- I'm not sure what permission lets someone place a warehouse, but on the default officer permissions, an officer should be able to place the warehouse if there isn't one placed.

### Actual behavior

- I'm not the owner of the colony but an officer with default permissions and when I use the building tool

[2017-05-31 03:15] cltnschlosser commented on #1111
Can confirm this issue by code logic:
[code]

Looks like we check if the colony that the placer owns has a warehouse, and not actually the colony they are placing it in has a warehouse. I'm guessing @wyattzastrow doesn't have a colony, so its null in this case (EDIT: I suppose he could have a colony, but it already has a warehouse).

This could lead to a colony potentially having multiple warehous

[2017-05-31 04:42] omega025 commented on #301
Can confirm this is still an issue, and has been for me since 0.6.  My farmers will till and plant one to five blocks and then ... stop.  They will constantly walk back and forth between the field and the farmer's chest but not actually take seeds or do anything else even if they have a hoe and seeds in their inventory.

[2017-05-31 04:59] zoou opened #1112 "Can't Interact with Villagers or any Building Blocks"
[crash-2017-05-30_21.42.43-client.txt](https://github.com/Minecolonies/minecolonies/files/1040328/crash-2017-05-30_21.42.43-client.txt)
### Minecolonies version

version 0.8.1772

### Expected behavior

- Interface opens when interacting with a villager or building block (town hall, builders hut, etc)

### Actual behaviour

- Nothing happens when I right click a villager or building block.

### St

[2017-05-31 10:31] kreezxil opened #1113 "[bug/feature] any version when buttons required and coupled with Better With Mods"
When Minecolonies is used with Better with Mods and BWM is set to HCSteelRecipes=true, making a stone button requires killing the Ender Dragon.

My suggestion is that builder should be allowed to use any button and not require the stone button.

See: https://github.com/BeetoGuy/BetterWithMods/issues/386

[2017-05-31 10:40] marvin-bitterlich commented on #1113
why does it do that??? That is so broken xD

Just rescan the building btw ;)

[2017-05-31 12:29] kreezxil commented on #1113
I created a new mod today that solves that issue of the button with bwm's
harder steel recipe enabled. It adds a much easier top make some button.
It'll be public shortly and is called Better With Harder Steel Recipe.

On May 31, 2017 5:40 AM, "Marvin Hofmann" <notifications@github.com> wrote:

[2017-05-31 12:39] omega025 opened #1114 "Scan Tool doesn't prompt "Point one/two saved" message when used on fence block"
### Minecolonies version

version 0.8.1917

### Expected behavior

- Right-clicking on fence block with Scan Tool should prompt "Point one saved" or "Point two saved" chat message.

### Actual behaviour

- Right-clicking on fence block with Scan Tool appears to register (see below), but no chat message is displayed.
- Right-clicking on another block with the Scan Tool after right-clicking on a fen

[2017-05-31 12:53] omega025 commented on #1114
This also appears to happen with right-clicking on a fence block for point two - no chat message, though right-clicking again prompts a chat message saying that the scan was successfully saved.

[2017-05-31 12:59] wyattzastrow commented on #1111
Yes I didn't have a colony of my own when this occurred.

[2017-05-31 19:58] #1113 closed, assigned to nobody

[2017-05-31 20:02] cltnschlosser commented on #1114
Can you confirm that the scan was in fact saved?

[2017-05-31 20:03] cltnschlosser commented on #1114
Actually was this on a server or single player version of the game?

[2017-05-31 20:28] cltnschlosser commented on #1114
Its likely that some mod (could but minecolonies, unsure) is cancelling the right click event for fences on the client side (in "remote" worlds). So the following code is never called:
[code]

We should be able to change this to just `if (!worldIn.isRemote)` and be good, since deciding whether to actually send the packet, or add a message to chat is handled by minecraft's code anyway.

[2017-06-01 01:52] omega025 commented on #1114
Can confirm - scans were indeed saved to the minecolonies/scans/new folder.  This was in single-player.

[2017-06-01 12:18] abdullamu opened #1115 "feature request Dman Actually delivers"
Since you are working on Dman 2.0 maybe you can add this feature.
you can ask the Dman to deliver certain resources specified by the player using the wand or order item to anywhere the player asks chest or machines, and keep pick certain amount of items from this chest.

this will be useful why, because we can create complex system or auto run colonies .
Example: Dman deliver wood to specific ches

[2017-06-01 13:57] kreezxil opened #1116 "[request] prevent villages from be captured by townhalls"
Would be awesome if you could add a feature where when a town hall is placed such that encompasses a village, that the village remains public access. Better yet, the town hall refuses to place because it overlaps the village.

[2017-06-01 14:40] AndrewTru commented on #1116
@kreezxil If the team did that the blocks that are used in its construction will be prevented as well, there is arady and in game way to do it, just update the 'dirt' listing in the mod settings with the blocks in question, again this will make it so that if the blocks are used in the town every player will be able to interact or mine them and that will be a security issue come night time. just sa

[2017-06-01 14:43] AndrewTru commented on #1115
@abdullamu This idea is doable to an extent, the team is working on the internal market/request calls and right now the Dman and the new Baker unit are bugging in that the Dman is not keeping the needed items in play for the baker, this may help with that but at the same time we have to pick and deploy what we can,
@Kostronor
What's your take on this idea, I myself am keeping it on the back burner

[2017-06-01 17:20] kreezxil opened #1117 "0.8.1929 Player help not showing unless opped"
The issue might've existed longer, but this is the first time I'm noticing it.

My config: https://gist.github.com/40ba65f3dec18212cfc6bc94b16e3c3c

The op has access to the /minecolonies command

the non-op does not.

[2017-06-01 17:24] Raycoms commented on #1117
If you're using sponge you have to configure sponge to allow your users to
use the minecolonies commands.

2017-06-01 14:20 GMT-03:00 kreezxil <notifications@github.com>:

[2017-06-01 17:30] kreezxil commented on #1117
I'm using pure forge

[2017-06-01 17:33] kreezxil commented on #1117
but i had not thought about sponge, I can use that to solve my problem. :)

[2017-06-01 17:34] kreezxil commented on #1117
still tho, i shouldn't have to use sponge to do that.

[2017-06-01 17:36] Raycoms commented on #1117
Pure forge shouldn't be any problem at all normally. We have to test it
again if our changes to make it work correctly in sponge got us into
problems with pure forge.

2017-06-01 14:34 GMT-03:00 kreezxil <notifications@github.com>:

[2017-06-01 17:39] Raycoms commented on #1117
can you tell me which of the commands are not accessible by the players?

[2017-06-01 17:39] Wissi commented on #1117
Which commands are you trying to use? Some commands are /OP (admin) use only.

[2017-06-01 18:04] kreezxil commented on #1117
/monopolies ... any

On Jun 1, 2017 12:39 PM, "Wissi" <notifications@github.com> wrote:

Which commands are you trying to use? Some commands are /OP (admin) use
only.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Minecolonies/minecolonies/issues/1117#issuecomment-305566355>,
or mute the thread
<https://github.com/noti

[2017-06-01 18:09] Raycoms commented on #1117
Its on default that players only get information about their own colony so
/mc colonies list should work and /mc colony info as well but /mc colony
info <idOfAnotherColony> should only work for admins.

2017-06-01 15:04 GMT-03:00 kreezxil <notifications@github.com>:

[2017-06-01 20:16] kreezxil commented on #1117
Its not even an option, doesn't come up when you do /help.

On Jun 1, 2017 1:09 PM, "Raycoms" <notifications@github.com> wrote:

Its on default that players only get information about their own colony so
/mc colonies list should work and /mc colony info as well but /mc colony
info <idOfAnotherColony> should only work for admins.

2017-06-01 15:04 GMT-03:00 kreezxil <notifications@github.com>:

305

[2017-06-01 20:18] Raycoms commented on #1117
the command is /mc or /minecolonies and then it should give you the options.
Are you on 1.11?
I never tested it on 1.11 tbh.

2017-06-01 17:16 GMT-03:00 kreezxil <notifications@github.com>:

[2017-06-01 23:00] Diggygoglol opened #1119 "Guards attack friendlies"
### Minecolonies version

Curse version: 0.7.4.2.1

### Expected behavior

- Attack mobs

### Actual behaviour

- attacks mobs and friendly players (Even as officer in town hall)

### Steps to reproduce the problem

1. Build tower
2. hire guard
3. insert friendly
4. Profit

This is a private "LAN" server that this happens on.

[2017-06-01 23:18] kreezxil commented on #1117
I'm on 1.11.2 build 2310.

I know what the commands is, as I stated before my is have access to it and
the players do not.

If I didn't say it that way I do apologize.

On Jun 1, 2017 3:18 PM, "Raycoms" <notifications@github.com> wrote:

[2017-06-02 01:09] Raycoms commented on #1119
I'm sure you set the guard attack level in the permission to friendly or
even officer...

2017-06-01 20:00 GMT-03:00 Diggygoglol <notifications@github.com>:

[2017-06-02 01:13] Raycoms commented on #1117
I will investigate this!

2017-06-01 20:18 GMT-03:00 kreezxil <notifications@github.com>:

[2017-06-02 01:35] Raycoms commented on #1117
I have to confirm this, it seems like forge is disabling those commands in
1.11.
Will try to find a fix for this.

2017-06-01 22:13 GMT-03:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2017-06-02 02:18] kreezxil commented on #1117
Thank you

On Jun 1, 2017 8:35 PM, "Raycoms" <notifications@github.com> wrote:

[2017-06-02 03:43] marvin-bitterlich commented on #1119
Everyone with the guard_attack permission will be attacked. Also if you hit a guard he will get revenge for a short time

[2017-06-02 03:49] Wissi commented on #680
kk.. anyone made progress with it? So I can add/replace all the WIKI recipes as soon as it's avail.

I agree all the recipes as they are, are fine just add the building tool in the top center block.

If there is a material there substitute it w/building tool, if empty just add building tool.

Building tool always returns to player's Inventory after crafting.

Crafting recipe is 2 sticks and 1 cobb

[2017-06-02 03:59] Wissi opened #1121 "Suggestion - Add select a Builder when build order is requested."
When a Build/Repair/Upgrade order is made there should be a "list" of selectable Builders for the player to choose from.

When there is more than 1 builder (in most cases now), so player can have full control of the most convenient builder for each Build/Repair/Upgrade order issued.

When there is only 1, then the list will have only 1 to select, but must be selected anyways so the  Build/Repair/U

[2017-06-02 04:49] #1121 closed, assigned to nobody

[2017-06-02 06:30] Wissi commented on #1054
This should be merged with issue #626?

[2017-06-02 06:33] marvin-bitterlich commented on #1054
i'd say they are different. This is for staying on a path, the other one is for adding an new path block

[2017-06-02 10:56] pmardle commented on #308
Personally I would rather see workers who either in part or solely interact
with other mods being separate workers (or even separate child mods that
are optional plug-ins)

On Tue, Nov 29, 2016 at 4:53 PM, kedamono <notifications@github.com> wrote:

[2017-06-02 11:26] xavierh commented on #308
That would make sense

On 2 Jun 2017 11:56, "pmardle" <notifications@github.com> wrote:

[2017-06-02 12:05] AndrewTru commented on #1054
@cltnschlosser , so far
Idle yes
Pathing somewhat interaction with chisel N bits
      To extend the info on the above one, pathing says block but when your town paths they fall off the platform and seem to like finding the fastest path first and not the applied path.

[2017-06-02 12:40] #1119 closed, assigned to nobody

[2017-06-02 16:40] #1117 closed, assigned to Raycoms

[2017-06-03 06:00] wilsondgonzales commented on #1109
are there new schematics for the newest version? just wondering

[2017-06-03 06:46] wilsondgonzales opened #1123 "Deliveryman does not deliver"
### Minecolonies version

version 0.8.2020

### Expected behavior

- Have requests delivered

### Actual behaviour

- Lumberjack requests for an axe.
- Dman does his rounds and 'gathers' warehouse items
- Then does a few gathering rounds and puts the item back in the warehouse
- The dman even indicates he holds the axe but left turns into the warehouse to put it back. He never shows a 'delivering'

[2017-06-03 09:38] xavierh commented on #1109
No. Still the same. Will send you mine today if you wish. Are you using the wooden walls?

[2017-06-03 16:29] Jay9519 opened #1125 "1.11.2 builder not building but uses the resources"
### Minecolonies version

minecolonies-universal-1.11.2-0.8.1784
Forge-1.11.2-13.20.0.2310-universal

### Expected behavior

Start a building project, a builders hut

### Actual behaviour

when I start the project and add all the required materials into the hut's inventory
The builder collects the items and starts working on the build.
but no blocks are breaking for the ground and no blocks are be

[2017-06-03 17:30] PerksPrisoner opened #1126 "The builders aren't changing blocks."
1.11.2-0.8.1784 Minecolonies version

version 1.11.2

### Expected behavior
That the NPC would alter blocks, add blocks.

### Actual behaviour

 The NPC seem to be doing just that, however they don't physically change the block, the particles show them breaking blocks, they hold the tools, blocks, and show they are using them. But nothing changes in the world. Please help. The owner and I are stum

[2017-06-03 19:04] Wissi commented on #1020
I agree with xavierh, if a miner finds a diamond block or worse, emerald or Lapis and just "breaks" it becasue he doesn't have the right tool atm, that would be very bad and the player might not even know that he's losing all those ores either.

@kedamono what mod are you using that installs Vibranium (cause tinkers doesn't install any ores except ardite and cobalt and they are in Nether) and if t

[2017-06-03 19:06] Raycoms commented on #1126
What kind of additional mods are you using? Are on a server or in single
player?

2017-06-03 14:30 GMT-03:00 PerksPrisoner <notifications@github.com>:

[2017-06-03 19:08] Raycoms commented on #1125
Are you using any additional mods?

[2017-06-03 19:50] kedamono commented on #1020
I'm on the Realistic Minecolonies server and it has "Tinkers Alloying Addons" and that adds a lot of unbreakable ores when you use a Tinker's pickaxe. Vanilla pickaxes can break the ores after a lot of hitting. Many of the ores occur near the surface and that's a problem. Vibranium is one, and it's occurring at Y=64, so almost at the surface.'

Edit: Fixed it for the correct mod. Sorry.

[2017-06-03 20:05] Neoletum opened #1127 "Support colonies in other Dimensions"
### Minecolonies version

version 1.11-0.6.3360

### Expected behavior

- Interacting with Town Hall to start a Colonie on Mars in Galacticraft Vers. 1.11.2-4.0.0.101

### Actual behaviour

- Town Hall is locked, can't interact with it, only sends:
   "You don't have persmissions to interact with this...."
   MineColonie Version 1.11-0.6.3360

Hello everyone,
I started Minecraft with Minecolonie a

[2017-06-03 20:27] Raycoms commented on #1127
Minecolonies only works in the overworld dimension. I bet it will run into
problem on mars and similar

2017-06-03 17:05 GMT-03:00 Neoletum <notifications@github.com>:

[2017-06-03 20:30] Neoletum commented on #1127
But there was a User who allready created a colony in an older version:

http://www.minecolonies.com/publicforum/m/18051739/viewthread/12333334-minecolonies-in-space/post/66945813#p66945813

Greets

[2017-06-03 20:32] Raycoms commented on #1127
That's interesting, you could try to execute /mc colony refresh
yourcolonyId -> which you can get from /mc colonies list -> which might
solve your problem

2017-06-03 17:30 GMT-03:00 Neoletum <notifications@github.com>:

[2017-06-03 21:02] Neoletum commented on #1127
https://cloud.githubusercontent.com/assets/29167228/26757031/527c0b58-48b0-11e7-9d5e-02d3f079fecb.png

Doesn't work for me, it doesnt identify me as a player
But thank you for your idea =)

[2017-06-03 21:07] Raycoms commented on #1127
try to delete it with /mc colony delete 1 and /mc colony delete 2 and then
try to place a new townhall. Did you place it with or without the build
tool?

2017-06-03 18:02 GMT-03:00 Neoletum <notifications@github.com>:

[2017-06-03 21:22] Raycoms commented on #606
Should be fixed already

[2017-06-03 21:22] #606 closed, assigned to Raycoms

[2017-06-03 21:22] Neoletum commented on #1127
Tried it again, first time with the build tool and second time I just placed it and deleted the ID's but it wont work - a pity... I hoped i could create a colony on the moon but there is a conflict with the dimension and the player ID I think

[2017-06-03 21:24] Raycoms commented on #207
I think that should be fixed already

[2017-06-03 21:24] #207 closed

[2017-06-03 21:26] Raycoms commented on #1093
Fields use the citizens names, instead of UUID's
Names are coded to be unique in minecolonies atm.

[2017-06-03 21:31] AndrewTru commented on #1093
@Raycoms good point, This seems to be a lot harder than it looks.
Overhauling the system will sadly brake the mod in the case of the farmer.
If you can rework the farmer and the fields so they work together a overhaul of the system can be done. One line of code off and you crash the whole food system wide open. Sadly this is where my assistance with this issue ends, I have little to no clue how to

[2017-06-03 22:26] PerksPrisoner commented on #1126
This is a sponge server that has "Sky Block", "Dropper", "Vanilla Survival" and "Vanilla PvP"  I have included a snapshot of the complete mods list.

Also if you need to try them out for yourself on a server.... As solo works fine. I assume you have a test server here is the direct link to our modpack collection so you may download it as the server has, as well as the other players.

[http://ozser

[2017-06-04 03:12] Jay9519 commented on #1126
same server as Issue #1125
I noticed this showing up in the console

[minecolonies]: ForgeHook not in sync with EfficientTool for Block{minecraft:tallgrass} and 32xtile.dirt@0
Please Report to MineColonies with this text to add support!

[2017-06-04 03:53] Asherslab commented on #1123
yeah, that's all part of the upcoming DMan 2.0 (https://github.com/Minecolonies/minecolonies/pull/1001) , which OrionDevelopment is working on. Hopefully it will be ready soon.

[2017-06-04 07:00] marchermans commented on #1123
Actually this not something i did.
No part of the DMan it self is in.
@xavierh @cltnschlosser did any of you guys not update the dman lately to make him more efficient?

[2017-06-04 07:07] Asherslab commented on #1123
My bad, sorry.

[2017-06-04 07:13] marchermans commented on #1123
No Problem. The DMan 2.0 Is currently just a finished API, which is being integrated into the new Minecolonies API. Once the Integration is done, release of the actuall implementation should go quickly

[2017-06-04 08:06] wilsondgonzales commented on #1109
@xavierh no i'm using stone. it's alright i can wait for the next release :)

[2017-06-04 12:41] Raycoms commented on #1123
Colton did it, but for 1.11 only, he has to port it still.

2017-06-04 4:13 GMT-03:00 Marc Hermans <notifications@github.com>:

[2017-06-04 16:38] Snaggl3t00th420 opened #1129 "I cant place a bakery"
i cant place a bakery this is the consol warning :
18:34:08] [Server thread/WARN] [minecolonies]: Structure: Couldn't find any structure with this name schematics/wooden/Baker1
[18:34:08] [Server thread/WARN] [minecolonies]: Failed to load template schematics/wooden/Baker1
[18:34:08] [Server thread/FATAL] [net.minecraft.server.MinecraftServer]: Error executing task
java.util.concurrent.ExecutionEx

[2017-06-04 16:55] Raycoms commented on #1129
Is this on 1.10? Is this on the latest alpha?

2017-06-04 13:38 GMT-03:00 Skeletonlp <notifications@github.com>:

[2017-06-04 17:00] Snaggl3t00th420 commented on #1129
@Raycoms   Yes ,it is  it is on 1.10.2, it is the latest alpha and the forge version is 12.18.3.2297 (newest)

[2017-06-04 17:06] Snaggl3t00th420 commented on #1129
@Raycoms It is also in the singleplayer not only on the server

[2017-06-04 17:07] Raycoms commented on #1129
That is very strange,  minecolonies-universal-1.10.2-0.8.2018.jar should have the Baker schematics in it. Will test it out.

[2017-06-04 17:08] Snaggl3t00th420 commented on #1129
@Raycoms thank you for the fast support .I hope this information will help you. Do you need any more information ?

[2017-06-04 17:13] xavierh commented on #1129
Could I have the full log ?

[2017-06-04 17:13] xavierh commented on #1129
Also did you change the default config file ?

[2017-06-04 17:19] Raycoms commented on #1129
I just tested it out with the exact same jar from curse and it worked very
well for me. Is it possible that you deactivated the default style?

2017-06-04 14:13 GMT-03:00 xavierh <notifications@github.com>:

[2017-06-04 17:19] Snaggl3t00th420 commented on #1129
@xavierh  yes i changed the default config , but only the mining speed and the number of the citiziens

[2017-06-04 17:21] Raycoms commented on #1129
Try to download minecolonies-universal-1.10.2-0.8.2018 again, might've got something corrupted the last time you downloaded it.

[2017-06-04 17:22] Snaggl3t00th420 commented on #1129
I also use some other mods is this maybe the problem ? i am using  decocraft ,dark roleplaycore dark roleplay medival and journymap

[2017-06-04 17:26] Snaggl3t00th420 commented on #1129
the new downloaded one dosent fix it :C

[2017-06-04 17:27] Raycoms commented on #1129
It doesn't really seem a problem with another mod because he is talking
about missing assets (only if one of the other mods changes the assets).
Try to remove the other mods 1 by 1 to see which one causes this so we can
report the problem to this mod

[2017-06-04 17:42] Snaggl3t00th420 commented on #1129
@Raycoms  @xavierh   I  reinstalled minecraft and only use minecolonie it dosent work eather. Its maybe the forge version ? It only can be the forge version or the java version ?

[2017-06-04 18:04] Snaggl3t00th420 commented on #1129
@xavierh  the server dosn't show the full log

[2017-06-04 18:05] xavierh commented on #1129
Could you send fml-server-latest.log ?

[2017-06-04 18:06] xavierh commented on #1129
and your config file too please

[2017-06-04 18:09] Snaggl3t00th420 commented on #1129
@xavierh  # Configuration file

gameplay {
    # Allow infinite placing of Supply Chests?
    B:allowInfiniteSupplyChests=false

    # Allow player to use their own schematics (in MP)
    B:allowPlayerSchematics=false

    # Always render Citizen's name tag?
    B:alwaysRenderNameTag=true

    # Block mining Delay modifier, taken into account to determine how long a block need to be successfully m

[2017-06-04 18:16] Snaggl3t00th420 commented on #1129
@Raycoms  it dosnet work with the recommended forge version  for 1.10.2 eather

[2017-06-04 18:20] Raycoms commented on #1129
That is very strange.
Does it only happen with the Baker or with other workers as well?

2017-06-04 15:16 GMT-03:00 Skeletonlp <notifications@github.com>:

[2017-06-04 18:21] Snaggl3t00th420 commented on #1129
@Raycoms  its only the bakery ,every thing else is fine.i  tested it with another java version it dosent work.

[2017-06-04 18:24] xavierh commented on #1129
Could you attach the whole log file please?

[2017-06-04 18:38] Snaggl3t00th420 commented on #1129
@xavierh  [20:36:41] [main/INFO] [LaunchWrapper]: Loading tweak class name net.minecraftforge.fml.common.launcher.FMLServerTweaker
[20:36:41] [main/INFO] [LaunchWrapper]: Using primary tweak class name net.minecraftforge.fml.common.launcher.FMLServerTweaker
[20:36:41] [main/INFO] [LaunchWrapper]: Calling tweak class net.minecraftforge.fml.common.launcher.FMLServerTweaker
[20:36:43] [main/INFO] [FM

[2017-06-04 18:49] Raycoms commented on #1129
Did you download minecolonies-universal-1.10.2-0.8.2018.jar or
b5bed279e9e43494-deobf-1.10.2-0.8.2018.jar ?

2017-06-04 15:38 GMT-03:00 Skeletonlp <notifications@github.com>:

[2017-06-04 18:54] Snaggl3t00th420 commented on #1129
@Raycoms  the universal one.Whats the different ?

[2017-06-04 19:00] Raycoms commented on #1129
the universal one shouldn't cause those problems. Will try with the forge
version you mentioned to see if that also causes this problem.

2017-06-04 15:54 GMT-03:00 Skeletonlp <notifications@github.com>:

[2017-06-04 19:01] Snaggl3t00th420 commented on #1129
@Raycoms  okay it was  the newest forge version win installer

[2017-06-04 19:25] Jay9519 commented on #1126
no acknowledgement that you've seen our replies? would be nice that you have seen it at least :(

[2017-06-04 19:27] Raycoms commented on #1126
Sorry, have been working on other issues. Can you confirm that this also
happens without any other mods?

2017-06-04 16:25 GMT-03:00 Jay9519 <notifications@github.com>:

[2017-06-04 19:33] xavierh commented on #1126
And log file too from the server side.

[2017-06-04 20:26] Snaggl3t00th420 commented on #1129
@Raycoms  has you got the same results as me ?

[2017-06-04 20:49] Raycoms commented on #1129
Trying now

[2017-06-04 20:52] Raycoms commented on #1129
No, I can't reproduce this with the newest forge version.

[2017-06-04 21:19] Snaggl3t00th420 commented on #1129
@Raycoms Ohhh okay. so why do i have this problem ?  have you any idea how to fix it ?

[2017-06-04 21:31] Raycoms commented on #1129
can you place in the complete log file.

2017-06-04 18:19 GMT-03:00 Skeletonlp <notifications@github.com>:

[2017-06-04 22:53] zoou commented on #1112
The issue has returned. /mc colony refresh doesn't work. The village functions perfectly fine, except no GUIs appear.

[2017-06-04 23:05] Raycoms commented on #1112
Tried to restart?

2017-06-04 19:53 GMT-03:00 zoou <notifications@github.com>:

[2017-06-04 23:06] zoou commented on #1112
Restarting did fix it. Thank you. Just had to quit to menu and load the world again.

[2017-06-04 23:22] #1109 closed, assigned to nobody

[2017-06-04 23:27] #1112 closed, assigned to nobody

[2017-06-04 23:27] Raycoms commented on #1112
Good to know

[2017-06-05 01:48] Asherslab commented on #1129
@Raycoms is the baker supposed to be implemented in 1.11.2 as well? or not yet?

[2017-06-05 01:54] Raycoms commented on #1129
No, the Baker has not been implemented in 1.11 yet.

2017-06-04 22:48 GMT-03:00 Asherslab <notifications@github.com>:

[2017-06-05 02:22] PerksPrisoner commented on #1126
@Jay9519 Would have to confirm server side, but I can tell you that it is only happening in the server. Solo works fine, private servers, it is only live servers apparently. But I don't know the full details.

[2017-06-05 02:29] Raycoms commented on #1126
do you have some kind of anti griefing protection?

2017-06-04 23:22 GMT-03:00 PerksPrisoner <notifications@github.com>:

[2017-06-05 02:33] PerksPrisoner commented on #1126
Just the FTB Lib, FTB Utilities... But once again it doesn't stop it in any other situation, that was our assumption at the start as well.

[2017-06-05 02:35] Raycoms commented on #1126
They are able to remove but not to place?

2017-06-04 23:33 GMT-03:00 PerksPrisoner <notifications@github.com>:

[2017-06-05 02:35] Jay9519 commented on #1031
was there a fix for this problem?

[2017-06-05 02:37] PerksPrisoner commented on #1126
They aren't able to do either.

[2017-06-05 02:38] Raycoms commented on #1126
Then I believe it is the anti griefing protection. Can you try it without
ftb utilities?

2017-06-04 23:37 GMT-03:00 PerksPrisoner <notifications@github.com>:

[2017-06-05 02:40] PerksPrisoner commented on #1126
I'll see what we can do with this and check back with you with an update.

[2017-06-05 02:41] Raycoms commented on #1126
Great =)

2017-06-04 23:40 GMT-03:00 PerksPrisoner <notifications@github.com>:

[2017-06-05 02:48] PerksPrisoner commented on #1126
That hasn't effected the outcome... They still are unable to break/place

[2017-06-05 02:49] Raycoms commented on #1126
Nothing great, can you post in the complete latest.log and
fml-server-latest.log ?

2017-06-04 23:48 GMT-03:00 PerksPrisoner <notifications@github.com>:

[2017-06-05 02:53] PerksPrisoner commented on #1126
While I wait to see if the owner can get it uploaded, I took a couple screen shots the help you see what the issue is physically. To add context. If you build the building. The workers take up the jobs and will perform them. But they are simply unable to break/place. I don't know if they will help. But meh, something besides words to look at.

![2017-06-04_19 49 40](https://cloud.githubusercontent

[2017-06-05 03:06] Jay9519 commented on #1126
latest.log file   -   https://pastebin.com/UcpbnDxN

fml-server-latest.log Part1  -  https://pastebin.com/KbEAjweX

fml-server-latest Part2  -  https://pastebin.com/VezqzVn8

sorry the file was too large and i'm not a pro user of pastebin

[2017-06-05 05:19] PerksPrisoner commented on #1126
Also, there are few players mentioning some placement issues with placing the supply camp, it requires 1 block above ground such as a Grass block but not on dirt covered with grass. (i.e Grass, Tall Grass) also them not placing with nothing around them.

[2017-06-05 06:28] Amadeus99 commented on #1126
I don't know the code so I don't know if this matters, but you are not trying to build in the spawn area, are you?  The spawn area is usually protected unless changed in server.properties.

[2017-06-05 07:07] Jay9519 commented on #1126
It is over 1000 blocks from spawn and in multiple locations from every player

[2017-06-05 09:59] Amadeus99 commented on #1126
FYI, I installed the mod pack via the Twitch(Curse) client, made a Forge server out of it (not a sponge server) and then logged in and the builder was able to break and place blocks just fine.  I've never used sponge so I don't know what is different.

[2017-06-05 10:16] Jay9519 commented on #1126
The wiki says it works with sponge
http://wiki.minecolonies.com/wiki/18/server

[2017-06-05 10:37] Snaggl3t00th420 commented on #1129
@Raycoms  this is the complet log file the consol dosnt show any more
(singleplayer log):
[CHAT] Skel3tonlp has just earned the achievement [Found a colony]
12:36:42	minecolonies	Colony 1 - new AbstractBuilding for class com.minecolonies.coremod.blocks.BlockHutTownHall at BlockPos{x=-243, y=66, z=220}
12:36:51	minecolonies	Structure: Couldn't find any structure with this name schematics/wooden/Bak

[2017-06-05 11:25] Snaggl3t00th420 commented on #1129
I have testet now the version 1.11.2, there i have the same problem

[2017-06-05 11:27] xavierh commented on #1129
1.11.2 does not have the baker yet :)

On 5 Jun 2017 12:25, "Skeletonlp" <notifications@github.com> wrote:

[2017-06-05 11:35] Snaggl3t00th420 commented on #1129
@Raycoms @xavierh I tested it with the 1.10.2 curse modpack and still ther nothing happend.So is this maybe a java problem ?

[2017-06-05 12:39] Raycoms commented on #1126
It works for us with sponge, are you using red-protect?

2017-06-05 7:16 GMT-03:00 Jay9519 <notifications@github.com>:

[2017-06-05 13:00] Jay9519 commented on #1126
No im not using red-protect

[2017-06-05 13:07] Jay9519 commented on #1126
Same issue as #1031

Was that one solved?

[2017-06-05 13:10] Raycoms commented on #1126
#1031 <https://github.com/Minecolonies/minecolonies/issues/1031> doesn't
cause this kind of a problem. Its really only spam in 90% of the cases.

@Kostronor do you have any idea?

2017-06-05 10:07 GMT-03:00 Jay9519 <notifications@github.com>:

[2017-06-05 17:52] xavierh commented on #1109
[GuardTower.zip](https://github.com/Minecolonies/minecolonies/files/1052765/GuardTower.zip)
As promised, 4 styles of guard tower, 2 corners 2 straight both with or without moat
They are meant to go with decoration walls, but I also modified them see in walls.zip
[Walls.zip](https://github.com/Minecolonies/minecolonies/files/1052768/Walls.zip)

[2017-06-06 03:23] Zygus42 opened #1134 "[feature request] config option for villagers to ignore bad weather"
The villagers don't work on days when it's raining, and while this is not a major issue usually, we're currently playing with a mod that has long seasons of rain and snow, and it makes this mod essentially impossible.  Would be nice to have an option in the config to have them ignore bad weather conditions.

[2017-06-06 09:25] Thomasdavid097 commented on #1134
upgrade the huts to level 5, they ignore the rain.

[2017-06-06 09:26] SulpherStaer commented on #1134
A toggle option in the config file would be nice though.

[2017-06-06 17:41] H3roDude opened #1135 "cras hwhen upgrading bakery"
it seems that the baker dont like when his furnace is breaked from the builder while used.
The server crashed when the builder is upgrading the bakery hut

[crash-2017-06-06_19.24.45-server.txt](https://github.com/Minecolonies/minecolonies/files/1055937/crash-2017-06-06_19.24.45-server.txt)

[2017-06-06 17:54] #1135 closed, assigned to nobody

[2017-06-06 17:55] xavierh commented on #1135
Why did you close it?

On 6 Jun 2017 18:54, "H3roDude" <notifications@github.com> wrote:

[2017-06-06 17:57] H3roDude commented on #1125
i remember that this was a bug in 1.10 too and already fixed some time ago
like 1-2 month

[2017-06-06 18:08] #1048 closed, assigned to xavierh

[2017-06-07 00:32] Zygus42 commented on #1134
Yes, know about the huts, but it would take months of playing to get to that point because of the rain and snow.

[2017-06-07 00:33] Zygus42 commented on #1134
I have suggested in the past that you could maybe give them some item that would let them work in the rain - a raincoat or umbrella or somesuch.

[2017-06-07 16:57] SulpherStaer commented on #646
This issue is closed - but as far as I know, it hasn't been implemented. How do I see waypoints?

[2017-06-07 16:59] xavierh commented on #646
You can see them by using the builder tool and select a waypoint decoration

On 7 Jun 2017 17:58, "Silvester" <notifications@github.com> wrote:

[2017-06-07 20:33] H3roDude opened #1139 "Building tool dont showing thinks like walls"
hey i just wanted to notice you guys that the building tool isnt showing blocks like cobblestone walls and chests, so for people who started with the mod thinking : wtf warehouse without chest's?
also the stone baker looking weird with a flying roof and floading fence :D

[2017-06-07 20:47] Raycoms commented on #1116
Sorry for the late response.
I think thats for sure something we can have configurable in the config.
As far as I know there is a way to find the size of a village.

[2017-06-07 20:50] Wissi commented on #466
So anyone else might be able to tackle this one, since nojo is no longer in the scene and Pmardle's comments make it seem like an easy task?

[2017-06-07 21:15] kreezxil commented on #1116
That would mean they Minecraft stores data on The Villages this is so epic
can't wait but will thank you

On Jun 7, 2017 3:47 PM, "Raycoms" <notifications@github.com> wrote:

[2017-06-08 02:11] Galindorf opened #1140 "Request: Allow multiple workers per building"
It would be great if we could assign more than 1 person per building, like having 3 builders working or two farmers farming from the same hut. Building is pretty slow going sometimes, and it would be very useful to take someone off say, fishing, and put them  up to helping build!

[2017-06-08 02:14] Raycoms commented on #1140
Just place more of the buildings and built them.
Assigning several to one building would be just the lazy, less gameplay way to go.
(Warehouse has multiple workers assigned to it btw)

[2017-06-08 02:14] #1140 closed, assigned to nobody

[2017-06-08 03:33] Jay9519 opened #1141 "Colonist don't build with a permissions mod installed"
### Minecolonies version

minecolonist-universal-1.11.2-0.8.1784

### Expected behavior

The builder build the townhall

### Actual behaviour

The builder collects items from the builders hut and walks over to the town hall.
he does the actions of building but no blocks are removed/placed
he does use the items however

### Steps to reproduce the problem

install minecolonies mod 1784
install nucle

[2017-06-08 04:08] Asherslab commented on #1126
Can i ask what all the plugins are that you're using?

[2017-06-08 04:19] Jay9519 commented on #1126
They are all listed at the start of this conversation

[2017-06-08 11:54] xavierh commented on #466
I like to take this. But I don't know when. If I do, I will do the assign a
builder t9 a job issue too

On 7 Jun 2017 21:50, "Wissi" <notifications@github.com> wrote:

[2017-06-08 13:06] Raycoms commented on #1141
Normally you should not need a permission mod with minecolonies since
minecolonies has his own anti griefing systems already.

2017-06-08 0:33 GMT-03:00 Jay9519 <notifications@github.com>:

[2017-06-08 13:27] Jay9519 commented on #1141
I agree, I even have the minecolonies protection turned off.
I will try a different essentials mod when I get home and see if I get the same result

[2017-06-09 00:52] harleypig opened #1146 "Colonists warn they need to eat even when food is available."
### Minecolonies version
minecolonies-universal-1.11.2-0.8.1784

### Expected behavior
A colonist warns they are about to starve when there is no food available. If there is food available then they don't say anything.

### Actual behaviour
Colonist warns they are saturated, but will soon have to eat again. Even if there is food in the warehouse.

### Steps to reproduce the problem

1. Build the a

[2017-06-09 03:53] Jay9519 commented on #1141
so I deleted the nucleus essentials mod and installed a different one
and now they are building, no idea how or why but it's working so it's all good :)

[2017-06-09 06:00] Asherslab commented on #1146
Do you have a Deliveryman? and is he putting the food in the citizen's chests?

[2017-06-09 12:34] Raycoms commented on #1141
Great!
Unfortunately, we're not able to do much there, those anti-griefing mods have to allow us.
Nevertheless, that's why we added our own anti-griefing system.

[2017-06-09 13:09] Jay9519 commented on #1141
Out of curiosity, how many lols can you upgrade the buildings like the town hall for example? I've only seen on forums up to lvl4 but that was a few years ago it was posted

[2017-06-09 13:11] Raycoms commented on #1141
All buildings up to level 5.

I think we can close this here.

[2017-06-09 13:11] #1141 closed, assigned to nobody

[2017-06-09 13:13] Jay9519 commented on #1141
Levels not lols omg haha

[2017-06-09 20:10] kreezxil opened #1147 "Lumberjack doesn't harvest fruit from Pam's Harvestcraft trees."
https://github.com/MatrexsVigil/harvestcraft/issues/295

[2017-06-10 00:25] Wissi commented on #1147
This isn't an Issue with mod. It's not his job, sorry. He's a Lumberjack not a "farmer" or "tree fruit picker".

If you want to suggest that there be an option for a worker for a specific mod, not sure developers will want to do it atm.

Might want to change the Title to something like:

Suggestion: worker to interact with Pam's harvest Fruit tress.

[2017-06-10 00:43] Wissi commented on #466
I really hope you can if not someone else. It really is important for large colonies and of course the "assign the builder to a job" as well.
They definitely need to be addresses together and both are much needed.

[2017-06-10 00:50] kreezxil commented on #1147
if you click on the harvestcraft link and then the fast leaf decay link that is there you see that I am reference all three mods. This is not a request, I am reporting what feels like a bug.

All you have to say is "this is not a bug" and tag as such, maybe "invalid", "won't fix", "not a bug" and then close it. Oh wait you're not a developer ... does your opinion even matter?

[2017-06-10 01:12] Raycoms commented on #1147
That's quite interesting, I feel like harvestcraft should make them drop.
The lumberjack is not supposed to be a fruit-tree farmer.
We might in the farther future add a fruit-tree farmer which might work on
this.
But for the time being, I feel like we won't add support to this, since its
not in accordance with the lumbejack job itself.

Would be nice if harvestcraft makes them drop on harvest tree

[2017-06-10 02:15] kreezxil commented on #1147
That's cool. Appreciate  your feedback on this Raycoms. Not to come across as well cross but I guess I am, it doesn't seem to be good policy for someone to suggest that a bug report be put across as a suggestion. I've made suggestions/requests before, not sure if I've done it here, but it has been my standard practice to put [suggestion] or [request], I use the latter when I think it would really

[2017-06-10 09:29] xavierh commented on #1116
Yes it does bit why would you want to prevent it?
Anybody can create a village with a villager breader. Preventing to capture one will not change that.

[2017-06-10 09:39] marchermans commented on #1116
Yes you can check if you are in range of a village

[2017-06-10 11:15] kreezxil commented on #1116
It's really part of a larger problem. Had players that were exploring and
when they needed to eat they couldn't because of the protection. You should
be able to eat your own food. However just the same I think you should be
allowed to interact with villagers regardless of who plopped a town hall on
top of them. Further in my case I also it's Toro quest and as such my
villages also have village lor

[2017-06-11 09:54] xavierh commented on #680
No need to return the build tool as it is cheap to make

[2017-06-11 10:25] WORMSS commented on #680
I would be pretty annoyed to have to keep remaking it for every building.
It changes from needing a shovel to make a building, to you need a shovel embedded into every building.
The same way you need a bucket of milk to make a cake, but the bucket itself is not apart of the cake.
I know the analogy is not perfect, but hopefully close enough.

[2017-06-11 11:09] xavierh commented on #680
build tool is cheap, don't know how to return an item, so the recipe will consume it

[2017-06-12 07:56] Asherslab commented on #996
I just made a PR for working during the rain (without having the working being level 5) i'll see what i can do about the night-time, but i'd highly suggest not having workers out at night (referring to upcoming update, in a few days)

[2017-06-12 12:42] #1134 closed, assigned to Asherslab

[2017-06-12 15:26] DestinyPlayer opened #1161 "Miner problem - I need a hut level Stone to handle stronger pickaxes."
### Minecolonies version

version 0.8.1784

### Expected behavior

- Miner should mine if I tell them to mine on a certain level.

### Actual behaviour

- The miner returns to their Miner block, and constantly spouts "I need a hut level Stone to handle stronger pickaxes" even though they have a stone pickaxe on a level 2 hut.

### Steps to reproduce the problem

1. Build a Miner hut
2. Let the min

[2017-06-12 15:28] Raycoms commented on #1161
Probably he needs an iron pickaxe or diamond pickaxe.
@Xavier this message seems slightly bugged

2017-06-12 12:26 GMT-03:00 DestinyPlayer <notifications@github.com>:

[2017-06-12 15:30] xavierh commented on #1161
Will have a look.

On 12 Jun 2017 16:28, "Raycoms" <notifications@github.com> wrote:

[2017-06-12 15:31] DestinyPlayer commented on #1161
Didn't work. I gave the miner a stronger pickaxe, they're still standing there spouting the same exact phrase.

[2017-06-12 15:33] Raycoms commented on #1161
Yeah the pickaxe they need is too weak for the hut level. You have to
upgrade the hut.

2017-06-12 12:31 GMT-03:00 DestinyPlayer <notifications@github.com>:

[2017-06-12 15:34] DestinyPlayer commented on #1161
Upgraded the hut. Now they're spouting "I need a hut level Iron to handle stronger pickaxes" even though I gave them an iron pickaxe.
And no, there don't appear to be any blocks that are unbreakable by an iron pickaxe in the way.

[2017-06-12 15:36] Raycoms commented on #1161
try to upgrade once more please. the message seems confusing though.

2017-06-12 12:34 GMT-03:00 DestinyPlayer <notifications@github.com>:

[2017-06-12 15:40] xavierh commented on #1161
My bad will fix this asap, is it 1.10 or 1.11 (probably both)

[2017-06-12 15:56] DestinyPlayer commented on #1161
Okay. I upgraded it to the maximum level. The miner requested a diamond pickaxe. I gave it to them, and now they're just standing in front of the block, doing nothing. I fired and re-hired them, I recalled them a bunch of times. I still need to wait for the night, but they're standing still for now, now silent.

[2017-06-12 15:57] xavierh commented on #1161
Which version is it ? 1.10 or 1.11

[2017-06-12 15:57] xavierh commented on #1161
And is it a release version or testing ?

[2017-06-12 16:00] DestinyPlayer commented on #1161
1.11.2
The latest one on Curse, 0.8.1784
Also, waited for the night and then morning. The miner just kept standing in the townhall even though it was day already. Didn't start working even after recall.

[2017-06-12 16:01] xavierh commented on #1161
AFAIK the problem is fix but did not reach curse yet

[2017-06-12 16:02] DestinyPlayer commented on #1161
OK. If I may ask, what was the problem? Pure curiosity.

[2017-06-12 16:03] xavierh commented on #1161
more than on things: for a start it should ask say "I need a hut level 2 to handle stronger pickaxes"

[2017-06-12 16:07] xavierh commented on #1161
worker may ask for tool that they can not use too. I reworked all of those to be consistent between workers too. now the farmer can not use diamond hoe without the correct hut level and enchantment are taken into account too now for instance at level 2, the worker can use:

- wood pickaxe with efficiency 2
or
- stone pickaxe with efficiency 1
or
- iron pickaxe with no enchantment

Also the dman sh

[2017-06-12 16:09] xavierh commented on #1161
As for your worker not working even with the diamond pickaxe, does he need feeding too ?

[2017-06-12 16:10] DestinyPlayer commented on #1161
Nope, I fed them, and even then they were doing that even before they started saying "I'm quite saturated, but I'll have to eat soon again".

[2017-06-12 16:23] xavierh commented on #1161
Cobblestone?

On 12 Jun 2017 17:10, "DestinyPlayer" <notifications@github.com> wrote:

[2017-06-12 16:35] DestinyPlayer commented on #1161
Cobblestone, stone, granite in a few places.
Or, if you meant the hut itself, yes, built of cobblestone.

[2017-06-12 16:36] xavierh commented on #1161
I mean does he have cobblestone in his inventory.  It use to fail to ask
for it

On 12 Jun 2017 17:35, "DestinyPlayer" <notifications@github.com> wrote:

[2017-06-12 16:45] DestinyPlayer commented on #1161
Okay. They did not, and the moment I gave it to them they started mining. Weird. Thank you for your help.

[2017-06-12 16:51] xavierh commented on #1161
The cobblestone problem already have been fixed, it will come in the next version

[2017-06-12 16:51] #1161 closed, assigned to nobody

[2017-06-12 22:56] jzburda opened #1166 "Builder won't place furnace for T2 Town Hall"
### Minecolonies version

version 0.8.2292 or curse X.X.XX

### Expected behavior

- Builder should place furnace and continue building town hall T2

### Actual behaviour

- Builder sits in a corner with the Furnace placed in his hand doing nothing

### Steps to reproduce the problem

1. Build Town Hall tier 2
2. Wait for Builder to get a furnace
3. Watch him lazily walk to a corner of the build s

[2017-06-12 23:27] jzburda commented on #1146
@Asherslab I have a deliveryman, he might be way behind on work but the citizens will still complain about being saturated.

[2017-06-12 23:56] FiveEYZ opened #1167 "[1.11.2] NPE Spamming"
### Minecolonies version

minecolonies-universal-1.11.2-0.8.2198
forge-1.11.2-13.20.0.2315-universal

### Expected behavior

to complete building the field

### Actual behavior
Stopps when its time to place the "field" in the middle
with NPE spamming in the console:
https://gist.github.com/FiveEYZ/b8a3aad14b4936688c37c805bddc8c53
### Steps to reproduce the problem

1. build a Field
2. wait for bui

[2017-06-12 23:57] FiveEYZ commented on #1167
https://github.com/Minecolonies/minecolonies/issues/1166

[2017-06-12 23:57] #1167 closed, assigned to nobody

[2017-06-12 23:58] FiveEYZ commented on #1166
same thing happen for me, but i also have a NPE spamming in console while its happening

https://gist.github.com/FiveEYZ/b8a3aad14b4936688c37c805bddc8c53

[2017-06-13 00:00] jzburda commented on #1166
I don't have a console, so I couldn't see that
thanks for the feedback though.

[2017-06-13 00:22] kreezxil opened #1168 "[1.11.2-0.8.2292] console spam, pausing entities, npe"
On our streaming server I am seeing this in the console, it's an endless scroll.

[code]

[2017-06-13 00:46] FiveEYZ commented on #1168
same as https://github.com/Minecolonies/minecolonies/issues/1166

[2017-06-13 00:46] Raycoms commented on #1168
Do you know what the builder is doing in that moment?

2017-06-12 21:22 GMT-03:00 kreezxil <notifications@github.com>:

[2017-06-13 00:47] Raycoms commented on #1166
Will try to reproduce this.

2017-06-12 20:58 GMT-03:00 Henric Backman <notifications@github.com>:

[2017-06-13 00:51] FiveEYZ commented on #1166
i would upload the `fml-server-latest.log` if it wasn't 30 MB already, so i only included that error :P

the NPE will spam in console until the item they are supposed to place, are removed from their inventory (they then need to go check the builder's hut for said item and request it),
or the work order is canceled.

[2017-06-13 07:34] RyderOfNitor opened #1169 "Above Standard definition textures break UI"
### Minecolonies version

version 0.8.2368 or curse X.X.XX

### Expected behavior

- colonist GUI show food, hunger and exp bar:
![image](https://user-images.githubusercontent.com/13579373/27070868-158bafc2-505e-11e7-88cf-6235be6fbcaf.png)

### Actual behaviour

- foo, hunger and exp display badly:
![image](https://user-images.githubusercontent.com/13579373/27070944-5b0eb850-505e-11e7-9f67-9104132

[2017-06-13 11:22] ThomasRunting commented on #1111
Same Issue with me.
Owner can place but not officer

[2017-06-13 12:49] Raycoms commented on #1169
We take those textures directly from the minecraft textures, so if the texture pack does something fuzzy with those standard textures and does not replace it at the exact same spot with something good, we unfortunately can't do anything to support this.