[2018-02-06 12:42] Raycoms commented on #2168
@oriononline

[2018-02-06 12:55] ProsperCraft opened #2172 "Feature Request - wipe stone swords from barbarians on drop?"
The stone swords constantly stack up in hut chests, can you remove them on drop?

Or do I need to add a filter and barrel for stone swords to all huts?

[2018-02-06 13:04] DjTylerD opened #2173 "[observation] miner ignores cobblestone construction"
**Minecolonies version**
minecolonies-universal-1.12.2-0.8.7415
forge1.12.2-14.23.1.2555
OptiFine_1.12.2_HD_U_C8
no other mod

**info**:
map test creative solo
/ mc colonies rsResetAll at every update

**Expected behavior**
     hollow tunel, harvesting ore, mouth holes, climbing structure

**Actual behavior**
  the miner recorks the holes and builds only with dirt (see do fail)
![2018-02-05_12 42

[2018-02-06 13:21] ProsperCraft commented on #2172
Or remove it from the drop table?

[2018-02-06 13:47] nick-johnson opened #2174 "[Suggestion] Racks should be sortable like other modded inventories"
Expected: Inventory sorting mods like Inventory Tweaks should work on the Rack inventories, similar to vanilla inventories/chests and modded inventories like the Actually Additions storage crate.

Actual: The rack inventory cannot be sorted with mods like Inventory tweaks.

[2018-02-06 14:01] marchermans commented on #2174
That is correct. Those mods look specifically for chests or anything implementing the vanilla interface.
However we tested this our Racks are compatible and can be added to the InventoryTweaks config file by the user. Sadly we can not do this from our side.

[2018-02-06 14:01] #2174 closed, assigned to nobody

[2018-02-06 14:39] marchermans commented on #2168
Seen
Still digging. @ProsperCraft is it happening al the time or just sometimes randomly?

[2018-02-06 15:07] DjTylerD commented on #2173
**retest:**
I just made a new map with miner level 5.
during the descent I help the miner and empty his inventory in dirt.
no problem cobblestone used for schematic "minerMainshaft"
then first schematic "minerx2top" tunel height 7 of the world

I observed in gamemode 3:
1- fill the air with cobblestone
2- dig and harvest ore
3- barrier application and dirt request to plug the holes
4- finished by

[2018-02-06 15:43] mkienenb commented on #2152
I try not to open enhancement issues that require someone else to do the work :-)

I think I may be able make a simple mode renderer by modifying the existing render that could perform better without a lot of changes.   I wanted to make sure that this was a goal that we wanted to pursue before I started.   It sounds like it is.

[2018-02-06 15:49] mkienenb commented on #2168
If one of the reporters is willing, I can look into providing you a custom logging configuration which might help us debug this faster.   Drop me a line via the communication channel of your choice (mkienenb at gmail dot com, discord, forums).  I will likely need to know how you launch the game to make it work.

[2018-02-06 15:50] marchermans commented on #2168
@mkienenb That would not help here
The shear volume of logging calls the rs makes slows down a server with about 600%.

[2018-02-06 15:51] marchermans commented on #2168
What i need is the rest of that stack. I can not determine if this problem is client or server side (aka rendering or logic)

[2018-02-06 16:18] Eufranio commented on #2168
I can help you with that but I'm running the 7330 1.12 build (and cannot update on 1 or 2 days). You could add a check before the StackOverflow happens (check if the target object is the same as the caller object before calling the method again) and drop a Thread.dumpStack() there. If you could provide me a build based on the 7330 commit, I can test it for you.

Also, my crash was on the server, n

[2018-02-06 16:19] marchermans commented on #2168
Okey. That complicates things. A bandaid fix will not work here.

[2018-02-06 16:19] mkienenb commented on #2051
I'm not sure I'm understanding you.   Are you saying that we need to trigger a chunk update when the deliveryman put something in the warehouse?

[2018-02-06 16:19] marchermans commented on #2168
7330 you said, why can you update from there. And from the latest alpha?

[2018-02-06 16:23] Eufranio commented on #2168
I'm not suggesting a bandaid fix, but a stacktrace to help you know what caused this StackOverflow, so you know what was in the stack at the moment of the error.

I cannot update now because I'm running a server with a modpack and some people. I'm not at my main computer and cannot update and push my pack + server now, so I'll stick with that build until I go home.

[2018-02-06 17:16] Eufranio opened #2175 "[Suggestion] Allow patreons to add custom quotes to NPCs"
Patreons could be allowed to send their own voices speaking some message to some review/approvation system, or even on Discord. So, we would send message that would be quoted by NPCs for approvation somewhere along with the written message, and if it is approved, it gets included in the original collection of songs of Minecolonies.

*I'd like to send my own and friend's quotes for the mod :P*

<bo

[2018-02-06 17:17] Eufranio opened #2176 "[Suggestion] Translatable NPC Sound Files"
Right now, quotes are english only. It'd be nice if we could add translatable quotes to the mod, that would be played depening of the player's language. Those custom quotes would be provided by an separated sound tracks file or something, not required by the main mod and downloaded separately.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2018-02-06 17:59] Justen-N commented on #2176
That would massively increase  mod size, as the only way to change
languages would be to record every line in that language and use that
instead of the default English.

On Feb 6, 2018 10:17 AM, "Eufranio" <notifications@github.com> wrote:

[2018-02-06 18:08] Eufranio commented on #2176
Edited the ticket.

[2018-02-06 18:08] marchermans commented on #2051
Yes. That is exactly what i am saying.
The DMan does not directly interact with the block in the way a user does. So he does not trigger a redraw of the chunk. Which breaks the Feature.

[2018-02-06 18:21] mkienenb commented on #2176
This would be done as some kind of resource pack, not part of the Minecolonies main jar.

[2018-02-06 18:46] mkienenb commented on #2051
Ok.  That sounds like it's simple enough for me to understand how to fix it.   I'll take ownership.

[2018-02-06 20:07] mkienenb commented on #2176
Turns out to be trivial.

To start from scratch, follow the directions in
https://minecraft.gamepedia.com/Tutorials/Creating_a_resource_pack

To see an example which will make builders quack like geese instead of talk, look here.
https://github.com/mkienenb/minecolonies-sound-resource-pack

To "install" any resource pack, copy or check out the files inside of a new folder (you can pick the name of

[2018-02-06 20:11] marchermans commented on #2176
We should provide a github repo with resource packs. That way we can vet them and distribute them properly.

[2018-02-06 20:13] marchermans commented on #2051
Yes it is relatively simple.
`World.setBlockState(BlockPos, IBlockState, int)` takes a `Integer` as third parameter. This third parameter is a Flag. If you pass it 3 (I think) then you update the chunk it is placed in it. Dig a bit in the source code to figure out what it calls to redraw the chunk.

[2018-02-06 21:08] marchermans commented on #2157
I figured it out. It was so stupid of me not to think of that.

[2018-02-07 00:13] #2157 closed, assigned to nobody

[2018-02-07 03:47] mkienenb opened #2179 "Builder stuck in INVENTORY_FULL AiState because chest is full but inventory is not"
### Minecolonies version

2018-02-06 snapshot

- When builder tries to dump extra blocks due to inventoryNeedsDump(), it goes into INVENTORY_FULL state.   This can happen for reasons other than the inventory being full:
[code]
However, the INVENTORY_FULL state only handles the case when the chest is full and the inventory is full.  It does not handle the case when the chest is full but the invento

[2018-02-07 04:15] lunadragnstar commented on #2156
Is this for the citizens falling out of the world and dying in walls?

[2018-02-07 04:23] mkienenb opened #2180 "Add subtitles for sounds"
We need to define subtitles in the src/main/resources/assets/minecolonies/sounds.json file.
Each sound should have an appropriate translation string key and each translation key should be added to src/main/resources/assets/minecolonies/lang/en_us.lang.

For example:
(changes in **_bold-italic_**)

### sounds.json

`  "mob.builder.female.complete": {`
`    "category": "neutral",`
`   "sounds": [`
`

[2018-02-07 04:57] mkienenb opened #2181 "Client temporarily shows block placement if holding block when opening rack"
### Minecolonies version

2018-02-06 snapshot

### Expected behavior

- no block placement when activating a rack while holding a block

### Actual behaviour

- client runs block placement, then opens the gui.  The block wasn't actually placed.

### Steps to reproduce the problem

1. Click on a rack holding a block

### Fix

Return true on the client-side if the gui would be opened.

[2018-02-07 06:16] marchermans commented on #2156
Yes fixed yesterday evening. I was able to reproduce it. And fixed it

[2018-02-07 06:16] #2156 closed, assigned to nobody

[2018-02-07 11:31] #2181 closed, assigned to mkienenb

[2018-02-07 13:40] DjTylerD opened #2184 "[forgets & sugestion] builder asks variant timberframe, and craft facility"
before all super improvement that adds design to the hut, congratulation because not easy to take care of all

**Minecolonies version:**
minecolonies-universal-1.12.2-0.8.7450
forge1.12.2-14.23.1.2555
OptiFine_1.12.2_HD_U_C8
no other mod

**info:**
 map test creative solo
/ mc colonies rsResetAll at every update

**Expected behavior:**
    request in the timberframe chat, built when given

**Actua

[2018-02-07 16:16] mkienenb opened #2186 "[Discord Suggestion] Include warehouse contents in build hut required items list"
From: @Zyx#6333

I've been wishing for the warehouse contents to be included in the build hut required items list so you aren't making more of what you already have.

We've been asking for a way to have the builder look ahead and request more than just the current block he needs -- we have the current option to add items from our inventory to the hut using a button on the required list, and the it

[2018-02-07 19:54] nastanford commented on #807
Why was it closed? This is still an issue?  Hope it gets fixed. I love playing.

[2018-02-07 19:55] nastanford commented on #807
If I use an old version of Minecraft will that fix the issue? or is it on all versions.

[2018-02-07 20:01] mkienenb commented on #807
It's been several months.  Have you tried it recently?

[2018-02-07 20:02] nastanford commented on #807
Yes, just had this happen to me and was searching and found this issue. I will try to update.  Is there a version of MC I should be using?

[2018-02-07 20:04] nastanford commented on #807
I will start a new colony after work and used that mod only to see if I have any issues.

[2018-02-07 20:04] Raycoms commented on #807
Try the newest: https://minecraft.curseforge.com/projects/minecolonies

[2018-02-07 20:06] mkienenb commented on #807
Also, please check your logs to see if there are any errors logged there.

[2018-02-07 20:09] nastanford commented on #807
Does the twitch/curse client download the latest Mod?

[2018-02-07 20:12] nastanford commented on #807
![image](https://user-images.githubusercontent.com/1755947/35939133-3c731018-0c19-11e8-95ec-fe72ba76b5ce.png)

[2018-02-07 20:18] nosfiratys commented on #2096
Have the same problem with
minecolonies-universal-1.10.2-0.9.7375 and earlier versions

[2018-02-07 20:20] Raycoms commented on #807
It often downloads the release, I think you have to specify you want the alpha.

[2018-02-07 20:22] nastanford commented on #807
So is this not a good file? the minecolonies-universal-1.12.2-0.8.6934.jar?

[2018-02-07 20:27] Raycoms commented on #807
No you should try it with 7455

2018-02-07 20:22 GMT+00:00 Nathan Stanford Sr <notifications@github.com>:

[2018-02-07 20:30] nastanford commented on #807
How do I get the Twitch/Curse Client to download alpha?

[2018-02-07 20:31] nastanford commented on #807
I found it.  Trying it now. Thanks

[2018-02-07 23:12] mkienenb opened #2188 "CRASH: Tried to read NBT tag that was too big; tried to allocate: 2097186bytes where max allowed: 2097152"
### Minecolonies version

Unknown.  Probably doesn't matter as it affects loading saved games.

On game load, the server shuts down and kicks you back to the launcher:

Error is:
[code]

[2018-02-08 00:30] carlansor opened #2190 "["
### Minecolonies version

version X.X.XXXX or curse X.X.XX

### Expected behavior

- XXX

### Actual behaviour

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-02-08 01:03] carlansor opened #2191 "[suggestion] Command for scanning"
It would make things easier for style pack creators to have a scan command, maybe with the next format:

/mc scan (point1 x y z) (point2 x y z) nameofscan.

 With that command stylepack creators can scan all buildings with some sort of command macro, or another mod that excecutes command automatically, reducing scan tedious time.

[2018-02-08 01:04] #2190 closed, assigned to nobody

[2018-02-08 01:09] Kowantify opened #2192 "Server crash when blowing up mine colony"
https://pastebin.com/uwZMtE4S

Not to sure as to what mod is the issue, it's either ICBM or Minecolonies, I can't really tell, but yeah i lit off a bomb near the colony and boom! it crashed the server side, not client

### Minecolonies version
1.12.2-0.8.7455

### Expected behavior
Lit off bomb near entities/mine colony
- XXX

### Actual behaviour
game crashed
- YYY

### Steps to reproduce the pro

[2018-02-08 06:39] Misunderstood-Wookiee opened #2193 "Concurrent thread exception when supplying builder"
### Minecolonies version

version 1.12.2-0.8.7455 or curse v14.23.1.2587

### Expected behaviour

- Chunk Load without issue

### Actual behaviour

- Concurrent thread crash when loading colony chunks near builders chest
https://pastebin.com/LJ6C2ayZ

### Steps to reproduce the problem

1. Creative Mode
2. Open Builder Chest, & Click the ^ arrow to creatively fill supply demand.
3. ...
4. Profit

[2018-02-08 07:03] Misunderstood-Wookiee commented on #2193
Hmm appears loading the same world in SSP works, but join my local server and it crashes not sure if it was this mod I have three server-side mods running on the server. Just strange that this happens right after I was giving builder supplies in creative.

[2018-02-08 07:46] marchermans commented on #2193
@Misunderstood-Wookiee Can you please format the exception log so that it is humanly readable?
Maybe by uploading it to gist or pastebin.

[2018-02-08 09:08] Misunderstood-Wookiee commented on #2193
Done, however, it's a concurrent exception halt with nothing to read anyway Forge throws it for any concurrent exception nothing in the log relates to this mod specifically. It was just odd that it crashed while I was spam clicking the builder chest's needs in creative mode.  However, as I said moving the world over to Single-Player as I have my own modpack for the server and it appears the world

[2018-02-08 11:35] Boyownik opened #2194 "Moving items from rack in warehouse bug"
### Minecolonies version
minecolonies-universal-1.12.2-0.8.7455

### Expected behavior

- Move items from rack in warehouse to player inventory by shift+left click

### Actual behaviour

- Items, for example full stack of cobble is moved to player inventory and weird things happens, first, one part of armor is taken off (by clicking shift + left click on items in rack, it looks like armor is still

[2018-02-08 12:29] DjTylerD commented on #2194
if it helps
I confirm, the problem is on all rack
I tested in the restaurant:
- put 64 blocks in the rack
- left click to take 1 block in the rack
it removes the rack stack

minecolonies-universal-1.12.2-0.8.7450
forge1.12.2-14.23.1.2555
OptiFine_1.12.2_HD_U_C8
no other mod

[2018-02-08 14:04] #2194 closed, assigned to mkienenb

[2018-02-08 16:11] Eufranio opened #2196 "Lumberjacks want to collect dropped items from Conveyor Belts"
I jave a lumberjack that has trees to cut, but near the farm I have a Conveyor Belt system (from Immersive Engineering). The items on conveyor belts keep moving as usual, but the NPC always want to collect the items from the conveyors, and don't cut any tree, as he's on a loop trying to get into the conveyor belts.

NPC info:
[code]

EDIT: I think this is going to need a hardcoded check. Immersive

[2018-02-08 16:48] Eufranio opened #2197 "Recalling the NPC while he's sleeping won't wake him up"
If you recall an NPC while he's sleeping, he won't wake up, see:

![img](https://image.prntscr.com/image/e1bPZzvkTBiCAHq4uYUafg.png)

Note: lmao

[2018-02-08 16:50] marchermans commented on #2197
Well................ @Raycoms did you not want to fix that.

[2018-02-08 17:13] DjTylerD commented on #2197
Humor: Minecolony has become so realistic that there are also homeless people

[2018-02-08 18:43] lebanni opened #2198 "Lumberjack continuously stop cutting trees"
### Minecolonies version
Minecraft 1.12.2
version 0.8.7466 but happened on all previous versions

### Expected behavior

- Lumberjack cut trees one after another.

### Actual behaviour

- Stop cutting tree, move around a tree.

Video of the issue :
https://youtu.be/MTz5WrzHga8

[2018-02-08 20:02] DjTylerD commented on #2198
he waits for the drop sapling if he has not in his inventory or hut.
often he will fetch it on the tree cut before
I admit that there are none on the ground, too bad it blocks if stack in warehouse

[2018-02-09 02:31] nick-johnson opened #2200 "[Bug?] Timber frame recipes don't loop"
Expected: user should be able to access all timber frame styles by repeatedly placing the frame in the crafting window

Actual: user can cycle timber frames through once, but the final style does not have a crafting recipe to loop back to the first.

[2018-02-09 12:32] Vealikaso opened #2201 "Miner doesn't make mineshafts"
### Minecolonies version

Minecraft 1.12.2

### Expected behavior

- Miner mines mineshafts on selected level

### Actual behaviour

- Miner stil mines downwards

### Steps to reproduce the problem

1. Hire miner
2. Wait until firts mineable level pops up in second window
3. Select it

[2018-02-09 12:39] Raycoms commented on #2201
That's intended, the miner is supposed to go down until he can't anymore and then only mine sidewards.
This is this way to avoid several issues.

[2018-02-09 12:39] #2201 closed, assigned to nobody

[2018-02-09 13:52] copperwarrior opened #2203 "Builder doesn't like the new medieval oak style"
### Minecolonies version

version 0.8.7484

### Expected behavior

- Builder upgrades his level 4 birch builder's hut to a level 5 medieval oak builder's hut

### Actual behaviour

- Builder freezes on the corner of the building, never places or removes a block

### Steps to reproduce the problem

1. Build up a builder to level 4 with the birch style
2. Upgrade the builder to level 5 with medieval

[2018-02-09 15:18] nick-johnson commented on #2203
Having a similar problem with any of the level 4 wooden herders. When a building requires more than one type of timber frame style in the same wood type, the builder "Required Resources" only shows a single type, and the builder is unable to resolve what it actually needs.

[2018-02-09 15:58] #2144 closed, assigned to Raycoms

[2018-02-09 16:41] #2200 closed, assigned to MineShadow7

[2018-02-09 18:36] freshnici opened #2204 "2202"
### Minecolonies version

version X.X.XXXX or curse X.X.XX

### Expected behavior

- XXX

### Actual behaviour

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-02-09 18:36] #2204 closed, assigned to nobody

[2018-02-10 02:04] rnlewis commented on #1617
I know this is from a couple months ago, but I just had the same problem tonight and I broke and replaced the furnace they kept running to which fixed the running back and forth problem.  They went back to hitting the Bakery block to make bread.

[2018-02-10 02:54] mkienenb commented on #1617
I had this problem a couple of days ago as well, and it was on my list to investigate.  I hadn't realized there was an issue covering it.   Interesting that breaking the furnace fixed it.   I didn't try that.  Next time it happens try using `/mc citizen info <colony number> <citizen id or full name>` to see what more information you can provide.

[2018-02-10 07:50] Bihlbo opened #2205 "Medieval Dark Oak Barracks places 2nd tower in a strange place"
### Minecolonies version

version 4.19

### Expected behavior

- The level 2 Medieval Dark Oak Barracks places stairs on the opposite corner of the plot from the first tower, which also had stairs pre-built for it. I expected the barracks to place the second tower where these stairs would allow access.

### Actual behaviour

- The level 2 Medieval Dark Oak Barracks places the second tower on a dif

[2018-02-10 10:23] Misunderstood-Wookiee opened #2206 "Concurrent Exception with .getRecipes"
### Version Info

- Minecolonies: `1.12.2-0.8.7494`
- Forge: `14.23.2.2611`

### Expected behavior
- I guess not crash??

### Actual behaviour
- Client Force Closed
https://pastebin.com/GUe31FJh

### Steps to reproduce the problem
I have no idea, one of the builders was building a fancy T-Intersect Path.

[2018-02-10 10:30] Misunderstood-Wookiee opened #2207 "[Enhancement] Builders use craftable grid instead of inv grid"
Swap the recipe grid for builders to that of the craftable size for more complex recipes saving, or allow them to use a craftable?

[2018-02-10 10:33] Misunderstood-Wookiee opened #2208 "[Enhancement] Configurable Raids"
Allow Raids to be configured with stages via JSON or another language.

Reason:
It would be cool too make custom raids with modded mobs or add held items & armour to raiders. The original idea was for me to add a chance of a dragon attack using Ice and Fire Mod's dragon mobs. I could code this for myself as an addon though and have colony people run inside like they do at night time.

<bountysourc

[2018-02-10 10:52] Raycoms commented on #2207
Will have a different worker for that

[2018-02-10 10:52] #2207 closed, assigned to nobody

[2018-02-10 12:29] marchermans commented on #2206
@Raycoms We seriously need to make it so that all messages that come in are directed to there proper thread.

[2018-02-10 12:38] Raycoms commented on #2206
Aren't all messages yet?
I thought we had rewritten it so all do "message on server thread".

[2018-02-10 12:38] Raycoms commented on #2206
Ahh I remember, we'd have to schedule the message results so they get
inserted in the thread.

[2018-02-10 13:22] Raycoms commented on #2197
@Eufranio can you reproduce this with the newest version?

[2018-02-10 13:26] Raycoms commented on #2193
This doesn't seem to be us, I can't find anything minecolonies related in this log.

[2018-02-10 13:26] #2193 closed, assigned to nobody

[2018-02-10 14:36] Misunderstood-Wookiee commented on #2193
That's alright, I could not see anything related to this mod either but it did crash only whilst inside of the colony chunks, spawning outside the colony far enough before the chunks are loaded by server/client the game is stable. Crash as soon as colony chunk loaded and it only effects those clients who joined and have not hosted or the actual server PID. Which was so strange.

The only thing I c

[2018-02-10 14:37] Misunderstood-Wookiee commented on #2208
Speaking of Mob tho, not all modded explosion are caught by colony protection, however, may be intentional.

[2018-02-10 14:41] Raycoms commented on #2208
If they're not, then you have to report it to that mod, since they're doing
something wrong and are not considering someone canceling the explosion.

2018-02-10 14:37 GMT+00:00 Misunderstood-Wookiee <notifications@github.com>:

[2018-02-10 17:33] #2203 closed, assigned to Raycoms

[2018-02-10 20:25] lunadragnstar opened #2210 "Crash when building Medieval Birch Townhall"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7437

### Expected behavior

- For the building to be built

### Actual behaviour

- The game crashed whilst rendering block entity
The game crashed whilst rendering block entity
Error: java.lang.IllegalArgumentException: Cannot set property PropertyEnum{name=half, clazz=class net.minecraft.block.BlockDoor$EnumDoorHalf, values=[upper, low

[2018-02-10 20:27] copperwarrior commented on #2210
Can you provide a crash report?

[2018-02-11 00:30] lunadragnstar commented on #2210
The message is all I have, it crashed and I would have to start all over again to get it to do it, I'll have to do it later.

[2018-02-11 00:32] copperwarrior commented on #2210
Was there not a report generated in the crash-reports folder? Can't really help much without it.

[2018-02-11 00:34] Raycoms opened #2211 "Worker: The florist"
This is a short write-up how I imagine the florist working:

First: The Florists task is it to create flowers. For this, he requires either bonemeal or compost from the composter (I hope that one gets ready some time).

The florist building requires one "Healthy flower patch" each building level to be crafted.
It's a block which basically looks like "very good looking grass" the difference is that

[2018-02-11 01:07] Raycoms opened #2212 "Fix citizens dying after getting up"
It seems like citizens still die when they get up.

My idea: Let them move around kind of "noclip" for 3 seconds (there should be a way for this) and protect them from damage during that.

[2018-02-11 01:52] Misunderstood-Wookiee commented on #2192
It's Minecolonies, causing `java.lang.NullPointerException: Ticking entity`

[2018-02-11 02:00] copperwarrior commented on #2192
It's actually both, caused apparently by an antimatter bomb going off near a citizen. I recommend not blowing up antimatter bombs near colonies.

[2018-02-11 04:30] lunadragnstar commented on #2210
[crash-2018-02-10_11.35.17-server.txt](https://github.com/Minecolonies/minecolonies/files/1714030/crash-2018-02-10_11.35.17-server.txt)
[crash-2018-02-10_15.20.39-client.txt](https://github.com/Minecolonies/minecolonies/files/1714031/crash-2018-02-10_15.20.39-client.txt)
[crash-2018-02-10_22.22.36-client.txt](https://github.com/Minecolonies/minecolonies/files/1714032/crash-2018-02-10_22.22.36-clie

[2018-02-11 04:31] lunadragnstar commented on #2210
Those are the crash reports from tonight, after trying several times. The last time was a Medieval Oak, but when I went back in, I didn't have to start over.

[2018-02-11 04:32] lunadragnstar commented on #2210
And the last time, it just froze, I had to end the task.

[2018-02-11 11:20] MineShadow7 commented on #2212
Shouldn't they disable their AI when the suffocate in a block? (default minecraft behavior)

[2018-02-11 11:55] MineShadow7 commented on #2212
And I don't seem to have any problems with that on the latest version...

[2018-02-11 12:00] MineShadow7 opened #2213 "Builder creates too much particles"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7508

### Expected behavior

- Creates some particles like if you would be in process of breaking block

### Actual behaviour

- Creates particles on every hit like if you would already break the block.

### Steps to reproduce the problem

1. Get builder to build anything that requires to break block
2. On every hit he/she will create too

[2018-02-11 12:35] DjTylerD commented on #2212
minecolonies-universal-1.12.2-0.8.7508
I do not have a death problem in townhall, but a problem of reconnection (solo games)
if I disconnect at night, the citizens are standing without tic of damage (as in the picture)
![2018-02-11_13 24 32](https://user-images.githubusercontent.com/35812264/36073417-68547c52-0f30-11e8-8f2e-19b2bf5b41df.png)

2 solution to unlock them: break the block or go to the

[2018-02-11 14:14] marchermans commented on #2212
I might have a fix for the single player stuff
But @Raycoms If they are dying somebody needs to tell me. Building, Orientation of said building, Level of said building, which bed etc.

[2018-02-11 14:15] marchermans commented on #2212
@MineShadow7 Yes that is what is happening. Their AI actually teleports out of a block. But since their head is in one, they suffocate.

[2018-02-11 14:55] nosfiratys opened #2214 "1.10.2 - NO recipes for creating Supply Camp or Supply Ship"
### Minecolonies version

minecolonies-universal-1.10.2-0.9.7375.jar

### Expected behavior

- Create simple camp or just start new world with new colony

### Actual behaviour

- There is NO recipes for creating Supply Camp or Supply Ship so without them I can not have a Townhall and can not start playing

### Steps to reproduce the problem

1. create new world
2. place 5 chests like that https://

[2018-02-11 15:00] nosfiratys commented on #2214
As I remember this appeared after you guys fix "server shutdown bug when you trying to go to townhall settings"

[2018-02-11 19:19] MineShadow7 opened #2216 "Citizens lives in townhall"
### Minecolonies version

version minecolonies-universal-1.12.2-0.8.7508

### Expected behavior

- They do not live in townhall.

### Actual behaviour

- Citizens live in townhall. It's looks like they are homeless or something. That actually increases colony population like the normal citizen hut would do.

### Steps to reproduce the problem

1. Build townhall.
2. Upgrade it to more levels.
3. Ha

[2018-02-11 19:21] Raycoms commented on #2216
Yeah that's on purpose. They even have beds there, why shouldn't they live there.

[2018-02-11 19:21] #2216 closed, assigned to nobody

[2018-02-11 21:22] Misunderstood-Wookiee commented on #2208
**I have had some time to flesh this concept out a bit and in order of most valuable, I list them below.**

- [ ] **Raider Group** - Holds the values Min-Max group size based on colony days passed & Entity Types. Easier to think of this as a stage which holds all possible entity data for the possible wave during that time period.

- [ ] **Raider Entity Type** - entity names with NBT data, used in

[2018-02-11 22:09] Misunderstood-Wookiee opened #2217 "[1.12.2] Lumberjack cuts down structures with logs in them."
### Version Info

Minecolonies: 1.12.2 - 08.7508
Forge:  14.23.2.2611

### Expected behavior

- Lumberjack ignores structures with huts/ structures in general.

### Actual behaviour

- Lumberjack chops log blocks of town structures near the sawmill.

### Steps to reproduce the problem

Unsure really, I just was wondering why one of the town structures was repaired yet broken, and also whilst being

[2018-02-11 23:04] lebanni opened #2218 "Bug upgrading building"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7508.jar

When upgrading warehouse medieval spruce to lvl 2, the lvl 1 building is sliced and apparently replace with a schematic that doesn't fit.

https://imgur.com/y8muMIJ
https://imgur.com/VCva1DS
https://imgur.com/fqYb1zj

[2018-02-11 23:13] lebanni commented on #2198
Actually, he has saplings in his inventory :

https://imgur.com/HGfBIrm

[2018-02-12 00:12] grugsy commented on #2212
can confirm both the death as well as stuck in block bug. any bed in any building with any stair/block 1 block above it will do this. it's/was? a [vanilla bug](https://bugs.mojang.com/browse/MC-99909?jql=project%20in%20(MC%2C%20MCPE%2C%20MCCE)%20and%20(resolution%20is%20empty%20or%20resolution%20in%20(2%2C%206))%20and%20(summary%20~%20"Bed")%20order%20by%20resolution%20desc).

[2018-02-12 00:26] grugsy commented on #2158
having similar issue. deliverymen go to all buildings, but pick nothing up/deliver nothing with the exception of milk and eggs. they randomly dump 5-6 buckets of milk into mine/fisher/sawmill/builder chests. do nothing else. noticed this after adding animal buildings. (playing on latest alpha, first noticed several builds back when my villagers were suddenly starving)

[2018-02-12 00:36] grugsy commented on #2179
playing on latest alpha, having same issue. noticed several partial stacks of stackable items, sometimes empty slots but builder stuck asking for something that is in the chest. combining them or even moving an item makes the builder function again. (partial stack issue with other chests as well, related or should I open a new issue?)

[2018-02-12 00:44] lunadragnstar commented on #2210
[crash-2018-02-11_14.14.15-client.txt](https://github.com/Minecolonies/minecolonies/files/1715035/crash-2018-02-11_14.14.15-client.txt)
[crash-2018-02-11_19.35.08-client.txt](https://github.com/Minecolonies/minecolonies/files/1715036/crash-2018-02-11_19.35.08-client.txt)
[crash-2018-02-11_19.42.52-client.txt](https://github.com/Minecolonies/minecolonies/files/1715037/crash-2018-02-11_19.42.52-clie

[2018-02-12 01:10] Raycoms commented on #2217
We could detect just if a block is too close to a building and not cut it.

[2018-02-12 01:10] Raycoms commented on #2218
@lebanni the newest build replaced the warehouse of the medieval versions, this will be fixed from now on.

[2018-02-12 01:10] #2218 closed, assigned to nobody

[2018-02-12 01:24] Raycoms commented on #2210
@lunadragnstar all this is the townhall?

[2018-02-12 01:36] Misunderstood-Wookiee commented on #2217
@Raycoms Should work, may wish to add the same check for leaves as I noticed it only happened to the building which had some leaf blocks placed around it for aesthetical purposes which may have been the trigger and not the logs themselves.

![2018-02-12_12 42 27](https://user-images.githubusercontent.com/22002023/36081388-4ba85ab6-0ff2-11e8-88ee-71107b8a466f.png)

This is the building from the OP,

[2018-02-12 03:10] Aynjul opened #2219 "Suggestion: Report location of the block that can't be broken with tool in inventory"
I have seen several people complain about the miner requesting a diamond pick axe before it is time for them to be able to use one. This includes me. It would be helpful if in the details of the min/max of pick axe level needed it could also report the coords of the block it can not break with a current tool that is in their inventory.

[2018-02-12 08:31] marchermans commented on #2212
@grugsy Version number please. We confirmed with the original issuer (not raycoms) that he was behind update schedule. This is most definetly fixed in the newest version.

[2018-02-12 08:34] marchermans commented on #2208
@Misunderstood-Wookiee We are currently working on this. We understand that you want to configure this relatively flexibly. And we understand why you would want it. But in its currently designed form we are not going this far.

We will give you the option to define how a raid looks like (what entities, how many, what they are wearing, and what their effect are). But that is what we are limiting it

[2018-02-12 09:27] Misunderstood-Wookiee commented on #2208
@OrionDevelopment
That's perfectly alright, anything is better than nothing I was just throwing some ideas into the mix, I understand there is an API for this mod? In which case it really should not be too much trouble even for me to get something going as an extension by importing the appropriate classes. The current scope looks to be sufficient but will wait for final word before going off on a

[2018-02-12 11:52] Raycoms commented on #2208
They use anything which is marked as weapon + tinker weapons, but they
don't use modded bows yet, mostly because that would make them op

On Feb 12, 2018 7:27 AM, "Misunderstood-Wookiee" <notifications@github.com>
wrote:

[2018-02-12 12:36] Misunderstood-Wookiee commented on #2208
@Raycoms
Oh okay :), in-regards to the bows I would think that this would be the server owners choice but not my mod so not much to say on that other than I don't have any modded OP bows in my pack I use VarriedCommodites and was hoping to get them to use the crossbow which I think is only a couple dmg points above a normal bow and crossbows require bolts, not arrows and don't have any bolts with

[2018-02-12 13:31] mkienenb commented on #2208
[..]

MineColonies accepts PRs.   :-)   If you are willing to do the work, and your code is maintainable and not at cross-purposes to what the project goals, that's the fastest way to get your ideas implemented.   You could check with @Tim020 and see if this is something he's started, or you could wait and improve upon what he provides if it doesn't go far enough.  It doesn't sound like it's being

[2018-02-12 19:17] #2214 closed, assigned to MineShadow7

[2018-02-12 21:24] Raycoms commented on #2206
Should be fixed now.

[2018-02-12 21:24] #2206 closed, assigned to nobody

[2018-02-12 21:58] grugsy commented on #2212
apologies. the issue was on every alpha for about the last week (74**). I have updated to the latest version available on curse client (7508) but have not spent much time in it. I got distracted by the new textures I needed to make for the timber frames. lol

[2018-02-12 22:25] AdaraChristine commented on #2170
Will this be fixed in the 1.10.2 version?

[2018-02-12 22:26] Raycoms commented on #2170
Yeah, might need a bit since we need to port a lot of changes to 1.10

2018-02-12 22:25 GMT+00:00 AdaraChristine <notifications@github.com>:

[2018-02-12 22:34] AdaraChristine commented on #2170
Just checking. Thank you for your work!

[2018-02-13 13:43] Aynjul commented on #2127
I had to go further back in the walls than what the Miner would actually see. In my modpack Rutile ore was the problem.

[2018-02-13 14:33] mkienenb commented on #2127
Probably will be resolved once issue #2219 is resolved.

[2018-02-13 17:17] JustVito opened #2220 "Minecolonies Crashes.."
### Minecolonies Version

Version 1.12.2

### The Problem

My game just crashes whenever i place down the town hall..

This is the crash report.. \/ \/ \/

[crash-2018-02-13_17.12.51-client.txt](https://github.com/Minecolonies/minecolonies/files/1720878/crash-2018-02-13_17.12.51-client.txt)

[2018-02-13 17:39] Justen-N commented on #2220
This should have been fixed in the latest alpha. If you are not using the
alpha, please upgrade or wait until the fix comes to the beta or release.
Also, please provide your Minecolonies version, not the Minecraft version.

On Tue, Feb 13, 2018 at 10:17 AM, JustVito <notifications@github.com> wrote:

[2018-02-13 19:43] RhyxMormarteno opened #2221 "To many civilians"
### Minecolonies version

version 1.12.2-0.8.7508 or curse X.X.XX

### Expected behavior

- 14 housing slots
(4 taken by first 4 then 10 extra civs)

### Actual behaviour

- 14 civs and starting 4(18)
Build birch styled town and my first 4 civs dont want to be assigned to any house.

### Steps to reproduce the problem

1. install modpack All the mods 3
2. Upgrade minecolonies on server pack and cl

[2018-02-13 21:44] Boyownik opened #2222 "[proposition] Some storage and hapiness info"
I wish it could be some info in warehouse which tells about amount of items inside and also some more info about happiness in town hall, like it's getting low because of low security level or something. That info especially in warehouse would be very useful, because i fill warehouse with building materials and carefully sort it to have easy sight of their amount but deliveryman is a messy boi and

[2018-02-13 22:00] lunadragnstar commented on #2210
No, it varies, I've had it happen with the houses, sawmill, and mine. A lot of time I could get back in and get it to work.

[2018-02-14 01:35] Misunderstood-Wookiee opened #2223 "[1.12.2] NPE While loading existing world. (minecolonies.structures.helpers.Structure.getSize)"
###  Version Info
Minecolonies  ` 1.12.2-0.8.7508`
Forge `14.23.2.2611`

### Expected behaviour
- Normal World Load and continue playing

### Actual behaviour
- World Loading is looping on [Loading World](https://i.imgur.com/yi3qrII.png) screen and never initiates `Building Terrain`
upon closing out of the game and trying to load the same world again it will load fine but the colony data is comple

[2018-02-14 01:48] Misunderstood-Wookiee commented on #2223
I am reverting BOP and Pams to see if one of these caused a hiccup due to something a citizen may have had in inv.  Will edit this brief post shortly with findings.

## Edit
Tested the same world without the recent updates made to mods and reset the colony data a day before the problem colony data file and the issue remains if any of my backups are used this error occurs, Using either the pre-mod

[2018-02-14 02:06] copperwarrior opened #2224 "Build tool GUI crashes on Forge version 2615"
### Minecolonies version

version 0.8.7508

### Expected behavior

- The build tool gui works

### Actual behaviour

- It doesn't, causing a crash when using both the build tool, supply ship and supply camp tools.

### Steps to reproduce the problem

1. Download forge latest, version 2615
2. Realize the latest forge version has a changelog of "Clean up some GUI code and change magic numbers to GL

[2018-02-14 02:30] Eufranio opened #2225 "Build a separate, lightweight Minecolonies jar"
It would be nice if you could build/provide a separate Minecolonies jar, without the heavy assets (images, sounds, etc), so we can reduce the jar size from 20MB to 2MB and happily upload to servers.

[2018-02-14 02:59] Misunderstood-Wookiee commented on #2225
You mean to provide an optional light-weight server JAR which does not have the assets that clients require? I doubt the devs are going to want to do this 20mb is already nothing really. If you cannot upload 20mb file to a server you have a bad host.

[2018-02-14 03:01] Eufranio commented on #2225
This ticket was just to remind them, looks like they have already this planned. Many people in this world have a bad internet connection, and with the update frequency of Minecolonies, i'd not be suprised if people started to be afraid of updating just because of the size.

[2018-02-14 07:40] Misunderstood-Wookiee commented on #2225
Each to their own I suppose, Professionally speaking from a fair span of time hosting various platforms over the years I would simply say to these people that they are not obligated to update to the very bleeding edge every time a new version is released, it is an automated _Alpha_ build and there are many ways to automate code compile, if you thought of updating a 20mb mod every time the develope

[2018-02-14 08:12] Misunderstood-Wookiee commented on #2222
I second this, I have to go around manually using the inventory sort function from another mod in the builders inventory and hut chest just to make space a lot of the time and prevent them bitching about no room to move items between the hut chest and the worker and sometimes it is as simple as just merging two stacks into one stack making room.

This could be automated better, I am not sure if su

[2018-02-14 10:50] marchermans commented on #2225
@Eufranio @Misunderstood-Wookiee Sadly this is going to be a near no go. The size of the jar is this big because of the sound and nbt files.
Under normal operations these jars are signed. Making it near impossible to tamper with. Also it requires the same signature on both jars, server and client.

Which I can not strip the resources from one of them.

[2018-02-14 10:50] marchermans commented on #2225
On second thought I will keep this open to ensure better handling of it in the future.

[2018-02-14 13:11] Raycoms commented on #2224
Can't reproduce this. Weirldy

[2018-02-14 13:13] copperwarrior commented on #2224
Didn't test it myself, so can't say. I can try and reproduce it when I get home.

[2018-02-14 13:13] Raycoms commented on #2223
@Misunderstood-Wookiee it seems like there is a schematic missing one of your builders is trying to build. You can empty the build queue in the colonies.dat file with an nbt editor to fix this.
Can you please send me the pastebin as a gist?

[2018-02-14 13:21] MineShadow7 commented on #2221
Since Townhall is now a house - this is not a bug. Can we close this?

[2018-02-14 13:21] #2221 closed, assigned to nobody

[2018-02-14 13:37] Raycoms commented on #2220
Yeah please upgrade

[2018-02-14 13:37] #2220 closed, assigned to nobody

[2018-02-14 13:39] Misunderstood-Wookiee commented on #2223
@Raycoms  If you are available now I can do this and try figure this out while you are around?, I have an NBT editor yea so I can deffo clear the que, I think I know what it may be after you said it was a schematic.

I made a couple custom paths and saved them, but I messed up a couple of the saves and deleted them and re-saved the fixed versions but I also didn't think to remove them from the bui

[2018-02-14 13:41] Raycoms commented on #2223
Yeah I am working on something now which removes the building from the queue if it runs into this issue automatically.

[2018-02-14 13:42] Raycoms commented on #2223
If you have the time, you can send me the gist and I can create the fix and send it to you to test it out.

[2018-02-14 13:42] Misunderstood-Wookiee commented on #2223
@Raycoms https://gist.github.com/Misunderstood-Wookiee/31c90ffb7dfd9abb14091c4c58fd2e23
Is this what you were after? I am unsure how this is better than the pastebin without the file colony attached and the world.

yea I have time am actively working on this problem right now aswell.

[2018-02-14 13:43] Raycoms commented on #2223
Because for some reason I can't reach pastebin

[2018-02-14 13:45] Misunderstood-Wookiee commented on #2223
@Raycoms Ah okay :),
Well I will load up _NBTExplorer_ and clear the colony build list and see if the world loads with the colony intact in the meantime, while you peruse the crash report.

[2018-02-14 13:49] Misunderstood-Wookiee commented on #2223
@Raycoms Is this the correct thing to set to 0 https://i.imgur.com/oz1tSWS.png ?

[2018-02-14 13:50] Raycoms commented on #2223
Okay try this jar: https://s3.eu-central-1.amazonaws.com/minecolonies/Minecolonies/Minecolonies_Branches/7532/minecolonies-universal-1.12.2-0.8.7532.jar

It shouldn't crash anymore but the builder will start throwing exceptions I think

[2018-02-14 13:53] Misunderstood-Wookiee commented on #2223
@Raycoms Alright installed it and loading the world now.

[2018-02-14 13:58] Misunderstood-Wookiee commented on #2223
@Raycoms
Alrighty, you legend :). The world loaded fine and the colony existed so the first thing I did was run to the town hall and cleared the entire build order list and recalled everybody.

No builder thew an exception, though I probably didn't give them enough time to try to build anything.

![2018-02-15_00 56 33](https://user-images.githubusercontent.com/22002023/36207932-92afdb8c-11eb-11e8-

[2018-02-14 14:10] mkienenb commented on #2225
@OrionDevelopment

It's unclear to me what the technical reasons are for why we cannot do this.

We've already shown that it's possible to move sound resources into a resource pack.  We could distribute them as a resource pack or as a separate dependent jar.  The same would be true for the other resources.

The hurdle I see is managing the logistics.   We'd need to track the version of each jar we

[2018-02-14 14:13] Eufranio commented on #2225
This wouldn't require a new version. It would be exactly the same jar, but without resources. The normal mod would still be usable on the server, and those who search a bit and find this server jar would be able to use it as well.

[2018-02-14 14:15] mkienenb commented on #2225
@Eufranio
We will need to track the version on the main jar.  We will also need to track the version on the jar containing the schematics resources.    Otherwise it will be difficult to debug why something is not working that involves buildings.

In fact, we'd probably need to maintain 3 jars to do this best.   One for the main jar, one for the schematics, and one for sound/images/etc.

[2018-02-14 14:16] Raycoms commented on #2225
The problem is this part:

"Under normal operations these jars are signed. Making it near impossible to tamper with. Also it requires the same signature on both jars, server and client."

So making two jars one with for the client and one without wouldn't be possible.

But distributing the sounds in an resourcepack which will be automatically downloaded or something similar is already on our list.

[2018-02-14 14:21] mkienenb commented on #2225
@Raycoms I see what you mean now.  I wasn't considering keeping both a "heavy" jar and a "light" jar.  I was thinking that there would only be a a light jar + schematics jar + sound/images jar.   The server doesn't need the 3rd jar.   Although since the server does need the schematics jar, the hassle of keep things separate is probably not worth it.   It'd probably be better to have the light jar

[2018-02-14 14:31] Raycoms commented on #2225
The problem with this is that people need to download both.
So, when we add this we would make it that it gets downloaded automatically on the client.

[2018-02-14 15:45] #2213 closed, assigned to Raycoms

[2018-02-14 15:45] #2217 closed, assigned to Raycoms

[2018-02-14 15:45] #2219 closed, assigned to Raycoms

[2018-02-14 15:45] #2223 closed, assigned to Raycoms

[2018-02-14 15:45] #2224 closed, assigned to Raycoms

[2018-02-14 17:15] Misunderstood-Wookiee commented on #2225
I still don't understand the logic behind bothering with a light jar, all you are doing splitting up a mod into three parts like this is more work for the devs and trackers, more work for the end user and people will simply NOT bother installing the mod most likely due to the effort of self-tracking and updating three parts of a mod, modpack or not a modpack eventually you will have to update thre

[2018-02-14 17:25] mkienenb commented on #2225
@Misunderstood-Wookiee We have to do this anyway to deal with translations.

After further discussion, we will probably keep schematics bundled with the main jar.   There's not much benefit to doing otherwise right now.

https://github.com/Minecolonies/minecolonies/issues/2176

[2018-02-14 17:38] Misunderstood-Wookiee commented on #2225
@mkienenb Not really, you can just synthesise text to speech using Minecraft's built-in text to speech via your own synthesizer ad read from normal translation text file or provide an optional download and people can just replace the existing ones in the jar manually.

even if you split the mod up how would you get around the problem of three jars needed to be manually installed and they would be

[2018-02-14 17:51] Misunderstood-Wookiee commented on #2225
Even @OrionDevelopment Thinks the providing the resources on GitHub as individual components are the better option, absolutely never should this turn into a three-part install procedure for getting just the English version running. I am not telling anyone what to do in-case it comes across that way I am just saying its going to be a nightmare for everybody else who's not bitching about 30mb.

Some

[2018-02-14 19:52] marchermans commented on #2225
Since this discussion seems the be getting out of Hand. And I personally think it should not matter for a Server admin if he has to download 20MB or 2MB (He still has to run the command) I am going to Close and lock this discussion. If you REALLY NEED THIS, have a VALID AND GOOD usecase for it (so not, because it is easier for Person xyz) and give me a notch in the right direction when it comes to

[2018-02-14 19:52] #2225 closed, assigned to nobody

[2018-02-15 11:04] Misunderstood-Wookiee opened #2228 "[1.12.2] EntityCitizen (AiSleep) Bug"
### Version Info
Forge: `14.23.2.2611`
Minecolonies: `1.12.2-0.8.7551`

### Expected behaviour
The client does not force close.

### Actual behaviour
[Crashes](https://gist.github.com/Misunderstood-Wookiee/fe3eb4ca431355dd54286d0b851f88cb)
`java.lang.IllegalArgumentException: Cannot get property PropertyDirection{name=facing, clazz=class net.minecraft.util.EnumFacing, values=[north, south, west, e

[2018-02-15 18:36] Senderoth opened #2229 "Extremely slow"
### Minecolonies version

version 1.12.2-0.8.7508

### Expected behavior

- Build things.

### Actual behaviour

- Takes literal 2 hours to build just the town hall. First off, they only accept wood or gold tools. Second off, their speed at breaking blocks is as if they're underwater. For some reason, they recognized one other pickaxe, from my corruption mod, which has a OP pickaxe stronger than d

[2018-02-15 19:41] Raycoms commented on #2229
Hey there, first build the builder hut up to level 1 and then build the townhall, he will then also accept better tools. The builder gets faster during the time. But on hut level 0 he stays weak, better upgrade him to get him faster.

[2018-02-15 19:41] #2229 closed, assigned to nobody

[2018-02-17 11:07] VampBloodknight opened #2230 "Minecolonies, Description: Exception ticking world"
xxx Minecolonies version

version 0.8.6471 or curse X.X.XX
Server is 1.12.1 byt twitch is loading either 6471 or 4075
### Expected behavior

- Players join my server and build their cities

### Actual behaviour

- Server crashes either as soon as some one joins it, or with in a couple minutes. Has been happening for last 2 days, no changes to any mods i run for last 4 weeks.

### Steps to reproduc

[2018-02-17 11:08] Raycoms commented on #2230
Even when you run it with 6471

On Feb 17, 2018 9:07 AM, "VampBloodknight" <notifications@github.com> wrote:

[2018-02-17 11:12] VampBloodknight commented on #2230
Wrote the above report and forgot about it as my servers provider started assisting me in finding the problem.

After 3 hours of his excellent help and testing,

We found the problem.

Old fields (scarecrows) somehow bugged and when someone went near them the game crashed,

He assisted me in moving my spawn and taking all gear off me and i ran back to the towns in game and removed and destroyed al

[2018-02-17 11:21] VampBloodknight commented on #2230
Yes even restoring to 6471 everything was broken, buildings were still there but was a ghost town.
I planted the fields months ago, and only just upgraded from 3rd level to 5th this week.
May have something to do with it.

[2018-02-17 11:26] Raycoms commented on #2230
Yeah, the current release is quite outdated at the moment.

2018-02-17 11:21 GMT+00:00 VampBloodknight <notifications@github.com>:

[2018-02-17 11:37] VampBloodknight commented on #2230
Will there be support for 1.12.1 ongoing or is it all 1.12.2 now?
Wonder if the server will survive a version upgrade,, forge, minecraft 1.12.2 and mods... scary

[2018-02-17 11:39] Raycoms commented on #2230
Actually the versions should work all on 1.12.1 as well

2018-02-17 11:37 GMT+00:00 VampBloodknight <notifications@github.com>:

[2018-02-18 01:55] TheWolf320 commented on #1615
@NorAnnie go to this and wait about 5 second up the right a skip button will appear and it will download forge 14.23.0.2493 and install it and go to your launch options and set the version to 14.23.0.2493 hope it helps http://adfoc.us/serve/?id=27122865519691

[2018-02-18 09:29] hron84 commented on #807
Suddenly it happened for me too with 7375 under 1.10. @Raycoms can you make a command that overrides every protection and let access the colony for admins / in creative if SSP?
Because I can't even access my colony after disabling protection in config files.

Also, I'm not sure if it is related to ToroQuest since I had quite good reputation to not refuse me to open blocks / inventories in the area

[2018-02-18 11:02] Bihlbo opened #2232 "Colony no longer exists. No colonists, no ID, nothing but empty buildings."
### Minecolonies version

Minecraft 1.12.2
Forge 14.23.1.2604
The game is the MineColonies Official modpack accessed through the Twitch app. Version 4.19

### Actual behaviour

Was playing, had about 25 colonists in a town 63 chunks in area. Game crashed. Nothing unusual lead up to the crash. No reason was given by Minecraft. It simply froze, shut down and said it crashed. When I reloaded the game

[2018-02-18 12:26] Raycoms commented on #807
Probably your colony got lost, please load a backup of your colonyX.dat
file in world/minecolonies.

2018-02-18 9:29 GMT+00:00 Gabor Garami <notifications@github.com>:

[2018-02-18 12:26] Raycoms commented on #2232
Probably your colony got lost, please load a backup of your colonyX.dat
file in world/minecolonies.

2018-02-18 11:02 GMT+00:00 Bill Wiltfong <notifications@github.com>:

[2018-02-19 06:34] alcheya opened #2233 "Villagers disappearing."
### Minecolonies version

version 0.8.7551

### Expected behavior

- Villagers always visible

### Actual behaviour

- Villagers are invisible

### Steps to reproduce the problem

1. Go into Twilight Forest (or Aroma Mining Dimension) portal
2. Come out of Twilight Forest (or other Mod dimension) portal.
3. Most of the Colony is invisible.
4. Accidentally kill a citizen because you're shooting shu

[2018-02-19 07:58] hron84 commented on #807
@Raycoms what can cause problem like this? Also, `/minecol colony info Dragonia` described the colony correctly and named me as an owner, but still did not let me access GUIs

[2018-02-19 11:16] MattBeard opened #2234 "[Enhancement] Rally Troops"
It would be great to be able to craft an item that could be used a little like the green-wand used for selecting the location to be guarded (or patrol points) for guards. But, this wand would cause all guards to rally to the selected point and look for enemies in that area.

The guards would return to their previous action after a while (perhaps 3 minutes).

It would be nice if the wand was used u

[2018-02-19 11:57] Raycoms commented on #807
Crashes sometimes corrupt the data when saving

On Feb 19, 2018 4:58 AM, "Gabor Garami" <notifications@github.com> wrote:

[2018-02-19 12:45] copperwarrior commented on #2233
You might be able to fix this by recalling all citizens in the town hall

[2018-02-19 14:25] alcheya commented on #2233
I go into the nether portal and come back out. It works again then and that's what I've been doing, but the one time I forgot I nuked my deliverywoman.

[2018-02-20 01:22] mackenziemay opened #2238 "Crashes when town hall is placed and unable to open world"
Using newest version of Minecraft 1.12.2
using the newest version of minecolonies

once town hall is placed game crashes then, I am unable to open the world

I was really looking forward to using this mod and if there is a fix. i would love to use this mod.

[2018-02-20 01:23] Raycoms commented on #2238
That's the one you're using? https://minecraft.curseforge.com/projects/minecolonies/files/2532902

[2018-02-20 01:26] Justen-N commented on #2238
Ray is asking because the alpha build, and I believe the beta should
contain a fix for this.

On Feb 19, 2018 6:23 PM, "Raycoms" <notifications@github.com> wrote:

[2018-02-20 01:28] Raycoms commented on #2238
And I just pushed the latest betas to release as well to avoid this issue from happening.

[2018-02-20 01:48] mackenziemay commented on #2238
I'm not sure if its the beta, I just said it was for version 1.12.2

[2018-02-20 01:51] Justen-N commented on #2238
We need the number from the file you downloaded, not your minecraft
version. Each release of the mod can have different fixes, and before we
work on your problem, we need to know exactly what version of the mod you
have.

On Feb 19, 2018 6:48 PM, "mackenziemay" <notifications@github.com> wrote:

[2018-02-20 01:54] mackenziemay commented on #2238
this is what is on it says
minecolonies-universal-1.12.2-0.8.7551.jar

[2018-02-20 01:58] Justen-N commented on #2238
Yep, this should be fixed in the newest release, went live an hour ago! please report back after you download it, even if it fixes your error.

[2018-02-20 02:02] mackenziemay commented on #2238
where do I find the newest download?

[2018-02-20 02:02] Raycoms commented on #2238
https://minecraft.curseforge.com/projects/minecolonies/files/2532902

[2018-02-20 02:03] Justen-N commented on #2238
The curseforge site has one lablled r, as well as the link Ray posted  on
this issue.

On Feb 19, 2018 7:02 PM, "mackenziemay" <notifications@github.com> wrote:

[2018-02-20 02:10] mackenziemay commented on #2238
thank you

[2018-02-20 02:12] Justen-N commented on #2238
Have Fun!

[2018-02-20 02:12] #2238 closed, assigned to nobody

[2018-02-20 04:45] alanman commented on #35
Sorry, replying to quite an old post.  But since it's still open...

A simple resolution might be to add a "hold inventory" to the deliveryman chest.  Maybe make it half as big as normal inventory.  Like the scarecrow, you just put in one piece of any item you want the deliveryman to keep on his person, and he'll try to keep a full stack of that item. Need more? put a piece in two slots.  Then hav

[2018-02-20 06:02] Lordbaane commented on #2233
Sometimes when I hire a villager, I recall them, and they are invisible for the short term but reappear shortly thereafter. Logging out and in fixes it. Recalling them works too. Not sure what can be done (not a programmer), but hopefully something can be.

[2018-02-20 06:29] Lordbaane opened #2239 "Just a Thought..."
So, I saw several recommendations for improvements, and I know that some of them are already in the works, especially with your creating the ability for villagers to manufacture items by being taught.
So I have a thought that you add a _Blacksmith/armorer_, who can create arms and equipment on demand.
The other thought was adding an _Apothecary_ who can create basic potions that can help the colon

[2018-02-20 06:34] Justen-N commented on #2239
Actually, a lot of what you've  mentioned either already exists or is
planned. The only one I don't  think we have is a specific transport
worker. Maybe flesh that idea out and submit it as it's own issue?
Blacksmith and apothecary have their own issues submitted, and the level of
each worker does affect how well they work.

On Feb 19, 2018 11:29 PM, "Kevin" <notifications@github.com> wrote:

[2018-02-20 06:34] alcheya opened #2240 "Lumberjack chopped down the warehouse"
### Minecolonies version

0.8.7551

### Expected behavior

- Lumberjack knows a building from a tree

### Actual behaviour

- I don't think there was a tree too close to the warehouse, but the lumberjack slowly navigated toward it.  Went hunting, colony chunks were loaded.. came back to all the oak wood (not planks) from the warehouse chopped down.
https://i.imgur.com/IkS4FsK.png
https://i.imgur.c

[2018-02-20 06:40] Lordbaane commented on #2239
Yah, I know the villagers get better with levels, I was thinking more of equipment enhancements.
I was just looking at medieval times and saw that a general laborer was on the list. I also figured the other jobs were prolly in the works already, but it would be nice to have a guy who could build a simple wall with fences at first, then be upgraded to proper walls, maybe building a trench on the ou

[2018-02-20 06:41] Lordbaane commented on #2239
Though I'm not sure how to add labels, I was looking for that when you replied.

[2018-02-20 06:44] Lordbaane commented on #2239
If there was a way to integrate with some of the other mods that added animals, plants and ores would be cool, but I'd think that would be a separate mod.

[2018-02-20 14:09] Raycoms commented on #2210
Should be fixed in the newest alpha

[2018-02-20 14:09] #2210 closed, assigned to nobody

[2018-02-20 14:09] Raycoms commented on #623
Should be fixed in the newest alpha

[2018-02-20 14:09] #623 closed, assigned to pmardle

[2018-02-20 14:09] Raycoms commented on #2240
Should be fixed in the newest alpha

[2018-02-20 14:09] #2240 closed, assigned to nobody

[2018-02-20 14:10] #2019 closed, assigned to nobody

[2018-02-20 14:10] Raycoms commented on #959
Should be fixed in the newest alpha

[2018-02-20 14:10] #959 closed, assigned to pmardle

[2018-02-20 14:31] #2239 closed, assigned to nobody

[2018-02-20 14:43] Lordbaane opened #2241 "[Enchancement] General Laborer"
Yesterday one of the thoughts I had was adding a General Laborer job for the mod.
The guy would start with a simple fenced hut where he'd wait for you to show up and show him a task. The hut can be expanded from level 2-5 with beds.
Possible tasks could be:
-Leveling an area, you use the builders wand to indicate four points for them to flatten
-Digging a trench for defense
-Digging a pit for a tr

[2018-02-20 15:10] KienanBlue opened #2242 "Rope fences"
![2018-02-20_14 13 49](https://user-images.githubusercontent.com/24659505/36431629-59894764-1658-11e8-8121-e2bffe01a698.png)
[rope fence assets.zip](https://github.com/Minecolonies/minecolonies/files/1740573/rope.fence.assets.zip)
@Raycoms @OrionDevelopment

[2018-02-20 19:52] #889 closed, assigned to nobody

[2018-02-20 19:52] #1580 closed, assigned to nobody

[2018-02-21 01:39] carlansor opened #2243 "Barracks put towers in wrong order"
### Minecolonies version

version 1.12.2-0.8.7608

### Expected behavior

- Barracks with medieval style put towers in a X shape when upgrading it (viewing from above, first left top, then bottom right, then top right and last bottom left)

### Actual behaviour

- Barracks with medieval style put towers in different order (first top left then bottom left and so on)

### Steps to reproduce the prob

[2018-02-21 06:39] hron84 opened #2244 "[FEATURE REQUEST] Let the first SupplyCamp built with Building tool"
### Minecolonies version

version 1.12.2-0.8.7582

### Expected behavior

- For more precise placement, I want use Building tool for place my SupplyyCamp with the more advanced guide than the item itself has (e.g. the tool remembers the last configuration (position/facing) of the schematic, while if you try to place the item it automatically resets.

### Actual behaviour

- I can select the placem

[2018-02-21 08:56] Aynjul opened #2245 "Suggestion: Show building that is currently being worked on"
Minecolonies 1.12.2
Show the building that is being built when listing out the required resources at the builder's hut. This saves time when you want to verify if you are building the right building without going to the townhall if you don't need to.

[2018-02-21 09:45] Aynjul opened #2246 "Miner reporting wrong ore at the location that can't be mined."
### Minecolonies version

Minecolonies 1.12.2

### Expected behavior
Report correct ore that is at the location of the coordinates

### Actual behaviour
On several occasions the miner reports an ore that can't be mined at certain coordinates. What he is listing isn't the ore at that location but a different ore that can not be mined. This was only a problem because I was trying to tell a player wh

[2018-02-21 10:44] lebanni opened #2247 "Exception in server tick loop"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7608.jar
forge-1.12.2-14.23.2.2618-universal.jar

[crash-2018-02-21_11.36.54-server.txt](https://github.com/Minecolonies/minecolonies/files/1743665/crash-2018-02-21_11.36.54-server.txt)

Another one, first lines changed quite a bit.
[crash-2018-02-23_12.14.56-server.txt](https://github.com/Minecolonies/minecolonies/files/1751433/crash-201

[2018-02-21 14:13] Faenum opened #2248 "1.12.2 builder not using blocks from builders hut storage"
### Minecolonies version

version 0.8.7210

### Expected behavior

Builder should take blocks from hut inventory

### Actual behaviour

Builder stands at hut asking for next block to build with

### Steps to reproduce the problem

Ask builder to build something.

[2018-02-21 14:57] marchermans commented on #2248
Update to a newer version. Either alpha or release.

[2018-02-21 14:57] #2248 closed, assigned to nobody

[2018-02-21 16:36] Faenum opened #2249 "1.12.2 you need to be close to your town hall"
### Minecolonies version

version 0.8.7608

### Expected behavior

To be able to build a builders hut right next to the town hall

### Actual behaviour

You need to be closer to your town hall message, i cant build a town hall without a builder, but i cant build a builder because of this.

### Steps to reproduce the issue

Place town hall, try to place builders hut

[2018-02-21 16:49] Raycoms commented on #2249
Working on that right now.
Can you send us your log in a gist?

2018-02-21 16:36 GMT+00:00 Faenum <notifications@github.com>:

[2018-02-21 17:08] Faenum commented on #2249
I'm not familiar with how to send it as a gist, never done it before.

[2018-02-21 17:10] Raycoms commented on #2249
Just copy it in here: https://gist.github.com/

[2018-02-21 17:22] Faenum commented on #2249
here you go
https://gist.github.com/Faenum/4826a1e9902b7091e4ab9f37591b04f7

[2018-02-21 17:39] Raycoms commented on #2249
That doesn't help me a lot, it only has the startup data. Do you have
anything else?
you should be getting this here in the log:
chunk has colonies: [0] if no colony and chunk has colonies: [1] if colony

2018-02-21 17:22 GMT+00:00 Faenum <notifications@github.com>:

[2018-02-21 17:48] Faenum commented on #2249
ive found this if its helpful#
[17:43:22] [Server thread/INFO]: chunk has colonies: []
[17:43:33] [Server thread/INFO]: chunk has colonies: []
[17:43:35] [Server thread/INFO]: chunk has colonies: []
[17:44:05] [Server thread/INFO]: chunk has colonies: []
[17:44:08] [Server thread/INFO]: chunk has colonies: []
[17:44:13] [Server thread/INFO]: chunk has colonies: []
[17:44:14] [Server thread/INFO]:

[2018-02-21 17:51] DjTylerD commented on #2249
hello Faenum was faster than me, the time to retest on a new solo map.
all huts can be built on the chunk of the block townhall.
i try to change the new townHallPaddingChunk configuration, but it changes nothing.
return to minecolonies-universal-1.12.2-0.8.7594 the bug disappeared

**Minecolonies version:**
minecolonies-universal-1.12.2-0.8.7608
forge1.12.2-14.23.1.2555
OptiFine_1.12.2_HD_U_C8
no

[2018-02-21 17:53] Raycoms commented on #2249
Can you check in the world - minecolonies - chunkinfo folder?

2018-02-21 17:48 GMT+00:00 Faenum <notifications@github.com>:

[2018-02-21 17:55] Faenum commented on #2249
this is a new map im trying to use it on, in single player, ive tried putting down a couple of buildings right next to the town hall and its giving me that error.
there are several files in my chunkinfo folder

[2018-02-21 17:57] Raycoms commented on #2249
Can you make a screenshot of those files, and, are you using windows?

2018-02-21 17:55 GMT+00:00 Faenum <notifications@github.com>:

[2018-02-21 18:01] Raycoms commented on #2249
Found the issue, pushing a fix

2018-02-21 17:57 GMT+00:00 Ray Neiheiser <ray.neiheiser@gmail.com>:

[2018-02-21 18:02] Faenum commented on #2249
yep, windows 10.

[2018-02-21 18:02] Faenum commented on #2249
sweet thanks

[2018-02-21 18:27] DjTylerD commented on #2249
minecolonies-universal-1.12.2-0.8.7611.jar
always the same problem
in save / test mine / minecolonies / chunkInfo
I have 35 files from -0 to -27 all empty and without extension (.txt or .dat, ect ...)

[2018-02-21 18:29] Faenum commented on #2249
What version number will that be please?

[2018-02-21 18:30] Raycoms commented on #2249
7611

2018-02-21 18:29 GMT+00:00 Faenum <notifications@github.com>:

[2018-02-21 18:44] Faenum commented on #2249
Ive updated and still getting the same issue, do i need to start a new world for it to work?

[2018-02-21 19:00] Faenum commented on #2249
Tried it on a new map, still got the same problem

[2018-02-21 19:00] Raycoms commented on #2249
Yeah try *7613*

2018-02-21 19:00 GMT+00:00 Faenum <notifications@github.com>:

[2018-02-21 19:00] Faenum commented on #2249
Ok thanks

[2018-02-21 19:15] Faenum commented on #2249
Still not working, getting same issue.

[2018-02-21 19:16] Raycoms commented on #2249
Even in a new world?

[2018-02-21 19:18] DjTylerD commented on #2249
note 7613
still same problem, but on a new map it works thanks to the name change of chunk-0 to chunk-0_0_0 folder

on my game map i try / mc colonies rsResetAll or clear the files i games not trying to rewrite files

[2018-02-21 19:19] Raycoms commented on #2249
you can try to rename those files to _ _ _ of the right chunk locations to
fix old worlds.

2018-02-21 19:18 GMT+00:00 DjTylerD <notifications@github.com>:

[2018-02-21 19:20] Faenum commented on #2249
Ok its working in a new world.

[2018-02-21 19:32] DjTylerD commented on #2249
@Raycoms
the problem has become chunk file, on the new map, there is chunk-0_1_0, chunk-1_0_0 ect ....
just to load map, ask townhall and try hut builder
I have 1089 files (I miss it)

[2018-02-21 19:35] Raycoms commented on #2249
what you can do is: run /mc backup then /mc colony delete 1, then wait a
bit, log off, log on, walk until each side of the border.
Then place the townhall at exact the same spot.
Then log off, and replace the backed up colonyX.dat with the new one.

[2018-02-21 19:41] DjTylerD commented on #2249
@Raycoms I will test
but good for me it's not serious what are the test maps
to help you because I'm thinking about the other player
(I have my server in stanbye since minecraft 1.11.2, following all the modif commandblock 1.12 and soon 1.13)

[2018-02-21 19:44] Raycoms commented on #2249
Fortunately, this is the alpha version so bugs are to be expected if you
always download the latest.
If you want a stable one check if the last one introduced any fundamental
changes and don't get it if it does.

2018-02-21 19:41 GMT+00:00 DjTylerD <notifications@github.com>:

[2018-02-21 19:49] DjTylerD commented on #2249
lol, I did not know the news
/ mc colony delete 1 destroyed all buildings

[2018-02-21 19:51] Raycoms commented on #2249
Oh shoot, it would be /mc colony delete 1 false to not destroy them.

2018-02-21 19:49 GMT+00:00 DjTylerD <notifications@github.com>:

[2018-02-21 20:16] DjTylerD commented on #2249
good test finished, my last save map date 19-02
so without going through the day's bug
with my save no bug and I have no file in chunkinfo

[2018-02-22 01:52] CashMaster opened #2250 "Can't do any thing"
### Minecolonies version

0.8.7613

### Expected behavior

Placing supply ship and building chests/huts

### Actual behaviour

Whenever I try to place the supply ship it says it must be in a fitting pool of water (When it is) and when I try to place a supply camp it says I can't make it near an existing colony (When I don't have any). I also can't craft any thing like builders huts, citizen huts e

[2018-02-22 11:07] Faenum opened #2251 "1.12.2 crash when clicking upgrade building on citizen hut level 4"
### Minecolonies version

version 0.8.7613

### Expected behavior

not to crash when upgrading building

### Actual behavior

client crashes when clicking upgrade on citizen hut 4

crash report: https://gist.github.com/Faenum/d21b2a5163d2483206d0f098b38ceb2a

### Steps to reproduce the problem

[2018-02-22 11:36] Faenum commented on #2251
Tested on a second hut, same problem, upgraded to level 4 then crashes on next upgrade

[2018-02-22 13:02] Raycoms commented on #2250
@mkienenb

[2018-02-22 13:03] #2249 closed, assigned to nobody

[2018-02-22 13:03] Raycoms commented on #2244
You don't need the build tool, the supplycamp already opens the GUI now.

[2018-02-22 13:03] #2244 closed, assigned to nobody

[2018-02-22 13:03] #2232 closed, assigned to nobody

[2018-02-22 13:44] Misunderstood-Wookiee opened #2252 "NullPointerException: With Citizens trying to do thier jobs. (AiTasks) (not schematic related)"
### Version Info
**Forge** `v14.23.2.2611`
**Minecolonies** `1.12.2-0.8.7613`

### Expected behaviour

- _I actually do not know if this is normal or not_, this error has happened only after installed the latest alpha however it pauses the baker work order.

### Actual behaviour
`Action for target com.minecolonies.coremod.entity.ai.util.AITarget@4aca7725 threw an exception` -
`[23:56:19] [Server t

[2018-02-22 23:00] Sandriell commented on #2196
Immersive Engineering puts an NBT flag on items while they are on conveyor belts- "PreventRemoteMovement". It is designed to prevents magnets from interacting with the items, but could easily be used in this case as well.

[2018-02-22 23:10] mkienenb commented on #2250
@Raycoms  Looks like you found the reason (wasn't me!) the colony error was showing up and already fixed it.
My changes only affected the supply camp and not the supply ship so not sure what's going on with that either.

[2018-02-22 23:11] Raycoms commented on #2250
yeah fixed it =D

[2018-02-22 23:11] #2250 closed, assigned to nobody

[2018-02-22 23:13] mkienenb commented on #2250
If the changes I made to supply-camp were applied to supply-ship, that would probably have revealed that the supply ship error was also the same colony error and not a water block issue.

[2018-02-23 00:15] Sandriell opened #2254 "[1.12.2] [0.8.7620] Console/Log Spam: [minecolonies]: chunk has colonies"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7620

### Expected behavior

Not spamming the log

### Actual behaviour

Getting the following spammed in the log (I assume as chucks are loaded):

`6:54:24 PM CONSOLE: thread/INFO] [minecolonies]: chunk has colonies: [1]`
`6:54:26 PM CONSOLE: thread/INFO] [minecolonies]: chunk has colonies: [1]`
`6:54:35 PM CONSOLE: thread/INFO] [minecol

[2018-02-23 00:23] Raycoms commented on #2254
Currently added to debug the new feature, will be removed soon.

2018-02-23 0:15 GMT+00:00 Sandriell <notifications@github.com>:

[2018-02-23 00:44] PoroUsedSnax commented on #2251
Would this happen to be related to the Medieval Oak level 4 -> level 5? If so, we recently had a fix for it from the creator and should have it in the mod soon.

[2018-02-23 03:59] MaiyrCordeth opened #2255 "cant place builder hut even when im still close to the town hall"
### Minecolonies version

version 1.12.2-0.8.7620

### Expected behavior

placing builder hut should let me place it

### Actual behaviour

says i am too far from my town hall even though I'm only 6-10 blocks away

### Steps to reproduce the problem

1. place builder hut
2. ZYX
3. ...
4. Profit

I changed

        # Colony size (radius in chunks around central colony chunk)
        I:workingRangeT

[2018-02-23 08:24] Faenum commented on #2251
Yes, thats the one. Brill, thanks.

[2018-02-23 11:18] MattBeard opened #2256 "[enhancement] Deliveryman does simple crafting"
If you teach the deliveryman crafting recipes he doesn't seem to use them, however it would be ideal to be able to use this as a simple way to handle common simple recipes. For example oak wood to oak planks. Then any worker that wants planks can just ask for a delivery and the deliveryman will collect wood from the warehouse and deliver planks.

[2018-02-23 12:09] hron84 commented on #2244
@Raycoms maybe I did not described correctly my issue.

Supply Camp item opens the GUI, but there is a little difference, how it works. If you place a building with a building tool, you can exit the GUI, check the placement (Supply camp is a little bit big structure with strict requirements, so I usually want to double-check it) and return to the GUI to confirm the building. If you try to place  a

[2018-02-23 20:42] Lakstar opened #2257 "Minecraft crashes when I place a Town Hall Block, help pls"
Minecolonies version

version 1.12.2-0.8.4191 or forge 14.23.2.2619

Expected behavior

- Town Hall block is placed and game keeps running

Actual behaviour

- Game Crashes

Steps to reproduce the problem

1. Start Minecraft
2. Start World
3. Create Supplyboat and get town hall block / go to creative and get town hall block
4. Place it and game crashes
5. Profit

[2018-02-23 20:42] Raycoms commented on #2257
Please update your version, you're 3000 builds behind =)

[2018-02-23 20:42] #2257 closed, assigned to nobody

[2018-02-23 23:54] carlansor commented on #2251
Yeah fix is ready, will be included in next alpha

[2018-02-23 23:57] carlansor commented on #2205
I can confirm this issue persist on latest alpha, also happening with medieval oak

[2018-02-24 01:10] Bihlbo commented on #2232
That worked. But oh expletives, is it disheartening to lose a colony.

[2018-02-24 10:01] Sandriell opened #2258 "[1.12.2] [0.8.7620] Builder only takes single item after request being fufilled"
### Minecolonies version

0.8.7620

### Expected behavior

After requesting a stack(s) of items the builder will pick up the entire stack(s).

### Actual behaviour

When the builder request something and it is fulfilled by a delivery person, the builder will only take a single item, walk all the way out to the job site, place the single item, then go back and pick the rest of the items. This happe

[2018-02-24 15:19] marchermans commented on #2258
Yes it is a known bug and being worked on.

[2018-02-24 17:42] carlansor opened #2259 "Colony deleted without reason and crash when placing TownHall"
Minecolonies version

version 1.12.2-0.8.7620 and forge 1.12.2 - 14.23.2.2619

I log into a world with just one colony, but it seems that the colony doesnt exist anymore. Relogging doesnt help. Looking for it with /mc colonies list doesnt show anything. Also, when placing other townhall the game crashed. Here is the crash log:
[crash-2018-02-24_13.05.54-server.txt](https://github.com/Minecolonies/

[2018-02-24 18:12] Raycoms commented on #2259
Wow this is weird, it seems like you removed a mod which messed up the
colonies (probably adds ores/saplings)

2018-02-24 17:42 GMT+00:00 carlansor <notifications@github.com>:

[2018-02-24 18:29] Raycoms commented on #2256
Yeah, we will have special workers for this, it doesn't make a lot of sense to have a deliveryman craft things.

[2018-02-24 18:29] #2256 closed, assigned to nobody

[2018-02-24 19:06] Raycoms commented on #2255
Just walk around a bit or relog.

[2018-02-24 19:06] #2255 closed, assigned to nobody

[2018-02-24 19:10] Raycoms commented on #2233
Should be fixed in the newest version. If it happens please recall them in the townhall

[2018-02-24 19:10] #2233 closed, assigned to nobody

[2018-02-24 19:10] #2230 closed, assigned to nobody

[2018-02-24 19:10] Raycoms commented on #2228
Please report if it hppens again.

[2018-02-24 19:10] #2228 closed, assigned to nobody

[2018-02-24 19:11] Raycoms commented on #2197
Should be fixed in the newest version.

[2018-02-24 19:11] #2197 closed, assigned to Raycoms

[2018-02-24 19:13] Raycoms commented on #2184
Fixed already

[2018-02-24 19:13] #2184 closed, assigned to nobody

[2018-02-24 19:13] Raycoms commented on #2169
Should be fixed

[2018-02-24 19:13] #2169 closed, assigned to mkienenb

[2018-02-24 19:42] carlansor commented on #2259
I didnt have any mods that add trees or ores. Worldedit, worldedit cui, dynamic sorroundings and worldsutil. I didnt change anything in the save folder either

[2018-02-24 19:43] Raycoms commented on #2259
Weird, then a crash or something else must've corrupted the world, the
problem is that the colonies.dat seems to have invalid data caused by some
strange event.

2018-02-24 19:42 GMT+00:00 carlansor <notifications@github.com>:

[2018-02-24 19:56] alcheya commented on #2259
Same thing happened to me a bit ago. You can restore your colony from a backup. (colony#.dat) Happened when I updated the mod.

[2018-02-24 19:56] carlansor commented on #2259
The world was fine until i tried to put a townhall. Well time to ditch another test world

[2018-02-24 19:58] Wissi opened #2261 "[Security Feature] Check for overworld placement of TH, Supply Ship/Camp."
Make a "check" function to determine if the Supply Ship/Camp, Town Hall are being placed in the "Overworld".
If not then deny placement and sent message: "You can only place this in the Overworld dimension".
Also have an option to turn this check ON/OFF in Config (for future use on other dimensions and server owners control).

[2018-02-24 20:00] alcheya opened #2262 "Crashing constantly."
### Minecolonies version

version 0.8.7620

### Expected behavior

- Not to crash

### Actual behaviour

- Constantly crashing with Minecolonies spam in the crash-report

### Steps to reproduce the problem

1. Turn on the game
2. Crash
3. The end
-----------------------------

Should note, I notice OpenMods also in the log, so if it's that one, please let me know so I can post it there or update t

[2018-02-24 20:13] alcheya commented on #2262
The nonstop crashes broke my world. I ended up losing a couple chunks (specifically with my mob grinder in it) and restored them with MC edit.. It was fine, but still crashing.. Now I logged back in and the entire area where my house (and colony was) is regenerated, erasing all my progress from the last 2 weeks.

[2018-02-24 20:36] Wissi commented on #2262
Try removing/changing Foamfix to see if it helps?
```Remove FoamFixAPI (or replace with FoamFixAPI-Lawful) and try again. (FoamFix-1.12.2-0.8.4-Anarchy.jar)```

[2018-02-24 20:40] Wissi commented on #2262
For the Colony you can restore it from a backup.
1.- Stop serer, go to world folder on server and inside there is "minecolonies" folder.
     ``` /world/minecolonies/```
2.- Rename/remove colonies.dat and replace with a backup version. backups are timestamped, so whichever you decide jsut rename it to colonies.dat
3.- Start server.

[2018-02-24 21:13] alcheya commented on #2262
Yea, I rolled back to a previous save. Colony disappeared again, so I replaced colony1.dat with an older backup and it worked. I'll remove Foamfix on my next crash, should be soon.

[2018-02-24 22:36] alcheya commented on #2262
Don't want to jinx it, but it definitely feels much better. No lag spikes/jitters like I was getting and hasn't shut down yet. Foamfix might have been the issue.

[2018-02-24 23:31] GanthorPrime commented on #2173
Can confirm this this too. I notice to much cobblestone in the warehouse, and the miners always waiting for dirt from the dmans

[2018-02-25 01:14] Wissi commented on #2262
If no further comment, then it was Foamfix and we close this issue now.

[2018-02-25 01:25] DylanSkokan opened #2263 "Crash getting worse"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7508 or curse X.X.XX

### Expected behavior

- Game runs

### Actual behaviour

- Game crashes with this crash log. I used to be able to play on this world fine but the time I could play got shorter and shorter until it crashes about a second into loading the world.

---- Minecraft Crash Report ----

WARNING: coremods are present:
  CTMCo

[2018-02-25 01:35] alcheya commented on #2262
It just crashed again. It was the longest it's lasted though.

[crash-2018-02-24_20.34.07-server.txt](https://github.com/Minecolonies/minecolonies/files/1755533/crash-2018-02-24_20.34.07-server.txt)

[2018-02-25 01:37] Raycoms commented on #2262
It's weird, we just got another report as well, I will check this again
tomorrow, are you running the latest alpha?

2018-02-25 1:35 GMT+00:00 Alcheya <notifications@github.com>:

[2018-02-25 02:02] alcheya commented on #2262
Yes, but the earlier 2 crashes I believe were both earlier versions.

[2018-02-25 12:05] marchermans commented on #2263
Is this a dedicated server? or Singleplayer / LAN World?

[2018-02-25 12:06] marchermans commented on #2262
Is this on a dedicated server or on singleplayer?

[2018-02-25 13:11] alcheya commented on #2262
Singleplayer, ATM3 pack

[2018-02-25 13:16] #2196 closed, assigned to Raycoms

[2018-02-25 13:16] #2251 closed, assigned to Raycoms

[2018-02-25 13:16] #2252 closed, assigned to Raycoms

[2018-02-25 13:16] #2261 closed, assigned to nobody

[2018-02-25 14:29] marchermans commented on #2262
Okey Thanks.

[2018-02-25 14:37] marchermans commented on #2262
Okey that explains a bit.
@Raycoms you will need to rewrite the your recipe manager implementation to NOT use a freaking static recipe map.

Of course that throws an CME, when the client tries to modify it due to syncing.

[2018-02-25 14:43] DylanSkokan commented on #2263
@OrionDevelopment This is a singleplayer world. I thought singleplayer worlds were run kind of like a server now anyways?

[2018-02-25 15:22] Justen-N commented on #2263
All video games run on a server/client model. However, how something works
in multiplayer may be completely different from single player.

On Sun, Feb 25, 2018 at 7:43 AM, furbiedad <notifications@github.com> wrote:

[2018-02-25 15:48] #2263 closed, assigned to Raycoms

[2018-02-25 17:00] lunadragnstar opened #2265 "Builders get stuck building barrack towers"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7582 (Twitch Minecolonies Official)

### Expected behavior

- Builders should return to the hut after finishing build/upgrade

### Actual behaviour

- Builders get stuck on catwalk and can't seem to get down.

### Steps to reproduce the problem

1. Build the barracks
2. Build to barrack towers
3. When the builders finish all 4 towers, the

[2018-02-25 17:11] lunadragnstar opened #2266 "Can't build builder hut in any of the medieval or dark oak style."
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7582

### Expected behavior

- Builder builds hut

### Actual behaviour

- Builder removes blocks but then just stands there and doesn't build.

### Steps to reproduce the problem

1. Place builder hut
2. Click build building

[2018-02-25 19:36] MrSkittlesROTR opened #2267 "Builder stutter when constructing town hall, player distance required."
### Minecolonies version

version minecolonies-universal-1.12.2-0.8.7620

### Expected behavior

- builder pathfinding when constructing town hall

### Actual behaviour

- builder slows down in movement, block place and block break. stuttering to move if outside of 10 blocks distance from a player when constructing the town hall.
- issue didnt happen with construction of builders hut.

### Steps t

[2018-02-25 19:39] Raycoms commented on #2267
Are you on a sponge server?

[2018-02-25 19:41] MrSkittlesROTR commented on #2267
yes
[https://www.youtube.com/watch?v=gGDr1LFb3h8](url)
sry quality's shocking but this is the problem.

[2018-02-25 19:49] Raycoms commented on #2267
You need to update the entity activation range there, that's why they
stutter

2018-02-25 19:41 GMT+00:00 MrSkittlesROTR <notifications@github.com>:

[2018-02-25 20:05] MrSkittlesROTR commented on #2267
that worked thank you, sorry for the hassle.

[2018-02-25 20:05] #2267 closed, assigned to nobody

[2018-02-25 22:59] lunadragnstar commented on #2266
I was able to get the Dark Oak to work using 7620

[2018-02-25 23:07] Raycoms commented on #2266
We updated a few of the structure in the last update, all still not working?

2018-02-25 22:59 GMT+00:00 lunadragnstar <notifications@github.com>:

[2018-02-26 00:33] Wissi commented on #286
I think the Mechanics and details could be:
Gate block: (porticullis) can have a setting for:
1.- a slot to place the block that will be used (as well as the amount required).
2.- a selectable "Width" and "Height" for the gate.
3.- a toggleable auto open/close for players.
4.- a config option to specify the max width/height and list the allowable blocks to use for the gate (allowing other modded b

[2018-02-26 00:49] Raycoms commented on #286
Nahh too much work, too complex. you will see how I am coding it, way
easier to make, configure and use =D

2018-02-26 0:33 GMT+00:00 Wissi <notifications@github.com>:

[2018-02-26 04:20] lunadragnstar commented on #2266
I just downloaded the newest alpha, I'll test it out.

[2018-02-26 04:42] lunadragnstar commented on #2266
I'm an idiot, I figured out why it wasn't working. I was trying to build on the superflat world and there are basements to these buildings so the builders didn't know how to proceed.

[2018-02-26 04:42] #2266 closed, assigned to nobody

[2018-02-26 05:34] alcheya commented on #2262
This was marked as fixed. Was it supposed to be fixed with the latest alpha or is this a new crash?
[crash-2018-02-26_00.23.54-server.txt](https://github.com/Minecolonies/minecolonies/files/1757326/crash-2018-02-26_00.23.54-server.txt)
[crash-2018-02-26_00.30.40-server.txt](https://github.com/Minecolonies/minecolonies/files/1757327/crash-2018-02-26_00.30.40-server.txt)

[2018-02-26 05:37] Justen-N commented on #2262
It should have been fixed, however, it looks like it wasn't. @Raycoms, I've reopened this issue.

[2018-02-26 05:40] Justen-N commented on #2262
Also, @alcheya, we don't say a closed issue is fixed, it simply means we have addressed it. If the error persists, please reopen the issue. Pretty much what you did, but with an extra step.

[2018-02-26 05:47] lunadragnstar opened #2268 "Game crashes when upgrading builder from lvl 3 to 4"
### Minecolonies version

7637 (alpha)

### Expected behavior

- Upgrade

### Actual behaviour

- crash
[crash-2018-02-26_00.45.03-client.txt](https://github.com/Minecolonies/minecolonies/files/1757349/crash-2018-02-26_00.45.03-client.txt)
[crash-2018-02-26_00.13.30-client.txt](https://github.com/Minecolonies/minecolonies/files/1757350/crash-2018-02-26_00.13.30-client.txt)

### Steps to reproduce

[2018-02-26 05:53] Justen-N commented on #2268
This looks like a compatibility issue with Malisis doors/core

On Feb 25, 2018 10:47 PM, "lunadragnstar" <notifications@github.com> wrote:

[2018-02-26 06:20] alcheya commented on #2262
Thanks, sorry.

[2018-02-26 11:03] CorruptShade opened #2269 "Townhall Placement Issue in 1.12.2"
Minecolonies version : minecolonies-universal-1.12.2-0.8.7637.jar

Expected behavior
When you place down a town hall, construction tape is usually placed down as well. Also able to right click it to make a build request.

Actual behavior
After placing townhall, minecraft stops. All entities(like sheep or cows) stop moving; unable to right-click the townhall; pressing ESC to save and exit crashes t

[2018-02-26 12:44] lebanni opened #2270 "Question : is it possible to have guards use modded swords ?"
Citizens can use modded tools (Mekanism, Industrial Craft, Thermal Foundation, etc). Why can't the guards use modded swords ?

[2018-02-26 12:46] Raycoms commented on #2269
What is the colony size in chunks in your config file? Does minecraft run on an ssd?

[2018-02-26 12:46] Raycoms commented on #2270
Actually citizens can use modded tools if those implement the minecraft "weapon class" or they are tinker weapons.

[2018-02-26 14:29] CorruptShade commented on #2269
I have the colony size set to 2000. Minecraft doesn't run on an SSD.

[2018-02-26 14:49] Raycoms commented on #2269
That's the issue, 2000 blocks is a huge range, and it currently has to
write all the files to disk so he is unable to do it, try to restrict the
chunk range to 20, that's still huge and should fit your needs easily.

2018-02-26 14:29 GMT+00:00 CorruptShade <notifications@github.com>:

[2018-02-26 14:58] CorruptShade commented on #2269
okay thx man

[2018-02-26 15:11] CorruptShade commented on #2269
this issue still persists

[2018-02-26 15:16] CorruptShade commented on #2269
[minecolonies.zip](https://github.com/Minecolonies/minecolonies/files/1759143/minecolonies.zip)
 Here's my config file. If any changes are required, please make them and send it back to me

[2018-02-26 15:31] Raycoms commented on #2269
# Colony size (radius in chunks around central colony chunk)
        I:workingRangeTownHallChunks=20

I don't know exactly how it behaves on a normal HD, you might have to play with this value until you reach the moment it only has a bad lag but works.

We're currently working on improving the performance for non SSD

[2018-02-26 15:31] CorruptShade commented on #2269
okay thanks
will check it out at 15 chunks

[2018-02-26 16:10] Brainslime1 opened #2271 "wont let me reload save"
when i try to get back into my save it stays at loading world and it started when i installed minecolonies

---- Minecraft Crash Report ----

WARNING: coremods are present:
  BookshelfLoadingPlugin (Bookshelf-1.10.2-1.4.4.347.jar)
  ShetiPhian-ASM (shetiphiancore-1.10.0-3.3.11.jar)
  CoFH Loading Plugin (CoFHCore-1.10.2-4.1.12.17-universal.jar)
  MicdoodlePlugin (MicdoodleCore-1.10.2-4.0.1.134.jar

[2018-02-26 16:15] Raycoms commented on #2271
Can you please report this to thaumcraft and tell them that there is an
issue saving and retrieving their blockstates from and to NBT using the
standard minecraft code.

2018-02-26 16:10 GMT+00:00 dylan <notifications@github.com>:

[2018-02-26 16:17] Brainslime1 commented on #2271
k

[2018-02-26 16:29] Raycoms commented on #2268
I reported it to Malisis, I think he will build a fix for this.

[2018-02-26 16:29] #2268 closed, assigned to nobody

[2018-02-26 20:09] MrSkittlesROTR opened #2272 "Cant go threw some doors."
### Minecolonies version

version minecolonies-universal-1.12.2-0.8.7620

### Expected behavior

- open and enter a door.

### Actual behaviour

- player gets stuck on door can only enter or exit if npc shuts the door on them while they are trying to pass threw, on breaking problem door it displays as half a door.
Problem is on builder hut level 2 main door and one of the doors inside the level 2

[2018-02-26 20:10] Raycoms commented on #2272
That's because you're opening a door you are not allowed to open because of colony protection.
So the door opens on client but not on the server. just relog to check.

[2018-02-26 20:10] #2272 closed, assigned to nobody

[2018-02-26 20:12] MrSkittlesROTR commented on #2272
reloged several times, its been doing it for past 2 days, other players have the same issue.

[2018-02-26 20:13] Raycoms commented on #2272
That should only happen in other peoples colonies where you don't have the perms to open them.

[2018-02-26 20:14] MrSkittlesROTR commented on #2272
im the colony owner, other player is set to officer in the town hall.
its only 2 of the doors doing it out of 6 in the colony so far.

[2018-02-26 20:20] Raycoms commented on #2272
Hmm, I'd say that this is not related to minecolonies then.

2018-02-26 20:15 GMT+00:00 MrSkittlesROTR <notifications@github.com>:

[2018-02-26 20:21] Raycoms commented on #2272
Do you have any door mods installed which could cause this?
We don'T do anything with doors besides blocking access if it is not your
colony.

2018-02-26 20:20 GMT+00:00 MrSkittlesROTR <notifications@github.com>:

[2018-02-26 20:27] MrSkittlesROTR commented on #2272
buildcraft + modules
lukyperms
thut essentials
worldedit
generators
irontank
just enough items
journymap
reptilemod
tinkerers construct
minecolonies
gravestones

sponge, bungiecord(waterfall)

none of them effect doors.

[2018-02-26 20:38] Raycoms commented on #2272
weird, minecolonies shouldn't interfere either. it seems like a cleint
server disconnect

2018-02-26 20:27 GMT+00:00 MrSkittlesROTR <notifications@github.com>:

[2018-02-26 20:41] MrSkittlesROTR commented on #2272
could it be an issue with useing bungiecord?

[2018-02-26 22:22] Raycoms commented on #2272
Shouldn't be. Not sure, thur essentials might be causing it as well.

[2018-02-27 07:01] CorruptShade commented on #2269
It may be interesting for you to note, that even if I set the initial colony size to 5 chunks, I change it later to whatever I like

[2018-02-27 07:01] #2269 closed, assigned to nobody

[2018-02-27 14:54] TheCaliban opened #2273 "Wooden smeltery lvl 4 despawn builders"
### Minecolonies version

minecolonies-universal-1.11.2-0.8.7585

### Expected behavior

- Build the level 4 of Wooden Smeltery

### Actual behaviour

- Despawn all builders and when the build resquest is created
- Need tu use the command /mc citizens respawn
- Don't start the upgrade

### Steps to reproduce the problem

1. Have 1 or more builder
2. Have a level 3 wooden smeltery
3. Start the leve

[2018-02-27 15:00] Raycoms commented on #2273
Can you send us the log?

2018-02-27 14:54 GMT+00:00 TheCaliban <notifications@github.com>:

[2018-02-27 16:17] TheCaliban commented on #2273
I have selected the part of the log that I think is interesting.
[crash_minecolonies.txt](https://github.com/Minecolonies/minecolonies/files/1763696/crash_minecolonies.txt)

[2018-02-27 16:27] MrSkittlesROTR commented on #2272
update: fixed it
Buildings hight was 1 block lower down than the surrounding terrain.
removeing a cupple of rows of blocks around the edges of the buildings so the surrounding terrain was the same hight as the building itself fixed the door passage error.

[2018-02-27 21:29] Maescool commented on #2188
I've got the exact same bug, multiplayer in this case, but on client side, on server side no error, just player connecting and disconnecting

[2018-02-27 22:33] Maescool commented on #2188
Bug present in minecolonies-universal-1.12.2-0.8.7582
Fixed in minecolonies-universal-1.12.2-0.8.7637

[2018-02-27 23:07] Sandriell opened #2274 "[1.12.2] [0.8.7637] Cook requests/receives random fuel; should prioritize coal/charcoal."
### Minecolonies version

0.8.7637

### Expected behavior

The the cook would prioritize requesting coal and charcoal first before anything else.

As I am writing this I am thinking this might actually be a dman problem instead?

### Actual behaviour

While having both coal and charcoal in my warehouse the cook requests/receives everything but that, consuming everything within the warehouse that i

[2018-02-28 00:24] Raycoms commented on #2274
For now this is intended behavior because in the current request system we can't check if the warehouse can resolve something, as soon as this is added we can add priorities as for recipes or fuel.
This is solved with another issue with "request system simulation"

[2018-02-28 00:24] #2274 closed, assigned to nobody

[2018-02-28 15:14] #2095 closed, assigned to nobody

[2018-02-28 21:06] Wissi opened #2276 "[Enhancement] Config option for circular or square Colony Protection."
Have an option in config file to keep using the existing circular town protection or use the square protection.
For existing servers currently using the circular and heavily populated.

[code]

[2018-02-28 23:16] marchermans commented on #2276
Sadly we will not be able to implement this feature.
The square colony radius and protection comes from the fact that it now depends on chunks to speed up calculation and detection of colonies.

[2018-02-28 23:16] #2276 closed, assigned to nobody

[2018-03-01 05:37] ouroborus opened #2277 "Cannot confirm actions from server console"
MineColonies 1.12.2-0.8.7551

Can't confirm commands using the server console. Confirmation appears to require the ability to click a provided link but server console doesn't render links, just text.

[2018-03-01 07:13] Sandriell opened #2278 "[Suggestion] Inventory Tweaks support for Racks"
I originally requested this from the Inventory Tweaks dev but it seems this is something that has to be supported on your end. I really like the racks and have used them outside of the hut builds for my own uses but the lack of Inventory Tweaks support is frustrating.

[2018-03-01 08:25] marchermans commented on #2278
Join our Discord and ask for the Minecolonies InvTweaks xml-file.
We sadly can not add this support directly from our code.

[2018-03-01 08:25] #2278 closed, assigned to nobody

[2018-03-01 08:29] marchermans commented on #2277
Sadly that is a limit of how mc's command system works.

There is not much we can do. We need contextual data for the confirmation to work properly and the only way to pass that between two command instance (delete request -> delete confirmation) is to use these links.

However these links execute commands as well. So when you execute for example your delete command in the console you can then run

[2018-03-01 08:29] #2277 closed, assigned to nobody

[2018-03-01 14:36] #286 closed

[2018-03-02 00:29] GMCJimmy opened #2279 "Stated Desire: I want to google my warehouse."
Doesn't need to be fancy or complicated. Just want track inventory for future planning.

[2018-03-02 04:59] Zygus42 opened #2281 "town hall crash on latest version"
minecolonies-universal-1.12.2-0.8.7686

Rightclick on town hall block = crash to desktop.

[crash-2018-03-02_12.54.49-client.txt](https://github.com/Minecolonies/minecolonies/files/1773765/crash-2018-03-02_12.54.49-client.txt)

[2018-03-02 13:27] lunadragnstar opened #2282 "Enhancement Suggestion: Allow for different blocks for designs, or a way to replace blocks after built"
### Minecolonies version

any

I would love to see a way to make all the designs, with different blocks. IE. Change the sandstone to regular stone, or wood or obsidian. (during or after build. I like some of the designs, but want them in different blocks.

[2018-03-02 15:51] kkbearxo commented on #2198
I'm having the same issue with the lumberjack just standing there searching for trees.
Mine is smack in the middle of a forest within colony limits. Mine doesn't even move.
The saplings are enabled in her block and she has an axe, saplings, and food.. everything she needs.
Mine has been like this for at least 10 updates, I've been waiting and hoping that one of these updates would just fix it but

[2018-03-02 16:14] Raycoms commented on #2198
Does she have all saplings enabled?

2018-03-02 15:51 GMT+00:00 kkbearxo <notifications@github.com>:

[2018-03-02 19:41] matthijsthoolen commented on #2281
Confirmed, same error here

[2018-03-02 19:41] Raycoms commented on #2281
Fix pushed.

[2018-03-02 19:41] #2281 closed, assigned to nobody

[2018-03-02 21:16] robbcrg opened #2283 "MC 7686 crashes on upgrading Town Hall, regress to 7637 and it proceeded (same world)"
### Minecolonies version

version X.X.XXXX or curse X.X.XX
minecolonies-universal-1.12.2-0.8.7686

### Expected behavior

- Does NOT crash when upgrading town Tall L2 to L3. Birch Medieval.

### Actual behavior

- Crashes

Thread: Client thread
Java.lang.NullPointerException: Unexpected error
	at com.minecolonies.coremod.client.gui.WindowTownHall$8.updateElement(WindowTownHall.java:850)

### Steps

[2018-03-02 23:13] copperwarrior commented on #2283
Please update to the latest alpha, there has been a hotfix pushed to fix this error.

[2018-03-03 01:16] kkbearxo commented on #2198
Yes she has all saplings enabled.
I've tried disabling them, getting out of her lumbermill block, then enabling them again.
I've tried hiring and rehiring.
I've tried upgrading lumbermill

[2018-03-03 02:06] mackenziemay opened #2284 "Builders stop building/freeze"
### Minecolonies version

version 1.12.2-08.7582

### Expected behavior

- build anything thing

### Actual behaviour

- frozen in one spot not moving or asking for anything

[2018-03-03 02:06] copperwarrior commented on #2284
Please update to the latest alpha and see if the issue persists

[2018-03-03 02:07] mackenziemay commented on #2284
where do I find that?

[2018-03-03 02:09] copperwarrior commented on #2284
https://minecraft.curseforge.com/projects/minecolonies

[2018-03-03 02:39] #2283 closed, assigned to nobody

[2018-03-03 03:45] mackenziemay commented on #2284
thank you!

[2018-03-03 06:34] robbcrg commented on #2283
Confirmed: As a test I restored my prior world that crashed, updated the MC to (minecolonies-universal-1.12.2-0.8.7688) and everything worked.

Thank you

[2018-03-04 06:03] merdinarchfire opened #2285 "[Feature Request] Herders breed Animania Animals"
### Minecolonies version

version 1.2.12

### Expected behavior

- Breeding Animania Cows check for male female.

### Actual behaviour

- Kills off Cows to only have 2 cows.

### Config Request

- I haven't seen an option for this, but it would be great if there was a config to change how many animals the herders keep alive. Or have them check for Male and Female when using Animania.
- The issue i

[2018-03-04 06:54] Asherslab commented on #2285
Sadly i cannot add support for Animania without some serious changes, This does seem to be something i'd like to do in the future when i have the time though.

[2018-03-05 07:02] Degsdegsdegs opened #2288 "Female colonist voice file playback speed."
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7582

### Expected behavior

- Female colonist not sounding on the verge of tears.

### Actual behaviour

- Female colonist sounds on the verge of tears.  Seriously, though, it sounds like the sound file was stretched or modulated or is playing back at a slower-than-intended speed.

### Steps to reproduce the problem

1. Walk up to female

[2018-03-05 11:49] Fireruner opened #2289 "[SUGGESTION] New NPC Crafter"
Crafter

A new type of NPC that recieves the requirements of constructors or any other NPC, and then asks for prime materials to craft the ones that needs crafting. Then, the delivery man attends the requirements of prime materials so he can craft, and let them to the delivery man to get them where they are needed.

Also, he should calculate the precrafts needed. For example, for an axe, you need

[2018-03-05 11:51] marchermans commented on #2289
This is in the works and on holt until I am done with exams at the end of the week.

[2018-03-05 12:29] Raycoms commented on #2289
There is an issue for that already as well.

@Fireruner We'd be glad to have you in hour team, we have a bunch of tasks open to be solved =)

[2018-03-05 12:29] #2289 closed, assigned to nobody

[2018-03-05 12:29] Raycoms commented on #2289
If you send me your email I can invite you to our dev chat

[2018-03-05 15:20] ErdbeerbaerLP opened #2290 "[1.10.2] Log Spam"
### Minecolonies version

version 0.9.7587

![unbenannt](https://user-images.githubusercontent.com/27149563/36982679-b500c332-2090-11e8-8c88-272a409f491b.png)
Isn´t that a bit too much of the following:
[code]

[2018-03-05 15:26] Raycoms commented on #2290
did you turn debug logging on on?

2018-03-05 15:20 GMT+00:00 ErdbeerbaerLP <notifications@github.com>:

[2018-03-05 15:30] ErdbeerbaerLP commented on #2290
# Should the request system print out debug information? Useful in case of malfunctioning of set system.
    B:enableDebugLogging=false

[2018-03-05 15:32] Raycoms commented on #2290
The newest alpha should have fixed that

2018-03-05 15:30 GMT+00:00 ErdbeerbaerLP <notifications@github.com>:

[2018-03-05 15:36] ErdbeerbaerLP commented on #2290
that seems to be the newest. at least for me
![image](https://user-images.githubusercontent.com/27149563/37041957-b092edf2-215d-11e8-9cf5-5cb9c97d1453.png)

[2018-03-05 15:58] Fireruner commented on #2289
Nice! It would be a pleasure! Where can I send it to you safelly? :D

[2018-03-05 16:19] collwee opened #2291 "cannot bulid Bakery Medieval DarkOak Level 5 because of wrong type of stonebrick in the schematic"
### Minecolonies version

version 0.8.7688

### Actual behaviour

- in the schematic Bakery Medieval DarkOak Level 5 some of (Stone Brick) block are (Stone Brick Monster Egg) and because of that you cannot build it

### Steps to reproduce the problem

- try to upgrade level 4 darkoak bakery and it ask (Stone Brick Monster Egg)
- or spawn the level 5 darkoak bakery in creative and look at the stone

[2018-03-05 16:20] Raycoms commented on #2289
You can contact me on discord: https://discord.gg/gA7T6ma (My name is
raycoms)

2018-03-05 15:58 GMT+00:00 Daniel Fuego <notifications@github.com>:

[2018-03-05 18:03] carlansor commented on #2291
thanks for submitting the issue, i will look into it and fix it.

[2018-03-05 18:27] #1617 closed, assigned to mkienenb

[2018-03-06 11:11] ErdbeerbaerLP commented on #2290
[fml-server-latest.log](https://github.com/Minecolonies/minecolonies/files/1784715/fml-server-latest.log)
That were just some minutes. and i am using the newest minecolonies version. there is no newer one

[2018-03-06 13:13] #1610 closed, assigned to nobody

[2018-03-06 19:03] GrokDuckFarmer opened #2292 "Level 3 Wooden style Herder buildings are offset from the level 1,2,4, and 5 buildings."
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7572.jar

### Expected behavior

Wooden style Level 3 herder huts line up with Level 2 structures

### Actual behaviour

All four herder huts (sheep, cow, pig, chicken) are offset from the rest of the huts with the Level 3 building.  They are back 5 blocks, to the left 5 blocks, and up 1 block.

### Steps to reproduce the problem

1. Have

[2018-03-07 03:14] GrokDuckFarmer opened #2293 ""Commin'" is misspelled"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7572.jar

### Expected behavior

Barbarian horde warnings are spelled correctly.

### Actual behaviour

"commin'" is misspelled with an extra m in the word.  Should be "comin'" to be correct.

### Steps to reproduce the problem

1. Build your colony.
2. Wait for the warning that barbarians are coming.
3. Shake your head at the misspelling

[2018-03-07 19:26] Wissi commented on #2293
Well in that case it's also misspelled as `comin`
It would either be: `coming` or `comin'`
But I guess it's kinda intentional   xP

[2018-03-07 21:52] r3volut1on opened #2294 "Dedicated Server crash on bootup when having both ProjectRed and Minecolonies"
### Minecolonies version

version 0.9.6974

### Expected behavior

- Integration with Project Red without issue

### Actual behaviour

- Sometimes when booting up world, dedicated server crashes with following [crash](https://dpaste.de/posC)

### Steps to reproduce the problem

1. Have both ProjectRed and Minecolonies
2. Load up the world on dedicated server and sometimes you will get this crash w

[2018-03-08 00:08] Raycoms commented on #2294
Can you please report this to the project red page as well?
This happens because projectRed has an invalid implementation of the
blockStates. A bunch of other mods fixed that already.
We store and retrieve default blockStates the minecraft way here.

2018-03-07 21:52 GMT+00:00 Matthew Kinzler <notifications@github.com>:

[2018-03-08 02:22] r3volut1on commented on #2294
I reported this issue to them, and they said it will be fixed in 1.12 but not ported back to 1.10.2 unfortunately.  You can see their response in the step 3 link above.

[2018-03-08 14:00] ErdbeerbaerLP opened #2295 "[1.10.2]Server Crash"
### Minecolonies version

version 0.9.7587

### Expected behavior

- Non crashing

### Actual behaviour

- Crashing
already 5 times in an hour
[crash-2018-03-08_14.57.37-server.txt](https://github.com/Minecolonies/minecolonies/files/1793405/crash-2018-03-08_14.57.37-server.txt)

[2018-03-08 14:05] marchermans commented on #2295
You seem to have creative resolving enabled in 1.10. Please disable it. It is not supported in 1.10 Since minecraft does not provide a way to get the subitems on the server side only.

[2018-03-08 14:05] #2295 closed, assigned to nobody

[2018-03-08 21:15] #2258 closed, assigned to nobody

[2018-03-08 21:16] Raycoms commented on #2290
Ahh, you're using the release, this has been fixed in the alpha only.

[2018-03-08 21:16] #2290 closed, assigned to nobody

[2018-03-08 21:16] #2288 closed, assigned to nobody

[2018-03-08 21:17] Raycoms commented on #2282
Thanks for the suggestion, we're planning on that when we introduce our new GUI framework.

[2018-03-08 21:17] #2282 closed, assigned to nobody

[2018-03-08 21:17] Raycoms commented on #2262
Please reopen if still happening.

[2018-03-08 21:17] #2262 closed, assigned to Raycoms

[2018-03-08 21:18] Raycoms commented on #2265
Still happening?

[2018-03-08 21:18] Raycoms commented on #2247
Should be fixed

[2018-03-08 21:18] #2247 closed, assigned to nobody

[2018-03-08 21:19] Raycoms commented on #2254
Fixed in latest alpha

[2018-03-08 21:19] #2254 closed, assigned to nobody

[2018-03-08 21:20] Raycoms commented on #2243
duplicated issue.

[2018-03-08 21:20] #2243 closed, assigned to nobody

[2018-03-08 21:20] Raycoms commented on #2192
I think the mod messes with something when it explodes.

[2018-03-08 21:20] #2192 closed, assigned to nobody

[2018-03-08 21:21] #2170 closed, assigned to Raycoms

[2018-03-08 21:22] #2143 closed, assigned to Raycoms

[2018-03-08 21:22] #2129 closed, assigned to nobody

[2018-03-08 21:25] ErdbeerbaerLP commented on #2290
which alpha?

[2018-03-08 21:26] Raycoms commented on #2290
on curse

2018-03-08 21:25 GMT+00:00 ErdbeerbaerLP <notifications@github.com>:

[2018-03-08 21:29] ErdbeerbaerLP commented on #2290
but that is an older version

[2018-03-08 21:30] Raycoms commented on #1049
@OrionDevelopment did that aready

[2018-03-08 21:30] #1049 closed, assigned to nobody

[2018-03-08 21:30] Raycoms commented on #2290
alpha, not beta.

2018-03-08 21:29 GMT+00:00 ErdbeerbaerLP <notifications@github.com>:

[2018-03-08 21:32] ErdbeerbaerLP commented on #2290
the newer (Aplha) versions are for 1.12

[2018-03-08 21:33] Raycoms commented on #2290
UGH, 1.10... we are really behind on the 1.10 branch, in 1.12 it is fixed
already, 1.10 will need a while still, we don't have much time, and porting
takes ages.

2018-03-08 21:32 GMT+00:00 ErdbeerbaerLP <notifications@github.com>:

[2018-03-08 21:34] ErdbeerbaerLP commented on #2290
ok... then i always need to delete the logs every day...

[2018-03-09 02:37] AdaraChristine commented on #2170
Was this fixed in the 1.10. version? Im still getting this error on server start up with the minecolonies-universal-1.10.2-0.9.7587 version.

[2018-03-09 02:43] fabbe50 opened #2296 "Town hall ui crashes game to desktop"
### Minecolonies version

version 0.8.7686

### Expected behavior

- Open the town hall UI

### Actual behaviour

- Crashes to desktop
[crash-2018-03-09_03.30.24-client.txt](https://github.com/Minecolonies/minecolonies/files/1795473/crash-2018-03-09_03.30.24-client.txt)

### Steps to reproduce the problem

1. Log into Minecraft
2. Click on the town hall block
3. ...
4. Profit (Crash)

[2018-03-09 02:50] Sandriell opened #2297 "[1.12.2] [0.8.7712] Minecolonies server lag (Event subscribers)"
Trying to determine the cause of lag on my server. Minecolonies is basically the only thing running. I only have a handful of other things going on the sever, none of which seem to be an issue.

![2018-03-08_21 36 22](https://user-images.githubusercontent.com/10704907/37187546-c67f8424-2318-11e8-9f32-59b99a234c68.png)

This is the result of Lag Goggles. The only thing showing any kind of impact is

[2018-03-09 02:57] Sandriell commented on #2170
They haven't pushed a new 1.10 version yet.

Raycoms said in another issue earlier today:

already, 1.10 will need a while still, we don't have much time, and porting
takes ages.

[2018-03-09 04:08] AdaraChristine commented on #2170
Ah OK thanks!

[2018-03-09 07:59] marchermans commented on #2297
So let me explain what is going on here.
As of the initial design Minecolonies has been using an external storage mechanism, known as the colony.dat file. This file is updated every tick, which is to say the least not optimal. This updating of the file has several issues with it. The most notable are:
- Lag each tick, since it is used to save the colony to disk, and IO takes time.
- When the world

[2018-03-09 08:34] marchermans opened #2298 "Updating Minecolonies storage mechanisms to be simply better."
### Introduction - Why?
This seems like a weird title but I can not describe it better.
In our current situation we use a colony.dat and colonyX.dat file to save our colony data to disk. This is by far from optimal. As can be seen in Issue #2297.

On 2/9/2018 I discussed this with @Raycoms, before the issue, was created, and we came to the conclusion that the current system is just not good enough

[2018-03-09 09:50] Sandriell commented on #2297
Would like to add that I am running MC on an top end Samsung 960 PRO m.2 SSD, so file I/O can't get much better than that.

I have also noticed at night the Event Subscriber percentage that Lag Goggles reports drops down to less than 1%, and then goes right back up during the day. Maybe it simply has less data to save every tick at night?

[2018-03-09 10:19] marchermans commented on #2297
It only saves when states change, during the night no citizens work so nothing changes -> Nothing needs to be saved. It does not matter if you have an SSD or not, yes it reduces the IO time, but the real problem is the conversion of the in memory data to inmemory NBT before. That is just heavy.

[2018-03-09 15:37] mkienenb commented on #2298
I only have a couple of minutes before work, but here's some quick thoughts.

Back when I was writing my own take on the MineColonies idea, I started with by using a tileentity instead of a ColonyManager singleton.   You will lose control over WHEN things are processed, such as when data is loaded.   I remember having problems with entities not being available when my tileentity loaded.   Locating

[2018-03-10 00:38] Sandriell commented on #2297
I tried the latest version (0.8.7719), sadly it hasn't helped and performance is about the same.

[2018-03-10 01:08] Raycoms commented on #2297
can you send us another warmroast?

2018-03-10 0:38 GMT+00:00 Sandriell <notifications@github.com>:

[2018-03-10 02:45] lebanni opened #2300 "Creepers are exploding within the colony"
minecolonies-universal-1.12.2-0.8.7719.jar
forge-1.12.2-14.23.2.2624-universal.jar

![2018-03-10_03 22 49](https://user-images.githubusercontent.com/2799575/37237573-2dc03f8c-2415-11e8-9276-8819538225a7.png)
![2018-03-10_03 35 09](https://user-images.githubusercontent.com/2799575/37237574-2ddfd900-2415-11e8-9556-8aa5ceaaf93a.png)

[2018-03-10 05:35] alanman opened #2301 "1.12.2-0.8.7582 Server crashes when updating to newer version"
### Minecolonies version

version 0.8.7582, and updating to any newer version from curseforge

### Expected behavior

- loads server

### Actual behaviour

- First, complains about missing block, blocktimberframe.  If I confirm the deletion, the server will crash with a MethodNotFound Exception:
[code]
Here's the full log.
[crash-2018-03-09_22.09.22-server.txt](https://github.com/Minecolonies/mine

[2018-03-10 07:04] marchermans commented on #2301
Update Forge.

[2018-03-10 07:04] #2301 closed, assigned to nobody

[2018-03-10 07:59] Sandriell commented on #2297
New Warmroast.

![warmroast2](https://user-images.githubusercontent.com/10704907/37239700-4ca01140-240e-11e8-83b4-d170d3bab675.png)

I have also tried updating Java (144 to 162), switching to G1GC and upping the amount of memory allocated to the server (8gb to 10gb).

The issue does not present itself right away. When I first login, TPS is hovering around 20ms/tick and then it gets progressively w

[2018-03-10 08:26] marchermans commented on #2297
You seem to have a LOT of chicken around. Looking at your WarmRoast Updating the chicken takes 24% of your time.......

[2018-03-10 08:28] marchermans commented on #2297
You might want to consider running /kill @e[type==chicken] and /kill @e[type==item] after each other to kill them. Do you have a herder around?

[2018-03-10 09:06] Sandriell commented on #2297
Ran the command (its only a single =, not 2) and it killed only 23 chickens. My TPS did drop way down to 21-22ms/tick though!

I did notice afterwards when I was looking around that there was an invisible mob (like glitched invisible not an effect, had to use a Ancient Warfare guard to kill it) inside the chicken's pen for my herder. Is it possible that could have been related? Freaking out the ch

[2018-03-10 09:23] marchermans commented on #2297
TBH WarmRoast tells me more. It shows me the callstacks. But it might have.

[2018-03-10 09:37] Sandriell commented on #2297
Here is another warmroast.. still shows the chickens allegedly taking up a lot but I'm not lagging and still at ~20ms/tick.

![warmroast3](https://user-images.githubusercontent.com/10704907/37240653-97b6e1aa-241c-11e8-99d9-a78ce6fffcd9.png)

Does warmroast have an expand all? So much clicking! lol

[2018-03-10 09:39] marchermans commented on #2297
So okey that did not it. Since these are obfuscated names I have to deobfuscate them later today. Can you do me a favor. Destroy the Herder for the chickes and try again.
I want to see what happens. Cause it is weird that 33% of the code is ran in EntityChicken......

[2018-03-10 09:40] Sandriell commented on #2297
Is firing her sufficient? Or should I actually kill her?

And if I try to kill chickens again.. says none found.

Sorry, I didnt understand the instructions warmroast gave to have it show deobfuscated names

[2018-03-10 09:52] Sandriell commented on #2297
I fired her and then destroyed the herder hut block.

`thread/INFO] [minecolonies]: Colony 1 - removed AbstractBuilding BlockPos{x=-988, y=81, z=367} of type ChickenHerder`

![warmroast4](https://user-images.githubusercontent.com/10704907/37240850-c59a0500-241e-11e8-906f-2030cc885998.png)

[2018-03-10 10:01] marchermans commented on #2297
It is still running through it...... No idea why?

[2018-03-10 10:01] marchermans commented on #2297
I need to look at that function later and see if we are calling it.
Can you post a mod list?

[2018-03-10 10:04] Sandriell commented on #2297
Mod list is in my original post in my forced crash report.

Thank you very much for your continued help in this, especially as it seems maybe this isn't even being caused by MineColonies.

[2018-03-10 13:10] Raycoms commented on #1483
@AlgorithmX2 I checked out your API today, since I finally got time to work at this.
But some things are extremely bad to hook into for us:

a) You need a world to get IBitAccess (We only have the IBlockState)
b) After hacking me the IBitAccess with a wrong pos and wrong world but the right state I need a visitor, but I don't seem to find a way to get that.

Can you help me out here?

[2018-03-10 14:50] Raycoms commented on #2212
Please reopen if still an issue

[2018-03-10 14:50] #2212 closed, assigned to marchermans

[2018-03-10 14:52] Raycoms commented on #2300
Can you check if those areas show your colony in f3?
Is this in SMP?
Is this close to the SMP spawn?

[2018-03-10 16:30] DjTylerD commented on #2184
Hello sorry for my absence in the test, family problem.
I see that you have considered my topic, thank you for listening;
I notice in minecolonies-universal-1.12.2-0.8.7719.
on the craft table, every slot gives that doublecrossed, but not the other variant

[2018-03-10 17:24] Raycoms commented on #2184
yeah, they are in a row. First gives double crossed, put double crossed in, gets other, and so on.

[2018-03-10 18:54] Raycoms commented on #2298
@mkienenb exactly, that's why we thought about a hybrid approach.
We store the colony somewhere where it's always loaded when the world is loaded (In the dimension itself).

We will only write the buildings in the tileentities which don't need to be doing anything anway if the building is not loaded.

[2018-03-10 19:20] Raycoms commented on #2296
Fixed in the newest version.

[2018-03-10 19:20] #2296 closed, assigned to nobody

[2018-03-10 19:34] PoroUsedSnax commented on #2172
The smelter should be able to deal with these stone swords, just drop them in their inventory and they should work away.

[2018-03-10 19:34] #2172 closed, assigned to nobody

[2018-03-10 19:50] PoroUsedSnax opened #2302 "[Discord Suggestion] Ability to restrict items the herders collect"
Suggestion by Thasumet#0598

Introduce the ability to choose what extra items your herders collect, so the user can choose that the cowboy doesn't collect milk, or the sheep herder does not collect wool (For whatever reason) etc. Akin to how you can choose what trees the Lumberjack does not chop down.

[2018-03-10 20:53] woodytt opened #2303 "Builder - Oak framed timber frame"
### Minecolonies version

version 1.12.2-0.8.7719

### Expected behavior

- Request items, add into inventory then go off and build.

### Actual behaviour

- I currently having a builder build cowboy lvl 3 and needs oak framed timber frame. The request isnt fulfilled by the deliverymen so I have manually placed in his inventory but he is still not registering it. I have tried cancelling request, r

[2018-03-10 20:55] Raycoms commented on #2303
You have to give him exactly the type he wants in the photo of the request.

[2018-03-10 20:55] #2303 closed, assigned to nobody

[2018-03-10 21:09] woodytt commented on #2303
I have done, he has 2 stacks on him

[2018-03-10 21:15] Raycoms commented on #2303
Look closely, the two stacks you gave him are slightly different

2018-03-10 21:09 GMT+00:00 woodytt <notifications@github.com>:

[2018-03-10 22:03] alanman commented on #2301
Oh! Haha. Totally forgot about that as an option.  My version came out back in September!  Updating resolved the issue. Thanks!

[2018-03-10 23:08] AlgorithmX2 commented on #1483
1. Unfortunately C&B requires Tile Entity Data, hence the IBlockAccess or World requirement. If you only have an IBlockState I'm not sure what you can accomplish, since that will only tell C&B what "class" of block it is, stone, snow, fluid, or what like. It doesn't contain any of the actual structure of the block.

2. The Visitor is something you implement, you implement and create an new IBitVis

[2018-03-10 23:19] Raycoms commented on #1483
I have the tileEntity data as well, I just don't have the block in the world.

[2018-03-10 23:25] AlgorithmX2 commented on #1483
So if you had a method, IBitAccess getBitAccess(TileEntity te); it would work?

[2018-03-10 23:27] Raycoms commented on #1483
Yeah, that would be all I need =)

2018-03-10 23:25 GMT+00:00 AlgorithmX2 <notifications@github.com>:

[2018-03-10 23:32] AlgorithmX2 commented on #1483
Well... technically if you have the TileEntity, doesn't that mean you could just call te.getWorld() and te.getPos() on it?

[2018-03-11 00:05] Raycoms commented on #1483
I have tileEntity nbt data, so I can load the tileEntity, but the world it
has is a "fakeWorld"

2018-03-10 23:32 GMT+00:00 AlgorithmX2 <notifications@github.com>:

[2018-03-11 00:09] Degsdegsdegs commented on #2288
Oh was this fixed?  Awesome!

[2018-03-11 00:28] lebanni commented on #2300
The closest blowing was at 82 blocks from the center (the one you see on the 2nd picture), which apparently is considered outside the colony. The visualization line is at 143 blocks from the center in the shortest way. And yes it's in SMP.

[2018-03-11 00:35] AlgorithmX2 commented on #1483
Alright, I've added a new method to IChiseledBlockTileEntity.

if ( TileEntity instanceof IChiseledBlockTileEntity ) (
IBitAccess access = ((IChiseledBlockTileEntity)te).getBitAccess();
... do things ...
}

Should be available, you should be able to do introspection without a world, but a fake would would probably work as well.

Test Build, https://dvs1.progwml6.com/jenkins/job/Chisels-and-Bits/12

[2018-03-11 00:46] Raycoms commented on #1483
Awesome thanks, will download it and include it manually in gradle =)

2018-03-11 0:35 GMT+00:00 AlgorithmX2 <notifications@github.com>:

[2018-03-11 06:05] TerraStellaVltra opened #2306 "Farmer wont do anything"
### Minecolonies version
1.12.2-0.8.7719

version X.X.XXXX or curse X.X.XX

### Expected behavior
farmer to til, plant and harvest things.

- XXX

### Actual behaviour
he just stands there and does nothing.
- YYY

### Steps to reproduce the problem
1. hire the farmer
2. I place the feild
3. place the seed inside the scarecrow
4. I give the farmer a stack of seeds and a stone hoe
5. he walks to the

[2018-03-11 06:16] #2306 closed, assigned to nobody

[2018-03-11 06:28] Sandriell commented on #2306
@TerraStellaVltra Since you closed this, I assume you figured it out. You should post how you fixed it for anyone else that may have the problem and comes here searching for an answer.

I refer you to this comic for why: https://xkcd.com/979/ :D

[2018-03-11 07:25] TerraStellaVltra commented on #2306
I planned on writing when I figured out what happened. I'm still not sure so I'll give it a go.

When I started with this problem, I had a slightly older version of 1.12.2. I downloaded a newer version. But he still appeared to not be working. That's when I wrote this issue to github. He wouldn't do anything for a while, a long while. I gave him an iron hoe, though I'm not sure that helped. But ev

[2018-03-11 12:06] #2245 closed, assigned to Raycoms

[2018-03-11 12:14] ErdbeerbaerLP commented on #2290
nor using this: https://minecraft.curseforge.com/projects/console-filter
lets see if that works for logs too

[2018-03-11 13:40] marchermans commented on #2297
So I checked this again. And we are not calling that method as far as I can see.
This is not caused by Minecolonies.

[2018-03-11 15:16] Raycoms commented on #1483
@Override
                public IBitBrush visitBit(final int x, final int y, final int z, final IBitBrush iBitBrush)
                {
                    if(iBitBrush.getStateID() != 0)
                    {
                        stacks.add(iBitBrush.getItemStack(1));
                  }
                    return iBitBrush;
                }

This only seems to add the sand bits and not the g

[2018-03-11 19:44] Sandriell commented on #2297
I'm not surprised, was figuring it wasn't a Minecolonies issue after all.

So if I am understanding warmroast correctly, it is the "EntityAITasks.func_75774_a()" function that is generating the lag. Can you tell me what the deobfuscated name is?

Thanks

[2018-03-11 19:51] Raycoms commented on #2297
-MCPBot_Reborn- Name       : a => func_75774_a => onUpdateTasks
-MCPBot_Reborn- Descriptor : ()V
-MCPBot_Reborn- Comment    : None
-MCPBot_Reborn- Last Change: 2017-06-13 11:45:03.191880-04:00 (_bot_update_)

2018-03-11 19:44 GMT+00:00 Sandriell <notifications@github.com>:

[2018-03-11 20:04] mkienenb commented on #2297
This is something that has helped me in general with Minecraft linux server lagging:

`echo 3 | sudo tee /proc/sys/vm/drop_caches`

Clears out the file buffer cache so that java can request more memory to use.  Can help if java is not getting enough memory even though there is plenty of memory available.

[2018-03-11 21:06] AlgorithmX2 commented on #1483
I just wrote a new test https://github.com/AlgorithmX2/Chisels-and-Bits/blob/1.12/src/main/java/mod/chiselsandbits/debug/DebugAction.java#L394-L410 and it seems to be working fine, I tested it on a block with a single layer mix of 3 materials and the counts and the material types were both valid.

Are you sure your block contains what you think it does? and that however your using them is working

[2018-03-11 22:01] Sandriell commented on #2297
So to follow up on this, I have removed the mod [AI Improvements](https://minecraft.curseforge.com/projects/ai-improvements) and that seems to have corrected my issue as far as I can tell.

My latest warmroast- just the relevant bit..

![warmroast5](https://user-images.githubusercontent.com/10704907/37258935-deade6c8-2555-11e8-8bb3-aad7816a54d1.png)

I am going to go ahead and close this now. Than

[2018-03-11 22:01] #2297 closed, assigned to nobody

[2018-03-12 00:00] Raycoms commented on #1483
The itemstacks you use, they seem to be equal but the NBT id, the bits are
they different blocks/stacks, or can they be basically the same itemStack
besides the value of the nbt?
I got different blockState ids, but I didn't get different itemStacks out
of it via their is itemEqual.

2018-03-11 21:06 GMT+00:00 AlgorithmX2 <notifications@github.com>:

[2018-03-12 00:22] AlgorithmX2 commented on #1483
Only the NBT is different, since those are bits. this is normal since the Item implements the proper behavior to prevent stacking when NBT is different.

[2018-03-12 01:52] leion247 opened #2308 "[Feature Request] Builder Item Management"
### Minecolonies version being used

version 0.8.7737

### Current behavior

-After items are put into the builders building storage for construction, he only takes the one item he plans to use immediately and doesn't dump unnecessary resources from his personal inventory. Causing him to need to go back and forth from the construction site and his base for more resources.

-The builder typically h

[2018-03-12 01:57] leion247 opened #2309 "[Feature Request] Miner Using other Wood Types"
### Minecolonies version being used

version 0.8.7737

### Current behaviour

-The Miner requests only for slabs, fence, and planks made of oak wood.

### Requested behaviour

-Allow the Miner to use any wood type for slabs, fence, and planks.

[2018-03-12 01:57] Raycoms commented on #2309
Duplicate issue, and in the works =)

[2018-03-12 01:57] #2309 closed, assigned to nobody

[2018-03-12 03:36] SulpherStaer opened #2310 "recipies lacking info"
### Minecolonies version

version 1.12.2-0.8.7737

### Expected behavior

- a suggested recipe list somewhere, that is teachable to the baker / cook / smelter.

### Actual behaviour

- Not able to teach the baker to make bread, or able to teach the cook how to cook fish. No idea which recipies are available or not.

### Steps to reproduce the problem

1. have baker / cook available
2. attempt to t

[2018-03-12 03:50] Raycoms commented on #2310
Neither cook nor baker are able to fulfill recipes automatically.

[2018-03-12 03:50] #2310 closed, assigned to nobody

[2018-03-12 03:52] SulpherStaer commented on #2310
That doesn't help me.

How does it work? I found the recipies in the git - but I can't teach them. Closing the issue doesn't make it go away. It's not explained in the wiki, or in the patchnotes.

[2018-03-12 05:30] Sandriell commented on #2310
The baker just needs wheat (3) in their inventory and they will "bake" bread at the bakery. They don't need to be taught a recipe. They will hit the bakery hut block for a bit, then go over to the furnace to pretend to bake it.

[2018-03-12 05:56] nldreyer opened #2311 "Citizens not requesting food at night."
### Minecolonies version

version 0.8.7719

### Expected behavior

- Citizens request food at night when hungry.

### Actual behaviour

- Citizens return to their houses at night hungry and do not request food.

### Steps to reproduce the problem (THIS IS SMP, I have access to all server files if requested)

1. Create colony
2. Make builder hut
3. Have builder make Deliveryman building
3. Have bui

[2018-03-12 06:35] nldreyer opened #2312 "Dark Oak Mine miner getting stuck in mine."
### Minecolonies version

version 0.8.7719

### Expected behavior

- Miner does not fall into inescapable areas.

### Actual behaviour

- Miner starts placing oak slabs and falls into center of mine.

### Steps to reproduce the problem (THIS IS SMP, I have access to all server files if requested)

1. Create Dark Oak Mine
2. Assign miner and wait for them to mine down
3. When placing oak slabs to s

[2018-03-12 06:42] lunadragnstar commented on #2265
Not sure, this happened building a specific type (I think wooden) but I haven't tried it again

Just to let you know, a lot of the crashes that I was having stopped when I switched to a lightly modded version. The version on twitch with the several dozen other mods kept crashing, now I have like 6 mods working with Minecolonies and it hasn't crashed.

[2018-03-12 06:55] Justen-N commented on #2311
Do you  have a cook?
On Sun, Mar 11, 2018, 11:56 PM nldreyer <notifications@github.com> wrote:

[2018-03-12 08:16] marchermans commented on #2311
Citizens are sleeping at night. So yes they do not request food at night, seems very logical to me. The better question would be: Why are they not getting food during the day? Do you have a restaurant?

[2018-03-12 09:42] Sandriell commented on #2311
To be fair, the wiki does say they request food at night.

[2018-03-12 12:22] marchermans commented on #2311
But they do not. That is a bug in the Wiki. It was previously like that when their AI was still running during the night. But since they started sleeping in their beds their AI is disabled. TBH having them request food while they are sleeping seems a bit off to me.

[2018-03-12 12:31] Raycoms commented on #2311
@PoroUsedSnax can you take care of that?

[2018-03-12 12:31] #2311 closed, assigned to nobody

[2018-03-12 16:51] PoroUsedSnax commented on #2310
@sylcai As mentioned, they will not fulfil recipes that **you** teach them currently, only the builder really makes use of that feature as he **requires** the stuff you tell him to craft, the baker will craft bread with wheat (3 per 1) and also cakes, but they will not request mats for the cake, you must provide them manually if you want them.

The cook will cook/provide whatever they have at hand

[2018-03-12 16:53] PoroUsedSnax commented on #2311
Yes, I'll see what I can do with that, it would be in the new wiki anyways but I'll make a note of it in the old one.

[2018-03-12 17:20] nldreyer commented on #2311
@PoroUsedSnax Is this new wiki reachable to anyone, on the wiki.minecolonies.com domain, or is it something that will be released in the future? I'm not sure if I just don't have enough deliverymen but even after building the restaurant they still aren't getting food. I have a colony of 15 with 3 deliverymen. Should I be able to see food requests from the clipboard? Are the citizens supposed to go

[2018-03-12 23:02] nldreyer opened #2313 "Second Guard Tower Destroyed When Upgrading to Wooden Barracks 3"
### Minecolonies version

version 0.8.7719

### Expected behavior

- Guard tower to remain just like the first guard tower does.

### Actual behaviour

- Guard Tower level 1 destroyed when upgrading wooden barracks 2 to level 3.

### Steps to reproduce the problem

1. Build Wooden Barracks
2. Build first Guard Tower
3. Upgrade Barracks to level 2
4. Build second Guard Tower
5. Upgrade Barracks to

[2018-03-12 23:16] PoroUsedSnax commented on #2311
The new wiki isn't currently reachable for the general public, just editors, your deliveryman should be delivering food to the restaurant for the cook to be cooking/distributing, if not then yes, you should see a request for food from the cook

[2018-03-13 22:39] randomlypickedname opened #2314 "Barbarians attacking other colony"
### Minecolonies version

version 0.8.7582

### Expected behavior

- When raider message appears, I expect raiders to appear in one of their spawn spots outside the village.

### Actual behaviour

- When raider message appears, raiders attack a fellow player's colony. They spawn in the middle of the village and start ransacking everything before the player has time to react, and haven't even been

[2018-03-14 13:19] Raycoms commented on #1483
@AlgorithmX2 when will you merge those changes to maven so I can check out your latest link?

[2018-03-14 18:39] AlgorithmX2 commented on #1483
If your tests are all working I can probably push out a new build soon, maybe tonight or the next few days.

[2018-03-14 18:54] Raycoms commented on #1483
My tests worked perfectly, Just waiting for your official release =)

2018-03-14 15:39 GMT-03:00 AlgorithmX2 <notifications@github.com>:

[2018-03-15 00:36] kreezxil opened #2316 "[mod compatiblity] When Dynamic trees is present, lumberjack fails"
### Minecolonies version

1.12.2-0.8.7719

### Expected behavior

- expect lumberjack to collect wood from dynamic tree

### Actual behaviour

- lumberjack never collects the wood

### Steps to reproduce the problem

1. install dynamic tree mod
2. make a new world
3. make a saw mill
4. watch the lumberjack struggle to make wood because the tree grows against him
5. Profit

### Suggestion
Lumber ja

[2018-03-15 01:15] AlgorithmX2 commented on #1483
I've gone ahead and done an official release that includes the new API Method.

[2018-03-15 01:47] Raycoms commented on #1483
Great thanks, I want to merge the changes tomorrow.

2018-03-15 1:15 GMT+00:00 AlgorithmX2 <notifications@github.com>:

[2018-03-15 02:27] SulpherStaer opened #2317 "Fatal Crash"
### Minecolonies version

version minecolonies-universal-1.12.2-0.8.7737 **ALPHA**

### Expected behavior

- Doesn't crash

### Actual behaviour

- Crashed to desktop

### Steps to reproduce the problem

1. Builder knows recipe to make crafting table
2. Lumberjack knows recipe to make planks
3. Builder requires crafting table
4. Builder waits for lumberjack to make planks
5. Fatal crash

[code]

[2018-03-15 02:38] SulpherStaer commented on #2316
This issue made me start over in a world without dynamic trees. Guards also don't quite know how to path over these trees. As guards enjoy walking in trees.

[2018-03-15 04:37] PoroUsedSnax commented on #2317
I couldn't tell you why the crash happens, but thought I would add that currently the Lumberjack will **not** craft planks, as they are not a requirement for them to craft, you'd need to teach the builder to also craft planks.

[2018-03-15 15:24] Raycoms commented on #1483
Did you add it to the maven repository as well already?
http://dvs1.progwml6.com/files/maven/mod/chiselsandbits/chiselsandbits/
Can't find it here.

[2018-03-15 16:28] AlgorithmX2 commented on #1483
The maven only stores the build server builds, and so far I've not been using the build server builds as official releases, 14.0.128 is the build server number for 14.16 Its something that I've not really though about since it was a late addition and I've not had a lot of time to really consider changing my processes for it.

[2018-03-15 17:45] Raycoms commented on #1483
okay thanks, the only thing I needed was the version on the buildServer so
I can include the dependency =)

2018-03-15 13:28 GMT-03:00 AlgorithmX2 <notifications@github.com>:

[2018-03-15 17:53] kreezxil commented on #2135
I like this idea.

[2018-03-15 17:57] Raycoms commented on #2135
The main problem I see with this is that its a bunch of wood which can take
fire and close the miner in.
Any solution ideas for that?
Searching for all lava blocks in a certain range evertime we detect a
"hole" would be quite some work.

2018-03-15 14:53 GMT-03:00 kreezxil <notifications@github.com>:

[2018-03-15 19:54] kreezxil commented on #2316
Just learned that Dynamic Trees provides a conversion recipe utilizing a bucket of dirt as a catalyst to convert the seed drops to sapling drops. Provided you don't have replace minecraft saplings with dynamee tree saplings turned on, it is then the viable workaround to this problem and therefore this suggest can feasibly be back burnered. But it would still be nice to not have to manually plant a

[2018-03-15 23:31] #1483 closed, assigned to marchermans, Raycoms

[2018-03-16 16:58] CringeCakes commented on #2284
The problem is still happening in the latest version (1.12.2-0.8.7809)

[2018-03-17 22:32] Thetawaves666 opened #2321 "Fatal Error on Map Loading"
### Minecolonies version

version 1.12.2-0.8.7582

### Expected behavior

- Load the map.

### Actual behaviour

- Fatal error while loading the map.

### Steps to reproduce the problem

1. Uncertain what happened on there. While i was playing, one of the last things i remember i made, was to update various buildings to lvl 3. On some moment, the game just freezes and i close the game. When trying

[2018-03-18 07:17] MrSkittlesROTR opened #2322 "Loading chunk console spam"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7809.jar

### Expected behavior

- clear console

### Actual behaviour

- see screen shot.
https://puu.sh/zK7qX/ac4f9d18bf.png

### Steps to reproduce the problem

1.install latest

[2018-03-18 13:34] Raycoms commented on #2321
Inside the colony.dat file of your colony. Edit it with an NBT editor, go into the request system parts, there should be a big list hidden somewhere around there.

Remove the items of the list and start. Shortly after starting execute /mc colony rs reset colonyId

[2018-03-18 13:35] #2321 closed, assigned to nobody

[2018-03-18 13:35] Raycoms commented on #2322
Should be removed in the newest one.

[2018-03-18 13:35] #2322 closed, assigned to nobody

[2018-03-18 13:36] Raycoms commented on #2317
@OrionDevelopment

[2018-03-18 13:37] Raycoms commented on #2314
Is it possible that the raid message appeared quite some time before that and then after a few nights they actually started appearing?

[2018-03-18 13:37] Raycoms commented on #2294
What a bummer, yeah we also at the moment don't have time to port more changes to 1.10.

[2018-03-18 13:37] #2294 closed, assigned to nobody

[2018-03-18 13:41] #2127 closed, assigned to Raycoms

[2018-03-18 18:42] randomlypickedname commented on #2314
It would occur right after I received the message. I'm thinking it might involve having to replace their town hall for them at one point to fix an issue, but I haven't tested more since I've reported it.

[2018-03-18 19:43] Thetawaves666 commented on #2321
Sorry bothering again. I edited with the NBT and was able to enter again on my map. When i tried to run the "/mc colony rs reset 1", it just didnt worked and crashed the game. If i do nothing, it crashes a while after. Maybe i am using in a wrong way the command?
On the NBT, i went to minecolonies>colony1.dat>requestManager>Request_Identities (2k entries), and deleted them all. I can offer the col

[2018-03-18 20:05] Thetawaves666 commented on #2321
Nevermind, i fixed it reading this: https://github.com/Minecolonies/minecolonies/issues/2188

[2018-03-18 20:06] Raycoms commented on #2321
Great =)

[2018-03-19 14:38] #1358 closed, assigned to Raycoms

[2018-03-19 17:33] ProsperCraft opened #2325 "Error on startup about sounds."
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7855

### Actual behavior

[11:28:30] [main/INFO] [mxtune]: Sound Setup Event net.minecraftforge.client.event.sound.SoundSetupEvent@4c9bc82e
[11:28:30] [main/INFO] [mxtune]: Sound channels: 176 normal, 16 streaming (total avail: 192)
[11:28:30] [main/WARN] [net.minecraft.client.audio.SoundHandler]: Invalid sounds.json
com.google.gson.Json

[2018-03-20 06:10] LordOfDaVoid commented on #190
This just happened to me on the 1.10.2 version, however I was able to access the mine but not the Town Hall and the house closest to it, so I think that it is chunk based. The current method of fixing it still worked though.

[2018-03-20 09:45] Fireruner commented on #2325
Did you tried to redownload the mod? Looks like there´s something wrong with your local files, as Forge couldn´t load some of the resources of the mod.

Try redownloading and reinstalling the mod and see if it works

[2018-03-20 18:59] YaibaToKen opened #2328 "[1.12.2] Citizens are invisible"
### Minecolonies version

version 0.8.7582

### Expected behavior

- Citizens spawn, be visible and hopefully do stuff

### Actual behaviour

- Can't see or interact with citizens

### Steps to reproduce the problem

1. Create a world
2. Create a colony
3. Create a supply camp
4. Create a town hall
5. Create a builder
6. Profit

![image](https://user-images.githubusercontent.com/9133736/37676663-6

[2018-03-20 19:23] SulpherStaer opened #2329 "[Request] Remove baselayer dirt from Dark Oak Buildings"
### Minecolonies version

version 1.12.2-0.8.7809 **ALPHA**

### Expected behavior

- No dirt layer under the 'Roofed Forest type / Dark Oak' buildings, for higher placement freedom & stacking ability

### Actual behaviour

- 'Roofed Forest type / Dark Oak' buildings have a dirt layer under them, and place the tree on a bedding of cobblestone. Remove this dirt & cobblestone layer, so that a greate

[2018-03-20 23:57] chriskeena commented on #2135
Build the bridge sections from cobble. The miner should be producing their own supply as needed. Cobble fences may require an outside source or teaching the miner the recipe.

[2018-03-21 01:01] mistysmilesalot commented on #2174
What did your InvTweaksCompatibility.xml file look like?

[2018-03-21 07:35] marchermans commented on #2325
That Crash does not indicate that minecolonies is to blame. One of your mods has a wrongly formatted sounds.json file.

As far as I can see however ours is okey. Except for some additionally defined sounds which are not in the jar (the warnings) Minecolonies is not causing this exception.

[2018-03-21 07:35] #2325 closed, assigned to nobody

[2018-03-21 15:55] BonaireDreams opened #2330 "Custom hut upgrade crashes client to desktop"
### Minecolonies version

version 1.12.2-0.8.7855 also 0.8.7737

### Expected behavior

- Upgrade custom citizen hut to LVL 2

### Actual behaviour

- Client crashes to desktop, server is fine.

### Steps to reproduce the problem

1. Dedicated Server running Colonial Engineers
2. Mod pack has some custom building schematics
3. Built a T1 custom citizen hut, all 5 tiers are available to preview bef

[2018-03-21 16:22] mkienenb commented on #2330
Note, this is the first time I've looked at this part of the code....

According to the java code for the stack trace, the template for the structure is null (missing).
Did you see something in the logs along the lines of "Failed to load template %s"?

Hope this helps.

[2018-03-21 17:39] BonaireDreams commented on #2330
Dug through the startup logs. Couldn't find any error, only confirmation that it loaded the extra schematics.
[04:11:36] [Server thread/INFO] [minecolonies]: Load huts or decorations from jar
[04:11:38] [Server thread/INFO] [minecolonies]: Load additionnal huts or decorations from ./Bonaire/minecolonies/schematics
[04:11:38] [Server thread/INFO] [minecolonies]: Load cached schematic from ./Bonaire

[2018-03-21 21:23] CharCharthemonkey opened #2331 "suggestion"
### Minecolonies version
1.12.2 0.8.7737
version X.X.XXXX or curse X.X.XX

### Expected behavior
to pick up items
- XXX

### Actual behaviour
ignores like half the items dropped was told by wissi to add this so pretty plz consider?
- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-03-22 00:38] #2293 closed, assigned to nobody

[2018-03-22 14:44] robbcrg opened #2333 "NBT agian ...: Tried to read NBT tag that was too big; tried to allocate: 2097153bytes where max allowed: 2097152"
### Minecolonies version

version minecolonies-universal-1.12.2-0.8.7875

### Expected behavior

- The client log does not fill with the error with a coresponding jump in CPU to 100+%

Error executing task
[B#355]  java.util.concurrent.ExecutionException: java.lang.RuntimeException: Tried to read NBT tag that was too big; tried to allocate: 2097153bytes where max allowed: 2097152

### Actual behav

[2018-03-25 04:08] zyxifrash commented on #1453
Confirmed as described, colonist middle name is literally assigned as "getRandomLetter(rand)".

Will have this config option implemented shortly.

[2018-03-25 06:37] lmcbrady opened #2338 "Builder stops work"
### Minecolonies version

version 0.8.7582

### Expected behavior

- build hut

### Actual behaviour

- stands next to chest

### Steps to reproduce the problem

1. put items into chest
2. build building wooden
3. hire npc
4. stands next to chest

At first the builder cleared what needed to be cleared until it needed more tools gave it more wooden tools now it wont build anything.

[2018-03-25 06:43] lmcbrady commented on #2338
PLEASE CLOSE I FIXED THE ISSUE!! THX

[2018-03-25 06:43] #2338 closed, assigned to nobody

[2018-03-25 12:59] lebanni opened #2339 "Exception in server tick loop (server side)"
forge-1.12.2-14.23.2.2634-universal.jar
minecolonies-universal-1.12.2-0.8.7913.jar

[crash-2018-03-25_14.56.29-server.txt](https://github.com/Minecolonies/minecolonies/files/1845311/crash-2018-03-25_14.56.29-server.txt)
[crash-2018-03-25_16.07.40-server.txt](https://github.com/Minecolonies/minecolonies/files/1845384/crash-2018-03-25_16.07.40-server.txt)

[2018-03-25 18:28] owenelse commented on #1294
How do know what your colony id is ?

[2018-03-25 18:49] mkienenb commented on #1294
On the latest alpha, you probably can use -1 for your colony id and it will
determine the right colony for you.

On Sun, Mar 25, 2018 at 2:28 PM, owenelse <notifications@github.com> wrote:

[2018-03-25 20:50] #2339 closed, assigned to nobody

[2018-03-25 22:50] Oraxian opened #2341 "Can't place building within "workingRangeTownHallChunks" range after upgrade"
### Minecolonies version

version 1.12.2-0.8.7913, SSP

### Expected behavior

Changing "workingRangeTownHallChunks" in minecolonies.cfg should change the distance from colony center that a new building can be placed.

### Actual behaviour

A new building cannot be placed beyond 8 chunks of colony center (default setting,) regardless of value in "workingRangeTownHallChunks."

### Steps to reproduc

[2018-03-25 22:51] Raycoms commented on #2341
Do you have chunkloaders? Is the area close to the spawn? Did you try relogging?
Did you try visiting those chunks?

I made a small saveguard in it to load at least once the chunks correctly even if your colony size was bigger than 8 chunks in each direction.

[2018-03-25 23:10] Oraxian commented on #2341
I'm a good distance from spawn (Town Hall is at 1486, 874.)

The entire colony, including desired expansion area is chunk loaded, and it was chunk loaded at the time of the upgrade (I've basically had it chunk loaded from the beginning 4 months ago.)  I didn't notice the issue until some time after the "chunk" update, and I think I applied a few updates happened in between.  I relog a few times pe

[2018-03-25 23:31] Raycoms commented on #2341
Is there anything inside the minecolonies/chunkinfo folder?

2018-03-26 0:10 GMT+01:00 Oraxian <notifications@github.com>:

[2018-03-26 00:05] Oraxian commented on #2341
Not at the moment, although I removed/readded the mod and deleted the minecolonies folder several times in the course of troubleshooting.  Every time I removed it, I did check that folder (as well as the cache folder) and saw it was empty.  I never saw any data in there until I looked at some backups of my save file from the last few months (about 8 of them,) most either don't have a "chunkinfo" f

[2018-03-26 00:07] Raycoms commented on #2341
I will code something tomorrow morning which can help you to fix this, the
folder of the chunkinfo should contain the data which should be written to
those chunks, atm there is no way to "rewrite it" but I might write a
command tomorrow for it.

2018-03-26 1:05 GMT+01:00 Oraxian <notifications@github.com>:

[2018-03-26 00:48] Oraxian commented on #2341
I really appreciate it :)  That far exceeds my expectations, and hopefully it will help others as well.  Although my wife will be pretty mad.  I haven't lost this much time to a game in many years.

[2018-03-26 01:14] matthewm2148 opened #2344 "Sawmill Crash"
### Minecolonies version

version X.X.XXXX or curse X.X.XX

### Expected behavior
opening sawmill UI
- XXX

### Actual behaviour
crash
at com.minecolonies.coremod.client.gui.WindowHutLumberjack$1.updateElement(WindowHutLumberjack.java:122)
	at com.minecolonies.blockout.views.ScrollingListContainer.refreshElementPanes(ScrollingListContainer.java:52)
	at com.minecolonies.blockout.views.ScrollingList

[2018-03-26 08:28] lefortal opened #2345 "Add a dark oak (not mediaval) restaurant"
### Minecolonies version

version 1.12.2-0.8.7809

### Expected behavior

- we need to be able to build a dark oak restaurant

### Actual behaviour

-there is no dark oak style restaurant

[2018-03-26 11:55] Terpo commented on #2285
Would iit be possible to check for named animals and don't kill these? This would allow to name two cows/pigs/whatever without breaking everything.

[2018-03-26 12:21] marchermans commented on #2285
That would be an option. @Asherslab would that work?

[2018-03-26 15:49] mjrekich opened #2347 "03/26/2018 Game Breaking Bug"
### Minecolonies version

version: minecolonies-universal-1.12.2-0.8.4191

### Expected behavior

- Put down town hall, town hall erects :)

### Actual behaviour

- Game goes poop

### Steps to reproduce the problem

1. Put down town hall
2. Hail satan
3. ...
4. Eternal bliss

Seriously though, it is a game breaking bug for 1.12.2. Seems to work on other versions but not this one. Unless there is

[2018-03-26 15:53] Justen-N commented on #2347
The release is about 3000 builds behind. Update to the alpha and this issue
is fixed.

On Mon, Mar 26, 2018, 9:49 AM mjrekich <notifications@github.com> wrote:

[2018-03-26 15:58] mjrekich commented on #2347
What do you mean the alpha? Like the game version, forge or minecolonies?

On Mon, Mar 26, 2018, 11:53 Justen Neeley <notifications@github.com> wrote:

[2018-03-26 15:59] Justen-N commented on #2347
Minecolonies alpha build.  It is available on the curseforge page.

On Mon, Mar 26, 2018, 9:58 AM mjrekich <notifications@github.com> wrote:

[2018-03-26 16:04] mjrekich commented on #2347
Bless your soul, you wonderful man

[2018-03-26 16:11] #2347 closed, assigned to nobody

[2018-03-26 16:57] Raycoms commented on #2345
Not actually an issue, but we finished it already, only missing upload

[2018-03-26 16:57] #2345 closed, assigned to nobody

[2018-03-26 16:58] Raycoms commented on #2333
Please upgrade to a new version and run /mc colony rs reset

[2018-03-26 16:58] #2333 closed, assigned to nobody

[2018-03-26 16:59] #2341 closed, assigned to nobody

[2018-03-26 19:33] Oraxian commented on #2341
I just downloaded the new build, and the claim command seems to have fixed my problem.  Thank you very much!

In case someone else comes to this thread looking for help, this is the syntax of the command I used:

/mc colony claim colony: x range: y add: 1
replace x with your colony ID
replace y with the range from center you want to claim, in chunks (I made sure this matched the config file - not

[2018-03-27 13:37] Oraxian opened #2348 "Miner does not replace broken Tinker's Construct pickaxe"
### Minecolonies version

version 1.12.2-0.8.7949 (issue has existed since at least 1.12.2-0.8.5081)

### Expected behavior

When a Tinker's Construct pickaxe becomes "broken" (no durability,) the miner should request a new pickaxe

### Actual behaviour

Sometimes (about 25%-50% of the time?) the miner continues to work with the broken tool, instead of requesting a new one.  He's not just waiting

[2018-03-27 21:30] Sandriell opened #2349 "[1.12.2] [0.8.7902] Pathfinding issues with Quark Walls"
### Minecolonies version

0.8.7902

### Expected behavior

Not constantly jumping trying to get on top of walls.

### Actual behaviour

Constantly jumping trying to get on top of walls.

### Steps to reproduce the problem

1. Have Quark
2. Place wall
3. ...
4. Profit

This is due to Quark not extending BlockWall and instead using its own class BlockQuarkWall for all its walls. Based on my own limi

[2018-03-28 20:04] Skip21 opened #2350 "[1.12.2] Builder sometimes fails to use basement Chests"
### Minecolonies version

version 0.8.7934

### Expected behavior

- Place Items in Basement Chests when Upper one is full

### Actual behaviour

- Keep on asking for a player to empty his upper chest even when Basement ones are empty

### Steps to reproduce the problem

Since it doesn't happen every time - got 2 Builders : one using them and the other not - i will try my best to reproduce

1. Get

[2018-03-29 03:37] PoroUsedSnax opened #2351 "Citizens spawning on top of their bed, getting stuck (Noticed in medieval citizens hut level 2)"
### Minecolonies version

version 0.8.7934

### Expected behavior

- Citizens wake up in places where they are able to continue their work

### Actual behaviour

- In the medieval citizens huts (level 2 at least) when the citizens wake up they spawn on top of the bed, meaning they get stuck there in the roof, I'm presuming this is more of a general issue as to where they spawn than a problem with

[2018-03-29 07:21] KJ-Shipp commented on #1351
I use ExtraUtils2 for persistent chunk loading. I have verified via chicken chunks that my entire colony stays loaded. However, if I get out of view of the workers, they stop moving. They resume when I approach them again. If I leave the area and return, nothing has changed since leaving and majority of the time I must recall my citizens at the town hall for they are nowhere to be seen. I'm runnin

[2018-03-29 07:50] marchermans commented on #2351
I was sure this was fixed....

[2018-03-29 07:51] marchermans commented on #1351
Yeah them stopping is not something we do. Entities just stop. In Minecraft when they are too far away from the player.

[2018-03-29 08:22] KJ-Shipp commented on #1351
Thank you for the prompt response. Is there any way around that? I increased my colony radius and have things a little spread out. I have to pick a side to hang around for that set of workers to get anything done. I'd like to keep them going at all times if it's possible. I only play on SSP if that has any relevance.

On a side note, every time I load the world I have to recall the citizens due to

[2018-03-29 11:33] Raycoms commented on #1351
Do you use sponge?

On Thu, Mar 29, 2018, 05:22 KJ-Shipp <notifications@github.com> wrote:

[2018-03-29 12:14] KJ-Shipp commented on #1351
No, I do not. I did some research on it a while back and saw many problems it was having and never revisited it. Is there something you suggest that includes it or are you looking for where I might have something causing a possible issue?

[2018-03-29 12:16] Raycoms commented on #1351
It's weird, normally they should continue working correctly, do you use any
mod which prevents entity lag?

2018-03-29 13:14 GMT+01:00 KJ-Shipp <notifications@github.com>:

[2018-03-29 12:27] KJ-Shipp commented on #1351
Nothing that I know of that completes such a task.

List of mods:

Forge
Optifine
Jei/nei
Ccl-entityhook(part of codechicken ?)
Car mod
Codechicken lib
Codechicken core
Chickenchunks
DrZhark's custom spawner
Customoregen
Mo'creatures
Endercore
Ender io
Extra utilities 2
Forge essentials client addon
The one probe
Immersive engineering
Immersive petroleum
Immersive railroading
Track api
Malisis cor

[2018-03-29 12:37] KJ-Shipp commented on #1351
I am also very adamant about reading all documentation about the mods I use and thoroughly examine, and alter as needed, configuration files.

[2018-03-29 21:29] UkeArie opened #2353 "Sawmill freezes game upon opening GUI"
### Minecolonies version

version 1.12.2-0.8.7949
### Expected behavior

- Access Sawmill GUI

### Actual behaviour

- Long delay, game freezes, eventually opens GUI after several minutes. Opening Inventory causes the same thing to happen again.

### Steps to reproduce the problem

1. Open Sawmill GUI
2. That's it.

[2018-03-31 19:23] Wissi opened #2355 "Multiblock needs localization."
![multiblock](https://user-images.githubusercontent.com/23312242/38166776-168efae8-34ef-11e8-9df6-3cbfd074f8c5.png)

[2018-03-31 19:23] Raimack opened #2356 "1896"
### Minecolonies version

version X.X.XXXX or curse X.X.XX

### Expected behavior

- XXX

### Actual behaviour

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-03-31 19:24] #2356 closed, assigned to nobody

[2018-04-01 01:48] Sandriell commented on #2355
Kind of tough to think of a good name for it.

[2018-04-01 01:50] Wissi commented on #2355
Gate/Door Block ?

[2018-04-01 01:54] Sandriell commented on #2355
It's also a drawbridge.

[2018-04-01 17:30] MineShadow7 commented on #2355
Something like piston engine 'cause it moves blocks (I guess).

[2018-04-02 21:17] Nezraddin commented on #2353
Have the same problem.
I'm wondering if it is the amount of extra trees that causes this problem. Have a few mods installed that adds alot of trees (like forestry, rustic)

[2018-04-02 21:35] marchermans commented on #2353
Yes a lot of trees will cause this issue. We are already caching a lot. But the trees will still need to be analyse for gui purposes.

[2018-04-03 12:47] Nezraddin commented on #2353
As a little suggestion:
Maybe instead of the current system where the lumberjack reads every installed tree, something similar to the farm (where you add the seed of what the farmer should grow) could be added:
A window with some sort of special inventory in which you put the saplings of the trees which are to be recognized for cutting down.

Now sure how this is possible coding-wise, but this way

[2018-04-03 12:53] Raycoms commented on #2353
Yeah we're currently reworking our GUI framework for that

2018-04-03 13:48 GMT+01:00 Nezraddin <notifications@github.com>:

[2018-04-03 14:48] SulpherStaer opened #2359 "PigFarmer not listed / No Scrollbar Jobs list"
### Minecolonies version

version 1.12.2-0.8.7996

### Expected behavior

- All working citizens are listed.

### Actual behaviour

- List is truncated when it exceeds the panel height

### Steps to reproduce the problem

1. Have a colony that has at least 1 of every working job offering building
2. observe the list in the town hall and notice not all jobs are listed
![2018-04-03](https://user-ima

[2018-04-03 19:59] carlansor commented on #2351
i can change stairs for slabs, if that works

[2018-04-03 20:51] PoroUsedSnax commented on #2351
I think it's worth the issue being solved over changing the design. But it's a decent quick fix if it works, not sure if it's them getting stuck because of the lower section of stair, or the block in general.

[2018-04-04 06:35] marchermans commented on #2351
So I checked. I use the MC bed code to wake up citizens, so unless you can sleep in that bed without getting your head stuck and being teleported out this issue is a design flaw in the building and not something I can solve.

[2018-04-04 06:35] #2351 closed, assigned to lunadragnstar

[2018-04-04 16:16] snoopydude48 commented on #2344
I had this same thing happen to me on in my world with lots of time spent.  I decided to start a new world to see if it would do it again and it didn't.  All is good on the new world.

[2018-04-04 16:17] Raycoms commented on #2344
Could we have the complete log?

2018-04-04 17:16 GMT+01:00 snoopydude48 <notifications@github.com>:

[2018-04-04 17:00] snoopydude48 opened #2360 "Spawn egg required for building upgrade"
minecolonies-universal-1.12.2-0.8.7855

The upgrade from level 1 to 2 includes a pig spawn egg
![2018-04-04_12 55 42](https://user-images.githubusercontent.com/8415887/38322320-0cec550a-3808-11e8-8b1c-c51de908179a.png)

It some how used the egg in the upgrade.

[2018-04-04 17:22] snoopydude48 opened #2361 "Can't teach 3x3 recipes"
minecolonies-universal-1.12.2-0.8.7855

Can only teach 2x2 recipes.  Is there a way to teach 3x3?

[2018-04-04 17:28] Raycoms commented on #2361
none yet but it's in the work

[2018-04-04 17:28] #2361 closed, assigned to nobody

[2018-04-04 18:47] Wissi commented on #2285
@Asherslab To fix the compatibility issue w/animania animals (and any other type). Can a config option be added (to the hut GUI or the config file) so that players can manually add modded animals?
Animals placed here would be treated in vanilla manner: bred like a vanilla mob type and killed. (for now).
If they require special breeding then player would have to do it or even automate it, but at le

[2018-04-04 21:42] carlansor commented on #2351
dont worry then, i will modify the design in a moment.

[2018-04-04 21:43] carlansor commented on #2360
will fix that asap.

[2018-04-04 23:09] merdinarchfire commented on #2285
I found that when upgrading the Cowboy to a higher level it wasn't as big a
problem, but would still lose the female cows. It looks like the higher
level cowboy keeps more cows so, this made it less likely for it to break
and have no more breeding. I haven't tested beyond a level 2 Cowboy.

On Thu, Apr 5, 2018 at 2:47 AM, Wissi <notifications@github.com> wrote:

[2018-04-05 10:42] PoroUsedSnax commented on #2351
In that case, I believe the town hall could also do with modifications, as the beds upstairs (Level 3 at least) The citizens wake up inside some stairs which lead up to a tower, so it isn't as simple to fix from a user stand point.

[2018-04-05 13:37] EnnekPL opened #2362 "[Question] Saveing biger schematics"
### Minecolonies version

version 1.10.2
It's possibile to make biger schematics than maximum allowed? now is 32763 bytes.
I want to make f.e. schematic scan of big castle.

[2018-04-05 13:47] Justen-N commented on #2362
At the moment, no. However, this feature is available on the 1.12.2.
version, it just isn't backported.

On Thu, Apr 5, 2018 at 7:37 AM, EnnekPL <notifications@github.com> wrote:

[2018-04-05 14:02] EnnekPL commented on #2362
ok ty for reply :)

[2018-04-05 16:37] EnnekPL commented on #2362
btw. I backported this feature  to 1.10.2 on my owne

[2018-04-05 20:35] Sandriell commented on #2362
Should do a pull request then.

[2018-04-07 08:27] WPaul15 commented on #2313
I encountered this as well with version 0.8.7996 using the Taiga schematics. This may or may not be intended; I can't be sure. However, the tower block itself isn't destroyed, so you can still have the guards.

[2018-04-07 08:50] WPaul15 opened #2364 "Racks Should Work with Inventory Tweaks [1.12.2]"
### Minecolonies Version
- 1.12.2-0.8.8008

### Forge Version
- 14.23.2.2651

### Proposed Feature
At the moment, the new Rack inventory used in the Warehouse is not sortable. It would be cool if compatibility with the [Inventory Tweaks mod](https://minecraft.curseforge.com/projects/inventory-tweaks) could be added so that one could sort the items in the racks.

### Potential Improvements
- Easier

[2018-04-07 08:58] marchermans commented on #2364
Duplicate of: #2278

[2018-04-07 08:58] #2364 closed, assigned to nobody

[2018-04-07 08:59] marchermans commented on #2313
@Asherslab will something like this be fixed in the new Guard System you are working on, or would the builder Need to be changed for that?

[2018-04-07 10:13] WPaul15 opened #2365 "Guards Attack the Player [1.12.2]"
### Minecolonies Version
- 1.12.2-0.8.8008

### Forge Version
- 14.23.2.651

### Issue
Oftentimes, during a Barbarian raid, I will set several Guards to "Follow" so that I can pull them over to face the oncoming horde. Naturally, once combat ensues, I may be forced to use my sword to attack. The problem is that my Guards do the same. They rush up to attack the Barbarians, and as I'm frantically tr

[2018-04-07 14:08] Sandriell commented on #2364
Any reason why you could not generate the Inventory Tweaks xml file like you do any other config file?

[2018-04-07 14:44] Heregerifa commented on #2353
Have the same problem but the sawmill is only the start - delays begin with other minecolonies inventories (though not so severe) and then spread to others including vanilla chests and crafting benches.  (Cith Life modpack)

[2018-04-07 15:11] marchermans commented on #2364
Well we could. But we have limited man power, and this is something a user can do himself, as stated by InvTweaks (hence the existence of the file). We have to prioritize, if we are Feature complete then we might consider adding this, but for right now, we have simply have other Things on our Task list that have a higher priority.

[2018-04-07 15:12] marchermans commented on #2353
@Heregerifa then it is not us. We use a custom gui Framework which does nothing with other guis.

[2018-04-08 15:49] capnkirok commented on #2285
https://github.com/capnkirok/animania/issues/600
Hey guys. Had a request on the Animania side for just this and wanted to add my name here. Let me know what you might need to proceed. One way to do this currently is to pull the EntityNames from all the animals to determine gender. Of course, each species is using the colloquial gender name (e.g. Doe & Buck for Rabbits), so it's tedious. But it wou

[2018-04-08 16:14] marchermans commented on #2285
It is not that we are not looking in to this. It is just that we are slowing introducing new workers since this is a complete rebuild from scratch. And we have other priorities. It should however be relatively easy to do. Is there a way in code to detect if I have a female and male, in a list of entities?

[2018-04-08 16:14] marchermans commented on #2285
Also do you have a maven repo we can use in development?

[2018-04-08 20:03] kreezxil opened #2367 "Client crash while placing supply ship on or near water"
### Minecolonies version

1.12.2-0.8.8021

### Expected behavior

- Place supply ship and receive ingame message about not being able to place it or have it actually place

### Actual behaviour

- client crash

### Steps to reproduce the problem

1. place supply ship on water block itself

https://pastebin.com/BPRZGWyi

In this next one, the player built a pier out into the body of water and place

[2018-04-08 20:28] marchermans commented on #2367
Update your client. Hotfix was pushed this afternoon. Hope you have a nice evening 🙂

[2018-04-08 20:28] #2367 closed, assigned to nobody

[2018-04-08 21:26] capnkirok commented on #2285
No maven (yet), but source code is here: https://github.com/capnkirok/animaniamod

As I mentioned, there is a way of telling if male or female, based on Entity Name. If you check for instanceof EntityCow, you can check the entity name string for the occurence of "animania:bull_" or "animania:cow_" or "animania:calf_"

The same goes for all animals.. but you will need to know the colloquial names c

[2018-04-08 21:28] Raycoms commented on #2285
Yeah but if you'd get it to maven somewhere we could just do instance of
AnimaniaAnimal and isFemale, which would be a lot cleaner when we get to it.

2018-04-08 22:26 GMT+01:00 Purplicious_Cow <notifications@github.com>:

[2018-04-08 21:31] capnkirok commented on #2285
Yes, agree. Seems like a good reason to get a maven :)

[2018-04-09 03:37] Relgub opened #2368 "Building tool is non functional on smp"
### Minecolonies version

version 1.10.2-0.9.7587

### Expected behavior

- preview and placement of building schematics

### Actual behaviour

- Nothing... the menu pops up but their are no selectable options and the preview does not paste. I do see the movement arrows and blank text blocks. I have tried with every building in hand but it's all the same in creative and survival. Everything works

[2018-04-09 06:56] marchermans commented on #2368
Please update to the newest version of minecolonies.

[2018-04-09 06:56] marchermans commented on #2285
If you want you can use our buildsystem. It has an integrated maven/ivy repo.

[2018-04-10 02:27] Relgub commented on #2368
I'm on the most current version for mc1.10.2 in curse.  Unless you mean to update to mc1.12?

[2018-04-10 05:09] marchermans commented on #2368
Oh @Raycoms in that case 😅

[2018-04-11 11:02] AlexRover opened #2370 "trees"
Hello. I have such a problem, residents are cutting trees dynamic trees from the top block, and not from the bottom and do not expect to receive any drop, maybe you know how to make them cut trees under the root?

[2018-04-11 14:16] Nattehine commented on #1773
I just experienced this issue on a LAN server, mod version 0.8.8026. We're using a modpack called World of Dragons if that matters at all.
Here's the crash log:
https://pastebin.com/czhDWxhx

[2018-04-11 22:38] Justen-N commented on #2370
We already had an issue reported here for this. I believe there is a fix in
the works. For the moment, please use Minecraft saplings until we resolve
this.

On Wed, Apr 11, 2018 at 5:02 AM, AlexRover <notifications@github.com> wrote:

[2018-04-11 22:40] #2370 closed, assigned to nobody

[2018-04-12 05:46] Asherslab commented on #2285
Wow i forgot i turned off github notifications ages ago, sorry about that.
@capnkirok that'd be awesome if you could get a maven, OR just use our buildsystem (we use docker and a few other things which makes our system work amazingly well)

@Wissi sadly it wouldn't be that simple, but the abov emention idea *should work

[2018-04-12 23:58] PoroUsedSnax commented on #2302
Changed in #2327

[2018-04-12 23:58] #2302 closed, assigned to Asherslab

[2018-04-13 08:51] Asherslab opened #2372 "MC Colony Delete command throws null pointer"
### Steps to reproduce the problem

1. execute command

https://gist.github.com/Asherslab/f9aa56c68247bbbce593f63166ed85e9

[2018-04-13 12:28] mkienenb commented on #2372
The error is because the command's senderEntity is null.   Any ideas why that might be the case?  Is this being run by a command block?

        final Entity senderEntity = sender.getCommandSenderEntity();
        senderEntity.sendMessage(new TextComponentString(DELETE_COLONY_TASK_SCHEDULED));

[2018-04-14 01:48] #788 closed, assigned to nobody

[2018-04-14 04:05] WonderDog opened #2376 "Save & Load times and Save File size."
### Minecolonies version

MineColonies - 1.12.2-0.8.8053
in Modpack ATM3 - 5.8, 5.9.1 & 5.9.2

In Single Player

### Expected behavior

Game Loading time & File Size to be stable.

### Actual behaviour

Loading time and size of the minecolonies save folder increase dependent on the number of times the world is loaded.

See [Save / Load Times in Single Player from Minecolonies (and Save Bloat)](htt

[2018-04-14 06:49] Asherslab commented on #2372
@mkienenb you were correct in slack, i was running the command via console

[2018-04-14 13:43] Raycoms commented on #2376
Hey, can you tell me which mods you have which add trees?

[2018-04-14 13:46] Raycoms commented on #2376
And can you send us one of these files?

[2018-04-14 23:20] WonderDog commented on #2376
Here is the Mincolonies folder from an older game as it has a good history showing the behaviour.
[minecolonies.zip](https://github.com/Minecolonies/minecolonies/files/1911442/minecolonies.zip)

I seem to deleted the test game from yesterday.  I can run it again as it only takes a few minutes if you want. New game and load/save a few times.

I think the mods adding trees are Biome's o Plenty, Natu

[2018-04-15 00:29] WonderDog commented on #2376
I created a new instance of ATM3 5v9.3 and made no changes.  [CT Mod List.txt](https://github.com/Minecolonies/minecolonies/files/1911496/Mod.List.txt)

Created a new creative game Flat World, Overword preset.  Flat World, default preset does not cause the error.  [Minecolonies Tester.zip](https://github.com/Minecolonies/minecolonies/files/1911497/minecolonies.Tester.zip)

Notice how each backup z

[2018-04-15 00:42] Raycoms commented on #2376
I'm looking over the data atm, and I'm noticing that forestry has some amazingly complicated saplings with chromosomes etc, might there exist an almost infinite amount of saplings for forestry?

[2018-04-15 00:51] Justen-N commented on #2376
Well, kind of. You have to breed for each set of chromosomes, so that
shouldn't  be affecting the save file. I think the is in the sapling
registry code. It should run once on startup, overriding the current file,
and that's it.

On Sat, Apr 14, 2018, 6:42 PM Raycoms <notifications@github.com> wrote:

[2018-04-15 00:52] Justen-N commented on #2376
Honestly, yeah, I think we aren't overwriting the file, it just reregisters
every startup.

On Sat, Apr 14, 2018, 6:51 PM Justen Neeley <losthalflingrogue@gmail.com>
wrote:

[2018-04-15 01:18] WonderDog commented on #2376
Its probably not noticeable on a server as you rarely shut it down but in single player I probably load the game between 5 - 20 times a week.

[2018-04-15 01:22] Raycoms commented on #2376
https://s3.eu-central-1.amazonaws.com/minecolonies/Minecolonies/Minecolonies_Branches/8096/minecolonies-universal-1.12.2-0.8.8096.jar

Can you check if this jar fixes it?

[2018-04-15 01:47] WonderDog commented on #2376
Great looks to be fixed.  76 entries over multiple reloads.

[atm3 testing](https://user-images.githubusercontent.com/8510324/38774081-831d06d2-40a2-11e8-8606-0f23857c70eb.JPG)

[2018-04-15 01:47] #2376 closed, assigned to nobody

[2018-04-15 06:27] TrevorRuppert opened #2379 "latest version is listed as supporting 1.12.2 but on launch it says it requires 1.10.2"
Downloaded and installed the mod into the folder, on launch an error occured saying the mod requires version 1.10.2 however on the download page it is listed supporting 1.12.2

Pack being installed in is FTB Presents DW20 1.12 Non beta release version 1.9

[2018-04-15 06:31] #2379 closed, assigned to nobody

[2018-04-15 06:32] TrevorRuppert commented on #2379
Downloaded wrong file from the website cause im a derp.

[2018-04-15 06:37] DeadDJButterflies opened #2380 "Minecolony Keeps Crashing as soon as I place the town hall"
Minecolonies version

version 1.12.2

Expected behavior

- To run smoothly without error or complication when placing blocks

Actual behaviour

- After placing the town hall block, the game crashes and wont open again

Steps to reproduce the problem

1. Open new game (in whatever setting)
2. Open inventory or craft a town hall
3. Place town hall on any block

[2018-04-15 09:56] NuL1F3 opened #2381 "No Build Preview When Using Shaders"
### Minecolonies version

version 1.12.2-0.8.8095

### Expected behavior

-Should show build preview when placing build huts with the building tool

### Actual behaviour

- No build preview

### Steps to reproduce the problem

I am using the latest Sildur's shader and since a recent mod update I can no longer see build previews whilst using it.

[2018-04-15 10:41] marchermans commented on #2381
Yep, certain shaders do not respect Minecrafts default block format. Sorry there is nothing we can do.

[2018-04-15 10:41] #2381 closed, assigned to nobody

[2018-04-15 10:46] NuL1F3 commented on #2381
I have used these shaders since the start and have never had a problem. It was only since one of the latest minecolonies updates that it stopped working. So how is that not a minecolonies issue?

[2018-04-15 12:46] NuL1F3 opened #2382 "No Build Preview When Using Shaders."
### Minecolonies version

version 1.12.2-0.8.8095

### Expected behavior

- Should show build preview when placing build huts with the building tool.

### Actual behaviour

- No build preview.

### Steps to reproduce the problem

I am using shaders and since a recent mod update, I can no longer see build previews whilst using it. I have gone back to version 1.12.2-0.8.8008 and previews are working

[2018-04-15 13:17] Raycoms commented on #2382
We rewrote the system using vbos like Minecraft does for its world
rendering, so the bug for the rendering is on the shaders side probably

On Sun, Apr 15, 2018, 09:46 NuL1F3 <notifications@github.com> wrote:

[2018-04-15 13:19] NuL1F3 commented on #2382
That is unfortunate.

[2018-04-15 13:24] marchermans commented on #2382
Yeah a lot of shaders (optifine is a good example) do not respect MCs default vertex ordering and data, they pick what they need and be done with it.

[2018-04-15 13:24] #2382 closed, assigned to nobody

[2018-04-15 14:38] Justen-N commented on #2380
This is fixed in the alpha build on curse.  Please upgrade to it. Also,
please submit the Minecolonies version, not the Minecraft  version.

On Sun, Apr 15, 2018, 12:37 AM DeadDJButterflies <notifications@github.com>
wrote:

[2018-04-15 17:31] matthijsthoolen opened #2383 "Bug: custom schematics not build"
### Minecolonies version

version 1.12.2-0.8.8095

### Expected behavior

- Build the custom schematic

### Actual behaviour

- The building tape is placed. But builders won't start building

### Steps to reproduce the problem

1. Upgrade to version 8095 (7972 just works fine)
2. Build a custom schematic somewhere within the city limits
3. I did not get the message 'Succesfully send' but a friend

[2018-04-15 18:36] BonaireDreams commented on #2365
I hate this as well. You're in the midst of fighting a bunch of barbarians, accidentally hit a guard and then they switch to you. They never forgive you either. If you run away they do stop chasing you, but as soon as you are in range again they attack you. Only option left is to kill them which reduces happiness.

[2018-04-15 18:36] Raycoms commented on #2365
@Asherslab is working on the guards atm, he can code them to be a bit more forgiving =P

[2018-04-15 18:49] BonaireDreams opened #2384 "[Bug?] [Suggestion] Barbarians receive speed buff."
Minecolonies version

version 0.8.8068

Expected behavior

Barbarians don't receive SPEED Buff

Actual behaviour

Barbarians do receive Speed Buff and they are crazy fast. Not sure if caused by Minecraft grass pathways, and Totemic Horse Totemes (Speed) (from Totemic Mod, gives a 13x13 area speed boost)

Steps to reproduce the problem

1. Have Large Village
2. Add grass pathways and Totemic Speed

[2018-04-15 18:51] Raycoms commented on #2384
Actually, hordes usually have a 30-60 second speed buff shortly after
spawning to allow them to get to town quicker.
Since Barbarians are mobs and citizen passive npcs, they react differently
to the speed buffs. Although it's strange citizens do not get a speed buff
from the Totems.

2018-04-15 19:49 GMT+01:00 Gerald <notifications@github.com>:

[2018-04-15 19:03] BonaireDreams commented on #2384
Interesting, I'll monitor the barbarians more closely to see if they are actually receiving the buff or if this was residual speed buff left over spawn. It seems this horde spawned maybe 20 blocks away from my townhall and not outside the town boundaries. I received the "Buckle your seatbelts" warning and within 20 seconds, 3 of my citizens were already dead and the horde was in the center of town

[2018-04-16 01:44] BonaireDreams commented on #2330
No longer happens as of 0.8.8068

[2018-04-16 01:44] #2330 closed, assigned to nobody

[2018-04-16 02:58] ProsperCraft opened #2385 "Client Crash when looking in the builders hut and someone else breaks the hut. NullPointerException: Ticking screen"
java.lang.NullPointerException: Ticking screen
	at com.minecolonies.coremod.client.gui.AbstractWindowBuilding.onUpdate(AbstractWindowBuilding.java:109)
	at com.minecolonies.coremod.client.gui.WindowHutBuilder.onUpdate(WindowHutBuilder.java:211)
	at com.minecolonies.blockout.Screen.func_73876_c(Screen.java:127)

https://gist.github.com/ProsperCraft/b0892d2648637f745e94b005fba83ca6

### Minecolonies

[2018-04-16 08:40] Asherslab commented on #2365
@Raycoms i can and i will =P
how forgiving would you like?
On a scale of Canadian to North Korea

[2018-04-16 09:54] carlansor commented on #2355
what about contraptor? (not really know what is a contraptor, just like the word)

[2018-04-16 11:44] Raycoms commented on #2365
Just one hit back is okay

On Mon, Apr 16, 2018, 05:41 Asherslab <notifications@github.com> wrote:

[2018-04-16 18:00] osechet opened #2386 "Herders don't get any experience"
### Minecolonies version

version 1.12.2 or curse X.X.XX

### Expected behavior

- Herders should get experience working with their animals.

### Actual behaviour

- Herders experience stays at 0.

### Steps to reproduce the problem

1. Build any of the herders hut (tested with chicken, sheep and cow)
2. Give the proper tools and food
3. Bring some animals inside the fences
4. Let the herder works

[2018-04-17 01:50] MaddysinLeigh opened #2387 "Weirdness after crashing"
Three times after my game crashed and I went back in my colonists have disappeared and the building chests no longer work. All the buildings and construction is still there but I have to delete the chests and start all over, which wouldn't be a problem for me if I hadn't already upgraded most of buildings to the third or fourth tier.

Another time when my game crashed all of my colonists were relo

[2018-04-17 04:52] Asherslab commented on #2387
This happens because the colony NBT got corrupted when the game crashed. you can load a backup of you colony in the Minecraft/saves/{world-folder}/minecolonies

[2018-04-17 07:23] guitarguy0124 commented on #589
I've had this same issue more times than I can count. Pretty much every other time minecraft crashes. And I'm not doing anything with the stone mason. Restore doesn't work. Just have to start a new world...amazing mod, but there's got to be some way to recover.

[2018-04-17 15:43] ThePlanetMan opened #2388 "Building templates not visible with shaders on?"
### Minecolonies version

version 0.8.8117

### Expected behavior

- Use building tool to see block template in the world (so it can be moved before confirming)

### Actual behaviour

- No block templates are visible (tested multiple buildings)

### Steps to reproduce the problem

1. Mod is installed as part of Towncraft modpack
2. Using Optifine 1.12.2_HD_U_D1, with either of KUDA-Shaders v6.5.56

[2018-04-17 16:06] marchermans commented on #2388
Yes. Since a month we are using VBOs to render templates. Almost all shaders do not respect this even though they simply should if they were used right. I am looking into this, but I am not having much hope.

[2018-04-17 16:06] #2388 closed, assigned to nobody

[2018-04-17 16:24] MaddysinLeigh commented on #2387
Okay thanks!

[2018-04-17 18:17] 99Blocks opened #2389 "Chiselled Variants not being requested correctly by Builder - Follow up from Discord"
### Minecolonies version

version Universal-1.12.2-0.8.7582.jar (Forge 14.23.2657)

### Expected behavior

- Being able to distinguish between chiselled variants in the Builder Request menu/inventory

### Actual behaviour

- I'll post my original question from the discord here:

"I'm currently working on a new modpack and want to include some custom buildings that players can style their colonies

[2018-04-17 19:06] H3roDude opened #2390 "SkyColonies Crash when upgrade a Custom made Hut (Custom stylepack)"
### minecolonies-universal-1.12.2-0.8.8095

SkyColonies 2.0 V2.1

### Expected behavior

- Custom Schematics and roads can be build by builder without crashing or any other issues

### Actual behaviour

- On Huts, First level works fine... on second level, your game will crash (crashlog:https://pastebin.com/L6hFnQSK)
- Roads are saved in the Townhall when placing via b. tool but Builder wont start

[2018-04-18 01:04] CharCharthemonkey opened #2391 "broken permissions"
### Minecolonies version
1.12.2-0.8.8117
version X.X.XXXX or curse X.X.XX

### Expected behavior
to work correctly
- XXX

### Actual behaviour
doesnt work rigth
- YYY

### Steps to reproduce the problem
set any fake player in permissions in the townhall to officer log out then back in and it is reset
1. XYZ
2. ZYX
3. ...
4. Profit

[2018-04-18 01:10] Asherslab commented on #2391
umm. we're going to need a tonne more information than that thanks

[2018-04-18 02:30] Raycoms commented on #2389
I tested this, please use the newest minecolonies version

[2018-04-18 02:30] #2389 closed, assigned to nobody

[2018-04-18 05:28] CharCharthemonkey commented on #2391
basically anytime i load in my SP world i have to re add ancientwarfare2 fake players to be allowed to do anything in my colony same for most cyclic machines too

[2018-04-18 10:56] thecatcore commented on #2390
On client modpack the path to the schematics is "SkyColonies" but when the game crash for this issue in the console the game say "Skycolonies" this is a Problem ?

[2018-04-18 12:36] H3roDude commented on #2390
im not really understanding what youre saying

[2018-04-18 12:52] thecatcore commented on #2390
In the modpack files, the path to the schematics of style "Skycolonies" is ./minecolonies/schematics/SkyColonies/ . But when they have the issue in the log of client the game say he didn't find the schematics on path ./minecolonies/schematics/Skycolonies/ (on the server) is this a problem ? (sorry for my possible bad english)

[2018-04-18 12:54] Raycoms commented on #2390
H3ro, the server folder is Skycolonies or SkyColonies?

2018-04-18 13:52 GMT+01:00 arthurbambou <notifications@github.com>:

[2018-04-18 13:31] nick-johnson opened #2392 "No colony border shown"
### Minecolonies version

version 0.8.8117 or curse X.X.XX

### Expected behavior

- Colony border visible when build preview shown through Building Tool

### Actual behaviour

- Colony border is not visible

[2018-04-18 13:35] marchermans commented on #2392
That is indeed the case, and I am working on this. For now this feature has been removed infavor of improving the performance of the building tool with bigger structures.

[2018-04-18 13:35] #2392 closed, assigned to Raycoms

[2018-04-18 15:22] H3roDude commented on #2390
Skycolonies

[2018-04-18 15:22] Raycoms commented on #2390
and in the modpack the folder is SkyColonies?

2018-04-18 16:22 GMT+01:00 H3roDude <notifications@github.com>:

[2018-04-18 15:26] H3roDude commented on #2390
could be, let me look.. but why is that important? i mean, why does it have to be the same names? Isnt that serverside?

[2018-04-18 15:26] H3roDude commented on #2390
yeah client is SkyColonies

[2018-04-18 15:26] Raycoms commented on #2390
server and client side names should match.

2018-04-18 16:26 GMT+01:00 H3roDude <notifications@github.com>:

[2018-04-18 15:27] H3roDude commented on #2390
ugh since when? :o

[2018-04-18 15:29] Raycoms commented on #2390
Or you don't put the client side files at all. or you put them with the
same names. Else case differences can cause issues depending on the OS.

2018-04-18 16:27 GMT+01:00 H3roDude <notifications@github.com>:

[2018-04-18 15:30] H3roDude commented on #2390
gotcha.. thank you Ray

[2018-04-18 15:30] #2390 closed, assigned to nobody

[2018-04-18 21:09] BonaireDreams commented on #2391
I've had this in every version of minecolonies that I've used over the past 3 months. Assumed it was just normal. Running on a server. I can log on and off and the Fake players retain their permissions. But my servers shuts down every night and performs a full offsite backup. Then starts up again. The next day everyone has to re-add any fakeplayers and give them officer permissions so the machines

[2018-04-19 05:14] guitarguy0124 opened #2393 "Dark Oak Barracks crashing when attempting Lvl 2 upgrade."
### Minecolonies version

version 0.8.8053 or curse X.X.XX

### Expected behavior

- When clicking upgrade button on lvl 2 dark oak barracks, construction tape will appear and upgrade build request will be added to build queue.

### Actual behaviour

- Minecraft crashes, but server is allowed to shutdown (not typically the case with MC caused crashes).

### Steps to reproduce the problem

1. Start

[2018-04-19 07:27] guitarguy0124 commented on #2393
I just attempted a different route, by building a wood barracks all the way up to level 5, and then changing the design. Minecraft crashed the moment I clicked the 'right' button and it attempted to toggle from birch to dark oak.

[2018-04-19 07:53] marchermans commented on #2393
Are you on SkyColonies or running custom schematics?

[2018-04-19 15:51] ghost opened #2394 "crash on update to 0.8.8117"
### Minecolonies version

version 0.8.8117

### Expected behavior

All the Mods 3 released a pack update 5.9.3b last night, including version 0.8.8117 of MineColonies, up from 0.8.8053 in 5.9.3

### Actual behaviour

However upon loading the server it has the following crash which seems to be related to MineColonies: https://pastebin.com/W2727Nci

On restart, server loads up, but the colony is con

[2018-04-19 17:41] #2394 closed, assigned to Raycoms

[2018-04-20 05:08] Asherslab opened #2396 "Building switch style Client Crash"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7972.jar

### Expected behavior

- When switching a Building style with a custom style, it doesn't crash

### Actual behaviour

- When switching a building style with a custom style (on a server) the client crashes with the following log: https://gist.github.com/Asherslab/25e4252f4670eeb25b60ab792f742b43
As far as we are aware, the custom

[2018-04-20 05:22] guitarguy0124 commented on #2393
No, and no.

[2018-04-20 06:05] marchermans commented on #2396
This happens when you name stuff wrong see hero error from this week.

[2018-04-20 06:47] Asherslab commented on #2396
@OrionDevelopment the pack isn't installed on the client side, as was stated to not do in: #2390

[2018-04-20 07:02] marchermans commented on #2396
This is your sync to server code if I am not mistaken. I have no idea.

[2018-04-20 09:29] Starshak3r commented on #2396
This also happens when I attempt to upgrade said custom building from Level1 to Level2, but **does not** happen on my personal server with the same exact stylepack.

I also did not change the folder name from Uppercase to Lowercase in my server, if that matters

[2018-04-20 09:57] marchermans commented on #2396
Again for @Asherslab , make sure capitalization is correct! Even if it is not on the client. If it works for @Starshak3r it is not Minecolonies. Make sure the directories are properly named.

[2018-04-20 09:58] marchermans commented on #2393
@Raycoms