[2018-04-20 10:23] Starshak3r commented on #2396
I also solved this error I think, by simply adding a local copy of the schematic into the minecolonies.jar on my machine.
When I clicked the upgrade from Builder 1 to Builder 2, no crash. Accepted the queue position for the upgrade, and as soon as the other building is finished I will be able to verify 100% that it is working

*edit*
Mr. Diego is happily upgrading his hut from level 1 to level 2

[2018-04-20 10:39] marchermans commented on #2396
Yeah but you should not need to. There is code in place for this.

[2018-04-20 22:35] miosaurio opened #2398 "Builder not work"
### Minecolonies version

version 0.8.8127 or curse X.X.XX

### Expected behavior

- build the whole town medieval style

### Actual behaviour

- the builder does not build his own hut when you put medieval oak,

### Steps to reproduce the problem

1. Start Colony.
2. try to build the construstructo cottage of the medieval style oak
3.dig the ground
4. Stands with a solid-placeholderblock in his h

[2018-04-20 22:36] miosaurio commented on #2398
sorry for my bad English (made with google translator (I'm too lazy to get my dictionary in English))

[2018-04-20 23:55] guitarguy0124 commented on #2393
UPDATE: I tried copying the .NBT (for level 5) out of the .JAR into my scans, and building it that way. Still no dice.

[2018-04-21 01:47] MokahTGS commented on #2386
It's not just herders.  My builder doesn't seem to be gaining exp either.

[2018-04-21 01:50] CharCharthemonkey opened #2399 "umm possible derp?"
### Minecolonies version

version1.12.2-0.8.8117 or curse1.12.2

### Expected behavior
render normally
- XXX

### Actual behaviour
renders as a broken block that looks see through
- YYY

### Steps to reproduce the problem
pick any of the buildings place them via the builder tool click rotate and it shows
![2018-04-20_18 48 24](https://user-images.githubusercontent.com/30783285/39079254-7849950c-44

[2018-04-21 03:04] #2396 closed, assigned to Raycoms

[2018-04-21 03:38] MokahTGS opened #2400 "Farm Fields Need to handle more than one seed type at a time."
1.12.2

Field GUI should allow the player to put seeds into it's inventory which define what is cultivated.  With modded crops (or even vanilla) you simple have too many crops to farm and it could all be done with one or two fields instead of 50+

[2018-04-21 06:11] courseofra opened #2401 "Loading a savegame may last "forever" depending on size of colonies.dat"
Hi dear team,

### Minecolonies version

minecolonies-universal-1.12.2-0.8.8008
(Not testet with newer versions since I found no information belonging to this in the changelogs)

### Expected behavior

- Load fast

### Actual behaviour

- Loading a savegame lasts up to 45 Minutes, depending on filesize of ...\.minecraft\saves\[NAME]\minecolonies\colonies.dat which is seeming to depend on how much

[2018-04-21 16:36] MokahTGS commented on #2400
My thought on this is that the GUI for the farm field could be changed to a 5x5 square grid representing each of the farm plots for that field.  The player could then define exactly the crop grown in each plot by placing seeds in each square.  This would make the farm 300% more useful in a modded environment.

[2018-04-21 18:16] marchermans commented on #2400
This is currently on hold. Blockout (what we are using to construct gui's does not support inventories directly, it is being worked upon however)

[2018-04-21 20:29] MokahTGS commented on #2400
As it turns out, the farmer does farm custom crops.  You just have to plant them yourself.  The farmer will harvest anything in the field that is planted and growing.  Doesn't even break and replace...just harvests.  I'll close this for now.

[2018-04-21 20:29] #2400 closed, assigned to nobody

[2018-04-21 20:31] MokahTGS commented on #2285
Hopefully this will get support.  Currently my cowboy just feeds the cows endlessly until he's out of wheat.

[2018-04-21 22:42] MokahTGS opened #2402 "Farmer Not Compatible with Agricraft Crop Sticks"
### Minecolonies version

1.12.2

The farmer will break crop sticks and mature crops on them and replace them with only seeds, instead of just right clicking to harvest.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/57412259-farmer-not-compatible-with-agricraft-crop-sticks?utm_campaign=plugin&utm_content=tracker%2F43175463&utm_med

[2018-04-23 01:17] CharCharthemonkey opened #2403 "broken GUI on buildings when trying to build them"
Minecolonies version

version 1.12.2.0.8.8117

### Expected behavior

- not crash when trying to open the GUI

### Actual behaviour

- repeatedly crashes on opening the GUI

### Steps to reproduce the problem

1. place down building (this time was caused by the lumberjack)
2. right click with and without biulder wand tool
3. crash
4. Profit
https://pastebin.com/iCRAWNv2

[2018-04-23 04:14] CharCharthemonkey commented on #2403
after testing on the latest update for minecolonies it still crashes on the lumberjack but not the rest of the buildings
https://pastebin.com/3bZZH3nx

[2018-04-23 04:18] Justen-N commented on #2403
Are you playing with other mods that add large numbers of trees? Because
there  is a known issue logged for lumberjack gui.

On Sun, Apr 22, 2018, 10:14 PM CharCharthemonkey <notifications@github.com>
wrote:

[2018-04-23 04:20] CharCharthemonkey commented on #2403
nope its vanilla trees and tinkers no dynamic trees or BOP trees or anything like that

[2018-04-23 08:19] akorn opened #2404 "Wooden smeltery lvl3 upgrade crash"
### Minecolonies version

version 0.8.8133

### Expected behavior

- When pressing 'upgrade' button in GUI, upgrade options should pop up as with other buildings.

### Actual behaviour

- Crash to desktop.

### Steps to reproduce the problem

1. Have a wooden smeltery at level 3.
2. Right click its chest.
3. Click 'upgrade building'.

This used to work until 11 April or so; I think it may have bro

[2018-04-23 12:03] kreezxil opened #2405 "[build 8133] no /help available"
### Minecolonies version

build 8133

### Expected behavior

- as non-creative player and non-op player expect /help to show the minecolonies entries

### Actual behaviour

- all improperty mod coded help terminated

### Steps to reproduce the problem

1.install this mod version and nothing else, be amazed that it has no help

### Notes
Using **Forge** build 2673
This was reported to me a few vers

[2018-04-23 14:05] kreezxil commented on #2405
The following builds also have no help

- 8127
- 8117
- 8113
- 8095
- 8068
- 8053
- 8026
- 8021
- 8008
- 7996
- 7972
- 7965
- 7953
- 7949
- 7934
- 7913
- 7902
- 7883
- 7875
- 7869
- 7866
- 7855
- 7847

# maybe it's Forge related. At this point I'm going to fork the project and fix help and submit a PR.

[2018-04-24 14:11] kreezxil opened #2406 "Scan Tool Crashes in SSP"
### Minecolonies version

1.12.2-0.8.8133

### Expected behavior

- scan tool to not crash

### Actual behaviour

- scan tool causes crash

### Steps to reproduce the problem

[8:57 AM] Sandra: Created a scan of the library that I finished building (I do this more for testing than actually using it via the builders tool) and trying to use the scan with the builders tool then crashes the game. Othe

[2018-04-24 14:16] kreezxil commented on #2406
![pic](https://cdn.discordapp.com/attachments/237795556687216641/438321841325473803/unknown.png)
![pic](https://cdn.discordapp.com/attachments/237795556687216641/438321431550361600/unknown.png)
![pic](https://cdn.discordapp.com/attachments/237795556687216641/438320959976374272/unknown.png)
![pic](https://cdn.discordapp.com/attachments/237795556687216641/438316595866107905/unknown.png)
![pic](https

[2018-04-24 14:30] Raycoms commented on #2406
This is a buildtool rendering issue then @oriononline

On Tue, Apr 24, 2018, 11:16 kreezxil <notifications@github.com> wrote:

[2018-04-24 15:06] marchermans commented on #2406
Hmm something with bibliocraft. We had the same issue with our Racks. It might be that schedule needs to be rescanned to update the data somehow.

@kreezxil The schematic would be nice.

[2018-04-24 17:44] kreezxil commented on #2406
I'm checking to see if the player made one or not and if not hoping she can
make it.

On Tue, Apr 24, 2018 at 10:06 AM, Marc Hermans <notifications@github.com>
wrote:

[2018-04-24 18:00] Silviax88 commented on #2406
@OrionDevelopment
Here's a zip file that contains the schematic for the library that causes the crashes
[https://drive.google.com/open?id=1D8isgCaATrXJUZkTzwInp1Jl331QOOJ9](url)

(I'm the user who experienced the issues btw xP)

[2018-04-24 20:04] marchermans commented on #2406
Is it a custom schematic?

[2018-04-25 07:17] Silviax88 commented on #2406
@OrionDevelopment Yeah, I built it in creative mode singleplayer and used the scan tool to make the schematic, then trying to place it with the builder's tool is what crashed the game

[2018-04-25 09:36] marchermans commented on #2406
Yeah there are some blocks which behave a bit wrongly

[2018-04-25 09:36] marchermans commented on #2406
Are you using any blocks from Bibliocraft?

[2018-04-25 09:37] marchermans commented on #2406
Cause if so they might be accessing the world which is simply not supported. I will try to find a away to exclude them.

[2018-04-25 11:55] hron84 commented on #2285
@capnkirok maybe could you make an API call that can return male/female info based on names?

[2018-04-25 13:03] marchermans commented on #2285
@capnkirok Do you still need a BuildSystem / Repository?

[2018-04-26 06:22] Asherslab commented on #2398
Hey there, when you click on the builder, and look at his "requests" does it have anything in there?

[2018-04-26 06:26] Asherslab commented on #2372
So, i think this is fixed now, so i'm going to close this

[2018-04-26 06:27] Asherslab commented on #2360
Is this fixed now?

[2018-04-26 06:28] Asherslab commented on #2355
Isn't this fixed now?

[2018-04-26 06:29] Asherslab commented on #2331
This is too non-descript. create a new, more descriptive issue

[2018-04-26 06:29] #2331 closed, assigned to nobody

[2018-04-26 06:31] Asherslab commented on #2313
@OrionDevelopment Yessss, completely new Guard Tower placement system in the new Guards rework

[2018-04-26 06:55] Asherslab commented on #2242
Sooo, can i close this now?

[2018-04-26 07:02] Asherslab commented on #2191
This has been made as of recently if i'm correct?

[2018-04-26 07:08] Asherslab commented on #2097
Is this fixed now?

[2018-04-26 07:08] Asherslab commented on #2096
Is this fixed now?

[2018-04-26 07:10] Asherslab commented on #2051
Is this still happening?

[2018-04-26 07:12] Asherslab commented on #1856
You shouldn't be putting more than one seed item in a scarecrow anyway. it is not used as storage

[2018-04-26 07:12] #1856 closed, assigned to nobody

[2018-04-26 07:13] #2242 closed, assigned to nobody

[2018-04-26 07:13] #1741 closed, assigned to nobody

[2018-04-26 07:14] #2191 closed, assigned to nobody

[2018-04-26 07:15] #1712 closed, assigned to nobody

[2018-04-26 07:15] #1711 closed, assigned to nobody

[2018-04-26 07:19] #1471 closed, assigned to nobody

[2018-04-26 07:21] #1414 closed, assigned to nobody

[2018-04-26 07:22] Asherslab commented on #1319
This was added a while ago =D

[2018-04-26 07:22] #1319 closed, assigned to Asherslab

[2018-04-26 07:25] Asherslab commented on #831
New Construction tape fixed this [closed]

[2018-04-26 07:25] #831 closed, assigned to nobody

[2018-04-26 07:42] Asherslab commented on #35
So is this fixed now?

[2018-04-26 14:14] mkienenb commented on #2372
No, it's not fixed until someone merges pr #2373.  Not sure what the hold-up on that is.

[2018-04-26 21:41] Wissi opened #2407 "[Feature Request] TH to show Citizen's Skills"
TH Citizens Tab in GUI currently shows the "Names" of the citizens.

Request: On click of citizen's name it shows the "Skills" for that specific Citizen (on the other page of the GU).
For better management of Workers.

![th_gui](https://user-images.githubusercontent.com/23312242/39333471-869e5b0c-499a-11e8-943b-e7dee6e93de3.png)

[2018-04-27 08:47] WPaul15 opened #2408 "Colony Automatically Placing Random Mineshafts Everywhere [1.12.2]"
### Minecolonies Version

- 1.12.2-0.8.8133

### Forge Version

- 14.23.3.2674

### Issue

After updating to the latest version of MineColonies (0.8.8133), I got on to play. At one point, I noticed that there was a random area surrounded by Construction Tape (See image below). I went to the Town Hall to look, and I noticed that `schematics/miner/mine...` was in the Work Orders list (The name is to

[2018-04-27 12:34] #2372 closed, assigned to mkienenb

[2018-04-27 12:44] Electrocutor opened #2409 "[Enhancement] MineColonies Texture Consistency"
Please, adjust the block models that come with minecolonies to use the normal minecraft textures where at all possible. This will allow minecolonies to look right regardless of what texture pack you may be using without the need for that texture pack to make special textures just for minecolonies.

Example:
The rack is merely oak wood and iron, but instead of just using blocks/planks_oak and block

[2018-04-27 12:45] Electrocutor commented on #2409
Here's some examples:
https://forum.minecolonies.com/showthread.php?tid=331

[2018-04-27 13:01] marchermans commented on #2408
@Raycoms

[2018-04-27 13:06] Raycoms commented on #2408
Can you test if this one works:

https://s3.eu-central-1.amazonaws.com/minecolonies/Minecolonies/Minecolonies_Branches/8143/minecolonies-universal-1.12.2-0.8.8143.jar

2018-04-27 14:01 GMT+01:00 Marc Hermans <notifications@github.com>:

[2018-04-27 13:20] WPaul15 commented on #2408
That seems to do the trick! Thank you!

[2018-04-27 17:28] #2408 closed, assigned to Raycoms

[2018-04-28 18:45] shiney103 opened #2411 "Colony data + colonists vanishing on server stop."
### Minecolonies version

version 0.8.8133 (Included in ATM3 v5.9.4)

### Expected behavior

- The colonists should remain, and the building blocks should be able to be interacted with. The colony should persist after a restart.

### Actual behaviour

-Sometimes when restarting, or more reliably when stopping a server, and starting it fresh, existing colonies will lose their information, and colon

[2018-04-29 00:54] Arystina commented on #2360
Doesn't seem like it. I was just about to report the same issue and I am playing the latest version of Minecolonies. My Smeltery guy wants a cow egg for some reason at the lvl 4 upgrade. At this time I guess if you are playing singleplayer, just grab the spawn egg in creative mode.

[2018-04-29 04:03] carlansor commented on #2360
i just gave the fixed schem to Raycoms. The fix will be included in latest alpha. @Arystina what style are you using with the smeltery? if its one the medievals, wich one?

[2018-04-29 04:33] Arystina commented on #2360
Taiga.

[2018-04-29 04:36] Arystina commented on #2360
Sorry. It's the 'wooden' one.

[2018-04-30 07:40] Asherslab commented on #2411
this happens because of the way that Minecraft stops servers and saves NBT data.
In basic there's nothing we can do right now, we are wanting to overhaul the system to allow for saving directly to the world in the future though, which would (hopefully) fix the issue

[2018-04-30 07:41] WPaul15 opened #2412 "Some Colonist Inventories Won't Open [1.12.2]"
### Minecolonies Version

- 1.12.2-0.8.8147

### Forge Version

- 14.23.3.2674

### Issue

This only happens with some colonists, but if I try to open their inventories, nothing happens. Their requests open just fine, however. I'm not sure why it only happens with some and not the others, though.

Here's a list of my colonists affected:
- 1/2 Farmers
- 1/1 Cowboys
- 3/7 Guards (2 are Barracks Guar

[2018-04-30 11:42] Raycoms commented on #2412
Reopen with more info

[2018-04-30 11:42] #2412 closed, assigned to nobody

[2018-04-30 17:32] Bfk98 opened #2413 "mine colonies custom main menu pngs and config names need to be lowercase"
MineColonies Official v 4.25 on minecraft.curseforge.com/
using multimc 6
the custom main menu config and pngs need to be all lower case for linux clients otherwise the mod does not recognise them and you get the standard purple and black title  screen

[2018-04-30 17:39] mkienenb commented on #2413
@Wissi Weren't you already working on this?

[2018-04-30 19:50] WPaul15 commented on #2412
@Raycoms, what other info should I provide?

[2018-04-30 20:55] marchermans commented on #2412
We have an issue template fill it in.

[2018-04-30 21:08] Wissi commented on #2413
Fixed already. Should be up on next version update.

[2018-04-30 21:08] #2413 closed, assigned to nobody

[2018-04-30 21:12] #2380 closed, assigned to nobody

[2018-04-30 21:17] Wissi commented on #2359
When there are more workers than can be shown on the TH GUI Information tab page.
1. Maybe add a scrollbar or
2. Change information from pg. 1 and 2 and add a pg. 3 to continue showing the rest of the Workers.
Will be necessary as more Worker types are implemented.

[2018-04-30 21:21] Wissi commented on #2348
Yes unfortunately Tinker's tools don't dissapear or stop working when they go to "broken" status.
Part of the compatibility w/Tinker's tools should make the Broken state be treated as no tool/new tool required?

[2018-04-30 21:24] Wissi commented on #2314
@randomlypickedname can you please upgrade to the latest alpha version and report back if that actually happens again and if you have tested it further?
Else it will be closed as has not been reported elsewhere.
thanks.

[2018-04-30 21:26] Wissi commented on #2317
@sylcai Please update to the latest Alpha.
Can you confirm you still have this issue?
Else the issue will be closed.
Thanks.

[2018-04-30 21:31] Wissi commented on #2300
@lebanni Could you please update to the latest Alpha and verify if this is still happening to you.
Else this issue will be closed as resolved.
Thank you.

[2018-04-30 21:37] Wissi commented on #2270
Closed cause it's not an Issue that requires to be fixed nor a specific mod request.
Cleaning up issues.

[2018-04-30 21:37] #2270 closed, assigned to nobody

[2018-04-30 21:38] Wissi commented on #2387
Closing due to crash related issue not mod related issue.
No fix required by developers.

[2018-04-30 21:38] #2387 closed, assigned to nobody

[2018-04-30 22:09] WPaul15 opened #2414 "Some Colonists' Inventories Won't Open"
### MineColonies Version

- 1.12.2-0.8.8147

### Forge Version

- 14.23.3.2674

### Expected Behavior

The colonist's inventory should appear when I click on "Inventory" in their menu.

### Actual Behavior

The colonist's inventory does not appear when I click on "Inventory" in their menu.
This is not the case for all colonists, however; some work just fine. After closing and reloading the game, i

[2018-04-30 22:10] WPaul15 commented on #2414
I hope this suffices. If not, please give me _specific_ data you'd like to have. Otherwise, I'll just be reporting the same thing in different words.

[2018-04-30 22:22] Wissi opened #2415 "[Feature Request] Add Town name to be displayed when barbarians attack."
A much needed feature for multiplayer settings.

When player receives a msg that barbarians are incoming, it should include the name of the Town that is being/going to be attacked by barbarians.

When players on server (or LAN) are added to other Towns as officers, they receive the msg about barbarians and have no idea what Town is being attacked. If it's their own Town or someone else's Town wher

[2018-04-30 22:54] Raycoms commented on #2414
Can you attach your world?

[2018-04-30 23:01] PoroUsedSnax opened #2416 "/mc whereami could give better information"
### Minecolonies version

version 0.8.8147

### Expected behavior

When using /mc whereami in a colony, it tells you information about the colony (Which it does) And when outside a colony (In the no new colony zone) it says you can't build there, and you're near a colony

### Actual behaviour

When you are outside a colony, but still inside it's no new colony area, /mc whereami will tell the user

[2018-05-01 04:20] MaddysinLeigh opened #2417 "Repositioning preview"
I tried to reposition a building and now the unplaced building won't disappear. I even started a new game and it's in the new game.

[2018-05-01 06:49] marchermans commented on #2417
Please. Fill in the Template. More information Is required.

[2018-05-01 06:49] #2417 closed, assigned to nobody

[2018-05-01 07:12] marchermans commented on #2317
No idea

[2018-05-01 07:12] marchermans commented on #2317
Will de fixed with the rs rewrite though

[2018-05-01 11:36] Raycoms commented on #2417
Close the preview with the X in the gui

On Tue, May 1, 2018, 03:49 Marc Hermans <notifications@github.com> wrote:

[2018-05-01 15:47] MaddysinLeigh commented on #2417
there is no X, and I can't destroy any of the blocks

[2018-05-01 16:08] Raycoms commented on #2417
you have to open the relocate GUI again

2018-05-01 16:47 GMT+01:00 MaddysinLeigh <notifications@github.com>:

[2018-05-01 17:17] coldsthetic opened #2418 "Crash on loading screen"
### Minecolonies version
colonies version
1.12.2-0.8.8008
version X.X.XXXX or curse X.X.XX

### Expected behavior
to work on loading screen and not crash

### Actual behaviour
Minecraft on loading screen when added Minecolonies
### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-05-01 18:48] MaddysinLeigh commented on #2417
I tried and it won't come up

[2018-05-01 20:19] marchermans commented on #2418
More Details please. Logs worlds modpacks .

[2018-05-01 20:19] #2418 closed, assigned to nobody

[2018-05-02 08:05] WPaul15 commented on #2414
Absolutely! [MineColonies-WPaul15.zip](https://github.com/Minecolonies/minecolonies/files/1966336/MineColonies-WPaul15.zip)
Hopefully, everything will be there. I only included the region files that contain the colony, because otherwise, the file would have been too large to upload. If you don't spawn in the colony, going to (540, 69, 672) will put you there.

I am using some other mods alongside

[2018-05-02 16:47] lebanni commented on #2300
It's seems to work fine now. But I had to start a new world. I'll see when I have guards again. In the meantime I think you can close the issue.

[2018-05-02 16:48] #2300 closed, assigned to nobody

[2018-05-02 20:03] Wissi commented on #712
@Raycoms Should this be closed now?

[2018-05-02 20:18] ninjadcb opened #2419 "Bug with Town Hall"
1.11.2-0.8.1784

1.11.2

Being able to place a Town Hall

Saying "You already placed a Town Hall"

Steps to reproduce the problem:

1. Place a Town Hall
2. Break the Town hall (Break it quickly after placing it)
3. Try to place another Town Hall
4. Profit

[2018-05-03 11:37] #712 closed, assigned to nobody

[2018-05-03 15:40] Kocytos opened #2420 "Problem with OptiFine"
Minecolonies version: minecolonies-universal-1.12.2-0.8.8140
Optifine version: OptiFine_1.12.2_HD_U_D2

Problem:
![2018-05-03_17 38 35](https://user-images.githubusercontent.com/28514610/39587102-fc0450c8-4ef8-11e8-8652-8596fb0a32a5.png)

this is a Supplychest shematic lol

[2018-05-03 16:14] Justen-N commented on #2420
Please see #2388.

[2018-05-03 18:51] Justen-N commented on #2420
Kocytos, the issue is dealing with how optifine handles VBOs. I would try modifying your optifine settings,  to see if that would help, but this doesn't  look like a problem we can fix on our own.

[2018-05-03 19:03] marchermans commented on #2420
Actually we can. It is just on the lower priority end of the task list.

[2018-05-03 19:05] Justen-N commented on #2420
Oh, did you find something? Last I saw you weren't  very hopeful.

On Thu, May 3, 2018, 1:03 PM Marc Hermans <notifications@github.com> wrote:

[2018-05-03 19:06] Raycoms commented on #2420
We asked the Optifine devs and they linked us into a direction

[2018-05-03 19:07] Justen-N commented on #2420
Got it.

[2018-05-03 20:16] Wissi commented on #1078
I think this issue has been fixed?
Should this be closed @Raycoms ?

[2018-05-03 20:19] Raycoms commented on #1078
Yes please

2018-05-03 21:16 GMT+01:00 Wissi <notifications@github.com>:

[2018-05-03 20:19] Wissi commented on #1666
I think this issue has been resolved when the compatibility w/Pam's was done.
Close issue @Raycoms ?

[2018-05-03 20:27] Wissi commented on #1645
Barracks takes care of this already. Tho individual guard Towers still remain w/1 guard per Tower.
Can the Tower code for the barracks be copied over to the regular Tower to achieve this as is in the barracks?

[2018-05-03 20:32] #1078 closed, assigned to nobody

[2018-05-03 20:37] Wissi commented on #1453
@zyxifrash Was this implemented already?
Can we close this now?

[2018-05-03 20:53] Wissi commented on #2033
I guess since no further "update" was given by DrConner we can close this as issue resolved.

[2018-05-03 20:53] #2033 closed, assigned to nobody

[2018-05-03 20:59] Wissi commented on #2188
Closed as per Maescool reported on Feb 27:
"Bug present in minecolonies-universal-1.12.2-0.8.7582
Fixed in minecolonies-universal-1.12.2-0.8.7637"

[2018-05-03 20:59] #2188 closed, assigned to nobody

[2018-05-04 01:08] KyleSolo opened #2421 "Vanishing Colonists"
### Minecolonies version

All the Mods 3 server, minecolonies version 1.12.2-0.8.8133

### Expected behavior

Colonists are visible.

### Actual behaviour

Colonists never appear, though the interface tells me my colony has 4/4. I can see in the town hall interface that they all have names.

Clicking the Recall Villagers button causes a colonist with a name above their head to appear next to the t

[2018-05-04 02:56] PoroUsedSnax commented on #2421
For the server, are you using an 'overworld' world? Things like the nether, end, or other modded worlds will not work (Worlds like BOP and such will though) it has to be a normal world that you would start in, like you had in single player with the superflat

[2018-05-04 03:00] KyleSolo commented on #2421
It's a Biomes O Plenty overworld in the All The Mods 3 server. The singleplayer test world was superflat.

Update:
/mc citizens info colony: 1 citizen: 1
Prints the name and id, then "Citizen entity not loaded" (same for all 4 citizens)

[2018-05-04 15:14] BonaireDreams commented on #2414
Can confirm we've had this same issue for the past 3 months with every version of MC's we've used. We first had a Colonial Engineers server which had this issue, currently we are playing a Sevtech: Ages server with Minecolonies added.  It seems to happen much less on the current version we are running (.8068) than previous ones. I think I've only had it happen maybe once in the past week. But then

[2018-05-05 01:40] #2355 closed, assigned to Raycoms

[2018-05-05 01:40] #2391 closed, assigned to Raycoms

[2018-05-05 01:40] #2414 closed, assigned to Raycoms

[2018-05-05 01:40] #2415 closed, assigned to Raycoms

[2018-05-05 01:40] #2416 closed, assigned to Raycoms

[2018-05-05 08:29] ZzylinN opened #2423 "The miner does something strange. Minecolonies 1.12.2-0.8.8160"
Hello! I'm using version 1.12.2-0.8.8160
Java 1.8.0_121 (x64)
Forge 14.23.3.2672
The miner does something strange. I started the mine, and the miner broke the mine and began to build a box of earth and stone.
The height at which the mine begins (in the picture is visible): 68
Mine level: 4 (wood)
Picture attached: https://hostingkartinok.com/show-image.php?id=a620c203101b7ac0ad36695d51642088

insi

[2018-05-05 09:33] WPaul15 opened #2424 "Visual Duplication of Colonists"
### Minecraft Version

- 1.12.2

### Minecolonies Versions

- 0.8.8160
- 0.8.8147
- 0.8.8140

### Forge Versions

- 14.23.3.2678
- 14.23.3.2674

### Expected Behavior

- Colonists should appear only once.

### Actual Behavior

- Occasionally, a colonist will suddenly appear twice. This doesn't seem to affect anything in-game, but I'm pretty sure that this shouldn't be happening. Below are some scr

[2018-05-05 09:34] WPaul15 commented on #2421
I can confirm that this also occurs on MineColonies Version 1.12.2-0.8.8160 in Single-Player.

[2018-05-05 14:27] Raycoms commented on #2419
Cannot reproduce, did you try relogging?

[2018-05-05 14:27] #2419 closed, assigned to nobody

[2018-05-05 14:29] Raycoms commented on #2404
Should be fixed now

[2018-05-05 14:29] #2404 closed, assigned to nobody

[2018-05-05 15:13] #2398 closed, assigned to nobody

[2018-05-05 15:16] Raycoms commented on #2401
This issue should've been solved already, the colony dat shouldn't grow as big anymore.

[2018-05-05 15:16] #2401 closed, assigned to nobody

[2018-05-05 15:17] #2384 closed, assigned to nobody

[2018-05-05 15:19] Raycoms commented on #2383
Should be fixed

[2018-05-05 15:19] #2383 closed, assigned to nobody

[2018-05-05 15:20] Raycoms commented on #2368
Yeah we need to re-port the 1.12 version to 1.11 and 1.10. But for now we don't really have time for that

[2018-05-05 15:20] #2368 closed, assigned to nobody

[2018-05-05 15:20] #2353 closed, assigned to nobody

[2018-05-05 15:21] Raycoms commented on #2360
Should be fixed by now

[2018-05-05 15:21] #2360 closed, assigned to nobody

[2018-05-05 15:21] #2362 closed, assigned to nobody

[2018-05-05 15:21] Raycoms commented on #2344
Fixed

[2018-05-05 15:21] #2344 closed, assigned to nobody

[2018-05-05 15:21] Raycoms commented on #2314
Should be fixed already.

[2018-05-05 15:21] #2314 closed, assigned to nobody

[2018-05-05 15:22] Raycoms commented on #2350
Please reopen if still an issue, shouldn't be anymore.

[2018-05-05 15:22] #2350 closed, assigned to nobody

[2018-05-05 15:23] Raycoms commented on #2312
I this dark oak medieval or dark oak normal?

[2018-05-05 15:24] Raycoms commented on #2291
should be fixed

[2018-05-05 15:24] #2291 closed, assigned to nobody

[2018-05-05 15:24] #2271 closed, assigned to nobody

[2018-05-05 15:25] Raycoms commented on #2259
Please reopen if still occurring

[2018-05-05 15:25] #2259 closed, assigned to nobody

[2018-05-05 15:45] #2393 closed, assigned to Raycoms

[2018-05-05 15:45] #2403 closed, assigned to Raycoms

[2018-05-05 16:37] Raycoms commented on #2423
I just checked on that, is it possible that something went wrong with the ladder of the mine?

[2018-05-05 16:38] Raycoms commented on #2424
Yeah I think we have some issue on that already, we don't know yet what causes it, we're trying to prevent it by a few systems but are still working on fixing this.

[2018-05-05 18:15] rangerunnown opened #2426 "Achievements not showing in 1.12.2"
I am currently playing The Official Minecolonies modpack on twitch. i have a town hall and builder hits, but i am not gaining any achievements. I am playing on creative. Thanks
![2018-05-05_16 23 03](https://user-images.githubusercontent.com/39012268/39666254-a5cded26-5098-11e8-9e2c-92f4ffc4efd8.png)

[2018-05-05 18:22] Raycoms commented on #2426
Yeah, we had to remove them because the achievement system in 1.12 is the worst, and we're waiting to see how its going to be in 1.13 to decide how we will add it back in the future.

[2018-05-05 18:22] #2426 closed, assigned to nobody

[2018-05-05 18:29] Raycoms commented on #2409
We're actually quite busy, but feel free to PR these changes =)

[2018-05-05 18:32] noahneer opened #2428 "miner"
5-5-2018 Minecolonies version

version X.X.XXXX or curse X.X.XX

miner Expected behavior

- miner worked like in the prefious patch

### Actual behaviour
miner removes all ladders to place them on another side then he places a lot of cobbelstone and suficates in it

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-05-05 19:58] #2407 closed, assigned to Raycoms

[2018-05-05 19:58] #2428 closed, assigned to nobody

[2018-05-05 22:55] SulpherStaer commented on #2409
May I suggest you use White Concrete Powder as the washing for the wattle and daub blocks (timber frames) instead of white wool? Wool does not have an excelent texture (in most texture packs) that matches what the material actually is.

[2018-05-06 02:33] ZzylinN commented on #2423
I tried to restore the mine and re-run the miner into it, but the miner again broke the top of the shaft and built a box of earth and stone

[2018-05-06 02:33] Raycoms commented on #2423
please download the newest version, I fixed it.

[2018-05-06 02:33] #2423 closed, assigned to nobody

[2018-05-06 02:47] ZzylinN commented on #2423
https://hostingkartinok.com/show-image.php?id=c53a1fac9381790476473f534eda0c71

https://hostingkartinok.com/show-image.php?id=280183e7ab2c0b255d6abe622df72f1f

Downloaded the latest version. But the miner is still beginning to disassemble the upper part of the mine. The picture shows that the miner with an ax (requested ax from the warehouse) breaks the wooden fence (the one that is above the bloc

[2018-05-06 03:11] Raycoms commented on #2423
you'll need to fix the ladder so he starts working well again.

2018-05-06 3:47 GMT+01:00 Sasha <notifications@github.com>:

[2018-05-06 03:14] ZzylinN commented on #2423
need to click on the mine to repair?

[2018-05-06 03:35] ZzylinN commented on #2423
Thank you! like the miner began to work normally

[2018-05-06 03:39] ZzylinN commented on #2423
https://hostingkartinok.com/show-image.php?id=3591c1d1d8a07bda4712bb03ff5b4e22
The bottom left is written: "missing ..." is this an option not completed?

And whether it is possible to make for those who are settlers in the building there is a workbench (builder, etc.) to write down the creation of objects as on a workbench !?

[2018-05-06 06:38] guitarguy0124 commented on #2393
I just updated and tried again. Still broken. Here's the crash report.
[crash-2018-05-06_01.36.34-client.txt](https://github.com/Minecolonies/minecolonies/files/1977403/crash-2018-05-06_01.36.34-client.txt)

[2018-05-06 10:34] RickArcee opened #2430 "A usable version for 1.7.10?"
### Minecolonies version

version 1.7.10

### Expected behavior

- Build the builder's hut

### Actual behaviour

- Starts to dig and stops before putting any bloc. Won't ask for any materials

### Steps to reproduce the problem

1.Create the townhall and found the colony
2. Put the "builder's hut" bloc
3. Ask to build the builder's hut

This version doesn't seem to be working, the town hall's GUI

[2018-05-06 11:53] Raycoms commented on #2430
Yeah there is no good version for 1.7.10.

2018-05-06 11:34 GMT+01:00 RickArcee <notifications@github.com>:

[2018-05-06 11:53] #2430 closed, assigned to nobody

[2018-05-06 23:10] lebanni opened #2431 "Barbarians are unkillable"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.8208.jar
forge-1.12.2-14.23.3.2678-universal.jar

### Expected behavior

- Barbarians should die when killing them.

### Actual behaviour

Barbarians spawn invisible at start and can hit player or citizens. They become visible after a while. When hitting them, they lose hitpoints but stay with armor at 1 and don't die.

https://imgur.com/

[2018-05-07 06:08] ZzylinN opened #2432 "Ideas for the development of minecolonies"
Hello! :)
My suggestions:

1. Create money (which will be used in the settlement) and when enemies attack (when killing a settler), money will be taken away by enemies (with complete killing of enemies money is returned or even added more than it was).

2. Create a settler engineer who can create items on the workbench such as doors, steps, stairs, beds and other (making it in 3x3).

3. Create a s

[2018-05-07 14:57] ravenclaw1987 opened #2433 "Colony Crashes"
### Minecolonies version

version 4.25

### Expected behavior

- Game To work

### Actual behaviour

- Starts fine, playing single player world, then game crashes upon relaunch all coloniests gone and interactive blocks just say chest and can not access.

### Steps to reproduce the problem

1. Started another colony further away on same world
2. Started another world.
3. Same results, only change

[2018-05-07 15:16] SulpherStaer opened #2434 "Jobless Citizens Starving / Full hunger don't visit Restaurant"
### Minecolonies version

version 1.12.2-0.8.8147

### Expected behavior

- Citizens that are hungry stop doing what ever they were doing, visit the restaurant, and eat.

### Actual behaviour

- Citizens are starving, only the cook of the restaurant and the baker are eating.

### Steps to reproduce the problem

1. Build a mature colony on an island.
2. Observe general behaviour
3. I don't know the

[2018-05-07 15:17] SulpherStaer commented on #2434
Nevermind - it seems the restaurant was out of food, despite having cowboy, sheepherder, farmer, ect... The cook of the restaurant isn't requesting the raw ingredients for cooking, so the delivery people aren't offering anything to him.

[2018-05-07 15:19] SulpherStaer commented on #2434
Again nevermind, he just requested raw beef, and it got delivered, but only because I was standing in the restaurant.
This is very confusing...

[2018-05-07 15:24] #2434 closed, assigned to nobody

[2018-05-07 15:25] Raycoms commented on #2434
The chunk might not be loaded otherwise

On Mon, May 7, 2018, 12:19 Silvester <notifications@github.com> wrote:

[2018-05-07 15:33] Raycoms commented on #2433
version 4.2.5?

2018-05-07 15:57 GMT+01:00 ravenclaw1987 <notifications@github.com>:

[2018-05-07 16:06] PoroUsedSnax commented on #2433
I'm guessing pack version 4.25, so 0.8.8147

[2018-05-07 18:31] ravenclaw1987 commented on #2433
I downloaded from the Twitch Launcher if that helps. Not sure were to find the version.

[2018-05-08 12:07] alpan1 commented on #2106
lol my builder and delivery both keep on complaining about their husbands telling them that they eat to much. It gets tiresome for sure.

[2018-05-08 19:03] BonaireDreams opened #2435 "[Feature Request] max colony size setting in Config"
### Expected behavior

- Option in the config to set a max colony size.

### Actual behaviour

- Option Currently not available

### Steps to reproduce the problem

Would it be possible to add a max colony size variable in the config file to limit the size of colonyies to x amount of citizens. Even if additional huts are built the colony will never grow beyond the size specified by that variable.

[2018-05-09 05:49] Hadexander opened #2436 "mc colony delete deletes all colonies on restart."
### Minecolonies version

curse 1.12.2-0.8.7582

### Expected behavior

- To use /mc colony delete and detele my own colony

### Actual behaviour

- It deletes my colony, but if the server restarts, all colonies get deleted

### Steps to reproduce the problem

1. Use, in-game, on your account, /mc colony delete
2. Get your colony deleted.
3. Restart Server.
4. All colonies are gone, not even in th

[2018-05-09 12:24] PhanaticD opened #2437 "distance check is borked"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.8208

https://gyazo.com/aeb9e1985bac0e77a415816d732871d0

[2018-05-09 12:38] PhanaticD commented on #2437
probably would be fixed by not casting to a int for the distance, as square root of int's max value is only a little over 46k, so anyone further than that far out will have problems

[2018-05-09 14:46] PhanaticD opened #2438 "NPC's duplicate when you leave the area then come back"
minecolonies-universal-1.12.2-0.8.8208

i made a builder hut and whenever I leave the area so the chunks unload then come back there is one standing where it last was and a new one duplicated. it can keep happening so there can be infinite amounts of one guy till you re-call it individually

[2018-05-09 14:48] Raycoms commented on #2438
Does this happen in smp only or in ssp as well?

2018-05-09 15:46 GMT+01:00 Josh <notifications@github.com>:

[2018-05-09 14:49] PhanaticD commented on #2438
its on a server

[2018-05-09 15:22] ZoniThePothead opened #2439 "Crash"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.8133.jar
--

### Expected behavior

- Game to work

### Actual behaviour

- Game crashes upon placing a townhall chest
-Not letting me play anymore on this world unless i delete "minecolony" folder from my world

### Steps to reproduce the problem

1. Started new world
2. Placed the chest
3. Not suprised, game crashed
4. Profit

[2018-05-09 15:41] Raycoms commented on #2439
Can you post the log please?

[2018-05-09 17:12] Hadexander commented on #2411
So nothing can be done to prevent this?
Or to manually save the colonies data?

[2018-05-09 17:27] SulpherStaer opened #2440 "Waypoints aren't rendered"
### Minecolonies version

version 1.12.2-0.8.8208

### Expected behavior

- When placing just a waypoint with the build wand, other waypoints are visible (to prevent to close overlap)

### Actual behaviour

- When placing a waypoint, there is no way to know where the other waypoints are placed. This was possible in the past.

### Steps to reproduce the problem

1. Place several waypoints in the bu

[2018-05-09 17:28] SulpherStaer commented on #781
Is this still an idea, or are there way to many bug-fixes / big implements that are happening, that don't allow for this (perhaps complex) minor feature?

[2018-05-09 17:35] SulpherStaer commented on #1453
This is indeed implemented and functioning properly, thus should be closed.
![2018-05-09](https://user-images.githubusercontent.com/5037244/39829881-2007801e-53c0-11e8-995a-ac396feb9c38.png)

[2018-05-09 17:53] #1453 closed, assigned to zyxifrash

[2018-05-09 20:39] marchermans commented on #2440
That is currently a side effect of the new vbo based rendering. I am working on that but is currently on the 4 or 5 position in the queue. So it might takes some time or be even pushed down further.

[2018-05-09 20:40] SulpherStaer commented on #2440
How far do I roll back to get the waypoints again? Because I really don't like not seeing them.

[2018-05-09 20:41] marchermans commented on #2440
Oh that is going to be at least a couple of months. I am currently not at my pc and would not be able to tell you right now.

[2018-05-09 20:42] marchermans commented on #2440
You have to rollback to a version from before April 7. 2018.

[2018-05-10 00:43] PhanaticD commented on #2438
one standing here and one stuck in the floor under him: https://gyazo.com/8c88ba57c0e430f2842e722237632b86
and one standing outside: https://gyazo.com/85f1b13c206877ce17f0a438b01eebe1

[2018-05-10 02:00] PhanaticD commented on #2438
https://gyazo.com/800b0ee9dab9239e1e494577a0b44eb2

this mod is pretty much unplayable its a shame looked like fun

[2018-05-10 02:05] Raycoms commented on #2438
Wow, let's calm down a bit, we have a server running for ages and have
barely problems with this, it happens occasionally but nothing that breaks
gameplay at all.
But offering problems and complaining is always better than offering 100%
reproduces and solutions.

2018-05-10 3:00 GMT+01:00 Josh <notifications@github.com>:

[2018-05-10 03:01] Sandriell commented on #2438
This isn't even a Minecolonies issue, this is a Minecraft issue.

See: https://bugs.mojang.com/browse/MC-119971 or https://bugs.mojang.com/browse/MC-22147

[2018-05-10 03:04] PhanaticD commented on #2438
what seems to be working for me as a fix is i just killed them all, restarted server, then set the chunks for the village to always stay loaded with ftbutils

[2018-05-10 03:07] Sandriell commented on #2438
Chunk loading the area will definitely help. Basically the issue crops up when something moves from a loaded to an unloaded chunk.

[2018-05-10 03:33] PhanaticD opened #2441 "console spam with fisherman"
as soon as I made fisherman hut this started spamming console:

[net.minecraft.entity.EntityTrackerEntry]: Fetching addPacket for removed entity

version 1.12.2-0.8.8208

[2018-05-10 03:35] PhanaticD commented on #2441
well actually dont know 100% if this mod is the cause so ill close this for now

[2018-05-10 03:35] #2441 closed, assigned to nobody

[2018-05-10 09:27] ZoniThePothead commented on #2439
Hey thanks for trying to help but i downloaded the latest version of minecolonies and it works correctly but there is another problem with the townhall range, ima just make new ticket for it ye

[2018-05-10 09:45] ZoniThePothead opened #2442 "Townhall range"
###minecolonies-universal-1.12.2-0.8.8208

### Expected behavior

- I build townhall and i have about 100(?) blocks to build in each way

### Actual behaviour

- i can build in one direction way further than the other

### Steps to reproduce the problem

1. Replaced townhall
2. Placed townhall in every direction then checked the range
3. Tried to mess in the minecolonies settings, although no succ

[2018-05-10 12:13] #2439 closed, assigned to nobody

[2018-05-10 12:13] Raycoms commented on #2442
can you go to the colony center and execute /mc colony claim colony:
yourcolonyid range: yourrange?

2018-05-10 10:45 GMT+01:00 ZoniThePothead <notifications@github.com>:

[2018-05-10 13:31] ZoniThePothead commented on #2442
By colony center you mean town hall?
 @Edit and how do i know what colony id i have?

[2018-05-10 13:39] Raycoms commented on #2442
Yes

On Thu, May 10, 2018, 10:31 ZoniThePothead <notifications@github.com> wrote:

[2018-05-10 14:02] ZoniThePothead commented on #2442
Could you tell me how to check my colony id, chef?

[2018-05-10 14:08] ZoniThePothead commented on #2442
nvm i figured out, done, now my colonists froze
@edit all mobs and colonists froze
@edit2 Everything froze, also the chunks that were loading, now no more

[2018-05-10 22:38] ZoniThePothead commented on #2442
Any fix master?

[2018-05-10 22:42] Raycoms commented on #2442
Not yet, unfortunately, i'm currently full of university work, you can
paste your world here, if you want me to take a look at it.

2018-05-10 23:38 GMT+01:00 ZoniThePothead <notifications@github.com>:

[2018-05-11 11:49] ZoniThePothead commented on #2442
the folder is like 50 mb and i cant upload it anywhere
@edit it literally turns off my browser as i try to upload on various sites

[2018-05-11 11:49] ZoniThePothead commented on #2442
We could try with email or smth

[2018-05-11 12:36] Raycoms commented on #2442
Upload it on dropbox or google drive =)

[2018-05-11 13:05] edwardauron commented on #2404
Hi, this issue is still present. I have the exact same logs

[2018-05-11 17:26] ZoniThePothead commented on #2442
not possible it crashes my browser after i click "upload folder" and i check the world folder, might be cause it contains 644000 files, all from minecolony, called "chunks" i suppose

[2018-05-11 17:31] YaibaToKen commented on #2442
@ZoniThePothead zip the folder and then attempt to upload that

[2018-05-11 17:31] Raycoms commented on #2442
you can remove the chunks folder from that.

2018-05-11 18:31 GMT+01:00 Bruno Miguel Faria Gaspar <
notifications@github.com>:

[2018-05-11 19:27] ZoniThePothead commented on #2442
https://www.dropbox.com/s/bthh47wnlptrmlx/World.rar?dl=0 there!

[2018-05-12 11:45] Nightenom opened #2443 "Warehouse reposition not possible due to wrong condition"
### Minecolonies version

version 1.12.2-0.8.8208

### Expected behavior

- warehouse reposition is possible

### Actual behaviour

- chat message: "The amount of warehouses is limited to 1 per colony."

### Steps to reproduce the problem

1. Build level 1 warehouse.
2. Try to reposition.
3. Profitless bug

BTW: reposition seems to be very buggy sometimes - found many build orders in the town hall

[2018-05-12 12:13] Nightenom opened #2444 "Random big pathfinding"
### Minecolonies version

version 1.12.2-0.8.8208 (forge 2681)

### Expected behavior

- not so big pathfinding pattern

### Actual behaviour

- pathfinding pattern is too big

### Steps to reproduce the problem

1. enable pathfinding debug
2. wait a while (it happens approximately one time per minute)

![2018-05-12_14 03 51](https://user-images.githubusercontent.com/17338378/39957153-457fb868-55e

[2018-05-12 12:29] Nightenom opened #2445 "Warehouse buildfield changes over levels"
### Minecolonies version

version 1.12.2-0.8.8208 (forge 2681)

### Expected behavior

- warehouse building (level 1 -> 2) stays in the same field
- after building to level 1 tape should disappear

### Actual behaviour

- the building field rotates (probably it looks like rotating) when trying to build to level 2
- after building to level 1 tape does not disappear

### Steps to reproduce the probl

[2018-05-12 14:50] PoroUsedSnax commented on #2445
Have you used the building tool to place your warehouse? With that you can view a ghost image of the building you are trying to place.

[2018-05-12 17:31] Nightenom commented on #2445
You got it, I didn't -> this repository looks like some kind of guidebook is in development?

Still, tapes (which are placed when you place building's founding block) should be as big as the biggest level of the building, so a player can be surprised by the builder doing his job and not being spoiled by building tool.

[2018-05-12 18:00] Nightenom commented on #2444
Probably done by builder entity

EDIT:
one way to reproduce:
1. generate flat world
2. place townhall and builder's hut, build builder's hut to level 1+
3. try to build/upgrade any new building - pathfinding back to builder's hut for first inventory check will look like from pictures above

[2018-05-12 18:04] PoroUsedSnax commented on #2445
Are you saying you didn't get a tool, or am I missing something? If the former, you can craft a building tool, not sure on the recipe though, think it's on the wiki (Linked below)

There is a guidebook in our modpack, made for the Guidebook mod, although it's somewhat outdated now, it's the same content (bar updates) that is available on our [wiki](https://wiki.minecolonies.com). The tape should a

[2018-05-12 19:00] Nightenom commented on #2445
Sorry for the misunderstanding, I got the tool from a supplyship. The crafting recipe is still available. Thank you for the link to the wiki, but I suggest making a standalone book (like in TConstruct, not a mod dependent) or just simply put a book with the link to the wiki when player place supply-ship/camp.

For me, it looks like almost all level 0's tapes (building's founding block) are wrong.

[2018-05-13 06:04] marchermans commented on #2445
There is no level 0.

[2018-05-13 06:06] marchermans commented on #2445
Place the building with the tool. We sadly can not prevent you Fram placing the block yourself yet. But are working on it.

@PoroUsedSnax I tested this wirh current release this works just fine when he uses the wand. When he just places the block it is off. This is a known bug and we tell everyone to use the wand instead of the block. I have written it down to look into. Closing this.

[2018-05-13 06:06] #2445 closed, assigned to nobody

[2018-05-14 07:41] Nightenom opened #2446 "Permission messages are printed (spammed) many times"
### Minecolonies version

version 1.12.2-0.8.8208 (forge 2681)

### Expected behavior

- one correct message per action

### Actual behaviour

- any action spams up to 4 messages into chat:
  - left click (attack, destroy block, etc.) - 2 "You do not have permission to do this in this colony." (= basic) instead of one
  - placing hut - 3 basics + one "You do not have permission to open huts in %s"

[2018-05-14 07:58] Nightenom opened #2447 "Crash when opening barracks block"
### Minecolonies version

version 1.12.2-0.8.8208 (forge 2681)

### Expected behavior

- no crash :)

### Actual behaviour

- crash

### Steps to reproduce the problem

1. will be hard to reproduce since I did many things before (but the world seems to be still corrupted)
2. barracks level 2
(warning: the zip world file contains rar for better compression)

[crash-2018-05-14_09.49.55-client.txt](h

[2018-05-14 10:13] Nightenom opened #2448 "Missing string in townHall"
### Minecolonies version

build from current git clone, also in the latest public build (version 1.12.2-0.8.8208 (forge 2681))

MISSING: com.minecolonies.coremod.gui.townHall.recallone
but actually should be named with big O
com.minecolonies.coremod.gui.townHall.recallOne

can add to langs in pull request as I'm making an overhaul of the Czech translation

### Steps to reproduce the problem

1. to

[2018-05-14 10:22] Nightenom commented on #2445
@OrionDevelopment That's exactly what I didn't want to hear (a player can't be surprised by builder doing his job as (s)he already know how the building looks like), but I understand you it's much easier to write it like this.

[2018-05-14 12:44] marchermans commented on #2445
@Nightenom I know that this is not wahr you wanted to hear. But all our developers are currently under a heavy load and this is a known issue. Join our discord and we are happy to talk about it. However as stated it is known as such, it will be resolved eventually however in the interest of keeping the issues as clean as possible untill the core teams comes back from their rl stuff, Uni etc, I am

[2018-05-14 12:56] #2448 closed, assigned to nobody

[2018-05-16 00:59] ironlionThefirst opened #2450 "quest"
Where is the quest files so i can play this single player?
can someone pls help me

[2018-05-16 15:22] dave1505 opened #2451 "Build Tool Important Visual Bug"
### Minecolonies version

version 1.12.2-0.8.8213

### Expected behavior

- Build Tool rendering builds properly
### Actual behaviour

-buildings textures and apparent shape completely messed up

### Steps to reproduce the problem

1. use the build tool anywhere with anything

![2018-05-16_16 13 56](https://user-images.githubusercontent.com/34339148/40126410-324bc310-5925-11e8-9714-f8213dba6b1c.pn

[2018-05-16 15:26] marchermans commented on #2451
You are using a shader. Shaders are not supported for the near future.

[2018-05-16 18:52] ZzylinN opened #2452 "Couriers behave strangely!"
Minecolonies version 1.12.2-0.8.8213 (But it was on earlier versions)

Couriers bring into the building things that they should not bring! On a screech it is visible that that on the sheep farm lie eggs and pig meat which are not a drop at the pig.
https://hostingkartinok.com/show-image.php?id=d095bc56fcab5ce590ddb91174c4f13f

On another sheep farm (seen in the screenshot) are bows. This all bring

[2018-05-17 00:40] SulpherStaer commented on #2451
Also, the new rendering causes blocks to render only the backfaces instead of the front faces. So this is a known issue related to the VBO rendering.

[2018-05-17 06:29] marchermans commented on #2451
@sylcai what do you mean?

[2018-05-17 11:27] Nightenom commented on #2451
@OrionDevelopment
![2018-05-17_13 27 07](https://user-images.githubusercontent.com/17338378/40174667-1065f08e-59d6-11e8-91df-3ca92b44fc9a.png)

[2018-05-17 12:09] Nightenom commented on #2450
What do you mean by quest files? You can play this mod without problem in singleplayer. There ~is~ was GuideBook but you need to install the mod first.
@Raycoms when you ported c4eb328 through 951cc31 to the main thread, it seems that you forgot to port other changes made in this commit. I'm going to make a pull request for that if it will work

[2018-05-17 12:26] marchermans commented on #2451
Are you using a shader or standing inside it?

[2018-05-17 12:32] SulpherStaer commented on #2451
No, and no.
![2018-05-17](https://user-images.githubusercontent.com/5037244/40177506-1688f9d0-59df-11e8-9ae1-a36135ac02ab.png)

[2018-05-17 12:32] Raycoms commented on #2451
I think this is the problem because of the substitution blocks at that
location.

2018-05-17 13:26 GMT+01:00 Marc Hermans <notifications@github.com>:

[2018-05-17 12:34] Raycoms commented on #2451
Carlsanor puts his substitution blocks everywhere so that is good possible.

2018-05-17 13:32 GMT+01:00 Silvester <notifications@github.com>:

[2018-05-17 12:58] nebukadnet commented on #2393
Same, also having this issue! On version 1.12.2 - 0.8.8213

[2018-05-17 15:32] PoroUsedSnax commented on #2451
This issue is one I mentioned in #2399.

[2018-05-17 15:37] marchermans commented on #2451
Right yep sorry

[2018-05-17 17:27] BonaireDreams opened #2453 "Warehouse sorting no longer functions"
### Minecolonies version

version 0.8.8147

### Expected behavior

- Warehouse inventories should behave like all other inventories and respect sorting commands added by mods (Inventory tweaks)
- Delivery men seem to create multiple stacks of the same items if there are earlier empty slots in the inventory due to them removing a different item. This causes say 4 stacks of wool with 1-10 items in e

[2018-05-17 18:25] marchermans commented on #2451
Fixed in #2454

[2018-05-17 18:25] #2451 closed, assigned to nobody

[2018-05-17 18:25] marchermans commented on #2451
Shaders still not supported.

[2018-05-18 02:47] TheLeadZombie opened #2455 "Re-positioning town hall deletes the podium"
### Minecolonies version

version latest

### Expected behavior

- will place podium back down

### Actual behaviour

- deletes the podium saying you can not have more than 1 town hall

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-05-18 07:01] Nightenom commented on #2455
By the podium, you mean town hall block? Reposition now do not care about building per colony limitation (like #2443)

[2018-05-18 12:07] Raycoms commented on #2455
I know this bug, I'll fix it soon.

On Fri, May 18, 2018, 04:01 Nightenom <notifications@github.com> wrote:

[2018-05-18 12:57] Nightenom commented on #2450
After #2456 will get approved and a new build will be available online, you should get a Guidebook immediately when joining your world
If it was the thing you wished to have, please close this issue

[2018-05-19 12:35] Nightenom opened #2457 "Citizen dies in a top bed of Citizen's Hut 5 Dark Oak"
### Minecolonies version

version latest public release (1.12.2-0.8.8218)

### Expected behavior

- citizen does not die

### Actual behaviour

- citizen dies

### Steps to reproduce the problem

1. Build level 5 Dark Oak Citizen's Hut
2. Wait till night time

![2018-05-19_14 28 08](https://user-images.githubusercontent.com/17338378/40268652-a0fa3b54-5b71-11e8-92fe-51a8085b9458.png)

[2018-05-20 08:00] teutates1989 opened #2459 "minecolonies 1.12.2-0.8.8208 monster egg mossy brick in warehouse build"
I couldn't find it in the changelog so i even though i'm on a older version then the most recent i decided to report this.

### Minecolonies version

minecolonies-universal-1.12.2-0.8.8208

### Expected behavior

building Spruce medieval warehouse level 5 with 1 mossy brick.

### Actual behaviour

Trying to build Spruce Medieval warehouse level 5 with 1 monster egg mossy brick

### Steps to reprod

[2018-05-20 16:27] #2136 closed, assigned to Raycoms

[2018-05-20 16:28] #2438 closed, assigned to Raycoms

[2018-05-20 16:28] #2443 closed, assigned to Raycoms

[2018-05-20 16:28] #2455 closed, assigned to nobody

[2018-05-20 23:02] SulpherStaer opened #2462 "Toolcrafting / Forge still not implemented"
### Minecolonies version

version 1.12.2-0.8.8218

### Expected behavior

-A 3x3 crafting grid or the Forge / Toolmaker implemented

### Actual behaviour

- Still not implemented, and don't know why / can't find the reason why with search
- What still needs to be done to make the forge functioning?

### Steps to reproduce the problem

No problem to reproduce, this is a question.

[2018-05-20 23:06] Raycoms commented on #2462
We'Re working on it. Tbh the 3x3 grid crafting is ready already. What's not ready is the integration with the request system. 3x3 crafting won't help anything if the worker can't fulfill requests from it.
Just a bit more patience, me and @OrionDevelopment will work on it in the next week.

[2018-05-20 23:06] #2462 closed, assigned to nobody

[2018-05-20 23:07] SulpherStaer commented on #2462
Thanks! - Sorry if it seemed like I was impatient, but a year ago it was delayed. So I was just curious what the time line was on it.

This is a wonderful mod, and probably takes a lot of effort.

[2018-05-21 01:12] #2459 closed, assigned to nobody

[2018-05-21 03:07] ravenclaw1987 commented on #2433
Is there anything I can do to restore my colony once it crashes? I ask because I am really into this mod, but I don't want to waste another day of work trying to build something that's gonna break at any time..

[2018-05-21 07:07] demon57730 opened #2463 "restaurant bug"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.8237.jar

forge-1.12.2-14.23.3.2655-universal.jar

probleme:

the cook does not always ask for the ingredients of the deliverer while he has them in the warehouse

[2018-05-21 09:02] demon57730 opened #2464 "deliveryman bug"
minecolonies-universal-1.12.2-0.8.8237.jar

forge-1.12.2-14.23.3.2655-universal.jar

probleme:

the delivery person does not take the food which is in the inventory (table business, entrepreneur, other)
so as he does not go he does not go to the food warehouse and he does not deliver food.

[2018-05-21 13:13] Rosomah commented on #2341
Nice, had the same problem and this worked for me.

[2018-05-21 13:52] bongotezz commented on #2424
I can confirm that this is also happening in Minecraft 1.10.2 using minecolonies 9.7587. I don't even have to leave the area when it happens. I've used golden lasso to clean up some of the dupes but the builder would respawn one dupe if i lassoed one of them.

https://imgur.com/a/Xz0wAcC

[2018-05-21 14:05] Nightenom commented on #2424
Try using any version above 0.8.8235 included (https://minecraft.curseforge.com/projects/minecolonies/files). Duplication probably got fixed in this version.

[2018-05-22 01:44] #996 closed, assigned to nobody

[2018-05-22 01:44] #1096 closed, assigned to nobody

[2018-05-22 02:41] ZzylinN opened #2465 "Problems with the restaurant. Does not feed settlers and does not raise in waiter level."
### Minecolonies version 1.12.2-0.8.8242 and previous versions
### Minecraft with mods

ChickenHerders is constantly starving. He runs to the restaurant and stands.
https://hostingkartinok.com/show-image.php?id=a52130584513dafa76ccca11199f093d

Satiety is not filled up.
https://hostingkartinok.com/show-image.php?id=f652c5269fe7759752e7ed0f69e82ff5

The restaurant has food available.
https://hostin

[2018-05-22 07:05] PoroUsedSnax commented on #2424
Yes, this has been fixed with #2461. On a side note, 1.10.2 has been lacking updates for a bit, given our small team and them needing time for University and such, so it's best to be on 1.12.

[2018-05-22 07:05] #2424 closed, assigned to nobody

[2018-05-22 07:12] PoroUsedSnax commented on #2453
It is possible to add compatibility for inventory tweaks by adding the following code to your InvTweaksCompatibility.xml
[code]
I do feel that a change to respect this mod and similiar would be a nice addition though.

[2018-05-22 07:17] PoroUsedSnax commented on #2450
Since #2456 is merged, and there seems to be no follow up from the original creator, I will be closing this.

[2018-05-22 07:17] #2450 closed, assigned to nobody

[2018-05-22 07:20] PoroUsedSnax commented on #2437
I believe this should be fixed with #2458, please test with the newest version available and comment back if there are any issues.

[2018-05-22 07:20] #2437 closed, assigned to nobody

[2018-05-22 07:23] PoroUsedSnax commented on #2433
There should be zip backups of your colonies.dat saved at [worldname]/minecolonies, which should hopefully bring things back.

[2018-05-22 07:38] marchermans commented on #2453
@PoroUsedSnax it is however not possible from our side. Hence the existsence of that file.

[2018-05-22 10:58] Chaoszokker opened #2466 "Some problems"
### Minecolonies version

version 0.8.4063 in the Modpack The Simple Life 1.6

First hello to the development team.

I have an idea what could be improved on the mod.

Because it is very time consuming when you have to find out with some villagers what they are missing now again. How about if you just insert a line of text in the villager's view and then what is the villager missing?

That would s

[2018-05-22 17:52] LightPrince opened #2467 "Builder stands idle after "Build request Created", not building(Server)"
1.12.2 latest Minecolonies version

version 1.12.2-0.8.8242

### Expected behavior

- Builder stands idle after "Build request Created", not building

### Actual behaviour

- Builder does what he/she is supposed to do

### Steps to reproduce the problem

1. Go for a building
2. click Building or Upgrade
3. Builder stands idle not building

[2018-05-22 19:28] DcNdrew opened #2469 "Crash caused by ores... maybe..."
### Minecolonies version

version 1.12.2-0.8.8242

### Expected behavior

- No crash.

### Actual behaviour

- Crash. :D

### Steps to reproduce the problem

1. Install Project Red everything
2. Install Minecolonies
3. ??? Pass. It worked for hours, but later I started to play, and crash.
4. Profit

Without Minecolonies there is no crash.

https://paste.ee/p/OoU2c

[2018-05-22 19:30] marchermans commented on #2469
This is a common issue with mods that have broken blockstates.
@Raycoms, as far as i could remember this was not an issue at minecolonieses side, correct?

[2018-05-22 19:30] Raycoms commented on #2469
This happens due to the mod which adds this mod here: They do set up their
blockStates wrong, please report it to them. Their mod triggers the issue
with minecolonies.

java.lang.IllegalArgumentException: Cannot set property
PropertyString{name=type, clazz=class java.lang.String,
values=[sapphire_ore, copper_ore, ruby_ore, electrotine_ore, peridot_ore,
tin_ore, silver_ore]} to sapphire_ore on bloc

[2018-05-22 19:33] DcNdrew commented on #2469
Wow, that was quick. :D

[2018-05-22 19:35] marchermans commented on #2469
:D

[2018-05-22 20:37] PoroUsedSnax commented on #2453
So, does this have to be added to the mod from InventoryTweaks' side? It seems a good amount of modded storage systems work with it already, such as the items from Iron Chests.

[2018-05-22 20:38] Raycoms commented on #2453
Yes, it has to be added to it. And these chests work because they're actually chests.

[2018-05-22 20:38] #2453 closed, assigned to nobody

[2018-05-22 20:38] Raycoms commented on #17
I added those already

[2018-05-22 20:38] #17 closed

[2018-05-22 22:56] #1031 closed, assigned to nobody

[2018-05-22 22:57] Raycoms commented on #1613
I fixed this.

[2018-05-22 22:57] #1613 closed, assigned to nobody

[2018-05-22 23:01] Raycoms commented on #1653
Added it to the townhall already

[2018-05-22 23:01] #1653 closed, assigned to nobody

[2018-05-22 23:02] #1692 closed, assigned to nobody

[2018-05-22 23:03] Raycoms commented on #1709
Adapted it to food per action already

[2018-05-22 23:03] #1709 closed, assigned to nobody

[2018-05-22 23:03] Raycoms commented on #1871
@MineShadow7 progress?

[2018-05-22 23:06] Raycoms commented on #2051
This should be fixed.

[2018-05-22 23:06] #2051 closed, assigned to mkienenb

[2018-05-22 23:07] Raycoms commented on #2106
That's a minecraft problem. We only define it by XML. The probability calc is by minecraft itself.

[2018-05-22 23:07] #2106 closed, assigned to nobody

[2018-05-22 23:07] Raycoms commented on #2097
Should be fixed

[2018-05-22 23:07] #2097 closed, assigned to nobody

[2018-05-22 23:07] Raycoms commented on #2096
Should be fixed

[2018-05-22 23:07] #2096 closed, assigned to nobody

[2018-05-22 23:08] Raycoms commented on #2092
We can't unfortunately detect that. The hut design must be changed for that.

[2018-05-22 23:08] #2092 closed, assigned to nobody

[2018-05-22 23:08] Raycoms commented on #2090
Should be fixed

[2018-05-22 23:08] #2090 closed, assigned to nobody

[2018-05-22 23:09] Raycoms commented on #2421
Should be fixed

[2018-05-22 23:09] #2421 closed, assigned to nobody

[2018-05-22 23:10] Raycoms commented on #1997
Both should be fixed

[2018-05-22 23:10] #1997 closed, assigned to nobody

[2018-05-22 23:11] #2154 closed, assigned to nobody

[2018-05-22 23:11] Raycoms commented on #2158
should be fixed

[2018-05-22 23:11] #2158 closed, assigned to marchermans

[2018-05-22 23:12] Raycoms commented on #2173
should be fixed now

[2018-05-22 23:12] #2173 closed, assigned to nobody

[2018-05-22 23:12] Raycoms commented on #2198
Should be fixed nwi as well

[2018-05-22 23:12] #2198 closed, assigned to nobody

[2018-05-22 23:12] Raycoms commented on #2222
Closed in favor of: https://github.com/Minecolonies/minecolonies/issues/1990

[2018-05-22 23:12] #2222 closed, assigned to nobody

[2018-05-22 23:13] Raycoms commented on #2241
YOu can do all that with the builder tbh.

[2018-05-22 23:13] #2241 closed, assigned to nobody

[2018-05-22 23:13] Raycoms commented on #2279
Closing in favor of similar issue.

[2018-05-22 23:13] #2279 closed, assigned to nobody

[2018-05-22 23:14] Raycoms commented on #2308
Closed in favor of similar old issue (Builder has to prefetch)

[2018-05-22 23:14] #2308 closed, assigned to nobody

[2018-05-22 23:15] Raycoms commented on #2317
Should be fixed with RS changes soon (closed in favor of the general RS related issues)

[2018-05-22 23:15] #2317 closed, assigned to nobody

[2018-05-22 23:15] Raycoms commented on #2328
Shoild be fixed now.

[2018-05-22 23:15] #2328 closed, assigned to nobody

[2018-05-22 23:16] Raycoms commented on #2406
@OrionDevelopment progress?

[2018-05-22 23:17] Raycoms commented on #2420
Closed inf avor of: https://github.com/Minecolonies/minecolonies/issues/2399

[2018-05-22 23:17] #2420 closed, assigned to nobody

[2018-05-22 23:17] Raycoms commented on #2431
Should be fixed now.

[2018-05-22 23:17] #2431 closed, assigned to nobody

[2018-05-22 23:17] Raycoms commented on #2433
Should be fixed.

[2018-05-22 23:17] #2433 closed, assigned to nobody

[2018-05-22 23:18] Raycoms commented on #2432
Most of these are around already and planned already. Thanks for sending us these though =)

[2018-05-22 23:18] #2432 closed, assigned to nobody

[2018-05-22 23:19] Raycoms commented on #2436
Should be fixed in the newest versions.

[2018-05-22 23:19] #2436 closed, assigned to nobody

[2018-05-22 23:19] Raycoms commented on #2444
Yeah sometimes this happens when they can't find a way, unfortunately that is minecraft pathfinding.

[2018-05-22 23:19] #2444 closed, assigned to nobody

[2018-05-22 23:20] Raycoms commented on #2442
Still issues with that, sorry only coming to it now!

[2018-05-22 23:20] #2469 closed, assigned to nobody

[2018-05-23 00:04] Raycoms commented on #2467
The build request is that for a building of a higher level than the builders building level?

[2018-05-23 04:54] hron84 opened #2471 "[BUG?] Cannot enable MeeCreeps to break blocks inside the colony"
### Minecolonies version

version 0.8.7582 from curse

### Expected behavior

- Click on Town City
- Check events
- Allow MeeCreep to break block

### Actual behaviour

- Nothing happens if you press [ADD]

![2018-05-23_06 50 55](https://user-images.githubusercontent.com/88636/40404064-0f578b06-5e56-11e8-8888-ef7eca1bdf93.png)

[2018-05-23 05:41] marchermans commented on #2406
Some yes.

[2018-05-23 05:41] marchermans commented on #2406
I could add an exclusion for them but I do not fancy doing so.

[2018-05-23 09:25] LightPrince commented on #2467
@Raycoms , well i just figured the problem out, It was that Mine colonies is not compatible with a mod called [**Extended Days**](http://www.9minecraft.net/extended-days-mod/) which uses silent-lib, whenever i build a building by click "Build Building", the chat says Build request created and the Builders doesn't Reply or react to the call till before Dawn(using extended days), Now everything Work

[2018-05-23 11:15] #2467 closed, assigned to nobody

[2018-05-23 14:51] novice112 opened #2472 "1.12.2 close town hall"
### Minecolonies version : minecolonies-universal-1.12.2-0.8.8242

version 1.12.2

### Expected behavior

- i don't know...I want to be able to build anywhere ... not just near the town hall

### Actual behaviour

- I can only go to the city hall ... more precisely, even in the town hall

### Steps to reproduce the problem

1. i want to build miner ...
2.I place the building
3.press to build the b

[2018-05-23 20:08] Nightenom opened #2474 "Sounds missing"
### Minecolonies version

version latest

### Expected behavior

- sounds exist 🤔

### Actual behaviour

- [22:07:05] [main/WARN] [net.minecraft.client.audio.SoundHandler]: File minecolonies:sounds/mob/deliveryman/female/inhaleexhale1.ogg does not exist, cannot add it to event minecolonies:mob.deliveryman.female.noise
- [22:07:05] [main/WARN] [net.minecraft.client.audio.SoundHandler]: File minecol

[2018-05-24 02:13] Ragnarok96 opened #2475 "[bug] Builder will not use taught recipes in certain situations. 1.12 Build 8242."
### Minecolonies version

Build# 8242

### Expected behavior

When the builder is taught a recipe, if the materials to make the recipe are placed in his inventory AFTER he has already made a request for a specific item, his request should then cancel/fulfill itself as he is able to craft the needed items himself.

### Actual behaviour

The request remains and the builder does nothing, however if y

[2018-05-24 02:26] Ragnarok96 commented on #2472
You have to place all colony buildings by default within a 9 chunk radius of where you first placed the town hall (a 17x17 chunks area) centred on that initial chunk. If you want more, I belive you can edit the radius a colony protects/claims via the config file.

[2018-05-24 02:49] PoroUsedSnax commented on #2472
If you want to extend the build area of your colony, as Ragnarok explained you can change the radius in the config, but this will only change for new colonies, what you would want to do is use this command: `/mc colony claim [colony: colony id] [range: number in chunks] [add: true/false]` make sure to do this from the centre of your colony as to get an even claim radius.

[2018-05-24 03:03] Ragnarok96 commented on #2475
As a side note, I haven't tested this with other workers, as it may apply to all workers following the same scenario as detailed above if they also have recipes that can be completed for requests in this manner via their own 2x2 craft grids.

[2018-05-24 06:00] Asherslab opened #2476 "Test Issue - Will delete"
### Minecolonies version

version X.X.XXXX or curse X.X.XX

### Expected behavior

- XXX

### Actual behaviour

- YYY

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-05-24 06:01] Asherslab commented on #2476
Test 2

[2018-05-24 06:02] Asherslab commented on #2476
test 3

[2018-05-24 06:04] Asherslab commented on #2476
Delety mcLetey

[2018-05-24 06:04] #2476 closed, assigned to nobody

[2018-05-24 08:23] marchermans commented on #2475
7625597484987 possible combinations that Need to be check when the inventory is full.
I talked to him on discord. Closing.

[2018-05-24 08:23] #2475 closed, assigned to nobody

[2018-05-24 17:52] marchermans commented on #2471
that Looks like you spelled meecreeps wrong
it says meecreps.

[2018-05-24 17:56] #1469 closed, assigned to Raycoms

[2018-05-24 17:58] Raycoms commented on #2471
That's weird, because that's automatic. So meecreeps might have done
something wrong.

2018-05-24 18:52 GMT+01:00 Marc Hermans <notifications@github.com>:

[2018-05-24 18:25] marchermans commented on #2471
You are right it says meecreps.

[2018-05-24 23:42] kedamono opened #2478 "Shingle blocks do not place correctly upside down"
### Minecolonies version

version 1.12.20.8.8266

### Expected behavior

- Placing the different shingle blocks upside down that they would behave the same as upside down stairs.

### Actual behaviour

- They place facing the opposite direction that stairs are place. Also, when you try to create an upside down inside or outside corner, the corner block behaves oddly.
![2018-05-24_15 14 20](https:/

[2018-05-25 03:57] Raycoms commented on #2312
I fixed that, will upload it with the next schematic upload scan.

[2018-05-25 05:39] ZzylinN opened #2479 "Very strange behavior of settlers after the transition from version 1.12.2-0.8.8242 to version 1.12.2-0.8.8298"
### Minecolonies version 1.12.2-0.8.8298

### Minecraft with mods

The settlers stand still. When you click on the "Call employee" button in the building do not respond.
When you click on the "call a resident" button in the town hall calls everyone, but it does not help.
The workers stopped working. It is necessary to re-appoint workers. When appointing workers, they behave strangely. Do not chang

[2018-05-25 07:35] marchermans commented on #2479
@Raycoms

[2018-05-25 07:36] marchermans commented on #2478
Stupid question: But why is this supported. Singles are not supposed to be used that way IRL either.

[2018-05-25 13:08] kreezxil opened #2480 "Player built a hut then their game crashed"
pastebin: https://pastebin.com/wTaNTNE8

### Minecolonies version

build 1.12.2-0.8.8242

### Expected behavior

- not crash

### Actual behaviour

- crashed

### Steps to reproduce the problem

1. they said they finished building a hut

[2018-05-25 14:06] Raycoms commented on #2480
There must be some kind of mod which handles their ore blockStates wrong.

2018-05-25 14:08 GMT+01:00 kreezxil <notifications@github.com>:

[2018-05-25 15:06] Vilkath commented on #2480
Hey guys, I'm the user who had the crash. I have a couple of screen shots of the effects and was recording a video for a lets play series. I'm still uploading it now but I can post a link to the time code of where the crash happened if you guys want.

Basically though I had just completed my first building, the builders hut and it crashed. When I got back the Town hall and every clickable object o

[2018-05-25 15:19] kedamono commented on #2478
Well, it could be that folks want to use them under buildings when playing Skyblocks. Also, some folks like to do unusual builds and upside down shingles would be part of that.

[2018-05-25 16:23] Nightenom commented on #2480
Remember (@kreezxil) that using alpha builds in a modpack (as it looks like) may cause random bugs and a mod contain world destructive behaviour, so you should not update the mod. Even though Raycoms wrote it's more likely not a bug in this mod and alpha builds of this mod are more likely stable.
_If it's not from a modpack, then consider this comment to be irrelevant._

[2018-05-25 16:25] Raycoms commented on #2480
This bug is really strange, we never had something like that. This is also
not related to it being an alpha build. We're just behind in pushing to
beta and release.

This is really weird. It looks like there is a block which triggers
minecolonies. Although minecolonies for sure isn't causing the world
destruction.

Can this be reproduced?

2018-05-25 17:23 GMT+01:00 Nightenom <notifications@github

[2018-05-25 16:28] Nightenom commented on #2480
@Raycoms

[2018-05-25 23:35] Raycoms commented on #2479
Weird, I'll run some tests

[2018-05-26 01:13] ZzylinN commented on #2479
I returned to version 1.12.2-0.8.8242. Settlers behave as they should.

[2018-05-26 01:24] Raycoms commented on #2479
Currently setting up a test colony in a previous version.

2018-05-26 2:13 GMT+01:00 Sasha <notifications@github.com>:

[2018-05-26 02:07] Raycoms commented on #2479
Merged a hotfix right now, there should be a new version in the next 30 minutes.

[2018-05-26 02:07] #2479 closed, assigned to nobody

[2018-05-26 02:29] Vilkath commented on #2480
Sorry it took so long to reply guys, I just got off work. Her's the time code just before the game crashed. Not sure how far back you want to see what I did.

https://youtu.be/KEUlncYbpZs?list=PLVxfL3CNjiFv17N_SqoM3pRmbqCIVKy2-&t=2283

I'll see if I can reproduce this later. One thought I had that might of caused the problem is I put my Supply camp down near my base. But then I found out about the

[2018-05-26 02:30] Raycoms commented on #2480
shouldn't make any difference

2018-05-26 3:29 GMT+01:00 Vilkath <notifications@github.com>:

[2018-05-26 04:23] Zygus42 opened #2482 "1.12 latest version crashing"
### Minecolonies version
minecolonies-universal-1.12.2-0.8.8315
forge-1.12.2-14.23.4.2703-installer-win

Was using version minecolonies-universal-1.12.2-0.8.8208 and it's fine, but the latest version (as above) causes an almost immediate crash upon starting server.  Does not cause a crash report, but does have details in the log:

[latest.log.txt](https://github.com/Minecolonies/minecolonies/files

[2018-05-26 11:17] kreezxil commented on #2480
hopefully you haven't deleted your logs folder. if not, you should zip it
up and attach to this too.

On Fri, May 25, 2018 at 9:30 PM, Raycoms <notifications@github.com> wrote:

[2018-05-26 12:40] Raycoms commented on #2482
This doesn't seem to be related to us:

	at farseek.core.FarseekClassTransformer.replacements$lzycompute(FarseekCoreMod.scala:55) ~[Streams-Farseek-1.12-2.2.5.jar:?]

[2018-05-26 12:40] #2482 closed, assigned to nobody

[2018-05-26 13:49] Vilkath commented on #2480
No I haven't deleted anything yet, here is the logs.

[logs.zip](https://github.com/Minecolonies/minecolonies/files/2041653/logs.zip)

[2018-05-26 15:58] #2480 closed, assigned to Raycoms

[2018-05-26 19:30] #639 closed, assigned to Shanseala

[2018-05-27 13:59] Brainslime1 opened #2487 "finishing warehouse crashed game and now cant get back in save"
version 1.12.2-0.8.7582

when my builder finished a warehouse it crashed my game and now I cant get back in

dropbox=https://www.dropbox.com/s/t80i1ogwpmiy2b2/crash-2018-05-27_09.06.43-server.txt?dl=0

[2018-05-27 14:01] Raycoms commented on #2487
Can you try the newest alpha? And, it seems like there is a mod which adds
ores to the game causes this since they don't have their ores implemented
accordingly.

2018-05-27 14:59 GMT+01:00 dylan <notifications@github.com>:

[2018-05-27 14:08] Brainslime1 commented on #2487
it still didn't work

https://www.dropbox.com/s/w2u5988fzsj10d6/crash-2018-05-27_09.53.43-server.txt?dl=0

[2018-05-27 15:46] JAguiar939 opened #2488 "Miner "deletes" blocks when "builderInfiniteResources" is enabled"
### Minecolonies version

version 0.9.7587

### Expected behavior

- After miners dig the vertical shaft, they branch out horizontally, mining and gathering any blocks they break.

### Actual behaviour

- When "builderInfiniteResources" is enabled in the config, the miner will delete blocks when branching out horizontally and not gather any of them. This does not happen while digging the vertical

[2018-05-27 15:48] Raycoms commented on #2488
Yeah, on purpose. Infinite block means -> your colony doesn't need resources ergo doesn't produce resources.

[2018-05-27 15:48] #2488 closed, assigned to nobody

[2018-05-27 19:39] Nightenom commented on #2487
What about this?
[code]

[2018-05-27 20:29] Brainslime1 commented on #2487
i'll try it but the only mod I have that I know has a problem with optifine the gun mod and that's if a certain setting is on

[2018-05-27 20:54] Brainslime1 commented on #2487
i tried without it and it still didn't work

this is without optifine
https://www.dropbox.com/s/10xxnqccoxs9452/crash-2018-05-27_16.40.05-server.txt?dl=0

[2018-05-27 21:19] PoroUsedSnax commented on #2487
Have you tried using a new world since you've updated? It's possible there could be an issue with the world.

That's presuming it's a world you're having issues with, not actually loading the game.

[2018-05-27 23:03] Brainslime1 commented on #2487
I'm able to make a new save. the problem happened right as the game was like hey your builder finished this building

[2018-05-28 06:18] Ragnarok96 opened #2490 "[MC1.12.2] Request System caused a Stack Overflow, Crashing the Server"
### Minecolonies version

Minecraft 1.12.2, Minecolonies Alpha Build 8242

### Expected behavior

- ???

### Actual behaviour

- ???

### Steps to reproduce the problem

Long story short, the server crashed with a stack overflow error, relating to the request system in some way. That's about as much as I can tell.

I have attached the latest.log, debug.log and the crash report from the server.

Ho

[2018-05-28 06:54] Ragnarok96 commented on #2490
Happened oncemore, I understand it may take a while to figure out exactly what is going on here but any ideas of any sort of possible/potential workaround like i.e. dont use x feature would be great. I assume the builder may be involved somehow as he was standing around doing nothing by the building he was suppost to be building, then suddenly poof, all gone.

[crash-2018-05-28_08.42.53-server.txt

[2018-05-28 07:14] Ragnarok96 commented on #2490
I deleted all of the builder's taught recipes and seems to be OK for now, will report back if any more crashes happen or if I discover anything else I think is relevant

[2018-05-28 07:33] marchermans commented on #2490
@Ragnarok96 There is a protection against recipes that form a Loop build in. However this protection is only limited. Wíth the 3x3 crafting upgrade I will be expanding this protection to protect you against this Crash much better. However to make a Long Story short do NOT make recipes that create a Loop.

[2018-05-28 07:39] marchermans commented on #2487
This Crash has nothing todo with minecolonies. I see no reference in the Crash Report. Just because it seemed to happen directly after does not make it minecolonies fault. However can you reproduce it in all worlds?

[2018-05-28 07:40] Ragnarok96 commented on #2490
He had

- birch log  -> birch plank
- birch plank -> stick
- stick + coal -> torch
- andesite -> polished andesite
- diorite -> polished diorite
- granite -> polished granite

Not sure how that would create a loop, since theres no taught recipe to go backwards through any of those steps?

[2018-05-28 07:41] marchermans commented on #2490
No idea, but that is what happened.

[2018-05-28 07:45] Ragnarok96 commented on #2490
Alright, at least I know for certain that is the issue, I'll try to work around it for now and if I encounter any specific thing that seems to 100% reproduce a crash I'll pass it on as I am not sure exactly what recipe caused that to happen but at least now know the cause, so I guess this is "kind of" solved. Thanks for the replies 👍

[2018-05-28 14:36] Brainslime1 commented on #2487
i built a warehouse on a new save and it didn't crash so

[2018-05-28 16:21] Ragnarok96 commented on #2490
@OrionDevelopment

Definitely to do with diorite (likely other polished blocks as well), been fine for hours, then same crash, gone to builder hut and hes standing there with the block to indicate hes trying to placing it (polished diorite). I deleted all of his recipes now and going to keep it that way as it seems this issue could occur with any block.

You can see here, the block in his hand as

[2018-05-28 16:30] Ragnarok96 commented on #2487
@Brainslime1 If anything that to me would mean even more so that the crashes you were experiencing before were not related to minecolonies especially as like said @OrionDevelopment said minecolonies is not specifically mentioned.

Additionally, after reviewing your crash report I believe this may be to do with thaumcraft especially if you have recently updated it, my server would always crash with

[2018-05-28 16:40] Brainslime1 commented on #2487
it wasn't the same save as before but at this point I'm just going to start a new save

[2018-05-28 16:40] #2487 closed, assigned to nobody

[2018-05-28 17:12] marchermans commented on #2490
Wait this is the oredictionary doing. Damn. Polished Diorite and Diorite are the same item in the oredictionary
See if this still happens when you disable the oredictionary support for hte recipe

[2018-05-28 17:24] Ragnarok96 commented on #2490
How do I do that? is there a minecolony specific button like filters for some machines have the option to ignore oredict/not use subs -- all I see in terms of recipes on the builder hut is to add or remove them without any additional options

[2018-05-28 17:26] marchermans commented on #2490
Is there a toggle when you add the recipe?

[2018-05-28 17:36] Ragnarok96 commented on #2490
Not as far as I can see:

https://www.youtube.com/watch?v=FZjDhq6skwQ&feature=youtu.be

[2018-05-28 17:47] marchermans commented on #2490
I just asked @Raycoms what could cause this. Cause the RS just asks the Building, hey can you craft this. The real question is why the Building then tells the RS yeah i can make Diorite in the form of Polished Diorite

[2018-05-28 17:52] Ragnarok96 commented on #2490
it was suppose to make polished diorite out of regular, which is what is listed but it seems to put the craft order in repeatedly and for 3? diorite to make the polished which doesn't even match the recipe. Not sure what's going on here but if you need me to do any testing or to try anything lemme know.

It usually has polished diorite * x
                                 diorite * x delivery from

[2018-05-28 21:56] #1963 closed, assigned to TheYoxy

[2018-05-28 23:04] Kisonu opened #2493 "Crash on Dark Oak Barracks lvl 2 or Higher"
### Minecolonies version

version -1.12.2-0.8.8277

### Expected behavior

no crash

### Actual behaviour

crash

### Steps to reproduce the problem

Open level 2 or higher Dark Oak barracks
Select any option
[crash-2018-05-28_17.02.30-client.txt](https://github.com/Minecolonies/minecolonies/files/2046291/crash-2018-05-28_17.02.30-client.txt)

[2018-05-28 23:33] Kisonu commented on #2329
i imagine cobblestone under the tree may be what prevents the lumbermen from recognizing the building as a "tree".. most of the barracks have this same style.. dirt may be unnecessary though and i'd agree with removing that.

[2018-05-29 10:49] Nightenom commented on #2493
Duplicate of #2447?

[2018-05-29 17:20] PoroUsedSnax commented on #2329
I believe this is already fixed, just that the style needs rescanning, which is a lot of buildings, it will come eventually:tm: along with a rescan of a few other styles.

[2018-05-29 17:25] PoroUsedSnax commented on #2493
I would consider this a duplicate. May be worth testing with an updated version, we're now up to 8402, not sure if it's an issue that may have been fixed, comment on #2447 if it isn't.

[2018-05-29 17:25] #2493 closed, assigned to nobody

[2018-05-29 17:43] PoroUsedSnax commented on #2466
For future reference, it would be greatly appreciated if you could fill out the issue template and maybe split issues up, it helps us to quicker see what the problem is. :D

Anyways, I was about ready to give some information on the issues but I noticed you are running 4063, our current alpha version is up to 8402, so it's definitely worth updating, there are lots of nice features in these past 40

[2018-05-29 22:14] Justen-N commented on #2466
Main issue is that the 8000 + builds haven't been backported to 1.10, which
is where the simple life  modpack lives.

On Tue, May 29, 2018, 11:43 AM Mark Fisher <notifications@github.com> wrote:

[2018-05-30 06:10] marchermans commented on #2466
However 1.10 is 2 major Minecraft versions behind, nearly three. Certain things are host not portable and then the music stops for that version.

[2018-05-30 07:09] Kisonu commented on #2493
This issue is also being recreated with the current updated version and the level 3 smelter. Selecting upgrade is causing the crash below.
[crash-2018-05-30_01.04.45-client.txt](https://github.com/Minecolonies/minecolonies/files/2052730/crash-2018-05-30_01.04.45-client.txt)

[2018-05-30 07:09] Kisonu commented on #2447
This issue is also being recreated with the current updated version and the level 3 smelter. Selecting upgrade is causing the crash below.
[crash-2018-05-30_01.04.45-client.txt](https://github.com/Minecolonies/minecolonies/files/2052738/crash-2018-05-30_01.04.45-client.txt)

[2018-05-30 07:22] Kisonu commented on #2472
I've seen this issue as well. It can take several tries to be allowed to place a building even as close as (f3 menu) 20 blocks from town hall. I DID notice that it seemed to give more problems when my biome was registered as deep ocean or ocean. Is this something that could cause an issue? I play with a flatlands biome mod than can sometimes not register the biome as "flatlands" and instead regist

[2018-05-30 07:24] Kisonu commented on #2465
I have also noticed the restaurant workers levels not increasing. Can't say anything on the food thing because i usually don't pay that much attention.

[2018-05-30 07:27] Kisonu commented on #2365
to anyone having this issue, i have noticed that removing and replacing the attacking guards weapon also resets this behavior. Might help to prevent you from having to flee your colony for an extended time or close your world to reset it.

[2018-05-30 07:30] Kisonu commented on #2284
issue happening with 0.8.8390 version as well.

[2018-05-31 07:54] lebanni opened #2494 "Citizen are duplicated again"
minecolonies-universal-1.12.2-0.8.8424.jar
forge-1.12.2-14.23.4.2703-universal.jar

https://imgur.com/a/1CrW6Tf

[2018-05-31 09:18] Rosomah opened #2495 "SUGGESTION: Make deliverymen deliver exact number of needed resources"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.8213

I would very much like it if the deliverymen would bring the exact number of required resources to let's say the builder instead of bringing a whole stack. The reason being, if a builder only needs 2 furnaces and another builder needs 2 furnaces, only one builder would get them since he gets the whole stack.

I'm sorry if someone ha

[2018-05-31 09:44] Rosomah opened #2496 "No chat messages from workers"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.8213

### Expected behavior

- They should say what resources or tools they need.

### Actual behaviour

- The only messages that I'm receiving are those from barbarian raids and whenever a builder started or finished building.

[2018-05-31 09:46] Asherslab commented on #2496
You may see what resources and tools are needed Via the Clipboard item. These messages were causing too much spam

[2018-05-31 09:46] #2496 closed, assigned to nobody

[2018-05-31 09:48] Rosomah commented on #2496
The clipboard item?

[2018-05-31 09:49] Asherslab commented on #2496
correct, the clipboard item
https://github.com/Minecolonies/minecolonies/blob/version/1.12/src/main/java/com/minecolonies/coremod/items/ItemClipBoard.java

[2018-05-31 10:49] Rosomah commented on #2496
Ah, didn't even know this existed. Thank you.

[2018-05-31 13:25] PuravidaServer opened #2497 "Buider converts white beds to red beds"
### Minecolonies version 1.12.2-0.8.7582

version X.X.XXXX or curse X.X.XX

### Expected behavior

- The builder will ask for a white bed and place a white bed. When you upgrade the building he will knock up the white bed and reuse it for the upgrade.

### Actual behaviour

- The builder will ask for a white bed but when he places it, it gets turned into a red bed. When you upgrade the building he

[2018-05-31 13:42] Virathas opened #2498 "Barracks cannot be interacted with"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.8421
minecolonies-universal-1.12.2-0.8.8424

### Expected behavior

- Right Clicking on Barrack will open up a GUI and allow interaction

### Actual behaviour

- Nothing happens

### Steps to reproduce the problem

1. Launch the game
2. Create a new world
3. Place a Town Hall
4. Place Barracks
5. Right click on Barracks

### Notes

In ver

[2018-05-31 13:43] Raycoms commented on #2498
Fixing that today

2018-05-31 10:42 GMT-03:00 Virathas <notifications@github.com>:

[2018-05-31 13:55] Turbotowns commented on #2421
It's bugged for me too. And the modpack is updated. Only two of my citizens are "loaded", while the first two are gone. And I can't change the assigned builder(my first citizen, one of the two that are gone) to one the ones that are still here.

[2018-05-31 19:57] BonaireDreams opened #2499 "Creeper Explosions not following explosion config"
### Minecolonies version

version X.X..8402

### Expected behavior

With Colony Protection set to false, but turnoffcolonyexplosion=true creepers should not destroy block in the colony.

### Actual behaviour

- Creeper explosions damage buildings and terrain.

### Steps to reproduce the problem

1. Set enablecolonyprotection=false
2. Set turnoffcolonyexplosion=true
3. go punch a creeper in the fac

[2018-06-01 12:55] #2494 closed, assigned to Raycoms

[2018-06-01 12:55] #2498 closed, assigned to Raycoms

[2018-06-01 12:55] #2499 closed, assigned to nobody

[2018-06-01 20:06] Raycoms commented on #2499
Fixed with newest version.

[2018-06-01 20:07] Raycoms commented on #2447
also fixed.

[2018-06-01 20:07] #2447 closed, assigned to nobody

[2018-06-02 17:56] GregPatience commented on #2386
Note also that it makes no difference what level the building is or if the worker has an intelligence stat higher than 1 (I thought that might affect it).  I have a level 5 dairy farm with the same issue as described above.

[2018-06-03 10:53] Bedrok4 commented on #1523
I have the same problem, but I play with sister at LAN. We tried this tutorial , but only the sister have the permision (she made the colonie).

[2018-06-05 16:23] BonaireDreams opened #2506 "Possible massive lag bug in .8515"
### Minecolonies version

version .8518

### Expected behavior

20 tps

### Actual behaviour

2-7 tps

### Steps to reproduce the problem

Sorry but I do not have logs or details as the players were revolting that I was killing their Sunday gaming time so rolled back without detailed testing. Here's what information I do have.

Running a slimed down DW20 1.12 (down to about 120 mods) with minecolo

[2018-06-05 17:10] marchermans commented on #2506
@Raycoms Pinging you.

So we are going to need that log goggles report. And if you can attach a JVM Profiler and get the result from that as well. We passed a Lag busting PR last week…… So no idea what is happening.

[2018-06-05 17:12] Raycoms commented on #2506
There is a program called warmroast which would be helpful. Did you try the
newest version already? I think Asher updated a fix yesterday.

2018-06-05 14:11 GMT-03:00 Marc Hermans <notifications@github.com>:

[2018-06-05 17:18] marchermans commented on #2506
@BonaireDreams Yes please update to the latest Alpha, you are running around 400 versions behind.

[2018-06-05 20:36] BonaireDreams commented on #2506
@OrionDevelopment I had updated to the latest Alpha (version .8518), that's where we experienced the lag. We rolled back to .8402 as it was stable and has no lag. I checked the server and my client to see if laggoggles hopefully saved a log but was unable to find one. I'll have to see if there's some time this week when no one is online as I'll have to take down the server, update back to .8518 ju

[2018-06-05 20:38] Raycoms commented on #2506
Okay sounds great, thanks!

2018-06-05 17:36 GMT-03:00 Gerald <notifications@github.com>:

[2018-06-06 16:55] BonaireDreams commented on #2506
Op'd one of my players remotely from work this morning and grabbed some baseline on .8402. I'll upgrade server and my instance back to .8515 after work before everyone starts coming online and will get a report running on that version. My expectation is that MC's Event Subscribers will be back up between 27,000 and 43,000.

BASELINE on .8402.
With 2 Players online:
[09:34:00] [Server thread/INFO]

[2018-06-07 00:08] BonaireDreams commented on #2506
Updated Minecolonies on server and client to .8515. No other changes/updates. With only myself logged in tps would randomly dip to 12 but bounce back to 20. Lag goggles showed minecolonies around 2500 us/t.  So aside from the bounce, mostly normal.

[16:32:47] [Server thread/INFO] [TickProfiler]:
                             |   E |   TE |    C |
                 overworld/0 | 444 | 1099 | 1328 |

[2018-06-07 01:37] Asherslab commented on #2506
Can you run a WarmRoast please?
This will give us important details like Exactly what class is using the most lag. Thank you!

[2018-06-07 02:09] BonaireDreams commented on #2506
I'll have to see if I can figure out how to install and run that. Players online now so will try tomorrow if I can.

[2018-06-07 02:14] Raycoms commented on #2506
As I see, you have a lot of automatic block breakers, right? I just merged
something which might improve it, the version should be on curse tomorrow.

[2018-06-07 02:37] BonaireDreams commented on #2506
We have no blockbreakers yet aside from 1 rftools quarry running in the mining DIM. We're only a few days in so no one really has any machines or automation started. But I'll try the new version and see what happens.

[2018-06-07 15:15] PoroUsedSnax opened #2508 "Ability to change the housing of citizens in the town hall"
### Expected behavior

- Player is able to assign or unassign citizens living in the town hall

### Actual behaviour

- Player is not able to assign or unassign citizens living in the town hall

[2018-06-08 14:13] Raycoms opened #2511 "Horse Breeder (Stable)"
Since Asher Forgot to open these:

We could need a horse breeder as well similar to the other Breeders.

What's needed:
- Specialized AI Class
- Specialized Building
- Building Design
- Block Texture

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59421456-horse-breeder-stable?utm_campaign=plugin&utm_content=tracker%2F43175463&utm_m

[2018-06-08 14:13] Raycoms opened #2512 "Rabbit breeder"
Since Asher Forgot to open these:

We could need a rabbit breeder as well similar to the other Breeders.

What's needed:
- Specialized AI Class
- Specialized Building
- Building Design
- Block Texture

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59421473-rabbit-breeder?utm_campaign=plugin&utm_content=tracker%2F43175463&utm_medium

[2018-06-08 14:14] Raycoms opened #2513 "Alpaca Breeder"
Since Asher Forgot open these:

We could need a alpaca breeder as well similar to the other Breeders.

What's needed:
- Specialized AI Class
- Specialized Building
- Building Design
- Block Texture

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59421487-alpaca-breeder?utm_campaign=plugin&utm_content=tracker%2F43175463&utm_medium=is

[2018-06-08 17:12] BonaireDreams commented on #2506
So I tried .8573 last night. While it was an improvement, Lag Goggles still showed minecolonies using 30,000 us/t under Event Subscribers after I had TP'd to each base and was back at mine. I was the only player online. I have not yet figured out how to install/run warmroast but will see if I can get it installed onto the server this weekend.

[2018-06-08 18:28] #1990 closed, assigned to Raycoms, TheYoxy

[2018-06-09 04:52] theoneandonlydonnie opened #2514 "Cannot craft supply ship"
### Minecolonies version

version 0.8.4191

### Expected behavior

- When placing five boats, I expect the supply ship to be in the output box

### Actual behaviour

- I place five boats in the crafting table in the formation as stated in the wiki recipes and no supply ship shows in the output

### Steps to reproduce the problem

1. craft five boats
2. place them in the crafting table

I am wantin

[2018-06-09 10:46] MineShadow7 commented on #2514
Update to the newest version, please.

[2018-06-09 10:46] #2514 closed, assigned to nobody

[2018-06-09 11:09] theoneandonlydonnie commented on #2514
I did update it to version 0.8.7582 and the issue still remains

[2018-06-09 11:15] theoneandonlydonnie opened #2515 "Supply Ship not being crafted"
Minecolonies version
version 0.8.7582

Expected behavior
When placing five boats, I expect the supply ship to be in the output box
Actual behaviour
I place five boats in the crafting table in the formation as stated in the wiki recipes and no supply ship shows in the output
Steps to reproduce the problem
craft five boats
place them in the crafting table
I am wanting to test the mod out so I only h

[2018-06-09 11:20] Asherslab commented on #2515
1st. Forge version?
2nd. that version is almost 4 months old
3rd. Please calm down, he was correct. you're on an ancient version
4th. I just confirmed that it is most certainly in the most recent version

[2018-06-09 11:21] Asherslab commented on #2515
Sorry, just saw your forge version. But non-the-less you're on a very old version

[2018-06-09 11:25] theoneandonlydonnie commented on #2515
I apologize. I work with trouble tickets as well.

Is the Minecolonies or the Forge too old? If so, what are the recommended versions?

[2018-06-09 11:26] Asherslab commented on #2515
MineColonies version is too old, Where did you get it from?
Curseforge?
Alpha's are our go-to for versions sadly. the Release is extremely out-dated (Think we can get another one soon @Raycoms ?)

[2018-06-09 11:28] theoneandonlydonnie commented on #2515
Yes, from Curseforge. Where can I get the newest version?

[2018-06-09 11:28] Asherslab commented on #2515
Curseforge =D you'll want an Alpha though

[2018-06-09 11:28] Asherslab commented on #2515
newest: https://minecraft.curseforge.com/projects/minecolonies/files/2570694

[2018-06-09 11:29] Asherslab commented on #2515
we release new Alpha's almost daily, so you'll want to keep tabs on there.
We *should* release a new "realease" version soon. Just depends on how many bugs and etc we need to squish before we're comfortable doing so

[2018-06-09 11:35] theoneandonlydonnie commented on #2515
I can definitely understand that.
I just tried the newest version that was released 17 hours ago. The issue still remains.
I used creative mode to get the boats and crafting table. Still no supply ship when the boats are placed. Does it all have to be done solely in survival mode? Do I need the tool? All I did was place the five boats on the crafting table

[2018-06-09 11:38] theoneandonlydonnie commented on #2515
I also grabbed the supply ship in creative and then the game crashed.

Here is the crash report
---- Minecraft Crash Report ----
// Uh... Did I do that?

Time: 6/9/18 6:37 AM
Description: Updating screen events

java.lang.ArrayIndexOutOfBoundsException: -1
	at java.util.ArrayList.elementData(ArrayList.java:418)
	at java.util.ArrayList.get(ArrayList.java:431)
	at com.minecolonies.coremod.client.gui

[2018-06-09 11:42] Asherslab commented on #2515
oh shoot.. you might have to "learn" the recipe? i know minecraft added a stupid recipe learning system.
Try crafting the boat first?

[2018-06-09 11:51] theoneandonlydonnie commented on #2515
I did craft the boat. I then tried to craft the supply ship. It did not allow me.  It also does not show up as a potential recipe when I have boats and the crafting table.

Also, I tried to use creative to just grab a supply camp or supply ship and the game crashes each time I place them. The crash reports resemble the one I placed in the above update

[2018-06-09 12:14] Raycoms commented on #2515
Are you on a server? Does the server have the right version?

On Sat, Jun 9, 2018, 08:51 theoneandonlydonnie <notifications@github.com>
wrote:

[2018-06-09 13:03] theoneandonlydonnie commented on #2515
I am on my own server.

[2018-06-09 13:05] Raycoms commented on #2515
Its weird, some people had this problem already once, but it seemed it has
been due to an issue with forge rather than an issue with us.

2018-06-09 10:03 GMT-03:00 theoneandonlydonnie <notifications@github.com>:

[2018-06-09 13:12] theoneandonlydonnie commented on #2515
What was that solution? I have gone ahead and even re-installed my entire server using a newer version of Forge. The Forge version is 14.23.4.2707

I have been wanting to install and play with this mod for a very long time now so I apologize if I am over eager as I really want to have it.

[2018-06-09 13:21] Raycoms commented on #2515
Might also be one of these two here interfering:  Minecraft Coder Pack
9.42, Forge Mod Loader 8.0.99.99

Like, to me it seems like the mod is not loading at all on the server

2018-06-09 10:12 GMT-03:00 theoneandonlydonnie <notifications@github.com>:

[2018-06-09 13:42] theoneandonlydonnie commented on #2515
Those were loaded by Forge. All I did was to get Forge loaded up and then put the latest version of minecolonies into the mods folder at .minefract/mods.

I can see where you are coming from, though. I am not sure what to do about the Minecraft Coder Pack or Forge Mod Loader versions, though as those come from Forge itself. If you have any information, then please let me know and I will go that ro

[2018-06-09 13:51] Raycoms commented on #2515
Can you send us your startup log? of the server?

2018-06-09 10:42 GMT-03:00 theoneandonlydonnie <notifications@github.com>:

[2018-06-09 13:55] theoneandonlydonnie commented on #2515
[08:54:25 INFO]: Starting minecraft server version 1.12.2
[08:54:25 INFO]: Loading properties
[08:54:25 ERROR]: Exception handling console input
java.io.IOException: The handle is invalid
	at java.io.FileInputStream.readBytes(Native Method) ~[?:?]
	at java.io.FileInputStream.read(Unknown Source) ~[?:?]
	at java.io.BufferedInputStream.read1(Unknown Source) ~[?:?]
	at java.io.BufferedInputStream.rea

[2018-06-09 13:56] Raycoms commented on #2515
isn't there more to that?

But it definitely looks like minecolonies isn't loading server-side

2018-06-09 10:55 GMT-03:00 theoneandonlydonnie <notifications@github.com>:

[2018-06-09 14:01] theoneandonlydonnie commented on #2515
That is all that showed up when I started the server.

What needs to be done to get this mod to load server-side?

[2018-06-09 14:02] Raycoms commented on #2515
Do you have a correct forge server install?

2018-06-09 11:01 GMT-03:00 theoneandonlydonnie <notifications@github.com>:

[2018-06-09 14:04] marchermans commented on #2515
@theoneandonlydonnie your server is not running forge.
Please consult forge support on how to start a Forge server.

Or download an FTB Server and clear its mod folder.

[2018-06-09 14:09] #2515 closed, assigned to nobody

[2018-06-09 14:12] #2435 closed, assigned to TheYoxy

[2018-06-09 17:37] H3roDude opened #2516 "Crash on opening Minecolonies Townhall"
### Minecolonies version

version 0.8.8583 or curse X.X.XX

### Expected behavior

- Townhall GUI opens as usual

### Actual behaviour

- Minecraft crashes

### Steps to reproduce the problem

1. Place the Townhall
2. right click it
3. crash

Crashlog: https://pastebin.com/TX25sF6J

[2018-06-09 19:56] wyattzastrow opened #2519 "Suggestion: Happiness during Barbarian raids"
When barbarians are attacking colonist have a habit of getting in the way of arrows/shurikens/swords.  Maybe reduce or have no penalty to player kills on colonist while a barbarian attack is underway.
Thanks

[2018-06-09 19:57] Raycoms opened #2520 "Citizens hiding during Raid"
We have a way to track if there are barbarians in the colony, use this to check if a citizen should stay at home. (As in, let it appear to be night to the citizen as long as there are still barbs alive)

[2018-06-10 02:49] #2516 closed, assigned to TheYoxy

[2018-06-10 16:53] WrongWeekend commented on #2513
By alpaca I assume you mean llama. In the case of llamas and other mounts, it may be necessary for some other citizen to be able to use them, as there is little point in breeding large numbers of them for only the player to use.

[2018-06-10 20:22] NielsPilgaard opened #2524 "Exception in Server Tick Loop"
### Minecolonies version

0.8.8518

### Expected behavior

- The player joins the game and the world loads

### Actual behaviour

- The world crashes

### Steps to reproduce the problem

I don't know unfortunately

Crashlog: https://pastebin.com/HT6vsE9W
Latestlog: https://pastebin.com/0smmqrg7
Original report: https://github.com/NillerMedDild/Enigmatica2/issues/41

[2018-06-10 20:59] KingSnailtan opened #2525 "MineColony Server Crash"
### Minecolonies version

Curse minecolonies-universal-1.12.2-0.8.8618

### Expected behavior

Nothing I guess?

### Actual behaviour

Once I enter and leave a colony my entire server crashes
Here is a crashreport and latest log for you
Crashrep: https://hastebin.com/ujahajokux.sql
Latest.log: https://hastebin.com/solopuyuse.sql

### Steps to reproduce the problem

1. Go into a colony
2. Leave tha

[2018-06-11 06:18] sickhippie opened #2526 "Mossy Stone Brick Monster Egg in Warehouse Level 5 build"
### Minecolonies version

version 1.12.2-0.8.8618

### Expected behavior

- building Birch medieval warehouse level 5 with 1 mossy brick.

### Actual behaviour

- Upgrade template calls for 1 Mossy Stone Brick Monster Egg

### Steps to reproduce the problem

1. Build birch medieval warehouse up to level 4
2. Try to upgrade to level 5
3. Get stuck on mossy stone brick monster egg

Issue was fixed f

[2018-06-11 11:32] MineShadow7 commented on #2520
Maybe they could hide at townhall?

[2018-06-11 13:33] Nightenom commented on #2526
Will fix in few minutes

[2018-06-11 14:40] Nightenom commented on #2526
Btw: `Mining a monster egg with a Silk Touch tool drops the block that the monster egg is disguised as, and does not spawn the silverfish.`

[2018-06-12 01:30] TheDeinonychus opened #2528 "Placing Buildings with Wand gives 'place over pool' error"
### Minecolonies version

version 0.8.5086
Minecraft verion 1.10.2

### Expected behavior

- When placing buildings with the wand, it should use the item from inventory and place the building in the location, rotation, and style selected.

### Actual behaviour

- Trying to place a building (regardless of which type) with the building wand fails and returns the same error as when trying to place th

[2018-06-12 01:42] Raycoms commented on #2528
You're around 3000 versions behind, please try to update to one of our
latest builds.

2018-06-11 22:30 GMT-03:00 TheDeinonychus <notifications@github.com>:

[2018-06-12 01:53] TheDeinonychus commented on #2528
Quite possibly. I haven't played in a good while. I'll look into which version for MC 1.10.2 is most recent. But right now, I'm trying to narrow down what's doing this. Looks like it's a mod conflict at the moment, just trying to figure out which mod in case it's a conflict that's still persistent.

[2018-06-12 01:55] Raycoms commented on #2528
Ahh 1.10, yeah our 1.10 version is also quite outdated.

2018-06-11 22:53 GMT-03:00 TheDeinonychus <notifications@github.com>:

[2018-06-12 01:57] TheDeinonychus commented on #2528
Heh, I figured as much. But till certain key mods that I love all update to a newer version of MC, I don't mind playing an outdated version.

[2018-06-12 02:13] TheDeinonychus commented on #2528
Ok, the issue seems to be some sort of conflict with the 'Compact Machines' mod. Oddly enough, it also seemed to have had caused some of the buttons in the building tool's interface from working. Specifically the buttons to click through the different buildings, though the drop-down menus still worked.

[2018-06-12 05:01] #2528 closed, assigned to nobody

[2018-06-12 14:05] DarkWhiteParadox opened #2530 "Voice Acting needs improvement!"
The voice acting is horrible!

Is it possible to disable this/ do you have plans to redo it?

A lot of the speech is hard to understand, the accents don't sound genuine, im pretty sure one of the female NPC's is voiced by a male pretending to be female (very cringy).

Also side note: is there somewhere I can find a way to change the building schematics/ download a pack that changes them? This mod

[2018-06-12 14:18] Nightenom commented on #2530
You can't change buildings, you only can add some your own schematics as decorations, making medieval NPCs with minecraft resolution is a bit hard to do (and they don't look modern so much?)

[2018-06-12 14:22] Nightenom opened #2531 "[Enhanc] Accept new styles from local repository"
Get all new styles (buildings levels included) made by user from a local dir named something like "minecolonies/styles"

[2018-06-12 14:53] Raycoms commented on #2531
There are 8 building styles, one of these should please you.

Also, if you produce better worker models and textures as well as sounds,
feel free to send them, or pay someone to do so.

On Tue, Jun 12, 2018, 11:22 Nightenom <notifications@github.com> wrote:

[2018-06-12 14:54] Raycoms commented on #2530
There are 8 building styles, one of these should please you. Also, if you produce better worker models and textures as well as sounds, feel free to send them, or pay someone to do so.

[2018-06-12 14:54] #2530 closed, assigned to nobody

[2018-06-12 16:20] PoroUsedSnax commented on #2530
@DarkWhiteParadox You should note that the team working on Minecolonies are all doing it in their free time, voluntarily. It's rather disrespectful for you to come and say that all these things are terrible (Without even having the decency to at least offer some constructive criticism). As Raycoms has said, should you have anything better to contribute then feel free to do so.

[2018-06-13 00:30] Asherslab commented on #2530
Just to mention, at least 50% of the schematics are built by our Community. I.E. People who play the mod and love it.
If you'd like to contribute your own Schematics feel free

[2018-06-13 01:14] lebanni opened #2533 "Farmer create an extra farmland tile"
MC 1.12.2
Forge 14.23.4.2707
Minecolonies 0.8.8618

Farm level 1, Medieval Oak

https://imgur.com/a/BPJ9EUT

[2018-06-13 01:59] ProsperCraft commented on #2530
The problem with one of the voices I know for sure is somehow it got slowed way down, it was recorded by a professional actress, but with it being slowed down it sounds pretty bad.

[2018-06-13 02:00] Raycoms commented on #2530
@PoroUsedSnax is working on that now =)

[2018-06-13 02:57] frankremmy opened #2534 "Working on the About page of MineColonies"
While I took my time to play and understand the game, this is what I'm able to gather about MineColonies. Please consider this as an overview item, not to be considered for documentation purpose.
https://www.dropbox.com/s/bsmlf44nnyrc21m/Concept%20of%20MineColonies.docx?dl=0

[2018-06-13 03:06] PoroUsedSnax commented on #2534
Looks good! Few bits needing cleaning up for a final version, but I think it gives a good overview coverage of the mod.
:shipit:

[2018-06-13 03:13] Asherslab commented on #2534
Hey, this looks really good, I think the main thing is the Grammar. But otherwise it provides a great Overview of what the mod is, and does.

[2018-06-13 04:12] Starshak3r commented on #2530
W
o
W

but, since we're on the subject of the voices.. can you guys remove that creepy laugh that the female builder does.. its super freakin scary :)

[2018-06-13 16:02] BonaireDreams commented on #2506
Have not managed to get WarmRoast installed, updated my entire pack last night including the latest Minecolonies. (Pre Monster egg patch) Things seem better but there are still stutters. It may be my older Gen CPU. The single core performance of those older Xeons is not great. I have a new motherboard, i5-8600 and 16GB DDR4 ram coming and will build a dedicated MC server with that. Will see how it

[2018-06-13 16:02] #2506 closed, assigned to nobody

[2018-06-13 20:51] #2526 closed, assigned to nobody

[2018-06-13 20:59] Nightenom commented on #2533
Look [here](https://wiki.minecolonies.com/index.php?title=Farmer), it's not an issue then, btw we have a planned feature for resizeable fields (is waiting for another update, so give it something like 2-4 months)

[2018-06-15 00:45] wyattzastrow opened #2537 ""Just a Few Fish" Mod support."
### Minecolonies version

version 4.30

### Expected behavior

- Fisher(person) can use a fishing pole delivered by a delivery(person)

### Actual behaviour

- The iron fishing rod from the mod Just a Few Fish doesn't seem to work with the fisher(person), but the delivery(person)s will deliver it to the fisher(person) or I guess they request a rod and that can be delivered.

### Steps to reproduce

[2018-06-15 02:51] Asherslab commented on #2537
Correct, we are currently not focusing on integrations with other mods. =D

[2018-06-15 05:32] frankremmy commented on #2534
For the homepage to be catchy to visitors and for easy conversion, few things I'll be needing :

- Screenshots of some strategic levels of the mod. This serve as a “sneak peek” of how the inside of MineColonies would look like. Be sure to make the shots very clear and worthwhile.

- An estimate number of current or total players of the mod. This is something called “a social proof”. Visitors like

[2018-06-15 05:41] Asherslab commented on #2534
our versions are released here:
https://minecraft.curseforge.com/projects/minecolonies/files
we have a download counter on https://minecraft.curseforge.com/projects/minecolonies
as well (Not a user count, but download count works)

[2018-06-15 18:13] wyattzastrow commented on #2537
Is there a way to keep them from being delivered or for the delivery person to keep requesting fishing rods till they get one they can actually use?

[2018-06-15 20:01] Wissi commented on #2537
Well if you've crafted some, keep them in a separate chest, one not accessed by d-man. Those rods require a special way of using it to "catch" a fish and are mainly intended to catch that mods fish, not vanilla fish. The mechanics of using it might get integrated, but not any time soon.

[2018-06-16 05:44] aelfwyne commented on #2465
Similar issues. Have baker, have restaurant, have farmer farming wheat, bread seems to be baked (albeit slowly)... but workers get hungry and just stand around refusing to work. I have to manually feed each one like a baby.

Also, they do NOT notify that they are hungry. You have to hunt them down and feed them. There should be a notification just like if they are waiting on a tool.

[2018-06-16 11:56] Raycoms commented on #2465
Which minecolonies version are you using?

On Sat, Jun 16, 2018, 02:44 aelfwyne <notifications@github.com> wrote:

[2018-06-16 13:33] MattBeard opened #2538 "Guards gain no experience!"
### Minecolonies version

version 1.12.2-0.8.8618

### Expected behavior

- Guards fight mobs
- Guards gain experience
- Guards get better at fighting mobs
- When lots of barbarians turn up, guards can cope

### Actual behaviour

- Guards fight mobs
- Guards gain no experience
- Guards keep fighting like noobs
- Guards die!
- Barbarians turn up
- Guards die even more!

### Steps to reproduce the p

[2018-06-16 14:12] Asherslab commented on #2538
What level is his CitizenHut?

[2018-06-16 15:40] MattBeard commented on #2538
They are all level 2

[2018-06-16 17:54] frankremmy commented on #2534
Please review.
https://docs.google.com/document/d/19cnE3RNdBceJeE5J3ob0V9qfI7-PyFWOf-hE2uoL7co/edit?usp=drivesdk
Note: The "Team" lists isn't well arranged. Couldn't figure out on how to best approach that so as to look like the one on the site.

[2018-06-16 21:51] lebanni opened #2540 "Crash with Guidebook > v2.5.1"
https://github.com/gigaherz/Guidebook/issues/51

[2018-06-17 00:42] Raycoms commented on #2525
I checked this, this is really weird and should not happen, somehow your server seems to have corrupted our files which consider colony claim. Can you check if on your server the colony claim works correctly?

[2018-06-17 00:42] Raycoms commented on #2533
This must be by another mod since he doesn't create anything himself, he uses the default minecraft classes for frming.

[2018-06-17 00:42] #2533 closed, assigned to nobody

[2018-06-17 00:43] Raycoms commented on #2531
This works if you put it on the server or if you are in single player, doesn't work on multiplayer to avoid abuse, on purpose.

[2018-06-17 00:43] #2531 closed, assigned to nobody

[2018-06-17 00:45] Raycoms commented on #2524
duplicate of https://github.com/ldtteam/minecolonies/issues/2525

[2018-06-17 00:45] #2524 closed, assigned to nobody

[2018-06-17 00:49] JonnaJudin commented on #2411
I just experienced the same issue. Rebooted the server and whole colony stopped existing. blocks are still there but not interactable. Is there anything I can do to save the colony before shutting the server? I restored the colony.dat from backup in the world/minecolonies, but the colony was still unresponsive.

[2018-06-17 00:50] mkienenb commented on #1453
Pr #2541 finally contains a fix for citizen names up to 10 words long.

[2018-06-17 00:56] Raycoms commented on #2411
Did you load the colonyX.dat (x is the right colonyid) + the colonies.dat and then restarted the server?

[2018-06-17 01:18] JonnaJudin commented on #2411
Ok thanks!, did not realize I need both of those. I only had backup of the colonies.dat. I did check colony1.dat in nbt reader and noticed it was missing the ownerid tag, I added it in, but it still did not work. I'll try to keep both files backupped as workaround until more permanent solution appears.

[2018-06-17 01:21] KingSnailtan commented on #2525
The world doesnt exist anymore, but the modpack I used was enigmatica 2. It
happend right after i built my farmer. The world became unplayable, so now
I dont use it and minecolony anymore, because i dont want it to happen
again.

Raycoms <notifications@github.com> schrieb am So., 17. Juni 2018, 02:42:

[2018-06-17 01:43] Raycoms commented on #2525
Quite weird, we never had any of these problems, it seems like something
corrupted our data, we're going to rewrite this part to avoid this from
happening soon. But something else must've caused this.

2018-06-16 22:21 GMT-03:00 KingSnailtan <notifications@github.com>:

[2018-06-17 03:14] Raycoms opened #2542 "Guards defending citizens."
If a citizen gets attacked by a barbarian, set barb as attack target for closest guard

[2018-06-17 06:33] NielsPilgaard commented on #2524
That issue didn't exist when I opened mine. Thanks for looking into it regardless!

[2018-06-17 07:13] BonaireDreams commented on #2096
Not sure if this broke again but we're on .8618 and the builder keeps going back and forth asking for a disc  when trying to upgrade the stone restaurant from Tier 4 to Tier 5.

[2018-06-17 13:58] MattBeard commented on #2542
I like!

[2018-06-17 17:40] GanthorPrime commented on #2538
i can confirm this. recently upgrade to latest 1.12.2 versions and the problem of guards (i have rangers) diying a lot is very noticeable. Also, new guards (rangers or knighs) are not gaining experience. (stuck at lvl 0, and 0 experience). buildings at max lvl

[2018-06-17 20:10] #2540 closed, assigned to nobody

[2018-06-17 20:38] lebanni commented on #2538
I'll add that the patrolling system is slightly broken. Some guard move few blocks away, climb on a block where they are stuck and are teleported to their chest.

[2018-06-18 02:36] desagas commented on #2365
At least in the mean time, on a server play, logging out and back in seemed to fix the problem. But, it has only been 15 minutes since the accidental attack happened.

[2018-06-18 16:51] nick-johnson commented on #1986
Hate to bump the issue, but I am continuing to see this drop in FPS in the current version as well.

Forge 14.23.4.2708
Minecolonies 1.12.2-0.8.9540
Occurs with or without Optifine 1.12.2 HD U D2

[2018-06-18 16:53] Raycoms commented on #1986
We're currently still reworking the RequestSystem for crafting workers,
that's why we're needing a bit longer =)

2018-06-18 13:51 GMT-03:00 nick-johnson <notifications@github.com>:

[2018-06-18 19:46] SulpherStaer commented on #2316
The lumberjack does recognise that the dynamic tree is a tree, but because they start harvesting at the top, and don't break block, but replace with air, dynamic trees get confused. Dynamic trees should be harvested from the bottom, and with break block event.

The breakblock event of a bottom log causes dynamic trees to drop the wood, and some sticks as items.
There should be a test for the lumbe

[2018-06-19 04:54] desagas opened #2545 "Deposit Inventory AI / Button / Command Enhancement"
I would love it if there was a button / command or AI that would force the citizens or workers to deposit their entire inventory into their respective chests. This is especially important for guards.

I was looking at my barracks guards, especially the ones who are around when one dies and drops their inventory on the ground, and realized that they are picking it up. Forcing them to deposit their

[2018-06-19 21:42] Cazsius commented on #1871
https://github.com/ldtteam/minecolonies/pull/2546

Didn't Mean to Close until accepted, opened again.

[2018-06-20 15:51] BonaireDreams commented on #2506
@Raycoms  Leaving this closed for the time being but thought I'd add some additional info. I have been unsuccessful in my attempts to install Warmroast. Seems the version of Debian I have does not have some of the files in the jre folder that warmroast requires and I'm not sure how to get them. (ie attach.dll) I did make some more discoveries.  Whenever 1 specific player joined is when the lag bec

[2018-06-20 16:20] BonaireDreams opened #2549 "colonyX.dat files excessively large"
### Minecolonies version

version X.X.9540 but could be a carry over form previous versions

### Expected behavior

- colonyX.dat file remains a normal size

### Actual behaviour

- colonyX.dat file is HUGE

### Steps to reproduce the problem

1. Not sure how to reproduce but we have 2 very large files.

Colony 2 - My colony: 17 Level 5 buildings. Citzens restricted to 5. (2 builders, 1 dman, 1 co

[2018-06-20 17:04] Raycoms commented on #2506
did you try the rs reset command for the colony? And can you provide us the colony.dat?

[2018-06-20 17:14] BonaireDreams commented on #2506
Hi @Raycoms  I had tried /mc colony resfresh colony: 1  and it said refreshed. I'm guessing the rs reset is different. Its a little slow at work so I just finished removing all 13K work order entries from colony1.dat. The PLayer sits across form me and he will test things tonight after work. I'm teaching Scuba tonight so won't be home until after 11pm PST. He'll still be online and can report to m

[2018-06-20 17:15] BonaireDreams commented on #2549
Colony1.dat with 13K work order entries: [https://www.dropbox.com/s/f8z3hnxy1zg0pud/colony1.zip?dl=0](url)

[2018-06-20 17:18] BonaireDreams commented on #2549
Just a note, these colony.dat files have been with us since May 25th when we launched our server using Minecolonies version .7582.  (Currenly on .9540 as of June 18th) So it's possible the work order entries bug has already been addressed.

[2018-06-20 17:19] Raycoms commented on #2549
Uhm, all other colonies which have miners are alright?

I will test this a bit later here. But I got an idea what caused this and
its possible I fixed this already, but the fix doesn't clean up the
corrupted old builds.

2018-06-20 14:15 GMT-03:00 Gerald <notifications@github.com>:

[2018-06-20 18:10] BonaireDreams commented on #2549
Yes, we have fellow who went full bore on Minecolonies and has built every building. His miner seems fine. My Miner seems ok in Colony 2, although I also had 171 entries which I have just deleted. I did notice that when he was requesting planks etc it seemed to cause some lag, but as as severe. Interestingly while colony 1 had a miner, he fired him days ago as we were trying to troubleshoot. and h

[2018-06-20 18:17] Raycoms commented on #2549
Yeah because this list constantly tries to assign someone to the workOrder.

[2018-06-20 18:40] BonaireDreams commented on #2549
Well I think we've successfully found the mystery lag issue. :D I'me just finishing editing all the colony.dat files and deleting all the workorder entries and will push the files back to the server. I also noticed that some of the requestmanager -> DataStores -> Data -> List 46 entries.  Seems high for a colony of 5 Citizens. Would it be safe to delete all those via NBTEdit as well? Or does the r

[2018-06-20 18:43] Raycoms commented on #2549
rs reset cleans those as well.

2018-06-20 15:40 GMT-03:00 Gerald <notifications@github.com>:

[2018-06-20 19:09] BonaireDreams commented on #2549
OK Servers back up with all Work Order entries deleted from all 5 colonyx.dat files. Seems stable. No one on right now to test but we will have the primary culprit (Colony 1) Test tonight.

I did try removing the requestmanager entries as well, but with those removed the server would crash on startup. Is there any way to safely clean these up?

![screenshot 2931](https://user-images.githubusercont

[2018-06-20 19:10] Raycoms commented on #2549
yeah, there is a command, I think its mc colony rs reset colony: id

2018-06-20 16:09 GMT-03:00 Gerald <notifications@github.com>:

[2018-06-20 19:25] BonaireDreams commented on #2549
Hmm no luck with either rsreset nor rs reset.
![screenshot 2933](https://user-images.githubusercontent.com/5133282/41680025-ee10d73c-7484-11e8-9720-4df0dd0cab41.jpg)

I also do not see it listed as a command at: [https://wiki.minecolonies.com/index.php?title=Server](url)

[2018-06-20 19:39] Raycoms commented on #2549
it's /mc rs reset colony: 1

2018-06-20 16:25 GMT-03:00 Gerald <notifications@github.com>:

[2018-06-20 19:59] BonaireDreams commented on #2549
Hi @Raycoms That did it!!! Thanks so much for all your help on this one. Looking at the server loads in Mineos manager we're sitting below 0.25 with no one currently on. The last few weeks that's been over 1-1.5 with no one on.  This is going to be night and day difference for everyone. Guess I didn;t really need that new Mobo/cpu/ram afterall. But thats all good. Just gives me another older board

[2018-06-20 19:59] marchermans commented on #2549
51 might however be a valid size for 5 people

[2018-06-20 20:00] marchermans commented on #2549
They are not only used for citizens but for buildings and other things inside the rs

[2018-06-20 20:10] BonaireDreams commented on #2549
Of those 5 people there was only the Dman and the builder actively working. Player had fired all the other workers trying to find the lag issue. In any case, Things are looking great on the server. I'm happy if you want to close this one. Otherwise I'll close it tonight after actually getting on line and doing some testing. But looking at loads I can already say its an 80-90% reduction in load.

[2018-06-20 20:15] marchermans commented on #2549
It does not matter, datastores are citizen, job and building independent. They are created  when the RS requires them on the first attempt to access them. The RS itself provides 8 or 9 of them to manage its data and id and such.

[2018-06-21 03:15] Asherslab commented on #2538
Fixed in latest version

[2018-06-21 03:15] #2538 closed, assigned to nobody

[2018-06-21 03:16] Asherslab commented on #2542
Done in latest version
(IF the guard can see the barbarian attacking a colonist, they will attack it)

[2018-06-21 03:16] #2542 closed, assigned to nobody

[2018-06-21 03:33] frankremmy commented on #2534
The update for “Our Team” https://docs.google.com/document/d/1mSk4FBTlAU5uYpEgmrvrP5RC9ZPgw1_psCQdF7uDSUc/edit?usp=drivesdk

[2018-06-21 06:18] BonaireDreams commented on #2549
So got home at 11pm. Guys said there's been lag all night. Took a look and the first 4 colony files were still fine. Colony 5, even though I had removed all its workorders as well was 6451kb in size. Opening it up in NBTeditor it had 23457 workorders. Not sure why that file went all crazy again, but cleaning it up now and will push it back to the server and test tomorrow.

[2018-06-21 12:00] Raycoms commented on #2549
I got a fix ready for that. Will merge it today

On Thu, Jun 21, 2018, 03:18 Gerald <notifications@github.com> wrote:

[2018-06-21 14:43] BonaireDreams commented on #2549
Oh Perfect. Is that .9602?

I got up this morning and with Player 5 having been offline all night his colony5.dat has 885 work orders. I can upload both my fixed file that I put back on the server at midnight and the one from this morning to dropbox if there is anything of value in them for you.

[2018-06-21 15:23] MattBeard opened #2551 "[Enhancement] Better guard survival strategy"
### Minecolonies version

version 1.12.2.0.8.9??? onwards?

### Expected behavior

- Guards fight with some common sense

### Actual behaviour

- Guards are happy to wade into a pack of mobs/barbarians and get pulverised

### Suggestion

In the guard AI code, probably in getTarget(), where the nearby area is scanned for targets, make a count of all threats to the guard (i.e. mods/barbarians) and i

[2018-06-21 15:46] marchermans commented on #2551
@Asherslab this is actually a pretty good idea 🗡 !

[2018-06-22 06:32] BonaireDreams commented on #2549
So servers been on .9602 all day with numerous players on. Colony dat files all look normal and TPS stable at 20!!!

Thanks guys!

[2018-06-22 06:32] #2549 closed, assigned to Raycoms

[2018-06-22 17:06] #2124 closed, assigned to nobody

[2018-06-22 17:06] #2497 closed, assigned to Raycoms

[2018-06-23 22:10] MineShadow7 commented on #2519
This could be abused to kill citizens with low stats btw...

[2018-06-23 22:16] MineShadow7 commented on #1188
Possibly can be combined with issue #332

[2018-06-23 22:20] MineShadow7 commented on #1871
Since cactus planks were released, can we close this?

[2018-06-23 22:26] PoroUsedSnax commented on #1871
Would have figured referencing it in the PR would close it, as it's implemented with #2546 I'll close this

[2018-06-23 22:26] #1871 closed, assigned to Cazsius

[2018-06-23 22:26] MineShadow7 commented on #2312
Should we close this if the problem was fixed?

[2018-06-24 05:10] BonaireDreams opened #2553 "Tier 5 Stone Restaurant record request loop"
### Minecolonies version

version X.X.9602

### Expected behavior

Builder requests record and places it

### Actual behaviour

Builder requests record.
Builder goes to Restaurant.
Record stays in Inventory.
Builder requests another record.
Rinse and repeat.

### Steps to reproduce the problem

1. Build stone Restaurant
2. Level tier to Tier 5
3. Watch builder build his record collection at your e

[2018-06-24 13:26] JonnaJudin opened #2556 "CTD when first villager tries to spawn after setting down townhall"
### Minecolonies version

version minecolonies-universal-1.12.2-0.8.9540.jar

### Expected behavior

- Set down town hall, see villagers appear, keep playing minecraft

### Actual behaviour

- Set down town hall (tried with mesa and desert), wait second or two, crash to desktop

[crash-2018-06-24_13.57.58-server.txt](https://github.com/ldtteam/minecolonies/files/2130810/crash-2018-06-24_13.57.58-s

[2018-06-24 14:32] JonnaJudin commented on #2556
I tried to find more information and noticed this:
https://github.com/iLexiconn/LLibrary/issues/83

I suppose this is the same issue, should I close this one?

[2018-06-25 02:04] wyattzastrow commented on #2519
True but there are easier ways to kill your citizens (without penalty) that don't involve waiting for a barbarian raid.  I'm not sure if it's possible but you could set a check to see if they died within a certain distance of a barbarian.

[2018-06-25 14:49] Daniele05062006 opened #2561 "RFTools elevator and minecolonies"
### Minecolonies version

1.10.2-0.9.7587

### Expected behavior

- The RFTools elevator should work everywhere.

### Actual behaviour

- The RFTools elevator doesn't work in the colony

### Steps to reproduce the problem

1. build a town hall
2. build a RFTools elevator in the colony

[2018-06-25 21:18] #2534 closed, assigned to nobody

[2018-06-26 02:47] Cazsius commented on #2474
Sounds Currently do not exist from what I can see, need to be created.

[2018-06-26 03:19] Raycoms opened #2565 "Citizens derping on Ladders"
Citizens do not detect their position correctly to drop themselves down a ladder.
We probably should let them path a few more pixels forward to make sure they drop down.

[2018-06-26 03:43] CharCharthemonkey opened #2566 "General question on colony size?"
### Minecolonies version

version X.X.XXXX or curse X.X.XX
1.12.2-9630
### Expected behavior
clear size of colony
- XXX

### Actual behaviour
unknown colony size
- YYY

### Steps to reproduce the problem
please define wat the colony size is? cause 16x16 256x256 or 8 chunks by 8 chunks is wrong or something cause i made a colony didnt change the size and barbarians are spawning inside the walls and

[2018-06-26 04:00] Raycoms commented on #2566
No they don't only spawn outside the walls, they spawn in the farthest
loaded chunk.

2018-06-26 0:43 GMT-03:00 CharCharthemonkey <notifications@github.com>:

[2018-06-26 04:53] CharCharthemonkey commented on #2566
well from wat i was told they are supposed to spawn outside the walls and weirdly on 2 sides of my colony they do but the other 2 sides they dont

[2018-06-26 05:40] marchermans commented on #2566
@Raycoms I figured something out lately about the spawning. Their was an issue with how we detect the loaded area. However I am. Not sure anymore what it was xd

[2018-06-26 13:57] yggdrasil75 opened #2567 "suggestion for baker, smelter, and similar "crafters""
### Minecolonies version

version 1.12.2-0.8.9630 or curse X.X.XX

### Expected behavior

- So, the smeltery and baker have preset furnace recipes, the smeltery does oreX (smeltable ores) and the baker does "bread" but there are times when you have need of a furnace and it is neither for smeltable ores or bread. An example of this is the ore drops that come from certain mods to replace the ore blo

[2018-06-26 17:18] BonaireDreams commented on #2549
@Raycoms Just wanted to add a quick follow up. We are now on .9646 and everythign seems fine except one interesting disocvery. One new player built Builder, Town hall, Miner. She then tried moved the townhall as she wanted it rotated. Not sure if she used the reposition or if she broke and replaced the block. By the end of the day her .dat file was 800k with 3405 miner work orders.  So there could

[2018-06-26 17:21] Raycoms commented on #2549
Hi, a new build should hit curse soon which will automatically clean up
these miner orders and fix the bug (if you let the miner continue working).
Else you can delete them from the dat via a nbt editor as well.

2018-06-26 14:18 GMT-03:00 Gerald <notifications@github.com>:

[2018-06-26 19:05] CharCharthemonkey opened #2568 "miner doesnt use specfic enchants"
### Minecolonies version
1.12.2-0.8.9630

### Expected behavior
- to use the enchants as normal

### Actual behaviour
- completely ignores the silk touch and fortune enchants from both tinkers construct and vanilla

### Steps to reproduce the problem
craft any pick enchant them with either silk touch or fortune 1-3 give to miner and see him ignore the enchants

[2018-06-26 19:08] CharCharthemonkey commented on #2566
well something either i did or a config derp or coding derp caused the above pictures to happen and from wat i was told the barbs are supposed to spawn outside ure colony not inside it unless the colony size broke

[2018-06-26 19:17] Raycoms commented on #2566
Then you have been told wrong, the barbs spawn in the farthest longest
chunk, its not guaranteed to be outside of the wall.

2018-06-26 16:08 GMT-03:00 CharCharthemonkey <notifications@github.com>:

[2018-06-26 19:20] CharCharthemonkey commented on #2566
ok so pretty much a wall is useless then which i was told was 100% sure to work thank you

[2018-06-26 19:36] CharCharthemonkey commented on #2568
main reason for even mentioning this is cause of another mod called oresalleasy drops ores in a way that the smelter wont recognize as ores so they just clog up the WH but if the ores are silk touched then the smelter will see them as ores and use then correctly

[2018-06-26 20:16] CharCharthemonkey opened #2569 "broken chicken herder"
### Minecolonies version
1.12.2-0.8.9630
version X.X.XXXX or curse X.X.XX

### Expected behavior
to make baby chickens
- XXX

### Actual behaviour
feeds the chickens tries to breed them but nothing happens
- YYY

### Steps to reproduce the problem
install both minecolonies and hacthery/chickens/moarchickens build the chicken herder and it breaks
1. XYZ
2. ZYX
3. ...
4. Profit

[2018-06-26 20:27] Raycoms commented on #2569
That means it's actually not broken, it just means that moarchickens changes the chickens in a way which the herder can't cope with. So it would be a required modcompatability. We got that issues with all herders, but we have unfortunately not enough time to consider all entity changing mods.

[2018-06-26 20:27] #2569 closed, assigned to nobody

[2018-06-26 21:56] #2474 closed, assigned to Cazsius

[2018-06-26 22:07] MineShadow7 opened #2570 "Bug with welcoming message"
### Minecolonies version

Server latest 1.12.2-0.8.9630

### Expected behavior

- Welcoming message tells which player joins which colony from allies.

### Actual behaviour

- When a player joins allies colony, it tells that player joined "my colony"

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60165484-bug-with-welcoming-message

[2018-06-27 02:12] bob0bob commented on #2567
This is just an FYI,  baker can make cookies, cakes and bread.  The baker makes them in that order,  just depends on what raw ingredients they have.

[2018-06-27 03:55] CharCharthemonkey opened #2571 "mod compat pretty please?"
### Minecolonies version
version 1.12.2-0.8.9360

### Expected behavior

- work like normal

### Actual behaviour

- only the axe works from the mod the other tools and weapons do not

### Steps to reproduce the problem

1. Craft any tool or weapon from mystical agriculture
2. try to give it to the colonist
3. They say "no"

please and thank you

[2018-06-27 03:58] ShaneCourtrille opened #2572 "Cannot delete colonies"
### Minecolonies version
minecolonies-universal-1.12.2-0.8.8618

### Expected behavior

Typing "/mc colony delete 1" should delete the colony

### Actual behaviour

Receive the error "missing required parameter colony"

[2018-06-27 10:04] Raycoms commented on #2572
Need to be : mc colony delete colony: 1

[2018-06-27 10:04] #2572 closed, assigned to nobody

[2018-06-28 00:03] ANTBR14 opened #2574 "Crash when trying to load the pack"
MineColonies Official v 4.31
Trying to load the modpack on MultiMC 5
Client crashes early in the loading procedures
Crash Log:
https://paste.ee/p/O1xWb
All you seem to have to do is make a new world using the "load from zip" option and then to try to launch the instance

[2018-06-28 01:10] bob0bob opened #2575 "Farmer Assignment"
### Minecolonies version

minecolonies-universal-1.12.2-0.8.7582

### Expected behavior

clicking on "Manual" on farmer screen to assign fields to that person.

### Actual behaviour

If I click on "Manual" It doesn't nothing clicking on the fields.  Its like they are still disabled, like in automatic mode.

### Steps to reproduce the problem

This happens to me every time.  I have 2 farmers and th

[2018-06-28 12:07] Crowfooted commented on #2556
The crash log posted in that thread is reporting different things from the one in this thread, so it's probably not the same issue, no.

But I am experiencing the same crash you are, only I am running a local server so the crash was a server crash. Placing the townhall is causing the crash. No NPCs have a chance to appear before the crash happens.

Paste here: https://pastebin.com/HjyuyvRi

[2018-06-28 12:36] Raycoms commented on #2556
On which version are you?

2018-06-28 9:07 GMT-03:00 Corvid <notifications@github.com>:

[2018-06-28 12:40] Crowfooted commented on #2556
I am on MineColonies version 1.12.2-0.8.8618.

[2018-06-28 12:43] Raycoms commented on #2556
Please upgrade to the newest alpha

2018-06-28 9:42 GMT-03:00 Corvid <notifications@github.com>:

[2018-06-28 12:43] #2556 closed, assigned to nobody

[2018-06-28 14:13] Nightenom commented on #2572
That's what I was talking about, only our mod uses this command system

[2018-06-28 14:32] Asherslab commented on #2572
@Nightenom that’s correct, that’s because our command system is MUCH more advanced than most other systems

[2018-06-28 16:02] ShaneCourtrille commented on #2572
That's a silly argument to make as the goal of the system should be to
allow users to manage their colonies.  Not to be 'advanced'.

Look at managing Azure via PowerShell or bringing in packages via npm or
any of the other of thousands of command line based management that exist.
They all work fine without having such an obvious point of confusion.

A few alternatives..

/mc colonies [action] [col

[2018-06-28 16:52] Raycoms commented on #2572
The problem we have is this:

We had two choices:
=Either we limit the commands strongly:
- Meaning each command only works with 1 parameter.
(Example, get colonist by id and not by name or id, and get colony by id and not by ownername or id)
=Or we implement a system which works with auto complete and allows us to use any parameters in any order. Since minecrafts auto complete didn't work really

[2018-06-29 00:15] lebanni opened #2576 "Guards teleport themselves to roofs"
forge-1.12.2-14.23.4.2708-universal.jar
minecolonies-1.12.2-0.8.9646.jar

They even teleport inside rooms with no acces (for example level three guard tower first stage, see picture).

https://imgur.com/a/C29fpQa

It happened a few release back aswell.

[2018-06-29 01:27] mkienenb commented on #2572
Note also that you're using the old mc command system.

The new system is much more user friendly once you realize that tab can be used to complete the command.

/mc <tab>

_commands list_

/mc colony <tab>

_sub commands list_

/mc colony delete <tab>

_list of parameters required and optional for the delete command_

/mc colony delete colony: <tab>

list of colonies you can delete

/mc colony de

[2018-06-29 10:37] MineShadow7 commented on #2576
They should teleport themselves out of there after some time. That happens if mob spawned on the roof and guards had no easy access to it.

[2018-06-29 17:21] CharCharthemonkey commented on #2571
btw forgot to mention 1 colonist already uses the Mystical Agriculture tools but none of the others do which is odd (lumberjack is the one that does)

[2018-06-29 17:49] ProsperCraft commented on #2572
I have to agree with Shane here, all we want as users is /mc colony 1 delete, or even better... /mc colony playername delete then we let the computer do its job in finding who owns the colony and save the admin from having to do mundane work.. The current syntax is very unfriendly to users.  Colony Colony: is redundant.

When you re-write the command syntax please take this into consideration.

Wo

[2018-06-29 17:54] Raycoms commented on #2571
It's because these mods do not tell minecraft that their tools are:
- Weapons
- Axes
- Pickaxes
etc

[2018-06-29 20:51] lebanni commented on #2576
They juste teleport randomly. Even when I recall them to their chest, they teleport back where they were.

[2018-06-30 05:14] CharCharthemonkey commented on #2571
weird cause the axe works just the rest do not lol hmm

[2018-06-30 07:13] SomewhatDamaged commented on #2551
Perhaps tie such advanced AI behavior into either the intelligence stat, or perhaps the building level?

Better training/smarter guards lead to more survivability.

[2018-06-30 07:23] SomewhatDamaged opened #2577 "[Enhancement] Guards Request Armor"
### Minecolonies version

version 0.8.9630

### Expected behavior

Guards request weapon, shield, then armor.

### Actual behaviour

Guards don't request armor.

### Suggestion

Have a toggle option in the Tower settings menu to have guards request armor.

[2018-06-30 10:46] Crowfooted commented on #2556
Thanks, fixed.

[2018-06-30 12:37] ToeiRei commented on #1294
Couldn't nuke the colony here too. I had to delete the minecolony folder in my world directory and skipped the camp to be able to continue.

[2018-06-30 21:12] #2520 closed, assigned to Cazsius

[2018-07-01 00:19] #2519 closed, assigned to Cazsius

[2018-07-01 14:22] wyattzastrow opened #2579 "Vanilla villagers not repoducing"
### Minecolonies version

version 0.8.9630 or twitch v4.31

### Expected behavior

- If you throw food at Minecraft vanilla villagers they will pick it up and eat it, then if conditions are right eventually getting frisky and produce little villagers

### Actual behaviour

- They don't pick up the food and look at you like the rat bastards they are.

### Steps to reproduce the problem

1. Throw ca

[2018-07-01 17:07] wyattzastrow commented on #2579
I tried this inside my colonies border.  Hero tried it both inside and outside his borders.

[2018-07-01 20:58] stefan7080 opened #2580 "Citizens disappearing, not being able to kill or recall."
### Minecolonies version

version minecolonies-1.12.2-0.8.9646 or curse 14.23.4.2725

### Expected behavior

- Citizens wondering around, and being able to recall them to either their workplace or the Town Hall.

### Actual behaviour

- Citizens disappeared, no way of re-calling them, could not kill them using /cm colony kill. Refreshing didn't work either.

### Steps to reproduce the problem

1.

[2018-07-02 00:56] mkienenb commented on #2572
Have you tried /mc colony delete confirmDelete: true?   You might also need canDestroy: true.    I can't remember the exact syntax and I'm not near the source code or game.

I suspect that colony: is optional and will default your current colony.

[2018-07-03 04:31] bob0bob commented on #2575
Ok.   this is what I found.  inside the NBT file for Minecolonies.  I had  8 fields listed.  Even though I only had 5 physical fields.  One of my farming building of level 4 had 8 fields assigned to it.  More than allowed.

I had to delete the fields from the NBT file manually and then reload minecraft and save it again and then reload it and physically break the fields block and discard them into

[2018-07-03 04:31] #2575 closed, assigned to nobody

[2018-07-03 10:23] Asherslab opened #2584 "[Proposal] Building level restoration"
Currently when your building or colony becomes invalid (for whatever reason), you lose all your progress, including Buildings. To combat this, we could allow for building level restoration using the build tool.

So the process would be slightly easier than you'd think (hopefully).
You act as if you're placing the building normally with the build tool (select the stylepack and level), the level sho

[2018-07-03 10:39] Starshak3r commented on #2584
yee.
that could work, what's to stop people from going direct to L5 using this method though?

[2018-07-03 10:40] Asherslab commented on #2584
Nothing, But they'd have to build the structure first

[2018-07-03 10:43] Starshak3r commented on #2584
any structure, or the exact same as in a stylepack?

[2018-07-03 10:44] Asherslab commented on #2584
Well any structure from any Stylepack. As long as they build it correctly (which would not be the focus of this, but is completely possible) they could "restore" it to the level and style they build

[2018-07-03 10:57] stefan7080 opened #2585 "Builder not always taking items from container"
### Minecolonies version

version 1.12.2-0.8.9646 or curse 14.23.4.2712

### Expected behavior

- Builder grabs the items from the container.

### Actual behaviour

- Builder spams chat with requests while the requested items are in the container.

### Steps to reproduce the problem

1. Request build
2. Supply items
3. Watch Bob take an indefinite coffee break
4. Profit

A couple screenshots:
http

[2018-07-03 13:12] Raycoms commented on #2571
Yeah that means they didn't add it right for the rest of the tools, they should add the tool classes to them.

[2018-07-03 22:51] bob0bob commented on #2585
I'm seeing it also on version 1.12.2-0.8.7582.

The builder will have an item in the huts chest or their inventory and the request still appears.

Also,  the request appears to be somewhat completed (guessing here), because when they are stuck like this the clipboard doesn't show they have an active request.

If I click on "Cancel" for the request on the citizen gui, it restarts and then the build

[2018-07-03 22:54] bob0bob opened #2586 "Recreation"
Have an option after a while, the citizens start to request decorative items.   Until built the happiness falls.  So as the town becomes larger, they require more and more decorative items.

That way you are force to build those items and make the town happy.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60449067-town-requirements

[2018-07-03 23:36] bob0bob commented on #2386
None of the new herders get experience.

They left out the line

worker.getCitizenExperienceHandler().setSkillModifier(2 * worker.getCitizenData().getEndurance() + worker.getCitizenData().getCharisma());

in the herder code.  Of course it would change based on the primary skill/secondary skill for skill Modifier.  Right now it is set to 0.   Not experience for any of them.

Just need to add the li

[2018-07-04 04:56] bob0bob commented on #2386
I've submitted a fix for this issue.

[2018-07-04 04:56] #2386 closed, assigned to nobody

[2018-07-04 08:59] bob0bob commented on #2576
I'm seeing it even with citizens.  I find someone the roof all the time.

[2018-07-04 09:01] bob0bob opened #2588 "Barbarians raid"
### Minecolonies version

minecolonies-1.12.2-0.8.9646

### Expected behavior

- In the config file I have barbarians no more than 10.  I'm getting 30+ spawn on they are unstoppable when the config has difficulty of 4.

[2018-07-04 18:48] BonaireDreams opened #2589 "Suggestion: Limit Cooks fuel requests to coal, charcoal, wood"
### Minecolonies version

version X.X.9646

### Expected behavior

- Dman to deliver correct materials to restaurant

### Actual behaviour

- Dman likes to bring whatever he feels like bringing (IE Stacks of wool)

### Steps to reproduce the problem

1. Have restaurant
2. Hire Cook
3. Wait for Dman to bring him stairs, wool, planks etc
4. Profit

Suggestions:

1) Change the cooks requests to speci

[2018-07-05 15:36] Raycoms opened #2591 "Fault tolerance to citizens"
Citizens should leave their jobs if they throw an exception.

Citizens throwing an exception should leave their jobs to avoid spamming the chat.

[2018-07-05 17:25] bob0bob opened #2592 "Baker - Enhancements - User controll over Baker"
I did some searches to see if active work is being done on the Baker and I've suggest these features about 9 months ago as what I thought was a good enhancement.

If there is a procedure on new things and how to go about it.  Please let me know.  I didn't notice one but I manage there is one and hope this doesn't make people mad.  Just trying to make the baker a nicer part of the colony.

This is

[2018-07-05 17:28] Raycoms commented on #2592
How does he request things? Does he request everything asynch which is ticked in the list?

[2018-07-05 17:38] bob0bob commented on #2592
Yes.   He makes a call to 	        checkIfRequestForItemExistOrCreateAsynch(...)  and then waits until he is able to fulfill the recipe before moving to Kneading on the next step.   Is that what you meant.

So, if the baker has something in the oven and it finishes while he is waiting, he will finish that product.

[2018-07-05 21:26] ProsperCraft opened #2594 "Feature Request- Players ability to delete their own colony."
### Expected behavior

- The player who created the colony should be able to destroy it, I don't understand why they can't now and it requires staff intervention.

### Actual behaviour

- Player places a colony, realizes it is in a bad location and is unable to move it and has to find staff to move it inconveniencing the staff member and the player.

[2018-07-06 16:54] bob0bob opened #2595 "Town Hall - Should Save build order."
When you take the time to reorder the build order from the town hall gui.  This should be saved.   On reopening the world again.  The order is lost and I have to reorder the building process again.

[2018-07-06 17:01] Raycoms commented on #2595
It should actually save it, but it might need a few minutes to save this (I
will rework this soon, but for now we need it for performance reasons)

2018-07-06 13:54 GMT-03:00 bob0bob <notifications@github.com>:

[2018-07-06 18:22] bob0bob commented on #2595
Based on the code.  when writing to the NBT file.  the priority is not saved.  So on load everything is set to 0 again.   Class AbstractWorkOrder   looks like it holds the priority but the writeNBT and createFromNBT is not using that variable.  I've have code changes to fix this.  if you want me to submit them for review.

[2018-07-06 18:48] Raycoms commented on #2595
Ahh, didn't know that I had forgot that, then we have to add that there.

2018-07-06 15:22 GMT-03:00 bob0bob <notifications@github.com>:

[2018-07-06 18:54] bob0bob commented on #2595
I tried to submit changes but I guess you can only have one pull request from one branch to another.  It combined the changes into the PR for the enhancement to the baker.

Can you have more than one.  When I click on new pull request and then select across forks.  it pulls up the one pending.  I guess you can't have more than one.

[2018-07-06 18:56] Raycoms commented on #2595
Weird, it should work with multiple PRs, but combining it works as well

2018-07-06 15:54 GMT-03:00 bob0bob <notifications@github.com>:

[2018-07-06 19:15] bob0bob opened #2596 "Lumberjack - Not saving cutting down tree correctly."
### Minecolonies version

minecolonies-universal-1.12.2-0.8.6934

### Expected behavior

If you go into the gui and select which tree to cut down.  The gui appears to save the data correctly.

### Actual behavior

But if you use the new "TOGGLE" button.  It doesn't work.  it is not sending message out to the server the data changes.  So the building is not getting the new settings for each and eve

[2018-07-06 19:43] bob0bob commented on #2596
Also,  based on the code.  It never reads in the NBT in BuildingLumberJack.
function readFromNBT.  gets calls but first if of "        if (treesToFell.isEmpty())"  is never true.  On Init of the class function "checkTreesToFell()" gets called that populates it based on minecraft.  so the readFromNBT is not process because its not empty.  An prevents the settings from loading.

Its a very simple fi

[2018-07-06 20:51] Raycoms commented on #2596
Wow, I created that quite a while ago. But, I never noticed I didn't send a
message on toggle all. 1 new message would be the correct way to go imo.

2018-07-06 16:43 GMT-03:00 bob0bob <notifications@github.com>:

[2018-07-06 20:59] bob0bob commented on #2596
Ok. I've submitted the bug fixes for the Lumberjack building readFromNBT. It will read in the saving of what tree to cut now.

Also,  Changed the world loading to check if the block doesn't exist any more of the sapling and if it doesn't then skip it.   That way if a mod is removed you don't have "AIR" for tons of sapplings.

[2018-07-06 21:02] bob0bob commented on #2595
Fixed in PR #2593

[2018-07-06 21:02] #2595 closed, assigned to bob0bob

[2018-07-06 21:02] bob0bob commented on #2596
Fixed in PR #2593

For what I did.  The "TOGGLE" button still needs to send out a message to update the buildings on what has changed.

[2018-07-07 03:17] bob0bob opened #2597 "Barracks - Show list all citizens assigned to that building"
Suggestion: In barracks, list the citizens that are assigned to it. Right now it just shows the first citizen, even though there might be 4 assign to that barrack. It needs to list them all with a scroll bar.

[2018-07-07 03:18] bob0bob opened #2598 "Sleeping citizens - Cosmetic update, remove tool/weapon from hand while sleeping"
Suggestion: Love how citizens sleep in the beds now. Cosmetic points. When laying down, remove the weapon from your hand when sleeping. Seems weird that the axe is still being held by a sleep citizen. Of course very cosmetic. But love the sleeping.

[2018-07-07 06:26] bob0bob commented on #2577
This change will allow the guard to start requesting armor.  The type of armor will change based on the guards level.  From Leather - Diamond.  level 1 - 8.  At level 8, they stick with Diamond  armor.

Both the Ranger and Knight request the same armor type based on their level.

If you put Diamond armor in the inventory but they are requesting leather, they will only put on leather armor.

[2018-07-07 06:26] #2577 closed, assigned to nobody

[2018-07-07 07:34] bob0bob commented on #2597
I've submitted code changes to handle listing all the workers to a certain building.  It has a scroll view for the worker now.

[2018-07-07 07:34] #2597 closed, assigned to nobody

[2018-07-07 09:55] SomewhatDamaged commented on #2589
Maybe a spot in the his building's settings where you can drop a piece of what you want him using as fuel? (Even if it's a ghost of the item.)

[2018-07-07 11:47] Raycoms commented on #2589
This is planned

On Sat, Jul 7, 2018, 06:55 SomewhatDamaged <notifications@github.com> wrote:

[2018-07-07 12:26] SomewhatDamaged opened #2599 "[Enhancement] Ghost-Outline Glasses"
### Suggestion

Head-slot glasses to see ghosted images of buildings/changes yet to be made by builder.

### Explanation

Simple glasses item craftable. When worn, buildings scheduled to be constructed/upgraded show ghostly outlines of parts yet to be added, and red highlights on bits that need to be removed. Being head slot means tools and blocks can be held without impeding your vision of your "

[2018-07-07 15:14] Nightenom commented on #2579
I don't see why is this related to minecolonies, but I think that you can't make a colony near to any village but vice versa you can make a village but mechanism might be suppressed.
Try making or use a village at least 500 blocks away of colony (use F3 to see how far are you from any colony)

[2018-07-07 15:16] Nightenom commented on #2584
Sounds pretty good and even looks not hard to write

[2018-07-07 15:18] Nightenom commented on #2585
Yeah, therefore is the Cancel button used, we simply can't check inventory each tick

[2018-07-07 15:22] Nightenom commented on #2594
You can delete it with command, something like `/mc colony delete {some arguments}`

[2018-07-07 15:48] bob0bob opened #2600 "Happinesss - possible changes."
I have a suggestion for an enhancement to the happiness system.  I think it was be easy to implement and can be something that is added to as MC goes on.

First I suggest moving happiness to each citizen,  then you take an average to find the town happiness.  Then adjust it with the global happiness ei: death of citizens, guards to citizens and etc....

Each citizen happiness changes based on numb

[2018-07-07 15:49] bob0bob commented on #2600
Each citizen will show their happiness bar on the gui under the food bar.  So a player can see which citizens are unhappy and try and correct it.

[2018-07-07 15:51] bob0bob commented on #2600
If you like the idea, please suggest other things to add to happiness.  Trying to make it a bit more complex on the happiness and make it more than just thrown a town down and be done.   Happiness is something right now you never have to worry about,  its always a 9.

[2018-07-07 15:54] bob0bob commented on #2600
Maybe,  the farmer gets a hit growing the same field over and over and not changing it.  Maybe after so many harvest of the same crop they take a hit and wants something else to grow.  Forcing players to switch around.

This type of method is required in REAL life, you can't grow the same harvest in the same field year after year.  You will start killing the soil.  There is a process to switch it

[2018-07-07 16:01] Raycoms commented on #2600
I think this is a nice idea and definitely worth implementing, we could
have a general calculation in each citizen for this and then we can add a
method to the general worker code to decrease it.
For example if a worker waits too long for a blocking request (asynch
requests don't matter).

Then we could also take the quality of food into account (Food that gives
more hunger back gives a happiness

[2018-07-07 16:44] bob0bob commented on #2600
That sounds good also.  It sounds simple and very easy to implement.     Just trying to think of ways to enhance game play and require players to pay more attention to citizens.

[2018-07-07 17:02] bob0bob commented on #2598
Uploading changes in PR #2593

[2018-07-07 17:02] #2598 closed, assigned to nobody

[2018-07-07 17:04] Raycoms commented on #2600
Yeah, definitely, sounds like a good idea. We should also enhance the way
we assign citizens to buildings, at the moment this is too difficult still.

2018-07-07 13:44 GMT-03:00 bob0bob <notifications@github.com>:

[2018-07-07 17:05] bob0bob opened #2601 "Citizens sleeping while you save and quit."
If you exit the game while citizens are sleeping,  when you reload the game they are not sleeping in the beds.  The restart of the game doesn't make them go back into their beds.  They are now just standing besides them.

On reloading, the sleep handler should cause them to go back to sleep position.

Awesome cosmetic feature, sleeping in beds.  Just great...

[2018-07-07 23:24] Sararainmaker opened #2602 "Happiness reset to 1 and colonists gone upon relog in single player"
1.12.2 Minecolonies version
(first time posting, not sure if I got this right. I got it from the mod list in-game)

Expected behavior
Happiness and colonists are the same upon login as it is on logout

Actual behaviour
Happiness upon logout was 10 and when logged in is 1 and a few colonists are gone/dead.

Steps to reproduce the problem

1. exit world on single player
2. exiting game isn't require

[2018-07-08 07:36] bob0bob commented on #2602
I'm working on complete rework of happiness.  Yes, many areas were not saving the happiness and would start recalculating it as it started.

The happiness system will be really expanded and more complex in the future and it will save the data.  You will have colony happiness modifiers and individual citizen modifiers.   Both have many area that can modify the happiness level of the colony or citiz

[2018-07-08 07:42] bob0bob opened #2603 "Guard Option - From Town Hall GUI"
Have the ability from the town hall gui to be able to click one button to make all the guard to follow the player.   During a Horde raid on a large town, you don't have the time to run all over the town turning them into "Follow" mode.    You should in a since have the ability to sound a horn and let the guard know we have a raid.   What should change is turn on the guard buildings into follow.  T

[2018-07-08 10:54] marchermans commented on #2579
Yes all pick ups (including those by villagers) are blocked unless specifically allowed by the player if a Colony is in range. This is intended behavior.

[2018-07-08 10:54] #2579 closed, assigned to nobody

[2018-07-08 10:57] marchermans commented on #2594
It is actually possible for any player to abandon the colony. He can not pick it up how ever to move it.
We discussed this internally and this will stay this way untill we can implement a moving mechanism that we deem demanding and fair.

[2018-07-08 10:57] #2594 closed, assigned to nobody

[2018-07-08 10:58] marchermans commented on #2585
Yep out of performance reasons we do not check inventories every tick. Especially the additioal chests in higher level buildings. Give it to him directly.

Inteded behaviour for performance reasons. Doublechecked that this is working twice now. Closing.

[2018-07-08 10:58] #2585 closed, assigned to nobody

[2018-07-08 10:59] marchermans commented on #2584
As discussed internally. Their will be performance problems if this is done this way.
We will try to improve this mechanic over time. But for now it stays this way the builder will be relatively quick if said building is put back inplace so the user does not lose to much time when he wants to place it anyway.

[2018-07-08 10:59] #2584 closed, assigned to nobody

[2018-07-08 11:02] marchermans commented on #2599
Good idea.

[2018-07-08 18:25] Sararainmaker commented on #2602
Thank you for the info and response!
Nothing i can do in the meantime to stop it from happening?

[2018-07-08 21:27] bob0bob commented on #2602
Happiness will be added in the following days and then it will be expanded on as we add more happiness modifiers for the colony and citizens.

[2018-07-09 08:38] Wissi commented on #2571
@CharCharthemonkey you might want to contact the Mystical Agriculture Mod devs about this? Create an issue w/them?
If they have a fix for it, we'll add to server/clients so there is compatibility.

[2018-07-09 08:38] #2571 closed, assigned to nobody

[2018-07-09 08:42] Wissi commented on #2574
It seems to be a common error with the Guide book mod for some clients. Please remove BuideBook and all should be working fine.

Error:
[18:46:26] [main/FATAL] [FML]: The following problems were captured during this phase
[18:46:26] [main/ERROR] [FML]: Caught exception from gbook (Guidebook)
java.lang.NoClassDefFoundError: gigaherz/guidebook/guidebook/ItemGuidebook
	at gigaherz.guidebook.Guidebook

[2018-07-09 08:42] #2574 closed, assigned to nobody

[2018-07-09 08:46] Wissi commented on #2561
Do you mean player can't use the elevator placed inside his own Town? or other players not listed in TownHall or Citizens?

[2018-07-09 08:48] #2566 closed, assigned to nobody

[2018-07-09 08:51] Wissi commented on #2525
I guess we close this as it has been un-reproducable issue? Most liekly another mod causing issues?

[2018-07-09 08:57] Wissi commented on #2405
@Raycoms Close issue?

[2018-07-09 08:58] Wissi commented on #2365
@Asherslab have you made them more "foregiving" can we close this Issue as resolved?

[2018-07-09 16:24] yggdrasil75 opened #2607 "endermen disable barracks tower crash"
### Minecolonies version

version 0.9.6-ALPHA-universal

### Expected behavior

- disable attacks against endermen

### Actual behaviour

- game crash

### Steps to reproduce the problem

1. barracks tower guard block when on the disable mobs screen disable endermen
2. crash
3. upload https://pastebin.com/ce3qj3xM
4. ask on discord
5. post issue here

<bountysource-plugin>

---
Want to back this i

[2018-07-09 17:50] kreezxil commented on #2405
I've not had any more issues with it once we realized that the one config
setting that convinces the mod that everyone is op was set. although I
think that is a bug. because normies should have access to normie parts of
the command.

On Mon, Jul 9, 2018 at 3:57 AM Wissi <notifications@github.com> wrote:

[2018-07-09 21:15] #2405 closed, assigned to nobody

[2018-07-10 01:15] Asherslab commented on #2607
will take a look, thanks

[2018-07-10 02:24] Asherslab opened #2608 "test issue"
Test issue for Testing GitKraken Glo
- [x] connect GitKraken Glo
- [x] test GitKraken Glo
- [x] close this issue

[2018-07-10 02:27] Asherslab commented on #2608
Test issue comment!

[2018-07-10 02:31] Asherslab commented on #2608
'tis working

[2018-07-10 02:31] #2608 closed, assigned to nobody

[2018-07-10 04:26] Asherslab commented on #2478
This will be fixed in my upcoming Shingles PR.

[2018-07-10 04:26] Asherslab commented on #2478
Although yes, i'd love to remove the upsidedown shingles all together. but it was voted against

[2018-07-10 04:29] PoroUsedSnax commented on #1678
There have been a few updates to the scan tool since this was made, as such it's possible something changed there and this will be fixed. If this could be retested to see and then we know if this can be closed or should stay open.

[2018-07-11 03:46] bob0bob commented on #2577
Tweaked the armor request to reflect a combination of building level/guard level on what armor is requested.

[2018-07-11 04:37] bob0bob opened #2610 "Guards - standing around like crash dummies."
### Minecolonies version

current MC

### Expected behavior

- Guard should patrol and attack mobs.

### Actual behaviour

- Guards basically stand around and do nothing.

Real problem is the NBT load routine does check to make sure the mob located in the save data still exists.  If the mod has been removed since last save.  The mob is deleted MC will crash (exception caught) and many things about

[2018-07-11 04:42] bob0bob commented on #2610
Fixed in pr 2609.  Wish you could have more than one pr ticket to merge back into the main branch.  Only one ticket so everything gets merge.  Wish you could select which files.

[2018-07-11 05:00] bob0bob commented on #2607
Can you upload a screen shot of your mob attack gui window.

[2018-07-11 12:06] Raycoms commented on #2610
What do you mean with this?

2018-07-11 1:42 GMT-03:00 bob0bob <notifications@github.com>:

[2018-07-11 13:02] PoroUsedSnax commented on #2610
@bob0bob You can make separate branches to merge into version/1.12, that way you can choose which of those get merged as well as creating separate PRs for each branch

[2018-07-11 13:05] Raycoms commented on #2610
You should also be able to cherrypick certain commits into these branches
to separate your existing PR into a few small ones.

2018-07-11 10:02 GMT-03:00 Mark Fisher <notifications@github.com>:

[2018-07-11 13:49] bob0bob commented on #2610
Are you saying each bug fix, I have to have a new branch???   As you can see from my test branch I do not have "Create new pr".   Only option is "view" and it automatically pulls everything I check in, into that PR.   I do not see a setting that can turn that off?   I've not been able to locate anything in help on github, at least the way I'm searching for it.

![image](https://user-images.githubu

[2018-07-11 13:51] Raycoms commented on #2610
Yes, you have to create 1 branch per pr.

2018-07-11 10:49 GMT-03:00 bob0bob <notifications@github.com>:

[2018-07-11 16:51] MokahTGS opened #2611 "Doors and their placement"
Can something be done to put doors on the outside of the door blocks so that zombies and mobs can't get away with standing in the overhang?  It drives me nuts.

[2018-07-12 02:38] PoroUsedSnax commented on #2611
This is all dependant on how stylepack creators want to build their buildings, most are created by the community.

[2018-07-12 13:53] MokahTGS commented on #2611
Alright, noted.  I'll just have to start an awareness campaign to fight poor door placement.  Maybe I can get Angelina Jolie to do a commercial for me on the horrors of careless door placement.

[2018-07-12 13:53] #2611 closed, assigned to nobody

[2018-07-13 01:27] bob0bob opened #2615 "Lumberjack Saplings - Missing mods causes weird issues"
### Minecolonies version

Any

On loading if a mod that had trees do not exist anymore.  It causes weird issues and the sapling gui for what trees to cut down will show "AIR" for all the missing saplings.

[2018-07-13 01:36] #2615 closed, assigned to bob0bob

[2018-07-13 14:23] lebanni opened #2618 "Client crash when clicking on builder chest"
minecolonies-1.12.2-0.9.10-ALPHA-universal.jar

[crash-2018-07-13_16.07.14-client.txt](https://github.com/ldtteam/minecolonies/files/2193023/crash-2018-07-13_16.07.14-client.txt)

[2018-07-13 14:42] winex commented on #2618
it crashes because windowhutbuilder.xml doesn't contain list, commit 01c15bc3abb6cd96fb3d491504ec5476dca2988d doesn't check for null probably at src/main/java/com/minecolonies/coremod/client/gui/AbstractWindowWorkerBuilding.java:139
i've tried to simply edit this file (.xml) and it works now...

[2018-07-13 14:50] Raycoms commented on #2618
Why don't you make a pull request for the fix you made?

[2018-07-13 15:24] winex commented on #2618
um, i think that there should be null pointer check in that commit, but i don't know how to properly do it...
xml fix is the same, but crashes will happen again w/o proper checks :(

[2018-07-13 16:42] Raycoms commented on #2618
Just pushed the hotfix, thanks

[2018-07-13 16:42] #2618 closed, assigned to nobody

[2018-07-13 17:20] GanthorPrime opened #2619 "mirror structures using build tool, place them in offset coordinates"
### Minecolonies version

minecolonies-1.12.2-0.9.10-ALPHA-universal
also found in minecolonies-1.12.2-0.9.6-ALPHA-universal

### Expected behavior

When you position some structure using the build tool, the structure is placed in the same position that the preview shows

### Actual behaviour

if you position a structure in the 'mirror' state using the mirror control on the build tool, the build i

[2018-07-14 03:57] bob0bob opened #2622 "Citizens Sleep - Random talking during sleep"
While the citizen are in the beds a sleep.  You still get random phrases from the citizen.  While sleeping all the randoms speeches should be stopped.

[2018-07-14 04:32] bob0bob opened #2623 "Name does not show up on builder huts gui."
### Minecolonies version

### Expected behavior

When you click on the builder hut, you should see the name on the hut

### Actual behaviour

it is blank

Builders hut gui doesn't use the windoworkerbuildingdefault.xml file like all other job huts.  It doesn't call the default code and uses it own.  I missed that.

[2018-07-14 04:36] #2623 closed, assigned to bob0bob

[2018-07-14 11:02] lebanni commented on #2576
Seems to work as intended now (0.9.12). Closing.

[2018-07-14 11:02] #2576 closed, assigned to nobody

[2018-07-15 04:19] MineShadow7 opened #2628 "[Suggestion] Manual builder assignment."
Allow player manually assign builder to selected building order. That way players can efficiently assign builders with required skills of crafting/level/resources/distance.

[2018-07-15 05:29] bob0bob opened #2629 "Compost - Exception, right click on full barrel"
### Minecolonies version

of latest branch of 1.12 7.15.18

### Expected behavior

-  Not sure.  I've not seen any documentation on this feature

### Actual behaviour

When I right click on a barrel with "Spruce saplings" the barrel became full and a lid appeared on the barrel.
Then I right clicked on it again.  Trying to remove item(I think).  I got an exception.

Based on the code,  right clicki

[2018-07-15 05:40] bob0bob commented on #2629
I think you need to put in a check against AIR around line 169.

[2018-07-15 07:34] bob0bob commented on #2600
This is an update on some of the new features of the new happiness system.
Features of the new happiness system:

Each citizen has their own happiness indicator.
You can view the citizen happiness indicator by right clicking on citizen.
Also, can view citizen happiness through Town Hall
Colony has its own happiness indicator.

Total happiness on the Town Gui is a combination of the two items from

[2018-07-15 12:09] Fireruner commented on #2629
I'm on it

[2018-07-15 14:50] winex commented on #2592
how this will be on par with teachable recipes (2 buttons at bottom)? will they appear on second page?
btw, will it also work with food mods (harvestcraft for ex.)?
p.s. nice addition :)

[2018-07-15 14:51] Raycoms commented on #2592
That's planned in the future (next PR)

On Sun, Jul 15, 2018, 11:50 Roman Vasiyarov <notifications@github.com>
wrote:

[2018-07-15 15:51] bob0bob opened #2631 "MineColonies crashes on loading"
### Minecolonies version

minecolonies-1.12.2-0.9.14-ALPHA-universal

### Expected behavior

To load

### Actual behaviour

To not load

### Steps to reproduce the problem
That is the question.

Actually when MC loads up it crashes every time for me.

Here is a copy of the crash report.   I can't get it to duplicate in debug mode.  My debug mode is missing many MODS that my play system has.  It do

[2018-07-15 15:54] Raycoms commented on #2631
I will check when I get home

On Sun, Jul 15, 2018, 12:51 bob0bob <notifications@github.com> wrote:

[2018-07-15 17:00] Fireruner commented on #2631
If you can add a pastebin instead of a file it would be great 😄

[2018-07-15 20:16] bob0bob commented on #2588
THis is still going on.   Below are settings from the config.   Barbarians spawn more than 8.  I'm still getting 15+ barbarians.   The difficulty appears to be about their hit points not their ability to fight.

        I:maxBarbarianHordeSize=8
        I:barbarianHordeDifficulty=2
        B:doBarbariansSpawn=true

[2018-07-15 20:29] #2629 closed, assigned to Fireruner

[2018-07-15 22:51] Raycoms commented on #2631
I just checked, this can't be an issue with minecolonies, that must be caused by something else.
We only call super.onLivingUpdate() on onLivingUpdate()

[2018-07-15 22:51] #2631 closed, assigned to nobody

[2018-07-16 01:02] bob0bob commented on #1356
Archers keeps moving forward until they are 1 block away from mob any mob.   A ranger should always keep its distance unlike the knight.

[2018-07-16 03:45] bob0bob commented on #2588
Random thoughts.

Ok. equalizeBarbarianSpawns function doesn't function as described." Reduces barbarian spawns to less than the maximum allowed (set via the config)".
it check if total > MAX_SIZE. if so then returnValue = total - MAX_SIZE;

That doesn't reduce max size to below the max size.  It just subtracts max_size from the total.  My total is 50 hordes.  It pulls out 8.

I would completely r

[2018-07-16 03:56] bob0bob commented on #2588
I have 33 citizens with a total citizen level of 128.  So that is the hordeRaidLevel.

I've looked into the barbarian raids an located the code that is wrong about the spawn size based on the config file.  I would like to adjust it but I don't want to break the thought behind the raids.
I think the function barbarianEvent needs a bunch of rewrote to make it function of the config.  I have a max ho

[2018-07-16 15:16] #2610 closed, assigned to bob0bob

[2018-07-16 18:23] winex commented on #309
i see Inn that would also have effect on happiness system. for ex, workers of level 3+ buildings should need it (like restaurant for getting food) or they're not happy otherwise. maybe some colonists even go to drink some ale at the evening every day ;)
p.s. reeds should be grown by farmer, brewers only brews

[2018-07-16 20:29] BonaireDreams commented on #2553
Just checking in, this is still happening in 1.12.2-0.9.4-BETA. Asked Builder to upgrade Tier 4.5 (Its half way done) Stone Restaurant to Tier 5 again. He goes to the build corner and scans the blocks until he gets to the records. The he continuously runs in a circle from the Restaurant to his hut even though he has 3 records on him. He never places them and never finishes the building.

[2018-07-17 07:01] marchermans commented on #2553
It is being fixed.

[2018-07-17 07:58] marchermans commented on #2619
Will debug this.

[2018-07-17 07:59] marchermans commented on #2619
@Raycoms do we mirror around the primary block? Or around the center?

[2018-07-17 11:44] Nightenom commented on #2619
For me it seems that around the primary block (hut block), but it would be better around the center tbh.

[2018-07-17 12:47] marchermans commented on #2619
Yeah since Center block Is what is rendered

[2018-07-17 12:47] marchermans commented on #2619
But I have no idea how the builder mirrors when he places

[2018-07-17 16:00] winex opened #2634 "Happiness: unable to stabilize 'number of houses' factor"
### Minecolonies version

minecolonies-1.12.2-0.9.18-ALPHA-universal.jar

### Expected behavior

- "Number of houses" is stable (yellow dot) when there are no homeless citizens

### Actual behaviour

- "Number of houses" can't be stable (yellow dot) because of #2508, no GUI for managing livings in TownHall.

### Steps to reproduce the problem

0. build townHall and at least 3 citizen huts
0. do no

[2018-07-17 16:07] winex commented on #2442
is it fixed in master now?
maybe this range should depend on townHall's level and maxed at config option? like `max( 1<<(LEVEL+1), config_option )`, but this should be fitted into that range somehow to allow colonies larger than 2^(5+1) chunks

[2018-07-17 16:16] Nightenom commented on #2442
Colonies larger than circle with radius of 64 chunks? This should be limited somewhere around today's average render distance (which doesn't go over 20 in most big modpacks). I think using a command there is enough, maybe we can increase the default radius, which is 8 now (=128 blocks), to 10 (=160 blocks)

[2018-07-17 16:28] winex commented on #2634
oh, auto-assigning works. after checking in colony1.nbt i see resident in TH, but i re-launched the game so i don't know if happiness will update w/o restarts. let's test again

[2018-07-17 16:51] winex commented on #2634
btw, is happiness updated at each tick here?
 https://github.com/ldtteam/minecolonies/blob/17ed344c976602e889253ebd12c45701181c4543/src/main/java/com/minecolonies/coremod/colony/Colony.java#L670
shouldn't it be like ` && shallUpdate(world, CLEANUP_TICK_INCREMENT)` as in above code?

[2018-07-17 16:58] Nightenom commented on #2634
Definitely, it should not update each tick, if I get it correctly it gets updated when daytime turns into nighttime. Maybe we can add another check to the else brackets so it gets updated two times per day cycle

[2018-07-17 17:09] Raycoms commented on #2634
We are reworking the happiness system to be colonist depending and have
then one huge sum for the colony.
So this is going to be changed anyway.

[2018-07-17 17:09] winex commented on #2634
should be some helpers funcs like atDayStart(world) and atDayEnd(world) to cleanup this?

btw, waited 2 days, looks like it needs restart/reload to update in auto-housing mode, something is wrong somewhere else. i'm searching...

[2018-07-17 17:11] winex commented on #2634
@Raycoms yeah, you mean #2600, but i can find no code yet, so i'm just trying to fix little things i worried about

[2018-07-17 17:29] winex commented on #2634
also, i see lag here: https://github.com/ldtteam/minecolonies/blob/17ed344c976602e889253ebd12c45701181c4543/src/main/java/com/minecolonies/coremod/colony/buildings/workerbuildings/BuildingHome.java#L187
this stuff shouldn't be run each tick
in auto-housing mode, more homeless citizens = more lag

should i add this, so it will run only once per second for ex.?
`world = event.getWorld()` + check for

[2018-07-17 17:31] Raycoms commented on #2634
Yeah I think we could add a randomizer here as we have it in the colony.

2018-07-17 14:29 GMT-03:00 Roman Vasiyarov <notifications@github.com>:

[2018-07-17 17:35] winex commented on #2634
@Raycoms sorry, can you point me to an example of mentioned randomizer, so i could track such possible lag issues and try to fix them? thanks.

[2018-07-17 17:38] Raycoms commented on #2634
The shallUpdate method in the Colony.java

2018-07-17 14:35 GMT-03:00 Roman Vasiyarov <notifications@github.com>:

[2018-07-17 18:05] winex commented on #2634
for now, i found that only Home <s>and Baker (he checks furnaces every tick)</s>
i propose new constant to manage such cases and usage of `Colony.shallUpdate()` in such cases
`ONWORLD_TICK_INCREMENT = TICKS_SECOND * 1;`
is it ok?
/me is working on PR...

[2018-07-17 18:07] Raycoms commented on #2634
Sounds good, yes

2018-07-17 15:05 GMT-03:00 Roman Vasiyarov <notifications@github.com>:

[2018-07-17 18:09] winex commented on #2442
@Nightenom no, just want some good func. but what do you think of increasing colony size with level? iirc, there is no such feature yet

[2018-07-17 19:02] Nightenom commented on #2442
Nah, it looks good but imagine your wall placement and townhall levelling up or you waiting for the townhall level 5

[2018-07-17 19:45] Raycoms opened #2636 "Add Cactus Block recipes"
We need recipes for all cactus blocks

[2018-07-17 19:51] winex commented on #2634
damn, Baker isn't inherited from AbstractBuildingFurnaceUser... someone forgot to use that :(
btw, i thought `ONWORLD_TICK_AVERAGE` name is better

so, let's try how PR works :)

[2018-07-17 20:03] Raycoms commented on #2634
Oh, we did this because the baker doesn't actually bake in the furnace, he
only simulates this.

2018-07-17 16:52 GMT-03:00 Roman Vasiyarov <notifications@github.com>:

[2018-07-17 23:25] #2636 closed, assigned to MineShadow7

[2018-07-18 02:02] winex commented on #2619
but what if there is no integer center? i mean the even numbers, size like 12x14.
code should mirror properly around 0.5's half-cubes

[2018-07-18 02:21] Raycoms commented on #2619
no, actually 0,5 cubes don't work in minecraft, nonetheless, it should
place the building exactly where the buildtool says it is.

2018-07-17 23:02 GMT-03:00 Roman Vasiyarov <notifications@github.com>:

[2018-07-18 02:35] bob0bob commented on #2634
I wouldn't worry to much about happiness, because in the new happiness system.  It has been completely rewritten.

happiness is updated based on once a day and event driven.   The colony and citizens are updated once a day to figure out things that effect citizen and colony long term.  Once a day events are like effect of citizen death on the colony long term,  citizen without a house long term ef

[2018-07-18 04:35] winex commented on #2619
maybe something can be done on client side? i.e. change position a bit to correct for mirroring?

[2018-07-18 04:46] winex commented on #2634
i've found that GUI is not updated probably because of:
- [x] BuildingView doesn't serialize HappinessData at all
- [x] server sends HappinessData only if isCitizensDirty <s>or even if it hasNewSubscribers, but not for old ?</s>
https://github.com/ldtteam/minecolonies/blob/17ed344c976602e889253ebd12c45701181c4543/src/main/java/com/minecolonies/coremod/colony/managers/CitizenManager.java#L147
and t

[2018-07-18 06:17] marchermans commented on #2619
@winex yeah but then i Need to know what is actually wrong. I tried this and it works for me. So @GanthorPrime Pictures please 🖼

[2018-07-18 12:19] zerotheliger opened #2639 "restaurant keeps requesting food"
### Minecolonies version

1.12.2-0.9.21

### Expected behavior

-Restaurant doesn't keep requesting food till it says in chat that he needs free inventory space.

### Actual behaviour

-  Restaurant wont stop requesting food

### Steps to reproduce the problem

1. XYZ
2. ZYX
3. ...
4. Profit

[2018-07-18 12:21] Raycoms commented on #2639
Weird, in the newest version it should put the food in the racks as well

[2018-07-18 12:35] zerotheliger commented on #2639
He is putting food into the racks till its completely full. And then complaining about clearing the racks cause their full. Hes requesting wheat so much my baker doesnt have any to make bread.

[2018-07-18 12:39] Raycoms commented on #2639
Yeah, wheat is a problem because another mod adds it as ItemFood... which
it is not and should not be.
But I just checked the code and noticed he really is requesting a bit too
much food, I will adapt this.

2018-07-18 9:35 GMT-03:00 Zerotheliger <notifications@github.com>:

[2018-07-18 12:46] zerotheliger commented on #2639
Why is he requesting unlimited food?

[2018-07-18 12:59] Raycoms commented on #2639
Because we didn't add the saveguard yet.

2018-07-18 9:46 GMT-03:00 Zerotheliger <notifications@github.com>:

[2018-07-18 13:48] #2639 closed, assigned to Raycoms

[2018-07-18 17:42] bob0bob commented on #2634
FYI,  The new happiness citizen will be ready for check in with in the week.   Each citizen has their own happiness data and their gui reflects that.  Many of these areas have been deleted or rewritten to handle the new system.   I would hold off until the new system is checked in.

I'm in the middle of testing to make sure all the modifiers seem fair and doesn't make the game to easy or to hard.

[2018-07-18 18:24] Thetawaves666 opened #2643 "Building GUI working wrongly"
### Minecolonies version

version 1.12.2-0.9.6-BETA-universal (and tested on an old 1.12.2-0.8.7809 and the ALPHAs newers than 0.9.6 BETA and it didnt worked too)

### Expected behavior

- Be able to use the GUI when building huts.

### Actual behaviour

- The building didn't appear to be seen, but when i click it in order to build, it appears.

### Steps to reproduce the problem

1. Use the build

[2018-07-18 18:28] MineShadow7 commented on #2643
I'd recommend to remove optifine because it causes some problems with build tool. See if that works.

[2018-07-19 00:23] winex commented on #2619
@OrionDevelopment no pics yet, but basically:
- use build tool
- move to some position, some (10+) farther, some to the side (10+)
- maybe even rotate at the start or after the movement
- try to mirror -- it sometimes teleports to the other side around
maybe it's just using wrong origin (the build tool's initial pos instead of new one) for rotating/mirroring

[2018-07-19 00:58] winex commented on #2643
@Thetawaves666 i've found that using `Render regions` option kills the build tool. i think it comes from OptiFine
@MineShadow7 how to assign myself, btw?

[2018-07-19 01:05] winex commented on #2634
@bob0bob oh ok, i just didn't know that the code is almost done. thanks man!

[2018-07-19 01:33] winex commented on #2634
@Raycoms, maybe we just should add `citizenManager.markCitizensDirty()` after these lines?
https://github.com/ldtteam/minecolonies/blob/17ed344c976602e889253ebd12c45701181c4543/src/main/java/com/minecolonies/coremod/colony/Colony.java#L668-L671
so at the end of each day at least citizen's data would be sync'ed to clients? if i'm right about this flag.

i'm currently testing singleplayer and notice

[2018-07-19 02:52] GanthorPrime commented on #2619
sorry for not checking this before. i will be posting images as soon is i reach home.

to clarify: the problem becomes aparent not in the preview stage, but after the structures are placed on the map: in creative you can see right afert you 'paste', in survival you can see the tapes appear in another position, displaced from the preview's position.

the only requisite for me, is to 'mirror' the st

[2018-07-19 02:56] Raycoms commented on #2619
Hey, does this always happen when you mirror or only when you rotate and
mirror?

2018-07-18 23:52 GMT-03:00 GanthorPrime <notifications@github.com>:

[2018-07-19 03:07] GanthorPrime commented on #2619
only mirror:

the images

https://imgur.com/a/lWx7wZh

 (using a cleans MC install, 1.12.2-forge1.12.2-14.23.4.2707 and minecolonies-1.12.2-0.9.16-ALPHA-universal

[2018-07-19 03:23] GanthorPrime commented on #2619
if no one can confirm the bahavior shown in the pictures (3 steps to reproduce in creative), then maybe is in my side, but the only thingfor me left, is try changing forge versions.  ¿some specific forge version to use with the latest new alphas of minecolonies?

[2018-07-19 03:33] Raycoms commented on #2619
I will check it out tomorrow

2018-07-19 0:23 GMT-03:00 GanthorPrime <notifications@github.com>:

[2018-07-19 06:02] winex commented on #2619
oh, i've checked the rotation + mirroring from far place in creative, it seems normal except that mirroring is off by 2 blocks (shouldn't be at most +1 to the right?): https://imgur.com/a/Luob7kY
didn't use copy/paste yet, w/e that buttons do...

edit: @GanthorPrime just checked 3 times, Paste works fine for StoneHut, BUT @Raycoms DISPLACES the **SupplyCamp**
- forge-1.12.2-14.23.4.2705.jar
- mine

[2018-07-19 06:18] winex commented on #2567
@bob0bob are baked potatoes vanilla? i'm using havestcraft, so idk.
@yggdrasil75 potatoes are Cook's deal and definitely not the Baker's. though, i couldn't get Cook to bake it (need to try in latest alpha)

[2018-07-19 08:45] winex commented on #1644
well, with harvestcraft this is insane, yeah.
maybe just give guys 2x2 grid in the scarecrow and half/triple(don't)/quad the field. wouldn't be hard to implement i think, well, even if AI checks this every time (i think there is no list of field-blocks). and Scarecrow probably already has some range check.

or just from NW to SE and to use all field you need to place 4 seeds.
i like this!

[2018-07-19 09:06] winex commented on #2490
@Ragnarok96 Raycoms pushed some RS improvements/fixes couple of days ago. can you test this issue with latest alpha? don't forget to backup and/or use another instance if you can, of course. thanks.

**edit**: i just tested builder with crafting polished diorite from diorite and it worked in singleplayer-creative.

[2018-07-19 09:23] marchermans commented on #2643
@winex Do not bother
Optifine is officially not supported untill furhter notice. Render regions is not part of the official MInecraft client and Optifine is closed source. As such this issue is closed.

[2018-07-19 09:23] #2643 closed, assigned to nobody

[2018-07-19 11:00] zerotheliger opened #2644 "Baker not baking"
Version :1.12.2-0.9.27-ALPHA

If the baker has 1 or 2 wheat it will not request enough wheat to finish baking.

if i take away all wheat it will request 3 wheat and only 3 wheat.

a fix would be for a deliveryman to deliver 63 wheat instead of 64 cause if it gives 64 it will be left with one wheat and never request anymore.